
<md-dialog id="dialog-crop">
    <header layout="row" layout-align="start center" class="md-toolbar-tools" ng-class="{'dialogs-header-agricultor': $root.isAgricultor, 'dialogs-header-usuario-avancado': !$root.isAgricultor}">
        Editar foto do perfil
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cropDialoghide()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <form layout="column" layout-align="start center" flex id="form">
            <div ng-hide="picFile" layout="column" layout-align="start center">
                <md-icon md-svg-src="assets/images/ic_file_upload.svg" id="icon-upload"></md-icon>
                <p id="text-upload" >Selecione uma foto no seu computador</p>
                <button ngf-select="validarArquivo($file)" ng-model="picFile" accept="image/*" ng-class="$root.isAgricultor?'btn-upload':'btn-upload-ua'" class="md-raised md-button " ng-hide="picFile">
                        ADICIONAR FOTO
                </button>
            </div>
            <div flex ng-show="picFile" layout="column" layout-align="start center">
                <p id="text-salvar">Para recortar, arraste a região destacada e clique em "CORTAR"</p>
                <div layout="row" id="cropArea" flex>
                    <img-crop  image="picFile  | ngfDataUrl"
                        result-image="croppedDataUrl" ng-init="croppedDataUrl=''" id="crop-upload-img" area-type="square" result-image-format="image/jpeg">
                    </img-crop>
                </div>
                <div class="div-button" ng-show="picFile" layout="row" layout-align="end end">
                    <button flex ng-class="$root.isAgricultor?'btn-salvar':'btn-salvar-ua'" class="md-button md-warn" ng-click="cropDialoghide()">Cancelar</button>
                    <button flex ng-class="$root.isAgricultor?'btn-salvar':'btn-salvar-ua'" class="md-button md-warn" ng-click="upload(croppedDataUrl, picFile)">Cortar</button>
                </div>
            </div>

        </form>
    </md-dialog-content>
</md-dialog>
