<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-localidades">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <md-tabs flex md-dynamic-height md-center-tabs="true">
            <md-tab ng-click="mostraInput = 'localidade'" label="LOCALIDADE"></md-tab>
            <md-tab ng-click="mostraInput = 'distrito'" label="DISTRITO"></md-tab>
            <md-tab ng-click="mostraInput = 'municipio'" label="MUNICÍPIO"></md-tab>
            <md-tab ng-click="mostraInput = 'regiao'" label="REGIÃO"></md-tab>
            <md-tab ng-click="mostraInput = 'territorio'" label="TERRITÓRIO"></md-tab>
        </md-tabs>

        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: regiaoSelecionada.id, nome: regiaoSelecionada.nome, titulo: 'Região', tipo: 'regiao', objeto: regiaoSelecionada})"
              name="regiaoForm" ng-show="mostraInput == 'regiao'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-regiao"
                                 md-input-name="autoCompleteRegiao"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="regiaoSelecionada"
                                 md-search-text="regiao"
                                 md-items="item in buscarAutoCompletePorFiltro(regiao, 'api/regiao/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Região">
                    <md-item-template>
                        <span md-highlight-text="regiao">{{item.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="regiaoForm.autoCompleteRegiao.$error"
                 ng-if="regiaoForm.autoCompleteRegiao.$touched && regiaoForm.autoCompleteRegiao.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher uma região para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma região existente.</div>
            </div>
        </form>

        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: municipioSelecionado.id, nome: municipioSelecionado.nome, titulo: 'Municipio', tipo: 'municipio', objeto: municipioSelecionado})"
              name="municipioForm" ng-show="mostraInput == 'municipio'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-municipio"
                                 md-input-name="autoCompleteMunicipio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="municipioSelecionado"
                                 md-search-text="municipio"
                                 md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Município">
                    <md-item-template>
                        <span md-highlight-text="organizacao">{{item.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete"
                 ng-messages="municipioForm.autoCompleteMunicipio.$error"
                 ng-if="municipioForm.autoCompleteMunicipio.$touched && municipioForm.autoCompleteMunicipio.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um município para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma município existente.</div>
            </div>
        </form>

        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: localidadeSelecionada, nome: localidadeSelecionada, titulo: 'Localidade', tipo: 'localidade', objeto: localidadeSelecionada})"
              name="localidadeForm" ng-show="mostraInput == 'localidade'" layout="column">
            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nomeLocalidade" flex type="text" class="input-filtro"
                       ng-model="localidadeSelecionada" placeholder="Buscar por Localidade">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="localidadeForm.nomeLocalidade.$error"
                 ng-if="localidadeForm.nomeLocalidade.$touched && localidadeForm.nomeLocalidade.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher uma localidade para adicionar esse filtro.</div>
            </div>
        </form>

        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: distritoSelecionado.id, nome: distritoSelecionado.nome, titulo: 'Distrito', tipo: 'distrito', objeto: distritoSelecionado})"
              name="distritoForm" ng-show="mostraInput == 'distrito'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-distrito"
                                 md-input-name="autoCompleteDistrito"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="distritoSelecionado"
                                 md-search-text="distrito"
                                 md-items="item in buscarAutoCompletePorFiltro(distrito, 'api/distrito/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Distrito">
                    <md-item-template>
                        <span md-highlight-text="organizacao">{{item.nome | capitalize}}, {{item.municipio.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="distritoForm.autoCompleteDistrito.$error"
                 ng-if="distritoForm.autoCompleteDistrito.$touched && distritoForm.autoCompleteDistrito.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um distrito para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma distrito existente.</div>
            </div>
        </form>

        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: territorioSelecionado.id, nome: territorioSelecionado.nome, titulo: 'Território', tipo: 'territorio', objeto: territorioSelecionado})"
              name="territorioForm" ng-show="mostraInput == 'territorio'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-territorio"
                                 md-input-name="autoCompleteTerritorio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="territorioSelecionado"
                                 md-search-text="territorio"
                                 md-items="item in buscarAutoCompletePorFiltro(territorio, 'api/territorio/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Território">
                    <md-item-template>
                        <span md-highlight-text="organizacao">{{item.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete"
                 ng-messages="territorioForm.autoCompleteTerritorio.$error"
                 ng-if="territorioForm.autoCompleteTerritorio.$touched && territorioForm.autoCompleteTerritorio.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um território para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma território existente.</div>
            </div>
        </form>

        <div layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome | capitalize}} <strong><em>({{$chip.titulo}})</em></strong></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">
                clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div class="list" layout="column">
            <div class="mensagem" ng-show="filtros.length > 0 && semResultado" layout="column"
                 layout-align="start center">
                <img alt="" src="assets/images/buscasemresultado.svg">
                <h1>Nenhum resultado encontrado para sua busca.</h1>
                <span>Tente usar os filtros para obter melhor resultado.</span>
            </div>

            <md-list class="md-dense" ng-show="localidade.length > 0" flex md-whiteframe="2" layout="column"
                     layout-align="center">
                <md-list-item ng-click="carregarLocalidade(item)" class="md-2-line" ng-repeat="item in localidade">
                    <div class="md-list-item-text" layout="column" layout-align="center">
                        <h3>{{item.nome | capitalize}}</h3>
                        <p>Distrito: {{item.distrito.nome | capitalize}} - Município: {{item.distrito.municipio.nome |
                            capitalize}}</p>
                        <p>Região: {{item.distrito.municipio.regiao.nome != null ? item.distrito.municipio.regiao.nome :
                            'Não informado' | capitalize}} - Território: {{item.distrito.municipio.territorio.nome |
                            capitalize}}</p>
                    </div>
                    <div class="div-detalhes-localidade" ng-show="podeEditar()">
                        <md-icon class="material-icons" ng-click="carregarLocalidade(item)">
                            mode_edit
                            <md-tooltip md-direction="bottom">
                                Editar Localidade
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div class="div-delete-localidade" ng-show="podeExcluir()">
                        <md-icon class="material-icons" ng-click="deletarLocalidade($index,item)">
                            delete
                            <md-tooltip md-direction="bottom">
                                Deletar Localidade
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
            </div>
        </div>
    </div>
</div>
