<meta charset="UTF-8">
<md-card md-theme="themeAWhite" id="card-projeto">
	<header layout="row" layout-align="start center" class="md-toolbar-tools">
	    Meus Programas e Projetos
	</header>
	<div layout="row" layout-align="start center" id="conteudo" ng-repeat="p in projetosAgricultor">
		<div id="circulo" style="background: {{colors.getCor(p.projeto.codigoSda)}}"></div>
		<span>{{ p.projeto.nome }}</span>
	</div>
	<div id="div" ng-if="projetosAgricultor.length === 0" layout="column" layout-align="start center">
        <img src="assets/images/cardPrograma.svg" class="material-icons"/>
        <p id="text1">Opa!</p>
        <p id="text2">Atualmente você não participa de nenhum programa ou projeto.</p>
	</div>
</md-card>
