<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout-align="start stretch" class="application-width avaliacao-tarefa" layout="column" ng-cloak>
        <md-card class="card-informacoes" layout="row" layout-align="start center">
            <avatar image="{{tarefa.agricultor.pessoaFisica.pessoa.foto}}"
                    name="{{tarefa.agricultor.pessoaFisica.pessoa.nome}}" size="96px" font-size="60px"
                    color-index="{{corFoto}}"></avatar>
            <div layout="column" flex>
                <div fle layout="row" layout-align="space-between stretch">
                    <div layout="column" flex="70" class="div-infos">
                        <p><b class="titulo-atividade">{{tarefa.atividade.nome | capitalize}}</b> - <label>
                            {{tarefaTipo[tarefa.tipo].desc}}</label></p>
                        <p><label>Técnico(a):</label> {{tarefa.usuario.usuarioAvancado.pessoaFisica.pessoa.nome |
                            capitalize}}</p>
                        <p><label>Agricultor(a) | Comunidade:</label> {{tarefa.agricultor.pessoaFisica.pessoa.nome |
                            capitalize}} |
                            <span ng-repeat="item in tarefa.comunidadeParticipante">
                                {{item.comunidade.nome | capitalize}}{{$last? "":","}}&nbsp;
                            </span>
                        </p>
                        <p><label>Local:</label> {{tarefa.comunidade.nome | capitalize}}, {{tarefa.municipio.nome |
                            capitalize}},
                            {{tarefa.municipio.uf.sigla}} <label ng-hide="tarefa.tipo == tarefaTipo.PA.id"> -
                                Abrangência:</label>
                            <span
                                ng-hide="tarefa.tipo == tarefaTipo.PA.id">{{abrangenciaEnum[tarefa.abrangencia].desc}}</span>
                        </p>
                        <p><label>Data de Realização:</label> {{tarefa.dataRealizacao | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div flex="35">
                        <div class="div-label" flex layout="row" layout-align="end end">
                            <h4>
                                <span class="label label-revisado"
                                      ng-show="(tarefa.status == tarefaStatus.T.id && tarefa.recusado == true) ? true : false">Revisado</span>
                                <span class="label"
                                      style="background-color: {{tarefaStatus[tarefa.status].background}}; color: {{tarefaStatus[tarefa.status].color}}; font-weight: normal;">
                                    {{tarefaStatus[tarefa.status].desc}}
                                </span>
                            </h4>
                        </div>
                        <div class="div-label" flex layout="row" layout-align="end end">
                            <p><label>{{tarefa.alteracao | date:'dd/MM/yyyy'}}</label></p>
                        </div>

                        <div class="div-button-attach" flex layout="column" layout-align="end end">
                            <div flex="50" class="md-block">
                                <input class="ng-hide" id="fileInputTarefa" accept="application/pdf" type="file"
                                       file-model="attachTarefa">
                                <md-button class="md-accent" ng-click="selectFile();">
                                    <md-icon class="back-icon" class="material-icons">attach_file</md-icon>
                                    ANEXAR
                                </md-button>
                            </div>
                            <div flex="50" class="md-block" layout="row">
                                <md-icon ng-show="tarefa.anexo != null" class="material-icons;back-icon">
                                    insert_drive_file
                                </md-icon>
                                <label class="label-download" ng-show="tarefa.anexo != null" ng-click="downloadFile();">{{tarefa.anexo}}</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </md-card>
        <md-card class="card-historico">
            <md-button class="card-header md-no-style expandable-box" layout="row"
                       ng-click="exibirHistorico = !exibirHistorico">
                <div flex>
                    <span>Histórico de Avaliação</span>
                </div>
                <md-icon ng-class="{'expand': exibirHistorico}" class="material-icons">expand_less</md-icon>
            </md-button>
            <md-list flex style="padding: 0" ng-show="exibirHistorico">
                <md-list-item ng-repeat="item in historico" ng-if="item.motivo == 'A' || item.motivo == 'R'">
                    <md-icon ng-show="item.motivo == 'A'" style="color:green; margin-right: 5px;"
                             class="material-icons">done
                    </md-icon>
                    <md-icon ng-show="item.motivo == 'R'" style="color:red; margin-right: 5px;" class="material-icons">
                        error_outline
                    </md-icon>
                    <p> {{item.motivo == 'A' ? 'Aceito' : item.motivo == 'R'? 'Recusado' : ''}}
                        por {{item.usuario.usuarioAvancado.pessoaFisica.pessoa.nome | capitalize}}
                        em {{item.atualizacao | date: 'dd/MM/yyyy HH:mm'}} -
                        Observação: {{item.avaliacao}}</p>
                </md-list-item>
            </md-list>
            <div ng-show="historico.length == 0 && exibirHistorico" class="historico-content" layout="row"
                 layout-align="start center">
                Plano não possui histórico de avaliação.
            </div>

        </md-card>
        <md-card class="card-map">
            <div id="map-avaliacao-tarefa"></div>
        </md-card>

        <md-card class="card-fotos" flex>
            <h5 class="titulo"><b>Galeria de Fotos</b></h5>
            <p class="erro" ng-show="showMensagemErro">Envio da foto em processamento.</p>
            <md-list class="lista" layout="row" layout-align="start center" flex>
                <md-item class="item-lista" ng-repeat="item in fotos">
                    <img class="imagem" ng-click="carregaFoto($index,fotos)" src="{{item}}">
                </md-item>
            </md-list>
        </md-card>
    </div>
</div>
