<meta charset="UTF-8">
<md-dialog class="dialog-avaliar-cadastro">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Avaliar Tarefa
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <form flex ng-submit="salvar()" name="avaliacaoTarefaForm" novalidate>
        <md-content flex md-theme="themeUA">
            <div class="content">
                <label class="label-tecnico" style="">Envie uma mensagem para o técnico</label>
                <md-input-container class="md-block">
                    <label>Observação</label>
                    <textarea name="avaliacao" ng-model="historico.avaliacao" rows="2" md-select-on-focus ng-required="historico.motivo == 'R'"></textarea>
                    <div ng-messages="avaliacaoTarefaForm.avaliacao.$error">
                        <div ng-message="required">Este campo é obrigatório para o status recusado.</div>
                    </div>
                </md-input-container>

                <label id="label-status">Status</label>
                <md-radio-group class="radio-group" ng-model="historico.motivo" layout="row" >
                    <md-radio-button value="A">Aprovado</md-radio-button>
                    <md-radio-button value="R">Recusado</md-radio-button>
                    <md-radio-button value="E">Em avaliação</md-radio-button>
                </md-radio-group>
            </div>

        </md-content>
        <md-dialog-actions layout="row" layout-align="end center" >
            <span></span>
            <md-button class="md-warn" ng-click="cancel()">Cancelar</md-button>
            <span></span>
            <md-button class="md-warn" type="submit">Salvar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
