<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-cadastros">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <div class="list" layout="column">
            <div layout="row" layout-align="space-around center" md-whiteframe="2" class="header" style="" flex>
                <span flex="55">ATC</span>
                <span class="titulo" flex="15">Meta</span>
                <span class="titulo" flex="15">Cadastros</span>
                <span class="titulo" flex="15">% Realizado</span>
            </div>
            <md-list class="md-dense"  flex md-whiteframe="2"  layout="column" layout-align="center stretch">
                <md-list-item ng-repeat="item in empresaList">
                    <div flex layout="row" layout-align="center center">
                        <p flex="55">{{item.nomeFantasia}}</p>
                        <p class="dados" flex="15">{{item.quantidadeMeta | number: 0}}</p>
                        <p class="dados" flex="15">{{item.quantidade | number: 0}}</p>
                        <!--p class="dados" flex="15">{{((item.quantidade / item.quantidadeMeta)*100) | number: 2 }}%</p-->
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>
                <div class="total" style="" flex layout="column" layout-align="center end">
                    <p>Total de Cadastros: {{quantidadeTotal | number: 0}}</p>
                </div>
            </md-list>

        </div>
    </div>
</div>
