<meta charset="UTF-8">
<md-card id="card-temperatura" layout="row" layout-align="start center">
	<div layout="column" flex>
		<span id="municipio">{{municipio | capitalize}}</span>
		<span id="min-max">Min {{temperaturaMin | number:0}}° Max {{temperaturaMax | number:0}}°</span>
	</div>
	<img id="img" ng-src="assets/images/temperatura/{{imagemTemperatura}}.svg"></img>
	<span id="temperatura">{{temperaturaAtual | number:0}}°</span>
</md-card>
