<div id="servicos" flex layout="row" layout-align="center stretch" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-onbeforechange="introOnBeforeChange" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
    <div layout-align="start stretch" class="application-width" layout="column">
        <div ng-show="programasAgricultor.length > 0">
            <div class="labels" layout="row" layout-align="start end">
                <p class="labels-text">VOLUME DE RECURSO POR PROGRAMA</p>
            </div>
	        <div layout-align="center" flex  layout="row" >
	        	<md-card class="grafico-extrato" layout="row" layout-align="space-between start" flex>
	        		<div google-chart style="width:70%; height: 290px" chart="graficoParticipacaoProgramas" id="google-chart"></div>
	        		<div flex class="div-select-ano-extrato" layout="column" layout-align="space-between end">
		        		<md-input-container flex flex-xs="100" class="md-block servicos-input-container-ano-extrato">
			                <md-select flex class="md-block" ng-model="anoSelecionado" placeholder="Ano" aria-label="ano" md-on-close="getAgricultorProjetos()" id="input-ano">
			                    <md-option ng-value="null">Ano</md-option>
			                    <md-option ng-value="ano" ng-repeat="ano in anos">{{ ano }}</md-option>
			                </md-select>
			            </md-input-container>
			            <div>
			            	<p class="label-ano-extrato">Total</p>
			            	<p class="{{cssAnoExtrato}}">{{programasAgricultor|sumByKey:'total'|currency:'R$ ':2}}</p>
			            </div>
			        </div>
	        	</md-card>
	        </div>
			<div ng-show="extratoProgramas.length > 0" class="labels" layout="row" layout-align="start end">
                <p class="labels-text">EMISSÃO DE EXTRATO</p>
	        </div>
	        <div layout-align="center" flex layout="row">
	            <md-grid-list ng-show="extratoProgramas.length > 0" class="extratos-grid-list" layout="column" layout-align="start start" ng-cloak md-gutter="0px" md-cols="2" md-cols-xs="1" md-cols-gt-xs="2" md-cols-md="2" md-cols-lg="2" md-row-height="80px" flex>
		            <md-grid-tile ng-repeat="d in extratoProgramas">
		                <md-card id="card-extrato" class="card-extrato-programa" layout="row" layout-align="space-between center" layout-xs="row" flex ng-click="emitirExtrato(d.urlExtrato)">
		                    <div layout="row" layout-align="start center" >
			                	<div class="icone-pdf"></div>
			                    <p class="descricao-extrato-programa">{{d.abreviacao}}</p>
	                    	</div>
	                    	<md-icon class="material-icons icone-download">file_download</md-icon>
		                </md-card>
		            </md-grid-tile>
	        	</md-grid-list>
	        </div>
	    </div>
        <div layout="column" layout-align=" start center" id="servicos-mensagem" ng-show="programasAgricultor && programasAgricultor.length === 0">
            <i id="servicos-icon" class="material-icons">build</i>
            <p id="mensagem">Atualmente você não possui nenhum serviço disponível.</p>
            <p id="informacoes">Para mais informações acesse: <a target="_blank" href="http://www.sda.ce.gov.br/">www.sda.ce.gov.br</a></p>
        </div>
    </div>
</div>
