<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="SOBRE">
                <div id="tabs">
                    <p>O Garantia-Safra (GS) é uma ação do Programa Nacional de Fortalecimento da Agricultura Familiar (Pronaf) inicialmente voltada para os agricultores e as agricultoras familiares localizados na região Nordeste, na área norte do Estado de Minas Gerais, Vale do Mucuri, Vale do Jequitinhonha e na área norte do Estado do Espírito Santo ― área de atuação da Superintendência do Desenvolvimento do Nordeste (SUDENE), majoritariamente semiárida ― que sofrem perda de safra por motivo de seca ou excesso de chuvas. </p>

                    <p>Com a Lei Nº 12.766, de 27 de dezembro de 2012, o Poder Executivo foi autorizado a incluir agricultores familiares de outros municípios situados fora da área da SUDENE, desde que atendidos previamente alguns requisitos, como a comprovação de que os agricultores familiares se encontram em municípios sistematicamente sujeitos a perda de safra em razão de estiagem ou excesso hídrico. </p>

                    <p>Para participar do Garantia-Safra, é necessário que, anualmente, estados, municípios e agricultores façam adesão ao programa. </p>

                    <p>Os agricultores que aderirem ao GS nos municípios que vierem a sofrer perda de, pelo menos, 50% do conjunto da produção de feijão, milho, arroz, mandioca, algodão, ou de outras culturas a serem definidas pelo órgão gestor do Fundo Garantia-Safra, em razão de estiagem ou excesso hídrico, receberão o Benefício Garantia-Safra diretamente do governo federal, em cinco parcelas mensais, por meio de cartões eletrônicos disponibilizados pela Caixa Econômica Federal. </p>

                    <p>O valor do Benefício Garantia-Safra e a quantidade de agricultores a serem segurados pelo GS são definidos anualmente durante a reunião do Comitê Gestor do Garantia-Safra.</p>

                    <p>Para saber mais sobre o Garantia-Safra, acesse as outras seções deste site, entre em contato com a Coordenação Estadual do Garantia-Safra do seu estado, ou escreva para  <a href="mailto:garantiasafra@mda.gov.br">garantiasafra@mda.gov.br</a> </p>
                </div>
            </md-tab>
            <md-tab label="O QUE É O GARANTIA SAFRA">
                <div id="tabs">
                    <p>É uma ação do Pronaf para agricultores familiares que se encontram em municípios sistematicamente sujeitos a perdas de safra devido à seca ou ao excesso de chuvas. Os agricultores que aderirem ao Garantia-Safra (GS) nos municípios em que forem verificadas perdas de, pelo menos, 50% do conjunto da produção de feijão, milho, arroz, mandioca, algodão, ou outras culturas definidas pelo órgão gestor do Fundo Garantia-Safra, receberão o benefício Garantia-Safra diretamente do governo federal.</p>

                    <p><b>Quem pode se beneficiar do Garantia-Safra?</b></p>

                    <p>Os agricultores devem verificar se os seus municípios aderiram ao Garantia Safra. Uma vez que o município assinou o Termo de Adesão e foi definida a quantidade de agricultores que poderão participar em sua jurisdição, inicia-se o processo de inscrição, seleção e adesão dos agricultores.</p>

                    <p><b>Quais são as condições para aderir ao programa? </b></p>

                    <p>Ser agricultor familiar, conforme definido pelo Pronaf. Não ter renda familiar mensal superior a 1,5 (um e meio) salário mínimo. Efetuar a adesão antes do plantio e não deter área superior a 4 módulos fiscais. A área total a ser plantada deve ser de, no mínimo, 0,6 hectares e, no máximo, 5 hectares.</p>

                    <p><b>Como é realizada a seleção?</b></p>

                    <p>Depois da inscrição dos agricultores, a seleção é feita eletronicamente, por meio do sistema de gerenciamento do Garantia-Safra,uma classificação dos inscritos que leva em consideração critérios estabelecidos em normas. Com isso, é gerada uma “Lista de Selecionados”, que deve ser homologada pelo Conselho Municipal de Desenvolvimento Rural Sustentável (CMDRS), após verificar se todos os nomes que constam da lista são realmente agricultores familiares e se as informações relativas à renda e a outros critérios de participação estão corretas.</p>

                    <p><b>Qual o valor do Benefício Garantia-Safra?</b></p>

                    <p>Na safra 2013/2014, o valor anual do Benefício Garantia-Safra é de R$ 850,00. Vale destacar que o pagamento do Benefício está vinculado ao cumprimento de requisitos, inclusive o pagamento por parte do agricultor do boleto bancário de adesão ao Garantia-Safra e a constatação de perda pela SAF/MDA de, pelo menos, 50% da produção de culturas cobertas pelo GS no município devido à seca ou excesso de chuvas.</p>
                </div>
            </md-tab>
            <md-tab label="REQUISITOS">
                <div id="tabs">
                    <p>O pagamento do Benefício Garantia-Safra aos agricultores familiares aderidos ao GS está vinculado
                    ao cumprimento dos seguintes requisitos: </p>

                    <ul>
                        <li>Apresentação de solicitação de vistoria das lavouras de agricultores aderidos ao GS e
                            indicação do técnico vistoriador por parte das prefeituras dos municípios aderidos ao GS que
                            apresentarem indícios de perda média da safra igual ou superior a 50% das lavouras cobertas
                            pelo Garantia-Safra, conforme estabelecido na Portaria SAF nº 42, de 07/12/2012, e
                            orientações constantes dos Manuais de Solicitação de Vistoria e Indicação de Técnico
                            disponibilizados neste site.
                        </li>
                        <li>Realização de vistorias, preenchimento dos laudos de verificação de plantio e colheita e
                            envio dos mesmos por meio do Sistema Garantia-Safra - Verificação de Perda por parte do
                            técnico indicado pela prefeitura nos prazos estabelecidos na Portaria SAF nº 42, de
                            07/12/2012.
                        </li>
                        <li>Realização regular dos aportes financeiros ao Fundo Garantia-Safra por parte dos municípios
                            e dos estados aderidos.
                        </li>
                        <li>Constatação de perda pela SAF/MDA de, pelo menos, 50% (cinquenta por cento) da produção de
                            culturas cobertas pelo Garantia-Safra no município aderido ao GS devido à ocorrência de
                            fenômenos de estiagem ou excesso hídrico.
                        </li>
                    </ul>

                    <p>Caso algum destes requisitos não seja cumprido, não será realizado o pagamento do Benefício
                        Garantia-Safra aos agricultores familiares aderidos ao GS no município.</p>

                    <p>Se o governo estadual não efetuar o pagamento do aporte financeiro ao Fundo Garantia-Safra nos
                        prazos legais, não haverá pagamento do Benefício Garantia-Safra aos agricultores aderidos no
                        referido estado, mesmo que os municípios aderidos ao GS tenham efetuado os seus aportes</p>

                    <p>Orientações para Recebimento do Benefício Garantia-Safra ― O pagamento do Benefício é efetuado em
                        cinco parcelas mensais por meio de cartões eletrônicos (Cartão Cidadão ou Cartão Bolsa Família)
                        disponibilizados pela Caixa Econômica Federal.</p>

                    <p>A Coordenação Estadual do Garantia-Safra encaminhará mensalmente a folha de pagamento do
                        Garantia-Safra à prefeitura municipal, aos sindicatos de trabalhadores rurais e ao escritório
                        local da instituição oficial de assistência técnica e extensão rural.</p>

                    <p>Estas instituições deverão informar aos agricultores aderidos ao GS os Números de Identificação
                        Social (NIS), o mês e o dia a partir do qual o pagamento do Benefício estará disponível para
                        saque na Caixa Econômica Federal e seus correspondentes bancários.</p>

                    <p>ATENÇÃO! O calendário de pagamento do Benefício Garantia-Safra coincide com o calendário anual de
                        pagamento dos benefícios sociais do governo federal.</p>

                    <p>
                        <a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_img_19/Calend%C3%A1rio_Bolsa%20Familia_2015.docx">
                            Clique aqui
                        </a> para acessar o calendário anual de pagamento dos benefícios sociais do governo federal.
                    </p>
                </div>
            </md-tab>
            <md-tab label="APORTES FINANCEIROS">
                <div id="tabs">
                    <p>A contribuição financeira (aporte) dos agricultores ao Fundo Garantia-Safra, que é fixada a cada ano pelo Comitê Gestor do GS, é paga por meio de boleto bancário e corresponde a um percentual do valor do Benefício Garantia-Safra. Na Safra 2013/2014 o valor fixado deste benefício é de R$ 850,00 e a contribuição do agricultor é de R$ 12,75. </p>

                    <p>Após a adesão dos agricultores familiares ao Garantia-Safra, são calculados os valores das contribuições financeiras ao Fundo Garantia-Safra (FGS) que deverão ser feitas pelos estados e municípios que participam do GS. </p>

                    <p>Clique nos links para abrir as planilhas acerca dos aportes financeiros municipais e estaduais ao Fundo Garantia-Safra:</p>
                    <ul>
                        <li><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_img_873/Aportes%20Municipais%20-%20Safra%202015.2016_20.xls" >Safra 2015/2016</a></li>
                        <li><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_img_873/Aportes%20Municipais%20-%20Safra%202014.2015_24.xls">Safra 2014/2015</a></li>
                        <li><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_img_21/Aportes%20Municipais%20-%20Outras%20Safras.xls">Outras Safras</a></li>
                        <li><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_img_873/Relat%C3%B3rio%20Safristas%2009.10.2015%20a%2028.04.2016_0.xls">Relatório de adesão de agricultores, Safra 2015/2016</a></li>
                        <li><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_img_873/Relat%C3%B3rio%20de%20Inadimpl%C3%AAncia%20FGS%2020%2005%202016.xls">Relatório de inadimplência municipal</a></li>
                    </ul>

                    <p>A prefeitura municipal também aporta ao FGS um percentual do valor do Benefício Garantia-Safra para cada agricultor aderido ao GS no município. Na Safra 2013/2014, a prefeitura municipal aderida ao Garantia-Safra contribui com R$ 38,25 por agricultor aderido. O valor total da contribuição financeira da prefeitura municipal é calculado em função da quantidade de adesões ocorridas no município.</p>

                    <p><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_arquivos_64/exemplo_municipal.pdf" target="_blank">Clique aqui</a> para ver o exemplo de cálculo da contribuição financeira do município. </p>

                    <p>A Caixa Econômica Federal, que é o atual operador bancário do Garantia-Safra, calcula os valores dos aportes estaduais e municipais ao FGS e envia os boletos aos governos estaduais e prefeituras municipais. Os boletos referentes à primeira parcela, ou parcela única, vencem 30 dias corridos após a finalização das adesões dos agricultores.</p>

                    <p>De acordo com a Resolução nº 03, de 2 de janeiro de 2013, os aportes financeiros municipais ao Fundo Garantia-Safra devem ser efetuados em, no máximo, 6 (seis) parcelas, considerando-se os parâmetros presentes no quadro abaixo.</p>

                    <table id="garantia-safra-table">
                        <tr>
                            <td>Valor total do aporte</td>
                            <td>Nº máximo de parcelas</td>
                        </tr>
                        <tr>
                            <td>Até R$ 1.000,00</td>
                            <td>Única</td>
                        </tr>
                        <tr>
                            <td>De R$ 1.000,01
                                até R$ 1.999,99</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>De R$ 2.000,00
                                até 2.999,99</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>De R$ 3.000,00
                                até R$ 3.999,99</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>De R$ 4.000,00
                                até R$ 6.999,99</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Acima de R$ 7.000,00</td>
                            <td>6</td>
                        </tr>
                    </table>

                    <p>O valor total da contribuição financeira dos estados ao Fundo Garantia-Safra também é proporcional à quantidade de adesões ocorridas.</p>

                    <p>O estado aderido ao GS aporta ao Fundo Garantia-Safra 9% do valor do Benefício Garantia-Safra por cada agricultor aderido. Como na Safra 2013/2014 o valor do Benefício é de R$ 850,00, o estado aderido ao Garantia-Safra contribui com R$ 76,50 por agricultor aderido.</p>

                    <p><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_arquivos_64/exemplo_estadual.pdf" target="_blank">Clique aqui</a> para ver o exemplo de cálculo da contribuição financeira do estado. </p>

                    <p>De acordo com a Resolução nº 03, de 2 de janeiro de 2013, os aportes financeiros estaduais ao Fundo Garantia-Safra devem ser efetuados em, no máximo, 5 (cinco) parcelas, considerando-se os parâmetros presentes no quadro abaixo.</p>

                    <table id="garantia-safra-table">
                        <tr>
                            <td>Valor total do aporte</td>
                            <td>Nº máximo de parcelas</td>
                        </tr>
                        <tr>
                            <td>Até R$ 1.000,00</td>
                            <td>Única</td>
                        </tr>
                        <tr>
                            <td>De R$ 1.000,01
                                até R$ 1.999,99</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>De R$ 2.000,00
                                até 2.999,99</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>De R$ 3.000,00
                                até R$ 3.999,99</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>A partir de R$ 4.000,00</td>
                            <td>5</td>
                        </tr>
                    </table>

                    <p>Por fim, a União aporta ao fundo Garantia-Safra, no mínimo, 30% do valor do Benefício por cada agricultor aderido. Como na Safra 2013/2014 o valor do Benefício é de R$ 850,00, a União aporta ao fundo, no mínimo, R$ 255,00 por agricultor aderido. O valor total da contribuição financeira da União é calculado em função da quantidade total de adesões ocorridas. </p>

                    <p>Caso haja necessidade de aportar recursos adicionais ao Fundo Garantia-Safra com ocorrência atípica de elevado número de municípios em que forem constatadas perdas de safra, a União realizará os aportes necessários para assegurar o pagamento do Benefício aos agricultores aderidos ao Garantia-Safra. </p>

                    <p><a href="http://www.mda.gov.br/sitemda/sites/sitemda/files/user_arquivos_64/exemplo_uniao.pdf" target="_blank">Clique aqui</a> para ver o exemplo de cálculo da contribuição financeira da união. </p>
                </div>
            </md-tab>
        </md-tabs>

    </md-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button target="_blank" href="http://www.mda.gov.br/sitemda/secretaria/saf-garantia/sobre-o-programa" ng-click="">VER MAIS EM MDA</md-button>
        <md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
