<meta charset="UTF-8">
<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Configurações do usuário para [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Configurações salvas!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>O e-mail já está sendo usado!</strong> Por favor, escolha outro.
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Ocorreu um erro!</strong> As configurações não puderam ser salvas.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="nome">Primeiro nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" placeholder="Your first name"
                           ng-model="settingsAccount.nome" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.nome.$dirty && form.nome.$invalid">
                        <p class="help-block"
                               ng-show="form.nome.$error.required">
                            Seu primeiro nome é obrigatório.
                        </p>
                        <p class="help-block"
                               ng-show="form.nome.$error.minlength">
							Seu primeiro nome é obrigado ter pelo menos 1 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.nome.$error.maxlength">
                            Seu primeiro nome não pode ter mais de 50 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="Your last name"
                           ng-model="settingsAccount.sobrenome" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.sobrenome.$dirty && form.sobrenome.$invalid">
                        <p class="help-block"
                               ng-show="form.sobrenome.$error.required">
                            Seu sobrenome é necessário.
                        </p>
                        <p class="help-block"
                               ng-show="form.sobrenome.$error.minlength">
                            Seu sobrenome é necessário ter pelo menos 1 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.sobrenome.$error.maxlength">
                            Seu sobrenome não pode ser maior que 50 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Seu e-mail"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Seu e-mail é necessário.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Seu e-mail é inválido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
                            Seu e-mail é necessário ter pelo menos 5 caracteres .
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Seu e-mail não podem ter mais de 100 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>

</div>
