<meta charset="UTF-8">
<md-dialog md-theme="themeUA">
    <header layout="row" layout-align="start center" class="md-toolbar-tools" ng-class="{'dialogs-header-agricultor': $root.isAgricultor, 'dialogs-header-usuario-avancado': !$root.isAgricultor}">
        Contrato
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <form flex layout="row" layout-align="center stretch" class="contrato" ng-submit="contratoForm.$valid && save()" name="contratoForm" id="contratoForm">
            <fieldset ng-disabled="!podeEditar()">
                <md-card layout-align="start stretch" layout="column"  layout-gt-xs="row" layout-wrap layout-fill ng-cloak>
                    <md-input-container class="md-block" flex="50" flex-xs="100">
                        <label>Código do contrato</label>
                        <input ng-model="contrato.codigo" maxlength="120" required contrato-mask>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50" flex-xs="100">
                        <label>Título</label>
                        <input ng-model="contrato.titulo" maxlength="120" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex="25" flex-xs="100">
                        <label>Data de Início</label>
                        <input ng-model="dataAssinatura" name="dataAssinatura" date-mask maxlength="10" required>
                        <div ng-messages="contratoForm.dataAssinatura.$error">
                            <div ng-message="formatoInvalido">Formato inválido de data</div>
                            <div ng-message="minimo">Tamanho inválido de data Ex: DD/MM/AAAA</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="25" flex-xs="100">
                        <label>Data de Encerramento</label>
                        <input ng-model="dataEncerramento" name="dataEncerramento" date-mask maxlength="10" required>
                        <div ng-messages="contratoForm.dataEncerramento.$error">
                            <div ng-message="formatoInvalido">Formato inválido de data</div>
                            <div ng-message="minimo">Tamanho inválido de data Ex: DD/MM/AAAA</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="25" flex-xs="100">
                        <label>Valor do Contrato</label>
                        <input ng-model="contrato.valor" currency-mask>
                    </md-input-container>
                    <md-input-container class="md-block" flex="25" flex-xs="100">
                        <label>Região</label>
                        <md-select name="regiao" ng-model="contrato.regiao.id" required ng-disabled="contrato.abrangencia.length >= 1" ng-click="verificaBloqueioRegiao(contrato.abrangencia.length >= 1)">
                            <md-option ng-repeat="item in regioes" ng-value="item.id" >{{item.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50" flex-xs="100">
                        <label>Projeto</label>
                        <md-select ng-model="contrato.projeto" placeholder="Projeto" ng-required="true">
                            <md-option ng-repeat="item in projetos" ng-value="item.id" ng-required="true">{{item.desc}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50" flex-xs="100">
                        <label>Contratante</label>
                        <md-select name="associacaoComunitaria" ng-model="contrato.associacaoComunitaria.id" placeholder="Contratante" ng-disabled="contrato.projeto != 2" ng-required="contrato.projeto == 2">
                            <md-option ng-repeat="item in associacoes" ng-value="item.id" >{{item.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50" flex-xs="100">
                        <label>Objeto do Contrato</label>
                        <textarea ng-model="contrato.objeto" ng-required> </textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex="50" flex-xs="100">
                        <label>Observação</label>
                        <textarea  ng-model="contrato.observacao" maxlength="120" ng-required> </textarea>
                    </md-input-container>
                    <md-chips md-on-remove="" flex ng-model="contrato.abrangencia"  md-autocomplete-snap md-require-match="true">
                        <md-autocomplete
                            md-input-name="autoCompleteMunicipios"
                            ng-disabled="!contrato.regiao"
                            md-selected-item="selectedItem"
                            md-search-text="municipio"
                            md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/ater/regiao/municipio/',contrato.regiao.id)"
                            md-item-text="item.nome"
                            md-min-length="3"
                            placeholder="Municípios atendidos">
                            <span md-highlight-text="ctrl.searchText">{{item.nome}}</span>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>{{$chip.nome | capitalize}}</span>
                        </md-chip-template>
                        <md-not-found>
                            Nenhum registro encontrado.
                        </md-not-found>
                        <div ng-messages="contratoForm.autoCompleteMunicipios.$error">
                            <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                        </div>
                    </md-chips>
                </md-card>
            </fieldset>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center" style="background-color: white;" >
        <md-button class="md-warn" ng-click="cancel()">cancelar</md-button>
        <md-button ng-show="podeEditar()" class="md-warn" form="contratoForm" type="submit" ng-disabled="contratoForm.$invalid || contrato.abrangencia.length == 0 ">salvar</md-button>
    </md-dialog-actions>
</md-dialog>
