<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-ptas">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <md-tabs flex md-dynamic-height md-center-tabs="true">
            <md-tab ng-click="mostraInput = 'ano'" label="ANO"></md-tab>
            <md-tab ng-click="mostraInput = 'regiao'" label="REGIÃO"></md-tab>
            <md-tab ng-click="mostraInput = 'municipio'" label="MUNICÍPIO"></md-tab>
            <md-tab ng-click="mostraInput = 'parceira'" label="PARCEIRA DE ATER"></md-tab>
            <md-tab ng-click="mostraInput = 'contrato'" label="CONTRATO"></md-tab>
            <md-tab ng-click="mostraInput = 'status'" label="STATUS"></md-tab>
        </md-tabs>

        <form ng-show="mostraInput == 'ano'" layout="row" layout-align="start center" ng-submit="adicioarFiltroChip({id: filtroAno, nome: filtroAno, titulo: 'Ano', tipo: 'ano'})">
            <input id="input-filtro-ano" ng-model="filtroAno" flex type="number" placeholder="Buscar por Ano" focus="true">

            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
        </form>

        <form ng-show="mostraInput == 'regiao'" layout="column" ng-submit="adicioarFiltroChip({id: regiaoSelecionado.id, nome: regiaoSelecionado.nome, titulo: 'Região', tipo: 'regiao'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete id="input-filtro-regiao" flex required
                                 md-input-name="autoCompleteRegiao"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="regiaoSelecionado"
                                 md-search-text="regiao"
                                 md-items="item in buscarAutoCompletePorFiltro(regiao, 'api/regiao/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Região">
                    <md-item-template>
                        <span md-highlight-text="regiao">{{item.nome}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="regiaoForm.autoCompleteRegiao.$error" ng-if="regiaoForm.autoCompleteRegiao.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um região.</div>
                <div ng-message="md-require-match">Por favor, escolha um região existente.</div>
            </div>
        </form>

        <form ng-show="mostraInput == 'municipio'" layout="column" ng-submit="adicioarFiltroChip({id: municipioSelecionado.id, nome: municipioSelecionado.nome, titulo: 'Município', tipo: 'municipio'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete id="input-filtro-municipio" flex required
                                 md-input-name="autoCompleteMunicipio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="municipioSelecionado"
                                 md-search-text="municipio"
                                 md-items="item in buscarAutoCompleteMunicipioPorRegiao(municipio, 'api/municipio/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Município">
                    <md-item-template>
                        <span md-highlight-text="municipio">{{item.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="municipioForm.autoCompleteMunicipio.$error" ng-if="municipioForm.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um município.</div>
                <div ng-message="md-require-match">Por favor, escolha um município existente.</div>
            </div>
        </form>

        <form ng-show="mostraInput == 'parceira'" layout="column" ng-submit="adicioarFiltroChip({id: parceiraSelecionada.id, nome: parceiraSelecionada.pessoaJuridica.pessoa.nome, titulo: 'Parceira de ATER', tipo: 'parceira'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete id="input-filtro-parceira" flex required
                                 md-input-name="autoCompleteParceira"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="parceiraSelecionada"
                                 md-search-text="parceira"
                                 md-items="item in buscarAutoCompletePorFiltro(parceira, 'api/empresa/')"
                                 md-item-text="item.pessoaJuridica.pessoa.nome"
                                 md-require-match
                                 placeholder="Buscar por Parceira">
                    <md-item-template>
                        <span md-highlight-text="parceira">{{item.pessoaJuridica.nomeFantasia}} - {{item.pessoaJuridica.pessoa.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="parceiraForm.autoCompleteMunicipio.$error" ng-if="parceiraForm.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um parceira.</div>
                <div ng-message="md-require-match">Por favor, escolha um parceira existente.</div>
            </div>
        </form>

        <form ng-show="mostraInput == 'contrato'" layout="column" ng-submit="adicioarFiltroChip({id: contratoSelecionado.id, nome: contratoSelecionado.codigo, titulo: 'Contrato', tipo: 'contrato'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete id="input-filtro-contrato" flex required
                                 md-input-name="autoCompleteMunicipio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="contratoSelecionado"
                                 md-search-text="contrato"
                                 md-items="item in buscarAutoCompletePorFiltro(contrato, 'api/contratos/codigo/')"
                                 md-item-text="item.codigo"
                                 md-require-match
                                 placeholder="Buscar por Contrato">
                    <md-item-template>
                        <span md-highlight-text="contrato">{{item.codigo}}, {{item.titulo}}, {{item.objeto}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="contratoForm.autoCompleteMunicipio.$error" ng-if="contratoForm.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um contrato.</div>
                <div ng-message="md-require-match">Por favor, escolha um contrato existente.</div>
            </div>
        </form>

        <form ng-show="mostraInput == 'status'"  layout="row" layout-align="start center">
            <md-select ng-model="statusSelecionado" placeholder="Selecione um Status" class="md-no-underline flex select-filtro-status">
                <md-option ng-value="status" ng-repeat="status in statusSelect">{{ status.desc }}</md-option>
            </md-select>
            <md-button type="submit" class="md-raised md-primary" ng-click="adicioarFiltroChip({id: statusSelecionado.id, nome: statusSelecionado.desc, titulo: 'Status', tipo: 'status'})">Adicionar</md-button>
        </form>

        <div class="listagem-ptas-div-chips" layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span><em>{{$chip.nome}} <strong>({{$chip.titulo}})</strong></em></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div flex layout="column">
            <div class="msg-no-results" ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                <img class="icon-no-results" alt="" src="assets/images/buscasemresultado.svg">
                <p class="texto-sem-resultado-top">Nenhum resultado encontrado para sua busca.</p>
                <p class="texto-sem-resultado-bottom">Os filtros ajudam a obter melhor resultado.</p>
            </div>

            <md-list class="listagem" ng-show="planosDeTrabalho.length > 0" flex md-whiteframe="2"  layout="column" layout-align="center">
                <md-list-item ng-click="podeVisualizar() ? carregarPlanoAnual(plano) : false" class="md-2-line" ng-repeat="plano in planosDeTrabalho">
                    <div class="md-list-item-text list-item-text" layout="column" layout-align="center start">
                        <p class="main-text">Contrato: {{plano.contrato}}  - PTA: {{plano.contrato.split('/')[0]}} - Ano: {{plano.dataInicio |  date:"yyyy"}}</p>
                        <p class="secondary-text">Entidade parceira de ATER: {{plano.nomeFantasia}}</p>
                        <p class="secondary-text">Região: {{plano.regiao}}</p>
                    </div>
                    <h5 ng-if="plano.reaberto"><span class="label"
                                                     style="background-color: #607d8b; color: white; font-weight: normal; margin-right: 16px">Reaberto</span>
                    </h5>
                    <h5 ng-if="plano.recusado"><span class="label"
                                                     style="background-color: {{plano.status == '1'? '#EF5350' : '#3F51B5'}}; color: white; font-weight: normal; margin-right: 16px"
                                                     ng-show="true">{{plano.status == "1"? 'Recusado' : 'Revisado'}}</span>
                    </h5>
                    <h5><span class="label"
                              style="background-color: {{ptaConstants[plano.status].color}}; color: white; font-weight: normal;"
                              ng-show="true">{{ptaConstants[plano.status].desc}}</span></h5>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-list>

            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
            </div>
        </div>

    </div>
</div>
