<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="">
<head>
<title data-th-remove="all">Recuperação de senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
	<body style="font-family: sans-serif, lato; width: 600px; margin: 0; color: #000000;" >

		<div style="text-align: center; height:130px;">
			<img style="padding-top: 40px; display: block; margin-left: auto; margin-right: auto; width: 256px; height:60px;" src="images/logoCompleta.png" data-th-src="|cid:logo-completa|" />
		</div>

		<div style="height:87px; background-color: #15723F !important; color: #ffffff; text-align: center;">
			<p style="line-height: 87px; font-size: 32px; font-weight: normal; margin: 0">Avaliação Recebida!</p>
		</div>

		<div style="text-align: center; margin-top: 30px;">
			<p style="font-size: 21px; color: #000000;">
				<b style="color: #15723F !important" >Olá, <b style="color: #15723F !important" th:text="|${nomeCompleto}|"></b></b><br/>

			</p>
		</div>

        <div style="text-align: center; margin-top: 30px; margin-bottom: 120px;">
                <p style="font-size: 21px; color: #000000; margin-left: 60px; margin-right: 60px;" >Confirmamos o recebimento de sua avaliação do Portal da Agricultura Familiar. Sua contribuição é valiosa para melhoria do sistema, obrigado!</p>
        </div>

		<div>
			<hr style="border-color: #EEEEEE; border-style: solid none;  border-width: 1px 0;  margin: 18px 0;" />
		</div>

		<div>
			<img style="display: block; margin-left: auto; margin-right: auto; width: 184px;" src="images/logoSecretaria.png" data-th-src="|cid:logo-secretaria|" />
		</div>
        <div style="text-align: center; margin-top: 20px;">
            <img style="display: block; margin-left: auto; margin-right: auto; margin-top: 25px;" src="images/barraCinza.png" data-th-src="|cid:barraCinza|" />
        </div>

        <div style="text-align: center; margin-top: 12px; margin-bottom: 12px;">
            <p style="font-size: 12px; color: #838383;">Este é um e-mail automático disparado pelo sistema. Favor não respondê-lo. </p>
        </div>
	</body>
</html>
