<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="">
<head>
<title data-th-remove="all">Recuperação de senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
	<body style="font-family: sans-serif, lato; width: 600px; margin: 0; color: #000000;" >

		<div style="text-align: center; height:130px;">
			<img style="padding-top: 40px; display: block; margin-left: auto; margin-right: auto; width: 256px; height:60px;" src="images/logoCompleta.png" data-th-src="|cid:logo-completa|" />
		</div>

		<div style="height:87px; background-color: #15723F !important; color: #ffffff; text-align: center;">
			<p style="line-height: 87px; font-size: 32px; font-weight: normal; margin: 0">Bem-vindo!</p>
		</div>

		<div style="text-align: center; margin-top: 30px;">
			<p style="font-size: 21px; color: #000000;">
				Seu cadastro no <b style="color: #15723F !important" >Portal da Agricultura Familiar</b><br/> 
				foi efetuado com sucesso.
			</p>
		</div>
		
		<div style="text-align: center; margin-top: 50px;">
			<p style="font-size: 16px; color: #000000;">
				Acesse <a href="" th:href="@{|${baseUrl}/#/login|}">aqui</a> e faça seu login utilizando os dados abaixo.
			</p>
		</div>
		
		<div style="margin:0 auto; text-align: center; background-color: #fff; vertical-align: middle; border-radius: 4px; width: 180px; height:40px; font-size: 16px;">
			<i style="font-size: 12px; color: #15723f;" th:text="'Login: ' + |${username}|"></i> <br/>
			<i style="font-size: 12px; color: #15723f;" th:text="'Senha: ' + |${password}|"></i>
		</div>

		<div>
			<hr style="border-color: #EEEEEE; border-style: solid none;  border-width: 1px 0;  margin: 18px 0;" />
		</div>

		<div>
			<img style="display: block; margin-left: auto; margin-right: auto; width: 184px;" src="images/logoSecretaria.png" data-th-src="|cid:logo-secretaria|" />
		</div>

	</body>
</html>
