<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="">
<head>
<title data-th-remove="all">Recuperação de senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
	<body style="font-family: sans-serif, lato; width: 600px; margin: 0; color: #000000;" >

		<div style="text-align: center; height:130px;">
			<img style="padding-top: 40px; display: block; margin-left: auto; margin-right: auto; width: 256px; height:60px;" src="images/logoCompleta.png" data-th-src="|cid:logo-completa|" />
		</div>

		<div style="height:87px; background-color: #15723F !important; color: #ffffff; text-align: center;">
			<p style="line-height: 87px; font-size: 32px; font-weight: normal; margin: 0">Recuperação de senha</p>
		</div>

		<div style="text-align: center; margin: 30px 0;">
			<div style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%;">
				<b style="font-size: 21px; color: #000000;">Olá, <b style="color: #15723F !important" th:text="|${nomeCompleto}|" ></b></b>
				<p style="font-size: 16px; color: #000000;">Clique no link abaixo para criar a sua nova senha:</p>
			</div>
		</div>

		<div style="position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; float: left; width: 100%; text-align: center;">
			<a th:href="@{|${baseUrl}/#/reset/finish?key=${chaveReativacao}|}" ><button style="background-color: #fff; border-color: #ccc; padding: 6px 12px; text-align: center; vertical-align: middle; border-radius: 4px; width: 400px; height:36px; border: 2px solid #15723F; color: #15723F; margin: 30px 0; font-size: 16px; cursor: pointer;">CRIAR NOVA SENHA</button></a>
		</div>

		<div style="">
			<div style="margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px;">

				<div style="min-height: 1px; padding-left: 15px; padding-right: 15px; text-align: center; width: 100%;">
					<p style="font-size: 16px; color: #000000;">
						Caso não tenha pedido a recuperação da senha, entre em contato
						conosco o mais rápido possível.<br />
					</p>
				</div>

				<div style="min-height: 1px; padding-left: 15px; padding-right: 15px; text-align: center; width: 100%;">
					<p style="font-size: 15px; color: #646464; text-decoration:none !important; text-decoration:none;">portalagricultor@sda.ce.gov.br</p>
				</div>

			</div>
		</div>

		<div>
			<hr style="border-color: #EEEEEE; border-style: solid none;  border-width: 1px 0;  margin: 18px 0;" />
		</div>

		<div style="">
			<img style="display: block; margin-left: auto; margin-right: auto; width: 184px;" src="images/logoSecretaria.png" data-th-src="|cid:logo-secretaria|" />
		</div>

        <div style="text-align: center; margin-top: 20px;">
            <img style="display: block; margin-left: auto; margin-right: auto;" src="images/barraCinza.png" data-th-src="|cid:barraCinza|" />
        </div>

        <div style="text-align: center; margin-top: 8px;">
            <p style="font-size: 12px; color: #838383;">Caso não esteja visualizando este e-mail corretamente <a     th:href="@{|${baseUrl}/#/reset/finish?key=${chaveReativacao}|}" style="color:#337ab7;">clique aqui</a> </p>
        </div>
	</body>
</html>
