<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="">
<head>
<title data-th-remove="all">SignUp email</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
	<body style="font-family: sans-serif, lato; width: 600px; margin: 0; color: #000000;" >

		<div style="text-align: center;">
			<img style="height:175px;" src="images/conviteEmailTopo.png" data-th-src="|cid:conviteEmailTopo|" />
		</div>

		<div style="text-align: center;">
			<p style="font-size: 24px; font-weight: normal; margin: 0; color: green;"><b>Convite!</b></p>
		</div>

		<div style="text-align: center; margin-top: 34px;">
			<p style="font-size: 18px; color: #000000;">Você foi convidado a fazer parte do</p>
		</div>

		<div style="text-align: center; margin-top: 20px;">
			<img style="width: 384px; height:88px;" src="images/logoCompleta.png" data-th-src="|cid:logo-completa|" />
		</div>

		<div style="text-align: center; margin-top: 50px;">
			<a th:href="@{|${baseUrl}/#/signup/finish?key=${chaveAtivacao}|}" >
				<button style="padding: 0; border: none; background-color: #166d3c; text-align: center; vertical-align: middle; width: 148px; height:42px;  color: #FFFFFF; font-size: 14px; cursor: pointer;">ACEITAR CONVITE</button>
			</a>
		</div>

		<div style="text-align: center; ">
			<img style="display: block; margin-left: auto; margin-right: auto;" src="images/conviteEmailInferior.png" data-th-src="|cid:conviteEmailInferior|" />
		</div>

		<div style="text-align: center; margin-top: 20px;">
			<img style="display: block; margin-left: auto; margin-right: auto;" src="images/barraCinza.png" data-th-src="|cid:barraCinza|" />
		</div>

		<div style="text-align: center; margin-top: 8px;">
			<p style="font-size: 12px; color: #838383;">Caso não esteja visualizando este e-mail corretamente <a th:href="@{|${baseUrl}/#/signup/finish?key=${chaveAtivacao}|}" style="color:#337ab7;">clique aqui</a> </p>
		</div>

	</body>
</html>
