<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout="column" layout-align="start stretch" class="application-width" ng-cloak id="layout-programas" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div id="step1">
            <p id="sinopse">O Projeto Biodiesel do Ceará tem por objetivo atender as demandas para implantação de áreas com oleaginosas visando a oferta de matéria-prima para produção de energia renovável, por meio das seguintes ações: pagamento de incentivos por área plantada, implantação de extratoras de óleo e fábricas de biocomposto orgânico; promoção de capacitação de técnicos e agricultores. São resultados esperados do projeto o incremento de renda para as famílias rurais, a inclusão social e o desenvolvimento regional gerando emprego e renda, possibilitando com as culturas consorciadas, como milho, feijão e outras, a segurança alimentar, exclusivamente aos Agricultores Familiares e suas organizações nos Municípios Zoneados pelo Ministério da Agricultura Pecuária e Abastecimento - MAPA ou em Municípios com “Nota Técnica” para oleaginosas como mamona, algodão e girassol. <a href="" ng-click="showDialogSobre($event)">Ver mais...</a></p>
            <p ng-show="dispMovel"><a id="step2b" target="_blank" href="assets/pdf/carta-biodiesel.pdf">Baixar Manual</a></p>
        </div>
        <div flex layout="row" layout-align="start start">
            <a id="step2a" ng-hide="dispMovel" target="_blank" href="assets/pdf/carta-biodiesel.pdf">
                <img id="manual" ng-src="assets/images/PDFbiodiesel.png">
                <md-tooltip md-direction="bottom">
                    Visualizar ou baixar manual
                </md-tooltip>
            </a>
            <!--<a id="layout-programas-emitir-extrato" ng-show="notasAno.length > 0" href="" ng-click="emitirExtratoHoraPlantar()">Emitir extrato</a>-->
            <div layout="column" flex layout-align="start stretch">
                <div ng-show="notasAno.length > 0" layout="row" layout-align="end center">
                    <div id="step4" layout="row" layout-align="end center">
                        <span>Decrescente</span>
                        <md-switch  id="main-usuario-avancado-switch" ng-model="inverte" class="md-primary" ng-change="onChangeSwitch()">
                            Crescente
                        </md-switch>
                    </div>
                </div>
                <div layout="row">
                    <linha-tempo flex eventos="notasAno"></linha-tempo>
                    <span ng-hide="dispMovel" id="layout-programas-span"></span>
                </div>
            </div>
        </div>
    </div>
</div>
