<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout="column" layout-align="start stretch" class="application-width" ng-cloak id="layout-programas" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div id="step1">
            <p id="sinopse">O Projeto Caju - Expansão e Recuperação da Cajucultura, tem por objetivo aumentar a produção e produtividade da cultura do caju, através da expansão com o adensamento das áreas improdutivas com mudas de cajueiro anão precoce, e a recuperação das plantas improdutivas com o uso de tecnologias de substituição de copa. <a href="" ng-click="showDialogSobre($event)">Ver mais...</a></p>
            <p ng-show="dispMovel"><a id="step2b" target="_blank" href="assets/pdf/paa-alimentos-2016.pdf">Baixar Manual</a></p>
        </div>

        <div flex layout="row" layout-align="start start">
            <a id="step2a" ng-hide="dispMovel" target="_blank" href="assets/pdf/carta-caju.pdf">
                <img id="manual" ng-src="assets/images/carta-caju.png">
                <md-tooltip md-direction="bottom">
                    Visualizar ou baixar manual
                </md-tooltip>
            </a>
            <div layout="column" flex layout-align="start stretch">
                <div ng-show="notasAno.length > 0" layout="row" layout-align="end center">
                    <div id="step4" layout="row" layout-align="end center">
                        <span>Decrescente</span>
                        <md-switch  id="main-usuario-avancado-switch" ng-model="inverte" class="md-primary" ng-change="onChangeSwitch()">
                        Crescente
                        </md-switch>
                    </div>
                </div>
                <div layout="row">
                    <linha-tempo flex eventos="notasAno" click-evento="showDialogProdutos(ano)"></linha-tempo>
                    <span ng-hide="dispMovel" id="layout-programas-span"></span>
                </div>
            </div>
        </div>
    </div>
</div>
