<meta charset="UTF-8">
<md-dialog flex="60" class="cadastrar-localidade">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{title}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <form class="content" md-theme="themeButtonUA" ng-submit="cadastrarForm.$valid && salvar()" name="cadastrarForm"
              novalidate>
            <fieldset ng-disabled="!podeEditar()">
                <div layout="column" layout-xs="column">
                    <md-input-container flex class="md-block">
                        <label>Localidade</label>
                        <input name="nome" ng-model="localidade.nome" maxlength="120" required>
                        <div ng-messages="cadastrarForm.nome.$error">
                            <div ng-message="required">Opa! O campo Localidade é obrigatorio</div>
                        </div>
                    </md-input-container>
                    <div flex layout="row" layout-xs="column">
                        <md-autocomplete flex="50" flex-xs="100" ng-required="true"
                                         md-input-name="autoCompleteMunicipio"
                                         md-min-length="3"
                                         md-no-cache="true"
                                         md-selected-item="municipioSelecionado"
                                         md-search-text="municipio"
                                         md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                                         md-item-text="item.nome"
                                         md-require-match
                                         md-floating-label="Município">
                            <md-item-template>
                                <span md-highlight-text="municipio">{{item.nome}}</span>
                            </md-item-template>
                            <md-not-found>
                                Nenhum registro encontrado.
                            </md-not-found>
                            <div ng-messages="cadastrarForm.autoCompleteMunicipio.$error">
                                <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                            </div>
                        </md-autocomplete>
                        <md-autocomplete class="autocomplete" flex="50" flex-xs="100" ng-required="true"
                                         md-input-name="autoCompleteDistrito"
                                         md-min-length="3"
                                         md-no-cache="true"
                                         md-selected-item="distritoSelecionado"
                                         md-search-text="distrito"
                                         md-items="item in buscarAutoCompletePorFiltro(distrito, 'api/distrito/',municipioSelecionado)"
                                         md-item-text="item.nome"
                                         md-require-match
                                         md-floating-label="Distrito">
                            <md-item-template>
                                <span md-highlight-text="municipio">{{item.nome}}</span>
                            </md-item-template>
                            <md-not-found>
                                Nenhum registro encontrado.
                            </md-not-found>
                            <div ng-messages="entidadesForm.autoCompleteDistrito.$error">
                                <div ng-message="md-require-match">Por favor selecione um registro existente. Verifique a UF
                                    informada.
                                </div>
                            </div>
                        </md-autocomplete>
                    </div>
                </div>
            </fieldset>
            <div layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="cancel()">Cancelar</md-button>
                <md-button ng-show="podeEditar()" class="md-primary" type="submit">Salvar</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
