<meta charset="UTF-8">
<md-content md-theme="themeUA" layout="row" flex layout-align="center center" id="login">
    <div layout="column" flex layout-align="center center" class="application-width">
        <img id="logo-sistema" src="assets/images/logoCompleta.svg">
        <span id="label-ua">CADASTRE - SE</span>
        
        <span class="messagem-erro" ng-show="doNotMatch">
            A senha e sua confirmação não coincidem!
        </span>

   		<span class="messagem-erro" ng-show="error" ng-repeat="message in errorMessages">
       		{{message}}
   		</span>
   		
        <form layout="column" flex layout-align="center center" name="signupForm" novalidate ng-submit="signupForm.$valid && finishSignup($event, signupForm)">
            
            <md-input-container class="md-block">
                <label>Login</label>
                <input ng-required="true" name="username" ng-model="username" focus="true">
                <div ng-messages="signupForm.username.$error" md-auto-hide="false">
                    <div ng-message="required">Opa! O campo Login é obrigatorio</div>
                    <div ng-message="invalid" >Opa! O campo Login deve possuir apenas letras (a-z), números e pontos</div>
                    <div ng-message="invalidLength">Opa! O campo Login deve possuir no mínimo 6 caracteres e no máximo 50 caracteres</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Senha</label>
                <input ng-required="true" name="password" ng-model="password" type="password" login-messenge ng-password-strength>
                <div ng-messages="signupForm.password.$error">
                    <div ng-message="required">Opa! O campo Senha é obrigatorio</div>
                    <div ng-message="invalid">Opa! O campo Senha deve possuir no mínimo 6 caracteres e no máximo 50 caracteres</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirmação da senha</label>
                <input ng-required="true" name="confirmPassword" ng-model="confirmPassword" type="password" login-messenge>
                <div ng-messages="signupForm.confirmPassword.$error">
                    <div ng-message="required">Opa! O campo Confirmação da senha é obrigatorio</div>
                </div>
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">Confirmar</md-button>
        </form>

        <a ng-href="http://www.sda.ce.gov.br/">
            <img id="logo-secretaria" src="assets/images/logoSecretaria.svg" alt="" />
        </a>
    </div>
</md-content>