<div layout="row" layout-align="start center" ng-click="selecionaAgricultor($root.account.agricultor)" class="agricultor-pin-mapa">
    <div class="div-foto-agricultor-pin-mapa">
        <avatar image="{{$root.account.agricultor.pessoaFisica.pessoa.foto}}" name="{{$root.account.agricultor.pessoaFisica.pessoa.nome}}"  font-size="48px" size="80px"></avatar>
    </div>
    <div class="descricao-agricultor-pin-mapa">
        <p><b>{{$root.account.agricultor.pessoaFisica.pessoa.nome}}</b></p>
        <div ng-repeat="d in dadosAgricultor">
            <p> {{d.descricao}}: {{d.dado}}</p>
        </div>
        <p>{{$root.account.agricultor.pessoaFisica.pessoa.municipio.territorio.nome}} - {{$root.account.agricultor.pessoaFisica.pessoa.municipio.nome}} - {{$root.account.agricultor.pessoaFisica.pessoa.distrito.nome}}</p>
    </div>
</div>
