<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="relatorio-atcs">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <div class="list" layout="column">
            <div md-whiteframe="2" class="cabecalho" flex layout="row" layout-align="center center">
                <p style="padding-left: 16px;"flex="15">Região</p>
                <p flex="15">Entidade</p>
                <p flex="15">Contrato</p>
                <p style="text-align: right;" flex="10">Técnicos</p>
                <p style="text-align: right;" flex="10">Assessores</p>
                <p style="text-align: right;" flex="10">Municípios</p>
                <p style="text-align: right;" flex="15">Comunidades</p>
                <p style="padding-right: 10px; text-align: right;" flex="10">Famílias</p>
            </div>
            <md-list class="md-dense"  flex md-whiteframe="2"  layout="column" layout-align="center stretch">
                <md-list-item ng-repeat="item in relatorioRegiao">
                    <div flex class="div" layout="column">
                        <div flex layout="row"  class="div-regiao" layout-align="start center">
                            <p flex="15"><b>{{item}}</b></p>
                            <p flex="15"></p>
                            <p flex="15"></p>
                            <p style="text-align: right;" flex="10"><b>{{getContagem(relatorio[item],'tecnicos')}}</b></p>
                            <p style="text-align: right;" flex="10"><b>{{getContagem(relatorio[item],'assessores')}}</b></p>
                            <p style="text-align: right;" flex="10"><b>{{getContagem(relatorio[item],'municipios')}}</b></p>
                            <p style="text-align: right;" flex="15"><b>{{getContagem(relatorio[item],'comunidades')}}</b></p>
                            <p style="text-align: right;" flex="10"><b>{{getContagem(relatorio[item],'familias')}}</b></p>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" class="div-detalhes" layout-align="start center" ng-repeat="item2 in relatorio[item]">
                            <p flex="15"></p>
                            <p flex="15">{{item2.nomeFantasia}}</p>
                            <p flex="15">{{item2.contrato}}</p>
                            <p style="text-align: right;" flex="10">{{item2.qtdTecnicos}}</p>
                            <p style="text-align: right;" flex="10">{{item2.qtdAssessor}}</p>
                            <p style="text-align: right;" flex="10">{{item2.qtdMunicipio}}</p>
                            <p style="text-align: right;" flex="15">{{item2.qtdComunidade}}</p>
                            <p style="text-align: right;" flex="10">{{item2.qtdFamilias}}</p>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
