<meta charset="UTF-8">
<md-dialog flex="90" layout="column" class="dialogs95 " md-theme="themeUAWhite">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{trimestreDescricao}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>

    <md-dialog-content flex>
        <form flex layout="column" layout-align="center center" class="plano-trimestral" name="planoTrimestralForm">
            <div ng-show="loading" layout="column" layout-gt-xs="row" layout-wrap layout-fill ng-cloak>
                <md-progress-circular style="margin: 12px" class="md-hue-2" md-diameter="40"></md-progress-circular>
                <h4 style="color: #333333; size: 21px; margin-top: 23px;"> Carregando. Aguarde...</h4>
            </div>

            <div ng-hide="loading" layout="column" layout-align="start stretch" layout-gt-xs="row" layout-wrap
                 layout-fill ng-cloak>
                <div layout="row" layout-align="start stretch" class="cabecalho">
                    <span>
                        <md-icon class="material-icons icon">description</md-icon>PTA: {{pta.codigo}}
                    </span>

                    <span>
                        <md-icon class="material-icons icon">content_paste</md-icon>Contrato: {{pta.contrato.codigo}}
                    </span>

                    <span>
                        <md-icon class="material-icons icon">info</md-icon>
                        Status: <span
                        style="background-color: {{planoTrimestralConstants[planoTrimestral.status].color}}"
                        class="label">{{planoTrimestralConstants[planoTrimestral.status].desc}}</span>
                        <span class="label"
                              style="background-color: {{planoTrimestral.status == '1'? '#EF5350' : '#3F51B5'}}; color: white; font-weight: normal; margin-left: 16px"
                              ng-show="planoTrimestral.recusado">{{planoTrimestral.status == "1"? 'Recusado' : 'Revisado'}}</span>
                    </span>
                    <md-button ng-show="planoTrimestral.id" class="md-accent" ng-click="printPlanoTrimestral();"
                               style="margin-top: 0; margin-left: 0;">
                        <md-icon class="back-icon" class="material-icons">print</md-icon>
                        GERAR PDF
                    </md-button>

                </div>

                <div class="metas-atividades-trimestre" layout-fill layout="column" layout-align="start stretch"
                     ng-show="pta.metasAtividadesPta.length > 0" ng-cloak>
                    <md-list flex class="accordion md-dense" layout="column" layout-align="start stretch">
                        <md-list-item class="md-2-line" ng-repeat-start="metaAtividade in pta.metasAtividadesPta">
                            <md-card class="card" flex>
                                <md-button class="botao" flex ng-click="expansaoTrimestre($index);">
                                    <div layout="row" class="cabecalho-metas">
                                        <header flex layout="row" layout-align="start center" layout-wrap>
                                            <span flex="70">{{metaAtividade.atividade.nome}}</span>
                                            <span flex="10">Meta Anual: {{metaAtividade.quantidadeMeta}}</span>
                                            <span flex="10" style="margin-left: 10px;">Meta Trimestral: {{getTotalMetasAtividadesTrimestral(metaAtividade.metasAtividadesTrimestral)}}</span>
                                        </header>
                                        <md-icon ng-class="{'expandir': exibir[$index]}" class="material-icons">
                                            expand_less
                                        </md-icon>
                                    </div>
                                </md-button>
                            </md-card>
                        </md-list-item>

                        <md-list-item ng-repeat-end ng-class="exibir[$index] ? 'expandir' : 'encolher' ">
                            <div flex class="expandir cabecalho-metas-sub-itens" layout="column">
                                <header layout-wrap layout-align="start center" layout="row">
                                    <span flex="20">UF*</span>
                                    <span flex="20">Município*</span>
                                    <span flex="20">Comunidade</span>
                                    <span flex="20">Abrangência*</span>
                                    <span flex="15">Meta Trimestral*</span>
                                </header>

                                <md-list-item ng-repeat="mt in metaAtividade.metasAtividadesTrimestral"
                                              class="list-metas" layout-wrap layout-align="start center" layout="row">

                                    <md-select ng-disabled="planoTrimestral.status > '1'" flex="20"
                                               ng-model="mt.municipio.uf.id"
                                               md-on-close="aposSelecionarUf(mt.municipio.uf)"
                                               md-on-open="aposAbrirUf(mt.municipio.uf)"
                                               ng-required="true"
                                               placeholder="Selecione o UF">
                                        <md-option ng-repeat="item in uf | orderBy:'descricao'" ng-value="item.id">
                                            {{item.descricao}}
                                        </md-option>
                                    </md-select>

                                    <md-select flex="20" ng-disabled="planoTrimestral.status > '1'"
                                               md-on-close="aposSelecionarMunicipio(mt.municipio)"
                                               md-on-open="aposAbrirMunicipios(mt.municipio)" ng-model="mt.municipio.id"
                                               placeholder="Selecione o Município"
                                               ng-required="true">
                                        <md-option ng-repeat="item in mt.municipio.uf.municipios | orderBy:'nome'"
                                                   ng-value="item.id">
                                            {{item.nome | capitalize}}
                                        </md-option>
                                    </md-select>

                                    <md-select ng-disabled="planoTrimestral.status > '1'" flex="20"
                                               ng-model="mt.comunidade.id"
                                               ng-click="buscarComunidadePorMunicipio(mt.municipio)"
                                               placeholder="Selecione a Comunidade">
                                        <md-option ng-repeat="item in mt.municipio.comunidades | orderBy:'nome'"
                                                   ng-value="item.id">
                                            {{item.nome | capitalize}}
                                        </md-option>
                                    </md-select>

                                    <md-select ng-disabled="planoTrimestral.status > '1'" flex="20"
                                               ng-model="mt.abrangencia"
                                               ng-required="true">
                                        <md-option ng-repeat="item in abrangencias" ng-value="item.id">
                                            {{item.desc}}
                                        </md-option>
                                    </md-select>

                                    <div flex="15" flex-xs="100" layout="row" layout-align="start center" layout-fill>
                                        <md-input-container md-no-float class="md-block">
                                            <input ng-disabled="planoTrimestral.status > '1'"
                                                   ng-model="mt.quantidadeMeta" type="number"
                                                   placeholder="Informe a Meta Trimestral"
                                                   ng-required="true">
                                        </md-input-container>
                                    </div>

                                    <div flex="5" layout="row" class="nome" layout-align="start center">
                                        <md-button ng-hide="planoTrimestral.status > '1'"
                                                   class="md-icon-button action-buttons"
                                                   ng-click="removerMetaTrimestral($index, $parent.$index)"
                                                   layout-align="start center">
                                            <md-icon class="material-icons icon">delete</md-icon>
                                        </md-button>
                                    </div>
                                </md-list-item>
                                <div class="buttons" layout="row" layout-align="end center">
                                    <md-button ng-hide="planoTrimestral.status > '1'" layout="row"
                                               layout-align="start start" class="md-accent"
                                               ng-click="adicionarMetaTrimestral($index)">
                                        <div layout="row" layout-align="start start" flex>
                                            <md-icon md-svg-icon="assets/images/icones/ic_add.svg"></md-icon>
                                            <span flex>meta trimestral</span>
                                        </div>
                                    </md-button>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions md-theme="themeUA" layout="row">
        <md-button class="md-accent" ng-show="finalizarPlanoButtonVisibility()" ng-click="finalizarPlano()">Finalizar
            Plano Trimestral
        </md-button>
        <span flex></span>
        <md-button class="md-accent" ng-click="cancel()">{{textCancelButton()}}</md-button>
        <md-button class="md-accent" ng-show="podeEditarPT() && planoTrimestral.status == '1'" ng-click="submit()">
            Salvar
        </md-button>
    </md-dialog-actions>
</md-dialog>
