<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
    <div class="application-width" layout="column" layout-align="center none" ng-cloak>
        <md-grid-list  ng-show="tecnicos.length > 0 || modoTutorial" layout-align="start start" md-gutter="1em" md-cols="3"   md-cols-xs="1" md-cols-gt-xs="3" md-cols-md="3" md-cols-lg="3" md-row-height="240px">
            <md-grid-tile ng-repeat="d in tecnicos" ng-if="!modoTutorial">
                <md-card ng-click="getDadosTecnico(d.idTecnico, d.tipoATER)" id="ater-tecnico-card" ng-class="{'ater-tecnico-card-selecionado': (d.anoFim == anoAtual)}" flex layout="column" layout-align="start center">
                    <avatar class="md-avatar" image="{{d.foto}}" name="{{d.tecnico}}" size="96px" font-size="60px""></avatar>
                    <p id="nome">{{d.tecnico | capitalize}}</p>
                    <p id="dados">Atendimento de {{d.anoInicio}} a {{d.anoFim}}</p>
                    <p id="dados">{{d.empresa}}</p>
                    <span ng-show="(d.anoFim == anoAtual)">Técnico Associado</span>
                </md-card>
            </md-grid-tile>

            <md-grid-tile ng-show="modoTutorial" id="tecnico-atual-tutorial">
                <md-card id="ater-tecnico-card" ng-class="{'ater-tecnico-card-selecionado': (true)}" flex layout="column" layout-align="start center">
                    <avatar class="md-avatar" name="Everson Nunes Valente" size="96px" font-size="60px""></avatar>
                    <p id="nome">Everson Nunes Valente</p>
                    <p id="dados">Atendimento de 2009 a {{anoAtual}}</p>
                    <p id="dados">EMATERCE</p>
                    <span>Técnico Associado</span>
                </md-card>
            </md-grid-tile>

            <md-grid-tile ng-show="modoTutorial" id="tecnico-passado-tutorial">
                <md-card id="ater-tecnico-card" ng-class="{'ater-tecnico-card-selecionado': (false)}" flex layout="column" layout-align="start center">
                    <avatar class="md-avatar"  name="João Mario Nunes da Silva" size="96px" font-size="60px""></avatar>
                    <p id="nome">João Mario Nunes da Silva</p>
                    <p id="dados">Atendimento de 2009 a 2015</p>
                    <p id="dados">EMATERCE</p>
                </md-card>
            </md-grid-tile>

        </md-grid-list>

        <div id="ater-tecnico-mensagem" ng-hide="tecnicos.length > 0 || modoTutorial">
            <i id="ater-tecnico-icon" class="material-icons">people</i>
            <p id="mensagem">Atualmente você não tem técnicos associados.</p>
        </div>

    </div>
</div>
