<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout="column" layout-align="start stretch" class="application-width" ng-cloak id="layout-programas" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div id="step1">
            <p id="sinopse">O Programa Nacional de Alimentação Escolar (Pnae), implantado em 1955, contribui para o crescimento, o desenvolvimento, a aprendizagem, o rendimento escolar dos estudantes e a formação de hábitos alimentares saudáveis, por meio da oferta da alimentação escolar e de ações de educação alimentar e nutricional.<a href="" ng-click="showDialogSobre($event)">Ver mais...</a></p>
            <p ng-show="dispMovel"><a id="step2b" target="_blank" href="assets/pdf/pnae-2016.pdf">Baixar Manual</a></p>
        </div>
        <div flex layout="row" layout-align="start start">
            <a id="step2a" ng-hide="dispMovel" target="_blank" href="assets/pdf/pnae-2016.pdf">
                <img id="manual" ng-src="assets/images/pnae-2016.png">
                <md-tooltip md-direction="bottom">
                    Visualizar ou baixar manual
                </md-tooltip>
            </a>
            <a id="layout-programas-emitir-extrato" ng-show="notasAno.length > 0" href="" ng-click="emitirExtratoPNAE()">Emitir extrato</a>
            <div layout="column" flex layout-align="start stretch">
                <div ng-show="notasAno.length > 0" layout="row" layout-align="end center">
                    <div id="step4" layout="row" layout-align="end center">
                        <span>Decrescente</span>
                        <md-switch  id="main-usuario-avancado-switch" ng-model="inverte" class="md-primary" ng-change="onChangeSwitch()">
                            Crescente
                        </md-switch>
                    </div>
                </div>
                <div layout="row">
                    <linha-tempo flex eventos="notasAno" click-evento="showDialogProdutos(ano)"></linha-tempo>
                    <span ng-hide="dispMovel" id="layout-programas-span"></span>
                </div>
            </div>
        </div>
    </div>
</div>

