<meta charset="UTF-8">
<md-dialog flex="60" class="cadastrar-editar-user">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Cadastrar Usuário
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <form md-theme="themeUAWhite" ng-submit="cadastrarForm.$valid && salvar()" name="cadastrarForm" novalidate>
        <md-dialog-content class="content">
            <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block">
                    <label>CPF</label>
                    <input name="cpf" ng-model="user.usuarioAvancado.pessoaFisica.cpf" cpf-mask required>
                    <div ng-messages="cadastrarForm.cpf.$error">
                        <div ng-message="required">Opa! O campo CPF é obrigatorio</div>
                        <div ng-message="minimo">Opa! O campo CPF deve possuir 11 números</div>
                    </div>
                </md-input-container>
                <span class="espaco-horizontal" hide-xs></span>
                <md-input-container flex class="md-block">
                    <label>Nome</label>
                    <input name="nome" ng-model="user.usuarioAvancado.pessoaFisica.pessoa.nome" maxlength="120" required ng-disabled="hasUser" pattern="[A-Za-z ]+">
                    <div ng-messages="cadastrarForm.nome.$error">
                        <div ng-message="required">Opa! O campo Nome é obrigatorio</div>
                        <div ng-message="pattern">
                            Opa! O campo Nome deve conter somente letras
                        </div>
                    </div>
                </md-input-container>
            </div>
            <span class="espaco-horizontal" hide-xs></span>
            <div layout="row" layout-xs="column">
                <md-input-container flex class="md-block">
                    <label>Email</label>
                    <input name="email" ng-model="user.usuarioAvancado.emailInstitucional" required maxlength="60" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="cadastrarForm.email.$error">
                        <div ng-message="required">Opa! O campo Email é obrigatorio</div>
                        <div ng-message="pattern">
                            Opa! O campo email deve deve ter o nome@exemplo.com
                        </div>
                    </div>
                </md-input-container>
                <span class="espaco-horizontal" hide-xs></span>
                <div layout="row" flex layout-xs="column">
                    <md-input-container flex class="md-block">
                        <label>Data de Nascimento</label>
                        <input name="nascimento" ng-model="dataNascimento" date-mask required ng-disabled="hasUser">
                        <div ng-messages="cadastrarForm.nascimento.$error">
                            <div ng-message="required">Opa! O campo Data de Nascimento é obrigatorio</div>
                            <div ng-message="minimo">Opa! O campo Data de Nascimento deve ter o formato DD/MM/AAAA</div>
                        </div>
                    </md-input-container>
                    <span class="espaco-horizontal" hide-xs></span>
                    <md-input-container flex class="md-block">
                        <label>Sexo</label>
                        <md-select name="sexo" ng-model="user.usuarioAvancado.pessoaFisica.sexo" required ng-disabled="hasUser">
                            <md-option value='M'>Masculino</md-option>
                            <md-option value='F'>Feminino</md-option>
                        </md-select>
                        <div ng-messages="cadastrarForm.sexo.$error">
                            <div ng-message="required">Opa! O campo Sexo é obrigatorio</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <p ng-hide="isUsuarioEmpresa">Escolher perfil:</p>
            <div layout="row" layout-align="start start" layout-wrap layout-xs="column" ng-hide="isUsuarioEmpresa">
                <div flex="33" ng-repeat="autoridade in autoridades">
                    <md-checkbox aria-label="checkbox" ng-checked="isChecked(autoridade)" ng-click="toggle(autoridade)">{{autoridade}}</md-checkbox>
                </div>
            </div>

            <div layout="row" flex layout-xs="column">
                <md-input-container class="md-block" flex="50" flex-xs="100" ng-show="isUsuarioEmpresa">
                    <label>Perfil</label>
                    <md-select name="autoridade" ng-model="autoridadeEmpresa" ng-required="isUsuarioEmpresa">
                        <md-option value='ROLE_RESPONSAVEL_ATER'>Responsável ATER</md-option>
                        <md-option value='ROLE_USUARIO_ATER'>Usuário ATER</md-option>
                        <md-option value='ROLE_USUARIO_ERP'>Usuário ERP</md-option>
                        <md-option value='ROLE_USUARIO_UGP'>Usuário UGP</md-option>
                        <md-option value='ROLE_USUARIO_UGP_1'>Usuário UGP Componente 1</md-option>
                        <md-option value='ROLE_OBSERVATORIO'>Observatório</md-option>
                    </md-select>
                    <div ng-messages="cadastrarForm.autoridade.$error">
                        <div ng-message="required">Opa! O campo Perfil é obrigatorio</div>
                    </div>
                </md-input-container>

                <span class="espaco-horizontal" hide-xs></span>

                <md-autocomplete ng-disabled="modoEdicao || isEmpresaDisabled" flex="50" flex-xs="100" ng-required="autoridadeEmpresa != 'ROLE_USUARIO_UGP'"
                                 md-input-name="autoCompleteEmpresa"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="empresa"
                                 md-search-text="empresaText"
                                 md-items="item in buscarAutoCompletePorFiltro(empresaText, 'api/empresa/')"
                                 md-item-text="item.pessoaJuridica.pessoa.nome"
                                 md-require-match
                                 md-floating-label="Parceira ATER">
                    <md-item-template>
                        <span md-highlight-text="empresa">{{item.pessoaJuridica.nomeFantasia}} - {{item.pessoaJuridica.pessoa.nome | capitalize}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum registro encontrado.
                    </md-not-found>
                    <div ng-messages="informacoesGeraisForm.autoCompleteEmpresa.$error">
                        <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                    </div>
                </md-autocomplete>
            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center" >
            <span></span>
            <md-button class="md-warn" ng-click="cancel()">Cancelar</md-button>
            <span></span>
            <md-button class="md-warn" type="submit">Salvar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
