<meta charset="UTF-8">
<md-dialog flex="30" class="cadastrar-editar-user">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Editar Usuário
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content md-theme="themeUA" >
        <form class="content" ng-submit="salvar()">
            <md-input-container flex class="md-block">
                <label>Nome</label>
                <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.nome" capitalize disabled>
            </md-input-container>
            <md-input-container flex class="md-block">
                <label>Email</label>
                <input ng-model="user.usuarioAvancado.emailInstitucional" required>
            </md-input-container>
            <p>Escolher perfil:</p>
            <div layout="row" layout-align="start start" layout-wrap layout-xs="column">
                <div flex="50" ng-repeat="autoridade in autoridades">
                    <md-checkbox aria-label="checkbox" ng-checked="isChecked(autoridade)" ng-click="toggle(autoridade)">{{autoridade}}</md-checkbox>
                </div>
            </div>
            <p>Status:</p>
            <md-radio-group ng-model="userStatus" layout="row" data-ng-value="true">
                <div flex><md-radio-button value="A">Ativo</md-radio-button></div>
                <div flex><md-radio-button value="I">Inativo</md-radio-button></div>
            </md-radio-group>
            <div layout="column" layout-align="center center">
                <span class="espaco-vertical"></span>
                <md-button ng-show="podeEditar()" class="md-raised md-primary" type="submit">Salvar</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
