<meta charset="UTF-8">
<md-content md-theme="themeUA" layout="row" flex layout-align="center center" id="resetFinish">
    <div layout="column" flex layout-align="center center" class="application-width" >
        <div id="titulo">Trocar a senha</div>
        <div id="subtitulo">Escolha uma nova senha para efetuar login</div>
        <form layout="column" flex layout-align="center center" name="formReset" ng-submit="formReset.$valid && finishReset()">
            <md-input-container class="md-block">
                <label>Nova Senha</label>
                <input name="senha" id="senha" ng-model="resetAccount.senha" type="password" senha-messenge ng-required="true">
                <div ng-messages="formReset.senha.$error" md-auto-hide="false">
                    <div ng-message="requerido">Opa! O campo Nova Senha é obrigatorio</div>
                    <div ng-message="minimo">Opa! O campo Nova Senha deve possuir no mínimo 5 caracteres</div>
                    <div ng-message="maximo">Opa! O campo Nova Senha deve possuir no máximo 50 caracteres</div>
                </div>
                <!--<div class="strength-bar">
                    <password-strength-bar password-to-check="resetAccount.senha" ></password-strength-bar>
                </div>-->
            </md-input-container>

            <md-input-container class="md-block">
                <label>Confirmação de Nova Senha {{formReset.$valid}}</label>
                <input name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" type="password" senha-messenge ng-required="true">
                <div ng-messages="formReset.confirmPassword.$error" md-auto-hide="false">
                    <div ng-message="requerido">Opa! O campo Confirmação de Nova Senha é obrigatorio</div>
                    <div ng-message="minimo">Opa! O campo Confirmação de Nova Senha deve possuir no mínimo 5 caracteres</div>
                    <div ng-message="maximo">Opa! O Confirmação de campo Nova Senha deve possuir no máximo 50 caracteres</div>
                </div>
            </md-input-container>
            <md-button type="submit" ng-disabled="formReset.$invalid" class="md-raised md-primary">Entrar</md-button>
        </form>
        <div layout-gt-xs="row" layout-xs="column" flex layout-align="center center" >
            <a ng-href="/" layout="row" flex>
                <img id="logo-sistema-barra" src="assets/images/logoCompleta.svg">
            </a>
            <a ng-href="http://www.sda.ce.gov.br/">
                <img id="logo-secretaria" src="assets/images/logoSecretaria.svg" alt="" />
            </a>
        </div>
    </div>
</md-content>

