<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" id="main-usuario-avancado">

	<div layout-align="start stretch" class="application-width application-width-main-usuario-avancado filtros-usuario-avancado" layout="column" ng-cloak>
		<div id="main-usuario-avancado-div-tabs" ng-intro-options="IntroOptions" ng-intro-method="introStart" ng-intro-onbeforechange="introOnBeforeChange" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
			<md-tabs flex md-dynamic-height md-center-tabs="true">
				<md-tab ng-click="mostraInput = 'nome'" label="NOME"></md-tab>
				<md-tab ng-click="mostraInput = 'cpf'" label="CPF"></md-tab>
				<md-tab ng-click="mostraInput = 'territorio'" label="TERRITÓRIO"></md-tab>
				<md-tab ng-click="mostraInput = 'municipio'" label="MUNICÍPIO"></md-tab>
				<md-tab ng-click="mostraInput = 'distrito'" label="DISTRITO"></md-tab>
                <md-tab ng-click="mostraInput = 'comunidade'" label="COMUNIDADE"></md-tab>
				<md-tab ng-click="mostraInput = 'projeto'" label="PROJETO"></md-tab>
                <md-tab ng-click="mostraInput = 'ater'" label="ATER"></md-tab>
			</md-tabs>
		</div>
        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: nomeSelecionado, nome: nomeSelecionado, titulo: 'Nome', tipo: 'nome', objeto: nomeSelecionado})" name="nomeForm" ng-show="mostraInput == 'nome'" layout="column">
            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nome" flex type="text" class="input-filtro" ng-model="nomeSelecionado" placeholder="Buscar por Nome">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="nomeForm.nome.$error" ng-if="nomeForm.nome.$touched && nomeForm.nome.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um nome para adicionar esse filtro.</div>
            </div>
        </form>
        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: cpfSelecionado, nome: cpfSelecionado, titulo: 'CPF', tipo: 'cpf', objeto: cpfSelecionado})" name="cpfForm" ng-show="mostraInput == 'cpf'" layout="column">
            <div layout="row" layout-align="start center">
                <input id="buscarCpf" name="cpf" flex type="text" class="input-filtro" ng-model="cpfSelecionado" cpf-mask placeholder="Buscar por CPF">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="cpfForm.cpf.$error" ng-if="cpfForm.cpf.$touched && cpfForm.cpf.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um CPF para adicionar esse filtro.</div>
            </div>
        </form>
        <form ng-show="mostraInput == 'territorio'" layout="column" name="formTerritorio" ng-submit="adicioarFiltroChip({id: territorioSelecionado.id, nome: territorioSelecionado.nome, titulo: 'Território', tipo: 'territorio'})">
            <div layout="row" layout-align="start center" id="main-usuario-avancado-tabs-tab">
                <md-autocomplete id="regiao" flex required
                                 md-input-name="autoCompleteTerritorio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="territorioSelecionado"
                                 md-search-text="territorio"
                                 md-items="item in buscarAutoCompletePorFiltro(territorio, 'api/territorio/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Território">
                    <md-item-template>
                        <span md-highlight-text="territorio">{{item.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="formTerritorio.autoCompleteTerritorio.$error" ng-if="formTerritorio.autoCompleteTerritorio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um território.</div>
                <div ng-message="md-require-match">Por favor, escolha um território existente.</div>
            </div>
        </form>
        <form ng-show="mostraInput == 'municipio'" layout="column" name="formMunicipio" ng-submit="adicioarFiltroChip({id: municipioSelecionado.id, nome: municipioSelecionado.nome, titulo: 'Município', tipo: 'municipio'})">
            <div layout="row" layout-align="start center" id="main-usuario-avancado-tabs-tab">
                <md-autocomplete id="municipio" flex required
                                 md-input-name="autoCompleteMunicipio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="municipioSelecionado"
                                 md-search-text="municipio"
                                 md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/',territoriosBusca)"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Município">
                    <md-item-template>
                        <span md-highlight-text="municipio">{{item.nome | capitalize}}, {{item.territorio.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="formMunicipio.autoCompleteMunicipio.$error" ng-if="formMunicipio.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um município.</div>
                <div ng-message="md-require-match">Por favor, escolha um município existente.</div>
            </div>
        </form>
        <form ng-show="mostraInput == 'distrito'" layout="column" name="formDistrito" ng-submit="adicioarFiltroChip({id: distritoSelecionado.id, nome: distritoSelecionado.nome, titulo: 'Distrito', tipo: 'distrito'})">
            <div layout="row" layout-align="start center" id="main-usuario-avancado-tabs-tab">
                <md-autocomplete id="distrito" flex required
                                 md-input-name="autoCompleteDistrito"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="distritoSelecionado"
                                 md-search-text="distrito"
                                 md-items="item in buscarAutoCompletePorFiltro(distrito, 'api/distrito/',municipioBusca)"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Distrito">
                    <md-item-template>
                        <span md-highlight-text="municipio">{{item.nome | capitalize}}, {{item.municipio.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="formDistrito.autoCompleteDistrito.$error" ng-if="formDistrito.autoCompleteDistrito.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um distrito.</div>
                <div ng-message="md-require-match">Por favor, escolha um distrito existente.</div>
            </div>
        </form>
        <form ng-show="mostraInput == 'comunidade'" layout="column" name="formComunidade" ng-submit="adicioarFiltroChip({id: comunidadeSelecionada.id, nome: comunidadeSelecionada.nome, titulo: 'Comunidade', tipo: 'comunidade'})">
            <div layout="row" layout-align="start center" id="main-usuario-avancado-tabs-tab">
                <md-autocomplete id="comunidade" flex required
                                 md-input-name="autoCompleteComunidade"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="comunidadeSelecionada"
                                 md-search-text="comunidade"
                                 md-items="item in buscarAutoCompletePorFiltro(comunidade, 'api/comunidade/',distritoBusca)"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Comunidade">
                    <md-item-template>
                        <span md-highlight-text="municipio">{{item.nome | capitalize}}, {{item.distrito.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="formDistrito.autoCompleteDistrito.$error" ng-if="formDistrito.autoCompleteDistrito.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um distrito.</div>
                <div ng-message="md-require-match">Por favor, escolha um distrito existente.</div>
            </div>
        </form>
        <form ng-show="mostraInput == 'projeto'" layout="column" name="formProjeto" ng-submit="adicioarFiltroChip({id: projetoSelecionado.id, nome: projetoSelecionado.nome, titulo: 'Projeto', tipo: 'projeto',abreviacao: projetoSelecionado.abreviacao })">
            <div layout="row" layout-align="start center" id="main-usuario-avancado-tabs-tab">
                <md-autocomplete id="projeto" flex required
                                 md-input-name="autoCompleteProjeto"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="projetoSelecionado"
                                 md-search-text="projeto"
                                 md-items="item in buscarAutoCompletePorFiltro(projeto, 'api/projeto/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Projeto">
                    <md-item-template>
                        <span md-highlight-text="projeto">{{item.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="formProjeto.autoCompleteProjeto.$error" ng-if="formProjeto.autoCompleteProjeto.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um projeto.</div>
                <div ng-message="md-require-match">Por favor, escolha um projeto existente.</div>
            </div>
        </form>
        <form ng-show="mostraInput == 'ater'" layout="column" name="formAter" ng-submit="adicioarFiltroChip({id: aterSelecionado.id, nome: aterSelecionado.nome, titulo: 'ATER', tipo: 'tipoATER'})">
            <div layout="row" layout-align="start center" id="main-usuario-avancado-tabs-tab">
                <md-autocomplete id="ater" flex required
                                 md-input-name="autoCompleteAter"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="aterSelecionado"
                                 md-search-text="ater"
                                 md-items="item in buscarAutoCompletePorFiltro(ater, 'api/tipoater/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por ATER">
                    <md-item-template>
                        <span md-highlight-text="projeto">{{item.nome | capitalize}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="formAter.autoCompleteAter.$error" ng-if="formAter.autoCompleteAter.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um ATER.</div>
                <div ng-message="md-require-match">Por favor, escolha um ATER existente.</div>
            </div>
        </form>
		<div id="main-usuario-avancado-div-chips" layout-align="end end" layout="row">
			<md-chips md-on-remove="novaBusca()" flex ng-model="filtros" readonly="isReadOnly">
				<md-chip-template>
					<span>{{($chip.tipo == 'projeto') ? $chip.abreviacao : $chip.nome | capitalize}}</span>
					<span><strong><em>({{$chip.titulo}})</em></strong></span>
				</md-chip-template>
			</md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>

		</div>

        <div id="main-usuario-avancado-div" >
            <div layout="row" layout-align="space-between center">
                <div id="main-usuario-avancado-div-switch-mapa" layout="row" layout-align="start center">
                    <span>Lista</span>
                    <md-switch id="main-usuario-avancado-switch" ng-model="showMap" class="md-primary" ng-change="onChangeSwitch(showMap)">
                    Mapa
                    </md-switch>
                </div>
                <div  id="main-usuario-avancado-div-button-mapa" ng-show="showMap" layout="row" layout-align="start center" style="border-right: 1px solid #CDCDCD; border-left: 1px solid #CDCDCD;">
                    <md-button ng-class="{'main-usuario-avancado-botao-map-selecionado': mostraMapa === 'leaflet'}" ng-click="mostraMapa = 'leaflet'; atualizarImagensMapa(100);" class="md-icon-button material-icons main-usuario-avancado-botao-map">map
                        <md-tooltip md-direction="top">
                          Mapa
                        </md-tooltip>
                    </md-button>
                    <md-button ng-class="{'main-usuario-avancado-botao-map-selecionado': mostraMapa === 'googlemaps'}" ng-click="inicializarGoogleMaps()" class="md-icon-button material-icons main-usuario-avancado-botao-map">streetview
                        <md-tooltip md-direction="top">
                          Google Street View
                        </md-tooltip>
                    </md-button>
                </div>
                <div layout="row" ng-hide="showMap">
                    <div id="main-usuario-avancado-div-sort" layout="row">
                    <div id="main-usuario-avancado-div-sorta">
                        <md-icon ng-class="(ordem === 'asc') ? 'main-usuario-avancado-icon-sort-selecionado' :  'main-usuario-avancado-icon-sort'" ng-click=" setOrdenacao('asc')" ng-show="agricultores.length > 0" md-svg-src="assets/images/sortA.svg">
                            <md-tooltip md-direction="top">
                                Ordem Ascendente
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div id="main-usuario-avancado-div-sortz">
                        <md-icon ng-class="(ordem === 'desc') ? 'main-usuario-avancado-icon-sort-selecionado' :  'main-usuario-avancado-icon-sort'" ng-click="setOrdenacao('desc')" ng-click="setOrdenacao('desc')" ng-show="agricultores.length > 0" md-svg-src="assets/images/sortZ.svg">
                            <md-tooltip md-direction="top">
                                Ordem Descendente
                            </md-tooltip>
                        </md-icon>
                    </div>
                    </div>
                    <div id="main-usuario-avancado-div-paginacao">
                        <span ng-if="!dispMovel">Carregar: </span> <a href="" class="{{paginacao=='10' ? 'currentLink' : ''}}" ng-click="setPaginacao(10)">10</a> | <a href="" class="{{paginacao=='30' ? 'currentLink' : ''}}" ng-click="setPaginacao(30)">30</a> | <a href="" class="{{paginacao=='60' ? 'currentLink' : ''}}" ng-click="setPaginacao(60)">60</a>
                    </div>
                </div>
            </div>
            <div ng-show="agricultores.length > 0 && !showMap" layout="row" layout-align="end center" id="main-usuario-avancado-div-total">
                <span id="main-usuario-avancado-span-total" layout="row">
                    Exibindo {{mostrando}} de {{totalAgricultores}}
                    <md-progress-circular id="main-usuario-avancado-progress-circular" ng-hide="totalAgricultores > 0" ng-disabled="totalAgricultores > 0" class="md-hue-2" md-diameter="16px"></md-progress-circular>
                </span>
            </div>
            <div ng-hide="showMap" flex layout="column">
                <div ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                    <img id="main-usuario-icon" alt="" src="assets/images/buscasemresultado.svg">
                    <p id="main-usuario-texto-sem-resultado">Nenhum resultado encontrado para sua busca.</p>
                    <p id="main-usuario-texto-sem-resultado2">Tente usar os filtros para obter melhor resultado.</p>
                </div>
                <md-list ng-show="agricultores.length > 0" flex md-whiteframe="2" id="main-usuario-avancado-list" layout="column" layout-align="center">
                    <md-list-item id="main-usuario-avancado-list-resultado" ng-click="selecionaAgricultor(item)" class="md-3-line" ng-repeat="item in agricultores">
    <!--
                        <img style="margin-right: 0px;" ng-src="data: image/png; base64, {{item.pessoa.foto}}" class="md-avatar" alt="{{item.pessoa.nome}}" show-initials="{{item.pessoa.nome}},40,24"/>
                        <div style="margin-left: 16px;" class="md-list-item-text" layout="column">
     -->
                        <avatar image="{{item.pessoaFisica.pessoa.foto}}" name="{{item.pessoaFisica.pessoa.nome}}" size="40px" font-size="24px"></avatar>
                        <div style="margin-left: 16px;" class="md-list-item-text" layout="column">
                        <!-- <div class="md-list-item-text" layout="column"> -->
                            <h3>{{item.pessoaFisica.pessoa.nome | capitalize}}</h3>
                            <h4>CPF: {{item.pessoaFisica.cpf | cpf}}</h4>
                            <p>{{item.pessoaFisica.pessoa.distrito.nome | capitalize }}, {{item.pessoaFisica.pessoa.municipio.nome | capitalize }} - {{item.pessoaFisica.pessoa.municipio.territorio.nome | capitalize}}</p>
                        </div>
                        <div ng-show="{{(item.possuiElemento && item.possuiPoligono == false)}}" id="main-usuario-avancado-div-pin">
                            <img ng-click="selecionaAgricultor(item)" src="assets/images/pinBusca.svg"  alt="">
                                <md-tooltip md-direction="bottom">
                                  Coordenada
                                </md-tooltip>
                            </img>
                        </div>
                        <div ng-show="{{(item.possuiPoligono)}}" id="main-usuario-avancado-div-pin">
                            <img id="poligono" ng-click="selecionaAgricultor(item)" src="assets/images/pinPoligono.svg"  alt="">
                                <md-tooltip md-direction="bottom">
                                  Coordenada e Polígono
                                </md-tooltip>
                            </img>
                        </div>
                        <md-divider ></md-divider>
                    </md-list-item>
                </md-list>
                <div flex layout="row" layout-align="center center">
                    <md-button  ng-show="mostraBotao" ng-click="carregaMais()">Ver mais</md-button>
                </div>
            </div>

            <leaflet id="ua-mapa-leaflet" ng-show="mostraMapa == 'leaflet' && showMap" width="100%" height="400px" bounds="bounds" markers="markers" event-broadcast="events" lf-center="center" layers="layers" paths="paths">
                <div layout="row" layout-align="center center" ng-show="mostraMapa == 'leaflet' && showMap && showLoading" class="bg-loaging-mapa">
                    <div class="gif-loaging-pc">
                        <img src="assets/images/logoParcial.svg">

                        <span class="texto-loaging-mapa" layout="row">
                            <md-progress-circular ng-hide="!(mostraMapa == 'leaflet' && showMap && showLoading)" ng-disabled="!(mostraMapa == 'leaflet' && showMap && showLoading)" class="md-hue-2 progress-circular-loaging-mapa" md-diameter="16px"></md-progress-circular>
                            Carregando
                        </span>
                    </div>
                </div>

            </leaflet>
            <div ng-show="mostraMapa == 'googlemaps' && showMap" id="ua-mapa-google"></div>
        </div>
    </div>
</div>
