<meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<md-dialog class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Ver ateste
        <span flex></span>
        <md-button class="md-icon-button close-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-content flex class="dialog-detalhes-tarefa" md-theme="themeUA">
        <md-tabs md-border-bottom md-dynamic-height>
            <md-tab label="ATESTE">
                <div class="tab">
                    <div layout="row" layout-wrap class="box-external">
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Plano Anual:&nbsp</b>{{tarefa.planoTrimestral.planoTrabalhoAnual.codigo}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Plano Trimestral:&nbsp</b>{{planoTrimestral}}
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Municípios(s):&nbsp</b>
                            <div ng-repeat="item in municipiosParticipante">
                                {{item | capitalize}}{{$last? "":" | "}}&nbsp;
                            </div>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Comunidade(s):&nbsp</b>
                            <div ng-repeat="item in tarefa.comunidadeParticipante">
                                {{item.comunidade.nome | capitalize}} ({{item.comunidade.municipio.nome | capitalize}}){{$last? "":" | "}}&nbsp;
                            </div>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Localidade(s):&nbsp</b>
                            <div ng-repeat="item in localidadesParticipante">
                                {{item.localidade | capitalize}} ({{item.comunidade | capitalize}}, {{item.municipio | capitalize}}){{$last? "":" | "}}&nbsp;
                            </div>
                        </div>
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Data do Realização:&nbsp</b>{{tarefa.dataRealizacao | date: 'dd/MM/yyyy'}}
                        </div>
                        <div flex="25" class="box-internal" layout="row" layout-align="start center">
                            <b>Hora Início:&nbsp</b>{{tarefa.horaRealizacao | date: 'HH:mm'}}
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Duração:&nbsp</b>{{tarefa.duracao | longToHour}}
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Local de Realização:&nbsp</b>{{tarefa.comunidade.nome | capitalize}}, {{tarefa.municipio.nome | capitalize}}, {{tarefa.municipio.uf.sigla}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Latitude:&nbsp</b>{{tarefa.coordenada.latitude}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Longitude:&nbsp</b>{{tarefa.coordenada.longitude}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>ATC Executora:&nbsp</b>{{tarefa.usuario.usuarioAvancado.empresa.pessoaJuridica.nomeFantasia}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Técnico(a) Responsável:&nbsp</b>{{tarefa.usuario.usuarioAvancado.pessoaFisica.pessoa.nome
                            | capitalize}}
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Atividade:&nbsp</b>{{tarefa.atividade.nome | capitalize}}
                        </div>
                        <div flex="{{tarefa.tipo != tarefaTipo.PA.id ? '50' : '100'}}" class="box-internal" layout="row" layout-align="start center">
                            <b>Tipo de Atividade:&nbsp</b>{{tarefaTipo[tarefa.tipo].desc}}
                        </div>
                        <div flex="50" ng-if="tarefa.tipo != tarefaTipo.PA.id" class="box-internal" layout="row" layout-align="start center">
                            <b>Abrangência:&nbsp</b>{{abrangenciaEnum[tarefa.abrangencia].desc}}
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Descrição:&nbsp</b>{{tarefa.descricao}}
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Encaminhamentos:&nbsp</b>{{tarefa.encaminhamento}}
                        </div>
                        <div flex="100" layout="column" ng-repeat="item in tarefaComplemento.tarefaTemas">
                            <div flex="100" layout="row">
                                <div flex="50" class="box-internal" layout="row" layout-align="start center">
                                    <b>Eixo Temático:&nbsp</b>{{item.tema.eixoTematico.nome | capitalize}}
                                </div>
                                <div flex="50" class="box-internal" layout="row" layout-align="start center">
                                    <b>Tema:&nbsp</b>{{item.tema.nome | capitalize}}
                                </div>
                            </div>
                            <div  ng-if="item.temaEspecificacoes.length > 0" flex="100" class="box-internal" layout="row" layout-align="start center">
                                <b>Especificação:&nbsp</b>
                                <div ng-repeat="item2 in item.temaEspecificacoes">
                                    {{item2.nome | capitalize}}{{$last? "":" | "}}&nbsp;
                                </div>
                            </div>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Participantes:&nbsp</b>{{tarefaComplemento.listaPresencaTarefa.length}}
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Nº de Mulheres:&nbsp</b>{{contadorFeminino}}
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Jovens:&nbsp</b>{{contadorJovens}}
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Agricultor(a) Atestante:&nbsp</b>{{tarefa.agricultor.pessoaFisica.pessoa.nome | capitalize}} | {{tarefa.agricultor.pessoaFisica.pessoa.comunidade.nome | capitalize}}
                        </div>
                        <div flex="100" class="box-internal" layout="column" layout-align="center start">
                            <b ng-show="!tarefa.naoAssina" style="margin-top: 10px;">Assinatura:</b>
                            <div ng-show="!tarefa.naoAssina" class="box-signature">
                                <md-progress-linear md-mode="indeterminate" ng-hide="!isLoadingSignature"></md-progress-linear>
                                <img class="signature" src="{{signature}}">
                            </div>
                            <div ng-show="tarefa.naoAssina">
                                <b>Assinatura:&nbsp</b>Agricultor(a) não assina
                            </div>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="LISTA DE PRESENÇA" ng-if="tarefaComplemento.listaPresencaTarefa.length > 0">
                <div class="tab">
                    <div layout="row" layout-wrap class="box-external">
                        <md-list class="lista-presenca" flex>
                            <md-list-item ng-repeat="item in tarefaComplemento.listaPresencaTarefa" flex>
                                <p>{{item.agricultor.pessoaFisica.pessoa.nome | capitalize}} - {{item.agricultor.pessoaFisica.cpf | cpf}} - {{item.agricultor.pessoaFisica.pessoa.comunidade.nome | capitalize}}, {{item.agricultor.pessoaFisica.pessoa.municipio.nome | capitalize}}  </p>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

            </md-tab>
        </md-tabs>
    </md-content>
</md-dialog>
