<meta charset="UTF-8">
<div flex layout="row">
    <div layout-align="center center" id="error-accessdenied" layout="row" ng-cloak>
        <div layout="column" layout-align="start center">
            <p class="error-accessdenied titulo">Opa!</p>
            <p class="error-accessdenied frase">Desculpe, mas você não está autorizado a visualizar essa pagina.</p>
            <div class="error-accessdenied">
                <a class="error-accessdenied botao" ui-sref="main-agricultor">Voltar para o inicio</a>
                </br>
                <a class="error-accessdenied botao" ng-click="back()">Voltar para página anterior</a>
            </div>
        </div>
        <div hide-xs layout="column" layout-align="end center" >
            <span id="error-accessdenied-span"></span>
            <img  class = "error-accessdenied agricultor" ng-src="assets/images/agricultorBoneco.png"/>
        </div>
    </div>
</div>

