<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Ativa&ccedil;&atilde;o</h1>

            <div class="alert alert-success" ng-show="success">
                <strong>Seu usu&aacute;rio foi ativado.</strong> <a class="alert-link" href="#/login"></a>.
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Seu usu&aacute;rio n&atilde;o p&ocirc;de ser ativado.</strong> Por favor, use o formul&aacute;rio de inscri&ccedil;&atilde;o para se inscrever.
            </div>

        </div>
    </div>
</div>
