<meta charset="UTF-8">
<md-card md-theme="themeAWhite">
    <header layout="row" layout-align="start center" class="md-toolbar-tools card-agricultor-dados-titulo">
        Dados Pessoais
	</header>
	<div id="card-agricultor-dados">
		<div ng-repeat="d in dadosAgricultor" layout="row">
			<p flex="40" id="card-agricultor-dados-texto">{{d.descricao}}</p>
			<p>{{d.dado}}</p>
		<div>
	</div>
</md-card>
