<md-dialog>
    <md-dialog-content>
        <div style="margin: 16px;" md-theme="themeUAWhite">
            <h1 class="md-subhead" >Você deseja abrir a página do(a) agricultor(a) {{agricultor.pessoaFisica.pessoa.nome | capitalize}}?</h1>
            <div layout="row" layout-align="end center" style="margin-top: 46px;">
                <md-button ng-click="cancel()">Não</md-button>
                <md-button class="md-raised md-primary" ng-click="abrirNovaTab()">Sim</md-button>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
