<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit" class="ater-atendimento" >
	<div class="application-width" layout="column" layout-align="center none" ng-cloak>
        <div ng-show="tecnicos.length > 0 || modoTutorial" layout="row" layout-align="end center" id="step1">
            <md-input-container flex=15 flex-xs="25" class="md-block" flex-gt-sm>
                <md-select md-on-close="getAtendimentosComFiltro()" ng-model="anoSelecionado" placeholder="Ano" aria-label="ano">
                    <md-option ng-value="null">Ano</md-option>
                    <md-option ng-value="ano" ng-repeat="ano in anos">{{ ano }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex=15 flex-xs="25" class="md-block" flex-gt-sm>
                <md-select md-on-close="getAtendimentosComFiltro()" ng-model="mesSelecionado" aria-label="mes" placeholder="Mês">
                    <md-option ng-value="null">Mês</md-option>
                    <md-option ng-value="mes.id" ng-repeat="mes in meses">{{ mes.nome }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex=15 flex-xs="25" class="md-block" flex-gt-sm>
                <md-select md-on-close="getAtendimentosComFiltro()"  ng-model="tecnicoSelecionado" aria-label="Tecnico" placeholder="Técnico">
                    <md-option ng-value="null">Técnico</md-option>
                    <md-option ng-value="tecnico" ng-repeat="tecnico in tecnicos">{{tecnico | capitalize}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex=15 flex-xs="25" class="md-block" flex-gt-sm>
                <md-select md-on-close="getAtendimentosComFiltro()"  ng-model="atividadeSelecionada" aria-label="atividade" placeholder="Atividade">
                    <md-option ng-value="null">Atividade</md-option>
                    <md-option ng-value="atividade" ng-repeat="atividade in atividades">{{atividade}}</md-option>
                </md-select>
            </md-input-container>
        </div>
		<md-card flex ng-show="tecnicos.length > 0 || modoTutorial" ng-hide="msgFiltro">
			<md-list  class="ater-accordion md-dense">
                <md-list-item class="md-2-line" ng-repeat-start="d in atendimentos" >
                    <md-button class="botao" flex ng-click="expansaoAtendimento($index); getIndicadores(d.id, $index)" >
                        <div layout="row" layout-fill layout-align="center center">
                            <div class="md-list-item-text" layout="column">
                                <h3>Atividade: {{d.atividadeEspecifica.nome | capitalize}}</h3>
                                <p>Nome do Técnico: {{d.tecnico.pessoaFisica.pessoa.nome | capitalize}}</p>
                                <p>Data de Atendimento: {{d.dataAtendimento | date : 'dd/MM/yyyy' }}</p>
                            </div>
                            <md-icon ng-class="{'expandir': exibir[$index]}" class="material-icons">expand_less</md-icon>
                        </div>
                    </md-button>
                </md-list-item>
				<md-list-item ng-repeat-end ng-class="exibir[$index] ? 'expandir' : 'encolher' ">
					<div flex>
						<div class="expandir" layout="column">
							<span >Linha de Ação: {{d.linhaAcao.nome | capitalize}}</span>
							<span >Programa: {{d.programa.nome | capitalize}}</span>
							<span >Atividade Geral: {{d.atividadeGeral.nome | capitalize}}</span>
						</div>
                        <div>
							<md-card layout="row" class="card" flex>
								<md-list flex>
									<div layout="row" layout-padding layout-align="space-between center" class="titulo">
										<span class="indicador" flex="50">Indicadores</span>
										<span class="unidade" flex="20">Unidades</span>
										<span class="quantidade" flex="30">Quantidade Executada</span>
									</div>
									<md-list-item ng-repeat="i in indicadores[d.id]">
											<span class="indicador" flex="50">{{i.indicador.nome}}</span>
											<span class="unidade" flex="20">{{i.unidade.sigla | lowercase}}</span>
											<span class="quantidade" flex="30">{{i.quantidade}}</span>
									</md-list-item>
                                    <p class="indicadores" flex ng-show="mensagemErro[$index]">Não informado</p>
								</md-list>
							</md-card>
                        </div>
					</div>
				</md-list-item >
			</md-list>
		</md-card>
        <div class="resultado" layout="column" layout-align="center center" ng-show="msgFiltro">
            <p>Nenhum resultado encontrado para sua busca.</p>
            <p>Tente usar os filtros para obter melhor resultado.</p>
        </div>
        <div class="mensagem" ng-hide="tecnicos.length > 0 || modoTutorial" layout="column" layout-align="center center">
            <i class="material-icons">people</i>
            <p >Você não possui histórico de atendimentos.</p>
        </div>
    </div>
</div>


