<meta charset="UTF-8">
<md-toast class="toast" ng-class="tipo?'toast-'+tipo:''" >
	<div class="md-toast-content">
		<md-icon md-font-set="material-icons" ng-if="tipo==='novamsg'">notifications none</md-icon>
		<md-icon md-font-set="material-icons" ng-if="tipo==='sucesso'">done</md-icon>
		<md-icon md-font-set="material-icons" ng-if="tipo==='alerta'">report</md-icon>
		<md-icon md-font-set="material-icons" ng-if="tipo==='erro'">close</md-icon>
        <md-icon md-font-set="material-icons" ng-if="tipo==='info'">info</md-icon>
		<div class="text-2-lines" layout="column">
			<span  ng-if="tipo==='novamsg'">Nova Mensagem!</span>
			<span  ng-if="tipo==='sucesso'">Sucesso!</span>
			<span  ng-if="tipo==='alerta'">Atenção!</span>
			<span  ng-if="tipo==='erro'">Erro!</span>
            <span  ng-if="tipo==='info'">Informação!</span>
			<span>{{msg}}</span>
		</div>
	</div>
</md-toast>
