<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" id="cisternas">
    <div layout="column" layout-align="start stretch" class="application-width" ng-cloak id="layout-programas" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div>
            <p id="sinopse">No intuito de minimizar os danos sociais causados pela falta de recursos hídricos na região do semiárido a SDA implanta o Programa de Cisternas por meio de parcerias com o Ministério do Desenvolvimento Social e Combate à Fome e Ministério da Integração Nacional, no âmbito do Programa Água para Todos. As Iniciativas visam melhorar o acesso a água para a população de baixa renda, fortalecendo a convivência com o semiárido e garantido melhor qualidade de vida. <a href="" ng-click="showDialogSobre($event)">Ver mais...</a></p>
            <div ng-show="dispMovel" id="step2b">
                <p><a target="_blank" href="assets/pdf/cisternas-placas.pdf">Baixar manual da cisternas placas</a></p>
            </div>
        </div>
        <div flex layout="row" layout-align="start start">
            <div id="step2a">
                <a ng-hide="dispMovel" target="_blank" href="assets/pdf/cisternas-placas.pdf">
                    <img id="manual-placas" ng-src="assets/images/cisternas-placas.png">
                    <md-tooltip md-direction="bottom">
                        Visualizar ou baixar manual da cisternas placas
                    </md-tooltip>
                </a>
            </div>
        </div>
        <md-card id="informacoes">
        	<md-tabs  md-border-bottom md-dynamic-height >
		      <md-tab label="Cisternas de Placa">
		        <md-content class="md-padding  tab-content" ng-show="cisternaPlaca != null">
		          <p><b>Tipo: Cisternas de Placa (16.000 Litros)</b></p>
		          Número: {{cisternaPlaca.numero}}<br/>
		          Ano da implantação: {{cisternaPlaca.anoImplantacao}}<br/>
		          Empresa/organização responsável: {{cisternaPlaca.empresa.nome}}<br/>
		          Coordenadas geográficas: <span ng-show="cisternaPlaca.elemento.coordenada.latitude!=null">Lat {{cisternaPlaca.elemento.coordenada.latitude}} Long {{cisternaPlaca.elemento.coordenada.longitude}}<br/></span>
		        </md-content>
		        <md-content class="md-padding tab-content" ng-show="cisternaPlaca == null">
		          Você não possui esta tecnologia<br/>
		          Para maiores informações, consulte a SDA<br/>
		          <a href="http://www.sda.ce.gov.br/" target='_blank'>www.sda.ce.gov.br</a>
		        </md-content>
		      </md-tab>
		      <md-tab label="Cisternas de Polietileno" >
		        <md-content class="md-padding  tab-content" ng-show="cisternaPolietileno != null">
		          <p><b>Tipo: Cisternas de Polietileno (16.000 Litros)</b></p>
		          Número: {{cisternaPolietileno.numero}}<br/>
		          Ano da implantação: {{cisternaPolietileno.anoImplantacao}}<br/>
		          Empresa/organização responsável: {{cisternaPolietileno.empresa.nome}}<br/>
		          Coordenadas geográficas: <span ng-show="cisternaPolietileno.elemento.coordenada.latitude!=null">Lat {{cisternaPolietileno.elemento.coordenada.latitude}} Long {{cisternaPolietileno.elemento.coordenada.longitude}}<br/></span>
		        </md-content>
		        <md-content class="md-padding tab-content" ng-show="cisternaPolietileno == null">
		          Você não possui esta tecnologia<br/>
		          Para maiores informações, consulte a SDA<br/>
		          <a href="http://www.sda.ce.gov.br/" target='_blank'>www.sda.ce.gov.br</a>
		        </md-content>
		      </md-tab>
		    </md-tabs>
        </md-card>

        <div id="step4" ng-show="cisternaPlaca != null || cisternaPolietileno != null" flex ui-view="mapacisternas" ></div>

    </div>
</div>
