<meta charset="UTF-8">
<md-dialog flex="60" class="cadastrar-comunidades">

    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{dialogTitle}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>

    <md-dialog-content>
        <form class="content" md-theme="themeButtonUA" ng-submit="comunidadesForm.$valid && salvar()" name="comunidadesForm" novalidate>
            <div layout="column" layout-xs="column">
                <fieldset ng-disabled="!podeEditar()">
                    <div flex layout="row" layout-xs="column" layout-align="center center">
                        <md-input-container flex="50" class="md-block" style="margin-top: 36px">
                            <label>Comunidade</label>
                            <input ng-model="comunidade.nome" name="nome" maxlength="120" ng-required="true">
                            <div ng-messages="comunidadesForm.nome.$error">
                                <div ng-message="required">Campo Comunidade é obrigatório</div>
                            </div>
                        </md-input-container>

                        <md-select flex="50" ng-model="comunidade.tipo" placeholder="Tipo de Comunidade" ng-required="true">
                            <md-option ng-repeat="item in tiposDeComunidade" ng-value="item.id" ng-required="true">{{item.desc}}</md-option>
                        </md-select>
                    </div>

                    <div flex layout="row" layout-xs="column">
                        <md-autocomplete ng-disabled="comunidade.localidades.length >= 1" ng-click="verificaBloqueio(comunidade.localidades.length >= 1,'município')" flex="50" flex-xs="100" ng-required="true"
                                         md-input-name="autoCompleteMunicipio"
                                         md-min-length="3"
                                         md-no-cache="true"
                                         md-selected-item="comunidade.municipio"
                                         md-search-text="municipio"
                                         md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                                         md-item-text="item.nome"
                                         md-require-match
                                         md-floating-label="Município">

                            <md-item-template>
                                <span md-highlight-text="municipio">{{item.nome}}</span>
                            </md-item-template>

                            <md-not-found>
                                Nenhum registro encontrado.
                            </md-not-found>

                            <div ng-messages="comunidadesForm.autoCompleteMunicipio.$error">
                                <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                            </div>
                        </md-autocomplete>

                        <md-autocomplete  ng-disabled="comunidade.localidades.length >= 1" ng-click="verificaBloqueio(comunidade.localidades.length >= 1,'distrito')" class="autocomplete" flex="50" flex-xs="100" ng-required="true"
                                          md-input-name="autoCompleteDistrito"
                                          md-min-length="3"
                                          md-no-cache="true"
                                          md-selected-item="comunidade.distrito"
                                          md-search-text="distrito"
                                          md-items="item in buscarAutoCompletePorFiltro(distrito, 'api/distrito/',comunidade.municipio)"
                                          md-item-text="item.nome"
                                          md-require-match
                                          md-floating-label="Distrito">

                            <md-item-template>
                                <span md-highlight-text="distrito">{{item.nome}}</span>
                            </md-item-template>

                            <md-not-found>
                                Nenhum registro encontrado.
                            </md-not-found>

                            <div ng-messages="comunidadesForm.autoCompleteDistrito.$error">
                                <div ng-message="md-require-match">Por favor selecione um registro existente. Verifique a UF informada.</div>
                            </div>
                        </md-autocomplete>
                    </div>

                    <md-chips md-on-remove="" flex ng-model="comunidade.localidades"  md-autocomplete-snap md-require-match="true">
                        <md-autocomplete
                            ng-disabled="!comunidade.municipio || !comunidade.distrito"
                            ng-click="validatingMunicipioAndDistritoFields()"
                            md-selected-item="selectedItem"
                            md-search-text="localidade"
                            md-items="item in buscarAutoCompletePorFiltro(localidade, 'api/localidade/distrito/',comunidade.distrito)"
                            md-item-text="item.nome"
                            md-min-length="3"
                            placeholder="Localidades*">
                            <span md-highlight-text="localidade">{{item.nome}}</span>
                        </md-autocomplete>

                        <md-chip-template>
                            <span>{{$chip.nome | capitalize}}</span>
                        </md-chip-template>
                    </md-chips>
                </fieldset>
                <div layout="row" layout-align="end center">
                    <md-button class="md-primary" ng-click="cancel()">Cancelar</md-button>
                    <md-button ng-show="podeEditar()" ng-disabled="comunidadesForm.$invalid || comunidade.localidades.length == 0" class="md-primary" type="submit">Salvar</md-button>
                </div>
            </div>

        </form>
    </md-dialog-content>
</md-dialog>



