<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="SOBRE">
                <div id="tabs">
                    <p>A distribuição de sementes e mudas, através do Projeto Hora de Plantar, pela Secretaria do Desenvolvimento Agrário e a Empresa de Assistência Técnica e Extensão Rural e o consequente plantio pelos agricultores familiares, tem contribuído, ao longo de 29 anos, com incrementos significativos da produtividade agrícola e do aumento de suas rendas e garantia de segurança alimentar de inúmeros cearenses. </p>

                    <p>Além das sementes, o Projeto Hora de Plantar distribui também mudas de cajueiro, mudas de macaúba, manivas de mandioca, raquetes de palma forrageira e essências florestais nativas e exóticas, em consonância com o Programa ABC - Agricultura de Baixo Carbono.</p>

                    <p>O Projeto Hora de Plantar tornou possível a inclusão de agricultores (as) familiares como produtores profissionais de sementes, destacando-se as culturas de feijão caupi, milho variedade, mamona, manivas sementes, mudas enxertadas de cajueiro anão precoce e de raquetes de palma forrageira.</p>

                    <p>O “Hora de Plantar” é coordenado pela Secretaria do Desenvolvimento Agrário - SDA e tem vários parceiros envolvidos no processo, destacando-se a Empresa de Assistência Técnica e Extensão Rural do Ceará - EMATERCE, Instituto Agropolos do Ceará, Secretarias de Agriculturas Municipais, Federação dos Trabalhadores e Trabalhadoras Rurais Estado do Ceará - FETRAECE e seus sindicatos.</p>

                    <p>A distribuição direta e os estímulos indiretos da utilização de sementes e mudas de alta qualidade e produtividade, recomendadas por instituições de pesquisa, a exemplo da EMBRAPA, estão contribuindo para que o aumento na produção de milho, sorgo forrageiro, feijão caupi, castanha de caju e seus subprodutos, mandioca, palma forrageira mais adaptada ao nosso clima semiárido, sejam menos dependentes das precipitações pluviométricas. É fato comprovado que nos anos de pluviosidade normal o Estado consegue significativas produções agrícolas, suficientes para atender parte do consumo local. Com a distribuição de mudas de espécies florestais nativas e exóticas a SDA espera estar contribuindo para a recomposição vegetal principalmente em áreas sujeitas à desertificação.</p>
                </div>
            </md-tab>
            <md-tab label="OBJETIVOS">
                <div id="tabs">
                    <p><b>Objetivo Geral</b></p>
                    <p>Fortalecer a agricultura familiar, utilizando sementes e mudas de elevado potencial genético que propiciem o aumento da produtividade das culturas e melhorem o nível de renda dos (as) beneficiários (as).</p>
                    <p><b>Objetivos Específicos</b></p>
                    <ul>
                        <li>Substituir o plantio de grãos por sementes e mudas de alta qualidade;</li>
                        <li>Incentivar os beneficiários do projeto a adotarem Práticas Agrícolas de Convivência com o Semiárido;</li>
                        <li>Contribuir para a implantação de áreas de reserva alimentar estratégica para os rebanhos bovinos, ovinos e caprinos, por intermédio do plantio de sorgo forrageiro, mandioca e palma forrageira;</li>
                        <li>Apoiar e incentivar o florestamento e reflorestamento através da distribuição de espécies vegetais nativas e exóticas.</li>
                    </ul>
                </div>
            </md-tab>
            <md-tab label="PÚBLICO ALVO">
                <div id="tabs">
                    <p>O “Hora de Plantar” tem como público-alvo o (a) agricultor (a) familiar (proprietário, parceiro, posseiro, meeiro ou arrendatário), o qual recebe sementes e/ou mudas. No caso da mamona o agricultor pode receber sementes para o plantio de até 10 hectares, no caso do milho híbrido e do cajueiro anão precoce até 5 hectares, nos demais casos o agricultor pode receber sementes e mudas para o plantio de até 2 hectares.</p>
                    <p><b>Critérios adotados para a seleção dos beneficiários</b></p>
                    <ul>
                        <li>É obrigatório um “atestado” da ADAGRI declarando que as raquetes de palma forrageira estão livres da Cochonilha do Carmim;</li>
                        <li>Somente os (as) agricultores (as) cadastrados (as) e adimplentes com o projeto poderão continuar como beneficiários do Projeto;</li>
                        <li>A EMATERCE poderá inscrever novos produtores, no caso de sobras de sementes e mudas;</li>
                        <li>Os (as) agricultores (as) familiares, obrigatoriamente assinarão um Termo de Responsabilidade (anexo) comprometendo-se a utilizar as sementes e mudas recebidas exclusivamente em suas áreas de plantio;</li>
                        <li>Os (as) agricultores (as) que estiverem constando no sistema como inadimplentes deverão apresentar o comprovante de pagamento para fazerem jus ao recebimento de sementes e mudas. Caso não tenham pago, será impresso o Boletim de Movimentação - BM de código de barra, para o pagamento nas agências dos Correios, sendo necessário a EMATERCE recolher a cópia do documento de confirmação do pagamento;</li>
                        <li>Em caso de perda do documento de pagamento, fica o técnico da EMATERCE responsável pela confirmação do pagamento;</li>
                        <li>O Produtor deverá dispor da Inscrição no Projeto, RG e CPF;</li>
                    </ul>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
	<md-dialog-actions layout="row" layout-align="space-between center">
		<md-button target="_blank" href="http://www.sda.ce.gov.br/index.php/desenvolvimento-da-agricultura-familiar" ng-click="">VER MAIS EM SDA</md-button>
		<md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
