<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="relatorio-cadastro">
    <div flex="60" layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <form flex ng-submit="carregaRelatorio()" name="filtrosRelatorioForm" md-theme="themeUAWhite" layout-fill>
            <md-content flex md-theme="themeUA" class="conteudo-filtro">
                <div layout="row">
                    <div  flex="50"  layout-gt-xs="row" layout-wrap layout-fill>
                        <md-input-container class="md-block" flex>
                            <label>Parceira de ATER</label>
                            <md-select ng-if="parceiraATC == null" name="empresa" ng-model="filtro.parceira" multiple="true" ng-required="true">
                                <md-option ng-repeat="item in empresaList" ng-value="item.id" >{{item.pessoaJuridica.nomeFantasia}}</md-option>
                            </md-select>
                            <div ng-if="parceiraATC == null" ng-messages="filtrosRelatorioForm.empresa.$error">
                                <div ng-message="required">Opa! O campo Perceira de ATER é obrigatorio</div>
                            </div>
                            <input ng-if="parceiraATC != null" name="parceiraATC" ng-model="parceiraATC" maxlength="10" ng-disabled="true">
                        </md-input-container>
                    </div>
                    <div flex="50" layout="column" style="padding-left: 15px; padding-right: 15px;">
                        <p style="font-size: 14px; opacity: 0.5">Exibir*</p>
                        <md-checkbox ng-model="filtro.equipe">Equipe</md-checkbox>
                        <md-checkbox ng-model="filtro.area">Área de Atuação</md-checkbox>
                        <md-checkbox ng-model="filtro.metas">Metas</md-checkbox>
                        <md-checkbox ng-model="filtro.planos">Planos Trimestrais</md-checkbox>
                    </div>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="limparFiltros()">Limpar Filtros</md-button>
                    <md-button class="md-raised md-accent" type="submit">Gerar Relatório</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>
