<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout-align="center center" class="application-width" layout="column" ng-cloak id="meus-programas" ng-intro-options="introOptions" ng-intro-onbeforechange="introOnBeforeChange" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div ng-show="agricultorProjetos.length !== 0" layout="column" layout-align="start center">
            <div layout="row" layout-align="end center" flex id="opcoes">
                <div layout="row" layout-align="end center" id="step2">
                    Lista
                    <md-switch class="md-primary" ng-model="switch" aria-label="">Linha do Tempo</md-switch>
                </div>
            </div>
            <div id="steps13" flex layout="column" layout-align="start center" layout-fill>
                <md-card id="card" ng-hide="switch">
                    <header layout="row" layout-align="start center" class="md-toolbar-tools" >
                        Meus Programas e Projetos
                    </header>
                    <md-list class="md-dense">
                        <md-list-item class="md-2-line" ng-repeat="agricultorProjeto in agricultorProjetos" ng-click="listSelecao(agricultorProjeto.codigoSda)" >
                            <div class="projeto-imagem p{{agricultorProjeto.codigoSda}}"></div>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{agricultorProjeto.nome | capitalize}}</h3>
                                <p>Ano de entrada: {{agricultorProjeto.ano}}</p>
                                <p ng-hide="isProgramaCisterna(agricultorProjeto.codigoSda)" >Situação atual: {{agricultorProjeto.status}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-card>
                <linha-tempo id="linha-tempo" ng-show="switch" eventos="projetosAno"></linha-tempo>
            </div>
        </div>
        <div id="meus-programas-mensagem" ng-show="agricultorProjetos.length === 0">
            <i id="meus-programas-icon" class="material-icons">description</i>
            <p id="mensagem">Atualmente você não participa de nenhum programa ou projeto.</p>
            <p id="informacoes">Para mais informações acesse: <a target="_blank" href="http://www.sda.ce.gov.br/">www.sda.ce.gov.br</a></p>
        </div>
    </div>

</div>
