<meta charset="UTF-8">
<div md-theme="themeUA" id="feedback-content" ng-show="$root.mostrarFeedback" >
   	<md-toolbar id="toolbar" layout="row" layout-align="center center" >
    	<div class="md-toolbar-tools" id="content"  >
         	<span>AVALIE O SISTEMA</span>
        	<span flex=""></span>
			<md-button class="md-icon-button" aria-label="Clear" ng-click="limparCampos(feedbackForm)" />
  			<md-icon aria-label="Clear" class="material-icons">clear</md-icon>
  		</div>
	</md-toolbar>

	<form name="feedbackForm" layout="column" layout-align="center stretch">
		<md-input-container class="feedback-margin" >
			<span>Como foi sua experiência?</span>
			<div>
		        <div ng-repeat="rating in ratings">
			        <div star-rating rating-value="rating.current" max="rating.max"></div>
		        </div>
		    </div>
		</md-input-container>

		<md-input-container class="feedback-margin">
			<md-select name="avaliacao"  ng-model="avaliacao" placeholder="Selecione o tipo de avaliação" ng-required >
			    <md-option ng-value="avaliacao" ng-repeat="avaliacao in avaliacoes" >{{ avaliacao }}</md-option>
			</md-select>
            <div ng-messages="feedbackForm.avaliacao.$error" md-auto-hide="false">
                <div ng-message="required">Opa! O tipo de avaliação é obrigatorio</div>
            </div>
		</md-input-container>

		<md-input-container class="feedback-margin">
			<label>Deixe sua mensagem</label>
			<textarea name="mensagem" ng-model="mensagem" md-maxlength="150" ng-required ></textarea>
            <div ng-messages="feedbackForm.mensagem.$error" md-auto-hide="false">
              <div ng-message="required">Opa! O campo mensagem é obrigatorio</div>
            </div>
		</md-input-container>

        <md-input-container style="margin-bottom: 0;" layout="column" layout-align="end end" >
            <md-button class="button-enviar" ng-click="enviarFeedback(feedbackForm)" class="md-accent" >Enviar</md-button>
        </md-input-container>
	</form>

</div>
