<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout-align="start stretch" class="application-width visualizar-atividade-cadastro" layout="column" ng-cloak>
        <md-card class="card-informacoes" layout="row" layout-align="start center">
            <avatar image="{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.foto}}" name="{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.nome}}" size="96px" font-size="60px" color-index="{{corFoto}}"></avatar>
            <div layout="column" flex>
                <div fle layout="row" layout-align="space-between stretch" >
                    <div layout="column" flex="50" class="div-infos">
                        <h4><b>{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.nome | capitalize}} </b></h4>
                        <p>Técnico(a): {{atividadeCadastro.tecnico.pessoaFisica.pessoa.nome | capitalize}}</p>
                        <p>Município: {{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.municipio.nome | capitalize}} </p>
                        <p>Distrito: {{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.distrito.nome | capitalize}}</p>
                        <p>Comunidade: {{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.comunidade.nome | capitalize}}</p>
                        <p>Data de Cadastro: {{atividadeCadastro.data | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div flex="45">
                        <div class="div-label" flex layout="row" layout-align="end end">
                            <h4>
                                <span class="label label-revisado" ng-show="(atividadeCadastro.status == atividadeCadastroStatus.T.id && atividadeCadastro.recusado == true) ? true : false">{{atividadeCadastroStatus.R.desc}}</span>
                                <span class="label" style="background-color: {{atividadeCadastroStatus[atividadeCadastro.status].background}}; color: {{atividadeCadastroStatus[atividadeCadastro.status].color}}; font-weight: normal;">
                                    {{atividadeCadastroStatus[atividadeCadastro.status].desc}}
                                </span>
                            </h4>
                        </div>
                        <p class="tempo-aplicacao">Tempo de aplicação do cadastro: {{minutosPreenchimento}}m:{{segundosPreenchimento}}s</p>
                    </div>
                </div>
            </div>
        </md-card>
        <md-card md-theme="themeUAWhite">
            <md-subheader style="background-color: #EEEEEE" class="md-no-sticky">Histórico de Avaliação</md-subheader>
            <md-list flex>
                <md-list-item ng-repeat="item in historico">
                    <md-icon  ng-show="item.motivo == 'A'" style="color:green; margin-right: 5px;" class="material-icons">done</md-icon>
                    <md-icon  ng-show="item.motivo == 'R'" style="color:red; margin-right: 5px;" class="material-icons">error_outline</md-icon>
                    <p> {{item.motivo == 'A' ? 'Aceito' : item.motivo == 'R'? 'Recusado' : ''}} por {{item.usuario.usuarioAvancado.pessoaFisica.pessoa.nome}} em {{item.atualizacao | date: 'dd/MM/yyyy HH:mm'}} - Observação: {{item.avaliacao}}</p>
                </md-list-item>
            </md-list>
            <p style="margin-left: 10px;" ng-show="historico.length == 0">Cadastro não possui histórico de avaliação.</p>
        </md-card>
        <md-card class="card-map">
            <div id="map-visualizacao-cadastro"></div>
        </md-card>
    </div>
</div>
