<meta charset="UTF-8">
<md-dialog flex="75" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Ver Cadastro
        <span flex></span>
        <md-button class="md-icon-button close-button"  ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content flex class="detalhes-atividade-cadastro" md-theme="themeUA">
        <md-tabs id="dialog-detalhes-atividade-cadastro"  md-border-bottom md-dynamic-height>
            <md-tab label="INFORMAÇÕES INICIAIS" >
                <div class="tab">
                    <label class="tab-title">INFORMAÇÕES DO CHEFE DA FAMÍLIA</label>
                    <div layout="row" layout-wrap class="box-external">
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>CPF:&nbsp</b> {{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.cpf | cpf}}
                        </div>
                        <div flex="70" class="box-internal" layout="row" layout-align="start center">
                            <b>Nome:&nbsp</b> {{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.nome | capitalize}}
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Apelido:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.apelido == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.apelido ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.apelido | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="20" class="box-internal" layout="row" layout-align="start center">
                            <b>Sexo:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.sexo == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.sexo == "M" ? "Masculino" : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.sexo == "F" ? "Feminino" : "Não Respondido"}}</span>
                        </div>
                        <div flex="45" class="box-internal" layout="row" layout-align="start center">
                            <b>Nome da mãe:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nomeMae == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nomeMae ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nomeMae | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Data de Nascimento:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.dataNascimento == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.dataNascimento  ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.dataNascimento | date: 'dd/MM/yyyy') : 'Não Respondido'}}</span>
                        </div>
                        <div flex="65" class="box-internal" layout="row" layout-align="start center">
                            <b>Grau de escolaridade:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.escolaridade.descricao == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.escolaridade.descricao ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.escolaridade.descricao : 'Não Respondido'}}</span>
                        </div>
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>Nacionalidade:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nacionalidade.nacionalidade == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nacionalidade.nacionalidade ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nacionalidade.nacionalidade | capitalize): 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Naturalidade estado:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.naturalidade.uf.descricao == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.naturalidade.uf.descricao ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.naturalidade.uf.descricao | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Naturalidade município:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.naturalidade.nome == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.naturalidade.nome ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.naturalidade.nome | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Raça:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.raca == null}">{{racaEnum[atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.raca].desc}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Estado civil:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.estadoCivil.descricao == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.estadoCivil.descricao ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.estadoCivil.descricao | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Possui DAP:&nbsp</b> {{atividadeCadastro.informacaoInicial.agricultor.daps.length > 0 ? 'Sim' : 'Não'}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Situação da DAP:&nbsp</b>
                            <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.daps.length == 0}">
                                {{atividadeCadastro.informacaoInicial.agricultor.daps.length > 0 ? (atividadeCadastro.informacaoInicial.agricultor.daps[0].ativo ? 'Ativo' : 'Inativo') : 'Não respondido'}}
                            </span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Número da DAP:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.daps.length == 0}">{{atividadeCadastro.informacaoInicial.agricultor.daps.length > 0 ? atividadeCadastro.informacaoInicial.agricultor.daps[0].numero : "Não Respondido"}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Variação da DAP:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.daps.length == 0}">{{atividadeCadastro.informacaoInicial.agricultor.daps.length > 0 && atividadeCadastro.informacaoInicial.agricultor.daps[0].variacao != null ? atividadeCadastro.informacaoInicial.agricultor.daps[0].variacao : "Não Respondido"}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Número do NIS:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nis == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nis ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.nis : 'Não Respondido'}}</span>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>RG:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.rg == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.rg ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.rg : 'Não Respondido'}}</span>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Órgão emissor:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.orgaoExpedidorRg == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.orgaoExpedidorRg ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.orgaoExpedidorRg | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Data de emissão:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.dataExpedicaoRg == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.dataExpedicaoRg ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.dataExpedicaoRg | date: 'dd/MM/yyyy') : 'Nâo Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Reside no imóvel rural:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.resideImovelRural == null}">{{atividadeCadastro.informacaoInicial.resideImovelRural == true ? 'Sim' : atividadeCadastro.informacaoInicial.resideImovelRural == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Possui outro imóvel:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.possuiOutroImovel == null}">{{atividadeCadastro.informacaoInicial.possuiOutroImovel == true ? 'Sim' : atividadeCadastro.informacaoInicial.possuiOutroImovel == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Auto identificação - Grupo Produtivo:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.grupoProdutivo == null}">{{grupoProdutivoEnum[atividadeCadastro.informacaoInicial.agricultor.grupoProdutivo].desc}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Auto identificação - Grupo Étnico:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.grupoEtnico == null}">{{grupoEtnicoEnum[atividadeCadastro.informacaoInicial.agricultor.grupoEtnico].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Atividade Econômica Principal:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.atividadeEconomicaPrincipal == null}">{{atividadeEconomicaEnum[atividadeCadastro.informacaoInicial.agricultor.atividadeEconomicaPrincipal].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Atividade Econômica Secundária:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.atividadeEconomicaSecundaria == null}">{{atividadeEconomicaEnum[atividadeCadastro.informacaoInicial.agricultor.atividadeEconomicaSecundaria].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Renda familiar mensal atividades econômicas:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.rendaMensal == null}">{{atividadeCadastro.informacaoInicial.agricultor.rendaMensal != null? (atividadeCadastro.informacaoInicial.agricultor.rendaMensal | currency) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Recebe benefícios sociais:&nbsp</b> <span ng-class="{'nao-respondido' : beneficiosSociais.length == 0}">{{beneficiosSociais ? beneficiosSociais : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Renda familiar mensal benefícios sociais:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.rendaMensalBeneficioSocial == null}">{{atividadeCadastro.informacaoInicial.agricultor.rendaMensalBeneficioSocial  != null ? (atividadeCadastro.informacaoInicial.agricultor.rendaMensalBeneficioSocial | currency) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Tipo de Aposentadoria:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.tipoAposentadoria == null}">{{tipoAposentadoriaEnum[atividadeCadastro.informacaoInicial.agricultor.tipoAposentadoria].desc}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Renda familiar mensal aposentadoria:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.rendaMensalAposentadoria == null}">{{atividadeCadastro.informacaoInicial.agricultor.rendaMensalAposentadoria != null ? (atividadeCadastro.informacaoInicial.agricultor.rendaMensalAposentadoria | currency) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Renda familiar mensal total:&nbsp</b> {{atividadeCadastro.informacaoInicial.agricultor.rendaMensal +
                                atividadeCadastro.informacaoInicial.agricultor.rendaMensalBeneficioSocial +
                                atividadeCadastro.informacaoInicial.agricultor.rendaMensalAposentadoria | currency}}
                        </div>
                    </div>
                    <label class="tab-title" ng-show="atividadeCadastro.informacaoInicial.agricultor.familia.parentes.length > 0">MEMBROS DA FAMÍLIA</label>
                    <div layout="row" layout-wrap class="box-external" ng-repeat="parente in atividadeCadastro.informacaoInicial.agricultor.familia.parentes">
                        <div flex="100" class="box-internal-label" layout="row" layout-align="start center">
                            <b>Nome:&nbsp</b>{{parente.agricultor.pessoaFisica.pessoa.nome}}&nbsp-&nbsp<b>Parentesco:&nbsp</b>{{parentescoEnum[parente.parentesco].desc}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>CPF:&nbsp</b> {{parente.agricultor.pessoaFisica.cpf | cpf}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>NIS:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.pessoaFisica.nis == ''}">{{parente.agricultor.pessoaFisica.nis ? parente.agricultor.pessoaFisica.nis : 'Não Respondido'}}</span>
                        </div>
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>Raça:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.pessoaFisica.raca == null}">{{racaEnum[parente.agricultor.pessoaFisica.raca].desc}}</span>
                        </div>
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Data de Nascimento:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.pessoaFisica.dataNascimento == null}">{{parente.agricultor.pessoaFisica.dataNascimento ? (parente.agricultor.pessoaFisica.dataNascimento | date: 'dd/MM/yyyy') : 'Não Respondido'}}</span>
                        </div>
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>Sexo:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.pessoaFisica.sexo == ''}">{{parente.agricultor.pessoaFisica.sexo=="M"? "Masculino":parente.agricultor.pessoaFisica.sexo=="F"? "Feminino":"Não Respondido"}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Grau de escolaridade:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.pessoaFisica.escolaridade.descricao == null}">{{parente.agricultor.pessoaFisica.escolaridade.descricao ? parente.agricultor.pessoaFisica.escolaridade.descricao : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Auto Identificacao - Grupo Produtivo:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.grupoProdutivo == null}">{{grupoProdutivoEnum[parente.agricultor.grupoProdutivo].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Auto Identificacao - Grupo Étinico:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.grupoEtnico == null}">{{grupoEtnicoEnum[parente.agricultor.grupoEtnico].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Atividade Econômica Principal:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.atividadeEconomicaPrincipal == null}">{{atividadeEconomicaEnum[parente.agricultor.atividadeEconomicaPrincipal].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Atividade Econômica Secundaria:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.atividadeEconomicaSecundaria == null}">{{atividadeEconomicaEnum[parente.agricultor.atividadeEconomicaSecundaria].desc}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Recebe benefícios sociais:&nbsp</b>  <span ng-repeat="beneficio in parente.agricultor.beneficiosSociais">{{beneficio.descricao}}<span ng-hide="$last">,&nbsp</span></span><span ng-show="parente.agricultor.beneficiosSociais == ''" class="nao-respondido">Não Respondido</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Tipo de aposentadoria:&nbsp</b> <span ng-class="{'nao-respondido' : parente.agricultor.tipoAposentadoria == null}">{{tipoAposentadoriaEnum[parente.agricultor.tipoAposentadoria].desc}}</span>
                        </div>
                    </div>

                    <label class="tab-title">INFORMAÇÔES DE CONTATO</label>
                    <div layout="row" layout-wrap class="box-external">
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>CEP:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.cep == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.cep ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.cep : 'Não Respondido'}}</span>
                        </div>
                        <div flex="70" class="box-internal" layout="row" layout-align="start center">
                            <b>Endereço:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.logradouro == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.logradouro  ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.logradouro | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>Número:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.numero == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.numero ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.numero : 'Não Respondido'}}</span>
                        </div>
                        <div flex="70" class="box-internal" layout="row" layout-align="start center">
                            <b>Complemento:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.complemento == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.complemento ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.complemento | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Município:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.municipio.nome == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.municipio.nome ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.municipio.nome : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Distrito:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.distrito.nome == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.distrito.nome ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.distrito.nome | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Comunidade:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.comunidade.nome == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.comunidade.nome ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.comunidade.nome | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Localidade:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.localidade.nome == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.localidade.nome ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.localidade.nome | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="65" class="box-internal" layout="row" layout-align="start center">
                            <b>Ponto de referencia:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.pontoDeReferencia == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.pontoDeReferencia ? (atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.pontoDeReferencia | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Email:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.email == null}">{{atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.email ? atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.email : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Entidade Associativa:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.associacaoComunitaria == null}">{{atividadeCadastro.informacaoInicial.agricultor.associacaoComunitaria ? atividadeCadastro.informacaoInicial.agricultor.associacaoComunitaria.nome : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Latitude:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.coordenada.latitude == null}">{{atividadeCadastro.informacaoInicial.agricultor.coordenada.latitude ? atividadeCadastro.informacaoInicial.agricultor.coordenada.latitude : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Longitude:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.informacaoInicial.agricultor.coordenada.longitude == null}">{{atividadeCadastro.informacaoInicial.agricultor.coordenada.longitude ? atividadeCadastro.informacaoInicial.agricultor.coordenada.longitude : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <span ng-repeat="t in atividadeCadastro.informacaoInicial.agricultor.pessoaFisica.pessoa.telefones"><b>{{telefoneEnum[t.tipo].desc}}:</b>&nbsp{{t.numero | telefone}}{{$last? "":","}}&nbsp</span>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="ACESSO À POLÍTICAS PÚBLICAS">
                <div class="tab">
                	<label class="tab-title" >ACESSO À POLÌTICAS PÙBLICAS</label>
	                <div layout="row" layout-wrap class="box-external">
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>PRONAF:&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPronaf != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPronaf != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPronaf == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPronaf == false ?' Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="60" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual Modalidade?&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.modalidadePronaf == null}">{{modalidadePronafEnum[atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.modalidadePronaf].desc | capitalize}}</span>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>FEDAF:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoFedaf != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoFedaf != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoFedaf == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoFedaf == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Agroamigo:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAgroamigo != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAgroamigo != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAgroamigo  == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAgroamigo  == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Crediamigo:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCredamigo != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCredamigo != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCredamigo == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCredamigo == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Garantia Safra:&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoGarantiaSafra != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoGarantiaSafra != false}"> {{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoGarantiaSafra == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoGarantiaSafra == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="60" class="box-internal" layout="row" layout-align="start center">
                            <b>Seguro da Agricultura Familiar - SEAF:&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeaf != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeaf != false}"> {{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeaf == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeaf == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Seguro Defeso:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeguraDefeso != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeguraDefeso != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeguraDefeso == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoSeguraDefeso == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="60" class="box-internal" layout="row" layout-align="start center">
                            <b>Bolsa Estiagem:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaPlaca != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaPlaca != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaPlaca == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaPlaca == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Tipo de beneficiário PAA:&nbsp</b> <span ng-class="{'nao-respondido' : tiposBeneficiarioPaa == ''}">{{tiposBeneficiarioPaa ? tiposBeneficiarioPaa : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual a modalidade PAA - Produtor:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.modalidadePaa == null}">{{modalidadePaaEnum[atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.modalidadePaa].desc | capitalize}}</span>
                        </div>

                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Quais produtos fornece?&nbsp</b><span ng-repeat="produto in atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.produtosPaa">{{produto.produtoEspecificacao.descricao | capitalize}}{{$last? "":","}}&nbsp</span><span class="nao-respondido" ng-show="atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.produtosPaa  == ''">Não respondido</span>
                        </div>

                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual a categoria PAA Leite:&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaCaprino != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaBovino != true}"> {{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaBovino == true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaCaprino != true ? 'Bovino' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaCaprino == true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaBovino != true ? 'Caprino' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaCaprino == true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPaaLeiteCategoriaBovino == true ? 'Bovino e Caprino' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>PNAE:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPnae != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPnae != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPnae == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPnae == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>

                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
						    <b>Quais produtos PNAE?&nbsp</b><span ng-repeat="produto in atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.produtosPnae">{{produto.produtoEspecificacao.descricao | capitalize}}{{$last? "":","}}&nbsp</span><span class="nao-respondido" ng-show="atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.produtosPnae  == ''">Não respondido</span>
						</div>

						<div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Programa Hora de Plantar:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHoraPlantar != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHoraPlantar != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHoraPlantar == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHoraPlantar == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>

                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
						    <b>Quais produtos Programa Hora de Plantar?&nbsp</b><span ng-repeat="produto in atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.produtosHoraPlantar">{{produto.produtoEspecificacao.descricao | capitalize}}{{$last? "":","}}&nbsp</span><span class="nao-respondido" ng-show="atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.produtosHoraPlantar  == ''">Não respondido</span>
						</div>
                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Mandala:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioMandala != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioMandala != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioMandala == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioMandala == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>

                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>Quintal produtivo:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioQuintalProdutivo != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioQuintalProdutivo != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioQuintalProdutivo == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioQuintalProdutivo == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>

                        <div flex="33" class="box-internal" layout="row" layout-align="start center">
                            <b>PAIS:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioPais != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioPais != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioPais == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioPais == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>

                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Acesso &agrave; Milho Ra&ccedil;&atilde;o CONAB:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoMilhoRacaoConab != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoMilhoRacaoConab != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoMilhoRacaoConab == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoMilhoRacaoConab == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual a quantidade(sacas)?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.quantidadeMilhoRacaoConab == null}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.quantidadeMilhoRacaoConab ? atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.quantidadeMilhoRacaoConab : 'Não Respondido'}}</span>
                        </div>

						<div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Programa de Habita&ccedil;&atilde;o Rural:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHabitacaoRural != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHabitacaoRural != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHabitacaoRural == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoHabitacaoRural == false  ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="60" class="box-internal" layout="row" layout-align="start center">
                            <b>Categoria Programa de Habita&ccedil;&atilde;o Rural:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.categoriaHabitacaoRural == null}">{{categoriaHabitacaoRuralEnum[atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.categoriaHabitacaoRural].desc | capitalize}}</span>
                        </div>
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Banheiros Populares:&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoBanheiroPopular != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoBanheiroPopular != false}"> {{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoBanheiroPopular == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoBanheiroPopular == false ?'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="60" class="box-internal" layout="row" layout-align="start center">
                            <b>Categoria de Banheiros Populares:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.categoriaBanheiroPopular == null}">{{categoriaBanheiroPopularEnum[atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.categoriaBanheiroPopular].desc | capitalize}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Barragem subterr&acirc;nea:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBarragemSubterranea != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBarragemSubterranea != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBarragemSubterranea == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBarragemSubterranea == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Tanque de Pedra:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioTanquePedra != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioTanquePedra != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioTanquePedra == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioTanquePedra == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>Bomba Popular:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBombaPopular != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBombaPopular != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBombaPopular == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioBombaPopular == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="60" class="box-internal" layout="row" layout-align="start center">
                            <b>Sistema simplificado de abastecimento de &Aacute;gua:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioAbastecimentoAgua != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioAbastecimentoAgua != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioAbastecimentoAgua == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioAbastecimentoAgua == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="40" class="box-internal" layout="row" layout-align="start center">
                            <b>Cisterna de enxurrada:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaEnxurrada != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaEnxurrada != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaEnxurrada == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaEnxurrada == false  ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Cisterna de cal&ccedil;ad&atilde;o:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaCalcadao != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaCalcadao != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaCalcadao == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.beneficioCisternaCalcadao == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="65" class="box-internal" layout="row" layout-align="start center">
                            <b>Cisterna de Consumo:&nbsp</b> <span ng-class="{'nao-respondido' : cisternasConsumo == ''}">{{cisternasConsumo ? cisternasConsumo : 'Não Respondido'}}</span>
                        </div>
                        <div flex="25" class="box-internal" layout="row" layout-align="start center">
                            <b>Arca das Letras:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoArcaLetras != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoArcaLetras != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoArcaLetras == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoArcaLetras == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="30" class="box-internal" layout="row" layout-align="start center">
                            <b>Casa Digital:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCasaDigital != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCasaDigital != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCasaDigital == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoCasaDigital == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="45" class="box-internal" layout="row" layout-align="start center">
                            <b>Plano Brasil Sem Mis&eacute;ria:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPbsm != true && atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPbsm != false}">{{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPbsm == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoPbsm == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="25" class="box-internal" layout="row" layout-align="start center">
                            <b>Aux&iacute;lio-maternidade:&nbsp</b> {{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAuxilioMaternidade == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAuxilioMaternidade == false ? 'Não' : ''}}
                        </div>
                        <div flex="25" class="box-internal" layout="row" layout-align="start center">
                            <b>Aux&iacute;lio Doen&ccedil;a:&nbsp</b> {{atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAuxilioDoenca == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.politicasPublicas.acessoAuxilioDoenca == false ? 'Não' : ''}}
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Projeto S&atilde;o Jos&eacute;:&nbsp</b> <span ng-class="{'nao-respondido' : projetoSaoJose == ''}">{{projetoSaoJose ? projetoSaoJose : 'Não Respondido'}}</span>
                        </div>

                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Acesso &agrave; educa&ccedil;&atilde;o:&nbsp</b> <span ng-class="{'nao-respondido' : acessosEducacao == ''}">{{acessosEducacao ? acessosEducacao : 'Não Respondido'}}</span>
                        </div>

                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Acesso &agrave; sa&uacute;de:&nbsp</b> <span ng-class="{'nao-respondido' : acessosSaude == ''}">{{acessosSaude ? acessosSaude : 'Não Respondido'}}</span>
                        </div>
                    </div>
                    <label class="tab-title">HABITAÇÃO, SANEAMENTO E ENERGIA</label>
                    <div layout="row" layout-wrap class="box-external">
                    	<div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Tipo de habitação da família:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.tipoHabitacao == null}">{{tipoHabitacaoEnum[atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.tipoHabitacao].desc | capitalize}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Situa&ccedil;&atilde;o da moradia:&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.situacaoMoradia == null}">{{situacaoMoradiaEnum[atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.situacaoMoradia].desc | capitalize}}</span>
                        </div>
                        <div flex="45" class="box-internal" layout="row" layout-align="start center">
                            <b>A moradia tem banheiro:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeBanheiro != true && atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeBanheiro != false}">{{atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeBanheiro == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeBanheiro == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="55" class="box-internal" layout="row" layout-align="start center">
                            <b>Esgotamento sanit&aacute;rio:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.tipoEsgotamentoSanitario == null}">{{tipoEsgotamentoSanitarioEnum[atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.tipoEsgotamentoSanitario].desc | capitalize}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>A moradia tem energia el&eacute;trica?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeEnergiaEletrica != true && atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeEnergiaEletrica != false}">{{atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeEnergiaEletrica == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.existeEnergiaEletrica == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Tipo de energia:&nbsp</b> <span ng-class="{'nao-respondido' : tipoEnergia == ''}">{{tipoEnergia ? tipoEnergia : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual(is) abastecimento(s) de &aacute;gua?&nbsp</b> <span ng-class="{'nao-respondido' : formasAbastecimento == ''}">{{formasAbastecimento ? formasAbastecimento : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Faz uso de carro pipa?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaCarroPipa != true && atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaCarroPipa != false}">{{atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaCarroPipa == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaCarroPipa == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual(is) o(s) destino(s) do lixo?&nbsp</b> <span ng-class="{'nao-respondido' : destinosLixo == ''}">{{destinosLixo ? destinosLixo : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual(is) o(s) combust&iacute;vel(is) para cozinhar?&nbsp</b> <span ng-class="{'nao-respondido' : combustiveis == ''}">{{combustiveis ? combustiveis : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Utiliza fonte de energia alternativa?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaEnergiaAlternativa != true && atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaEnergiaAlternativa != false}">{{atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaEnergiaAlternativa == true ? 'Sim' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.usaEnergiaAlternativa == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual a fonte de energia?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.qualEnergiaAlternativa == null}">{{qualEnergiaAlternativaEnum[atividadeCadastro.acessoPoliticasPublicas.habitacaoSeneamentoEnergia.qualEnergiaAlternativa].desc | capitalize}}</span>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="PRODUÇÃO">
                <div class="tab">
                    <p class="tab-title" >ATIVIDADE PRODUTIVA</p>
                    <p class="tab-title" ng-hide="atividadeCadastro.producao.atividadeProdutiva.subsistemasProducao.length == 0" >Produção por sub-sistema produtivo</p>
                    <div ng-repeat="itemSubsistema in atividadeCadastro.producao.atividadeProdutiva.subsistemasProducao">
                        <div flex="100" class="box-internal-label" layout="row" layout-align="start center">
                            <b>Sub-sistema:&nbsp</b>{{subsistemaEnum[itemSubsistema.subsistema].desc}}&nbsp-&nbsp<b>Área:&nbsp</b>{{itemSubsistema.area}}&nbspha
                        </div>
                        <div layout="row" layout-wrap class="box-external" >
                            <div flex="100" class="box-internal" layout="row" layout-align="start center">
                                <b>Situação Fundiária:&nbsp</b> <span ng-class="{'nao-respondido' : itemSubsistema.situacaoFundiaria==null}">{{situacaoFundiariaEnum[itemSubsistema.situacaoFundiaria].desc}}</span>
                            </div>
                            <div flex="40" class="box-internal" layout="row" layout-align="start center">
                                <b>Pratica irrigação:&nbsp</b> {{itemSubsistema.areaIrrigada != null ? 'Sim' : 'Não'}}
                            </div>
                            <div flex="60" class="box-internal" layout="row" layout-align="start center">
                                <b>Área irrigada:&nbsp</b> <span ng-class="{'nao-respondido' : itemSubsistema.areaIrrigada==null}">{{itemSubsistema.areaIrrigada ? (itemSubsistema.areaIrrigada + '&nbspm²') : 'Não Respondido'}}</span>
                            </div>
                            <div flex="100" class="box-internal" layout="row" layout-align="start center">
                                <b>Tipos de irrigação:&nbsp</b> <div ng-repeat="item in itemSubsistema.tiposIrrigacao">{{item.descricao}}{{$last? "":","}}&nbsp;</div><span ng-show="itemSubsistema.tiposIrrigacao.length == 0" class="nao-respondido">Não Respondido</span>
                            </div>
                            <div flex="100" class="box-internal" layout="row" layout-align="start center">
                                <b>Origem da água para irrigação:&nbsp</b> <div ng-repeat="item3 in itemSubsistema.origemAgua">{{item3}}{{$last? "":","}}&nbsp;</div><span ng-show="itemSubsistema.origemAgua.length == 0" class="nao-respondido">Não Respondido</span>
                            </div>
                            <md-list flex="100" class="tabble-internal" layout="column" layout-align="start stretch">
                                <header flex layout="row" layout-align="center center" ng-show="itemSubsistema.produtosSubsistemas.length > 0">
                                    <div flex="15">Produto</div>
                                    <div flex="15">Unidade</div>
                                    <div flex="10">Preço</div>
                                    <div flex="10">Qtd Consumo</div>
                                    <div flex="10">Qtd Venda</div>
                                    <div flex="10">Qtd Estoque</div>
                                    <div flex="10">Total</div>
                                    <div flex="20">Locais de comercialização</div>
                                </header>
                                <div flex ng-repeat="item in itemSubsistema.produtosSubsistemas" class="content" layout="row">
                                    <div flex="15" ng-class="{'nao-respondido' : item.tipoProducao.descricao == null}" >
                                        {{item.tipoProducao.descricao ? (item.tipoProducao.produto.nome | capitalize) +" - "+ (item.tipoProducao.descricao | capitalize) : 'Não Respondido'}}
                                    </div>
                                    <div flex="15" ng-class="{'nao-respondido' : item.unidadeProducao.nome == null}">
                                        {{item.unidadeProducao.nome ? (item.unidadeProducao.nome | capitalize) : 'Não Respondido'}}
                                    </div>
                                    <div flex="10">{{item.valorUnidade}}</div>
                                    <div flex="10">{{item.quantidadeAutoConsumo}}</div>
                                    <div flex="10">{{item.quantidadeVenda}}</div>
                                    <div flex="10">{{item.quantidadeEstoque}}</div>
                                    <div flex="10">{{item.quantidadeAutoConsumo + item.quantidadeVenda + item.quantidadeEstoque}}</div>
                                    <div flex="20">
                                        <span layout="row" ng-repeat="item2 in item.locaisComercializacao">
                                            {{item2}}
                                        </span>
                                        <span ng-show="item.locaisComercializacao.length == 0" class="nao-respondido">Não Respondido</span>
                                    </div>
                                </div>
                            </md-list>
                        </div>
                    </div>
                    <div layout="row" layout-wrap class="box-external" >
                        <div flex="20" class="box-internal" layout="row" layout-align="start center">
                            <b>Recebe ATER:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.producao.atividadeProdutiva.recebeAter == null}" >{{atividadeCadastro.producao.atividadeProdutiva.recebeAter == true ? 'Sim' : atividadeCadastro.producao.atividadeProdutiva.recebeAter == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="45" class="box-internal" layout="row" layout-align="start center">
                            <b>Instituições que prestam ATER:&nbsp</b> <span ng-class="{'nao-respondido' : instituicaoAter == null}">{{instituicaoAter ? instituicaoAter : 'Não Respondido'}}</span>
                        </div>
                        <div flex="35" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual a frequência:&nbsp</b> <span ng-class="{'nao-respondido' : frequenciaATER == null}">{{frequenciaATER ? frequenciaATER : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Insumos usados na produção:&nbsp</b>
                            <div ng-repeat="item3 in insumosProducao">{{item3}}{{$last? "":","}}&nbsp;</div>
                            <span ng-show="insumosProducao.length == 0" class="nao-respondido">Não Respondido</span>
                        </div>
                    </div>
                    <div layout="row" layout-wrap class="box-external" >
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Combate à pragas e doenças:&nbsp</b>
                            <div ng-repeat="item3 in combatePragas">{{item3}}{{$last? "":","}}&nbsp;</div>
                            <span ng-show="combatePragas.length == 0" class="nao-respondido">Não Respondido</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Medidas adotadas para a reserva alimentar:&nbsp</b> <span ng-class="{'nao-respondido' : reservaAlimentar.length == 0}">{{reservaAlimentar ? reservaAlimentar : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Atividades não agrícola desenvolvidas:&nbsp</b>
                            <div ng-repeat="itemAtividade in atividadeNaoAgricola">{{itemAtividade}}{{$last? "":","}}&nbsp;</div>
                            <span ng-show="atividadeNaoAgricola.length == 0" class="nao-respondido">Não Respondido</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Sistema de criação dos animais:&nbsp</b>
                            <div ng-class="{'nao-respondido' : atividadeCadastro.producao.atividadeProdutiva.sistemaCriacaoAnimais == null}">{{atividadeCadastro.producao.atividadeProdutiva.sistemaCriacaoAnimais == 'E'? 'Extensivo' : atividadeCadastro.producao.atividadeProdutiva.sistemaCriacaoAnimais == 'I' ? 'Intensivo' : atividadeCadastro.producao.atividadeProdutiva.sistemaCriacaoAnimais == 'S' ? 'Semi-intensivo' : atividadeCadastro.producao.atividadeProdutiva.sistemaCriacaoAnimais == 'N' ? 'Não cria animais' : 'Não Respondido'}}</div>
                        </div>
                    </div>
                    <md-list flex class="tabble">
                        <header flex ng-hide="atividadeCadastro.producao.atividadeProdutiva.artesanatos.length == 0" layout="row" layout-align="start center">
                            <div flex="40">Matéria prima</div>
                            <div flex="25">Valor Mensal</div>
                            <div flex="35">Locais de comercialização</div>
                        </header>
                        <div flex ng-repeat="item in atividadeCadastro.producao.atividadeProdutiva.artesanatos" layout="row" class="content">
                            <div flex="40" ng-class="{'nao-respondido' : item.materiaPrima == null}">{{item.materiaPrima ? (item.materiaPrima | capitalize) : 'Não Respondido'}}</div>
                            <div flex="25">{{item.valorUnitario | currency}}</div>
                            <div flex="35">
                                <span layout="row" class="list-last-item" ng-repeat="item2 in item.formasComercializacoes">
                                    {{item2.descricao}}
                                </span>
                                <span ng-show="item.formasComercializacoes.length == 0" class="nao-respondido">Não Respondido</span>
                            </div>
                        </div>
                    </md-list>
                    <div layout="row" layout-wrap class="box-external" >
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Quais atividades de caráter ambiental são desenvolvidas pela família?&nbsp</b>
                            <span ng-class="{'nao-respondido' : atividadesAmbientais.length == 0}">{{atividadesAmbientais ? atividadesAmbientais : 'Não Respondido'}}</span>
                        </div>
                        <div flex="45" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual o tipo de tração usada?&nbsp</b> <span ng-class="{'nao-respondido' : tipoTracaoUsada == null}">{{tipoTracaoUsada ? tipoTracaoUsada : 'Não Respondido'}}</span>
                        </div>
                        <div flex="55" class="box-internal" layout="row" layout-align="start center">
                            <b>Faz uso de fogo no preparo da área para plantio?&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.producao.atividadeProdutiva.usoFogoAreaPlantio == null}">{{atividadeCadastro.producao.atividadeProdutiva.usoFogoAreaPlantio == true ? 'Sim' : atividadeCadastro.producao.atividadeProdutiva.usoFogoAreaPlantio == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                    </div>
                    <label ng-hide="atividadeCadastro.producao.produtosBeneficio == null || atividadeCadastro.producao.produtosBeneficio.length == 0" class="tab-title" >BENEFICIAMENTO DE PRODUÇÃO</label>
                    <md-list flex  class="tabble">
                        <header ng-hide="atividadeCadastro.producao.produtosBeneficio == null || atividadeCadastro.producao.produtosBeneficio.length == 0" flex layout="row" layout-align="start center">
                            <div flex="20">Cultura</div>
                            <div flex="25">Estrutura de beneficiamento</div>
                            <div flex="15">Valor Mensal</div>
                            <div flex="25">Locais de Comercialização</div>
                            <div flex="15">Certificação</div>
                        </header>
                        <div flex ng-repeat="item in atividadeCadastro.producao.produtosBeneficio" layout="row" class="content">
                            <div flex="20" ng-class="{'nao-respondido' : item.produto.descricao == null}">{{item.produto.descricao ? (item.produto.descricao | capitalize) : 'Não Respondido'}}</div>
                            <div flex="25" ng-class="{'nao-respondido' : item.estrutura == null}">{{item.estrutura == 'P' ? 'Própia' : item.estrutura == 'C' ? 'Comunitária' : 'Não Respondido'}}</div>
                            <div flex="15">{{item.valorMensal | currency}}</div>
                            <div flex="25">
                                <span layout="row" class="list-last-item" ng-repeat="item2 in item.locaisComercializacao">
                                    {{localComercializacaoEnum[item2.tipo].desc}}
                                </span>
                                <span ng-show="item.locaisComercializacao.length == 0" class="nao-respondido">Não Respondido</span>
                            </div>
                            <div flex="15">
                                <span layout="row" class="list-last-item" ng-repeat="item2 in item.certificacao">
                                    {{certificacaoEnum[item2.tipo].desc}}
                                </span>
                                <span ng-show="item.certificacao.length == 0" class="nao-respondido">Não Respondido</span>
                            </div>
                        </div>
                    </md-list>
                </div>
            </md-tab>
            <md-tab label="CAPACITAÇÃO">
                <div class="tab">
                    <label class="tab-title" >ACESSO À PROGRAMA DE CAPACITAÇÃO</label>
                    <div layout="row" layout-wrap class="box-external">
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Que tipos de atividades de capacitação você já participou:&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.capacitacao.programa.temas.length == 0}">{{temas ? temas : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual(is) o(s) órgão(s)?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.capacitacao.programa.orgaos.length == 0}">{{orgaos ? orgaos : 'Não Respondido'}}</span>
                        </div>
                    </div>
                    <label class="tab-title" >ORGANIZAÇÃO</label>
                    <div layout="row" layout-wrap class="box-external">
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Existe alguma festa ou tradição típica/cultural?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.capacitacao.organizacao.existeFestaTradicao == null}">{{atividadeCadastro.capacitacao.organizacao.existeFestaTradicao == true ? 'Sim' : atividadeCadastro.capacitacao.organizacao.existeFestaTradicao == false ? 'Não' : 'Não Respondido'}}</span>
                        </div>
                        <div flex="50" class="box-internal" layout="row" layout-align="start center">
                            <b>Qual?&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.capacitacao.organizacao.qualFestaTradicao == ''}">{{atividadeCadastro.capacitacao.organizacao.qualFestaTradicao ? (atividadeCadastro.capacitacao.organizacao.qualFestaTradicao | capitalize) : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Quais organizações você ou alguém da sua família participa?&nbsp</b><span ng-class="{'nao-respondido' : atividadeCadastro.capacitacao.organizacao.organizacaoLocal.length == 0}">{{organizacaoLocal ? organizacaoLocal : 'Não Respondido'}}</span>
                        </div>
                        <div flex="100" class="box-internal" layout="row" layout-align="start center">
                            <b>Quantidade de membros da família sindicalizados&nbsp</b> <span ng-class="{'nao-respondido' : atividadeCadastro.capacitacao.organizacao.quantidadeMembrosSindicalizados == null}">{{atividadeCadastro.capacitacao.organizacao.quantidadeMembrosSindicalizados ? atividadeCadastro.capacitacao.organizacao.quantidadeMembrosSindicalizados : 'Não Respondido'}}</span>
                        </div>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>

	<!--md-dialog-actions layout="row" layout-align="space-between center">
		<md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions-->
</md-dialog>
