<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" id="cisternas">
    <div layout="column" layout-align="start stretch" class="application-width" ng-cloak id="layout-programas" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div>
            <p id="sinopse">A SDA em parceria com o Programa Cisternas do MDS também apoia a implementação de tecnologias sociais de acesso à água para ampliar as condições das famílias agricultoras produzirem alimentos, seja para o autoconsumo seja para a comercialização de excedentes. No autoconsumo a alimentação fica mais diversificada e com maior qualidade nutricional e a comercialização de excedentes gera renda para as famílias. <a href="" ng-click="showDialogSobre($event)">Ver mais...</a></p>
            <div ng-show="dispMovel" id="step2b">
                <p><a target="_blank" href="assets/pdf/cisternas-enxurradas.pdf">Baixar manual da cisternas enxurradas</a></p>
            </div>
        </div>
        <div flex layout="row" layout-align="start start">
            <div id="step2a">
                <a ng-hide="dispMovel" target="_blank" href="assets/pdf/cisternas-enxurradas.pdf">
                    <img id="manual-enxurradas" ng-src="assets/images/cisternas-enxurradas.png">
                    <md-tooltip md-direction="bottom">
                        Visualizar ou baixar manual da cisternas enxurradas
                    </md-tooltip>
                </a>
            </div>
        </div>
        <md-card id="informacoes">
        	<md-tabs  md-border-bottom md-dynamic-height >
		       <md-tab label="Segunda Água"ng-show="cisternaPlaca != null || cisternaPolietileno != null" >
		        <md-content class="md-padding  tab-content" ng-show="cisternaEnxurrada != null">
		          <p><b>Tipo: {{cisternaEnxurrada.tipoCisterna}} (52.000 Litros)</b></p>
		          Número: {{cisternaEnxurrada.numero}}<br/>
		          Ano da implatação: {{cisternaEnxurrada.anoImplantacao}}<br/>
		          Empresa/organização resposável: {{cisternaEnxurrada.empresa.nome}}<br/>
		          Coordenadas geográficas: <span ng-show= "cisternaEnxurrada.elemento.coordenada.latitude!=null"> Lat {{cisternaEnxurrada.elemento.coordenada.latitude}} Long {{cisternaEnxurrada.elemento.coordenada.longitude}}<br/></span>
		        </md-content>
		        <md-content class="md-padding tab-content" ng-show="cisternaEnxurrada == null">
		          Você não possui esta tecnologia<br/>
		          Para maiores informações, consulte a SDA<br/>
		          <a href="http://www.sda.ce.gov.br/" target='_blank'>www.sda.ce.gov.br</a>
		        </md-content>
		      </md-tab> 
		    </md-tabs>
        </md-card>

         <div id="step4" ng-show="cisternaEnxurrada != null" flex ui-view="mapacisternas" ></div>

    </div>
</div>
