<meta charset="UTF-8">
<md-dialog flex="60" class="cadastrar-localidade">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{title}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <form class="content" md-theme="themeButtonUA" ng-submit="cadastrarForm.$valid && salvar()" name="cadastrarForm" novalidate>
            <fieldset ng-disabled="!podeEditar()">
                <div layout="column" layout-xs="column">
                    <md-input-container flex="100" class="md-block">
                        <label>Nome do Tema</label>
                        <input name="nome" ng-model="tema.nome" maxlength="120" required>
                        <div ng-messages="cadastrarForm.nome.$error">
                            <div ng-message="required">Opa! O campo Nome do Tema é obrigatório</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Descrição do Tema</label>
                        <textarea name="descricao" ng-model="tema.descricao" rows="1" md-select-on-focus
                                  required></textarea>
                        <div ng-messages="cadastrarForm.descricao.$error">
                            <div ng-message="required">Opa! O campo Descrição do Tema é obrigatório.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-select name="eixoTematico" ng-model="tema.eixoTematico.id" placeholder="Eixo Temático" required>
                            <md-option ng-value="item.id" ng-repeat="item in eixos">{{ item.nome }}</md-option>
                        </md-select>
                        <div ng-messages="cadastrarForm.eixoTematico.$error">
                            <div ng-message="required">Opa! O campo Eixo Temático é obrigatório</div>
                        </div>
                    </md-input-container>
                    <div class="md-whiteframe-z1 especificacoes" flex="100">
                        <header layout-wrap layout-align="start center" layout="row">
                            <span flex>Especificações</span>
                        </header>
                        <div layout-align="start stretch" layout="row" class="content"
                             ng-repeat="temaEspecificacao in tema.especificacoes">
                            <md-input-container class="md-block" flex="90" style="margin: 0;">
                                <label>Especificação</label>
                                <textarea ng-model="temaEspecificacao.nome" name="temaEspecificacao"
                                          ng-required="true"></textarea>
                                <div ng-messages="cadastrarForm.temaEspecificacao.$error">
                                    <div ng-message="required">Por favor informe uma especificação.</div>
                                </div>
                            </md-input-container>
                            <md-icon class="material-icons" ng-click="removerEspecificacao($index)">
                                delete
                                <md-tooltip md-direction="bottom">
                                    Remover Especificação
                                </md-tooltip>
                            </md-icon>
                        </div>
                        <div class="buttons" layout="row" layout-align="end center">
                            <md-button layout="row" aria-label="" layout-align="start start" class="md-accent"
                                       ng-click="novaEspecificacao()">
                                <div layout="row" layout-align="start start" flex>
                                    <md-icon md-svg-icon="assets/images/icones/ic_add_red.svg"></md-icon>
                                    <span flex>nova especificação</span>
                                </div>
                            </md-button>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="cancel()">Cancelar</md-button>
                <md-button ng-show="podeEditar()" class="md-primary" type="submit">Salvar</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
