<md-dialog layout="column" style="width: {{columns()*201}}px;" >
        <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
            {{produtos.ano}}
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
            </md-button>
        </header>
        <md-content id="dialog-produtos" flex>
            <div layout="row" ng-repeat="rows in matriz">
                <div layout="row" ng-repeat="item in rows" id="row">
                    <div flex layout="column" layout-align="start start" id="column" ng-bind-html="item.template"></div>
                    <span ng-hide="$index===columns()-1" id="linha"></span>
                </div>
            </div>
        </md-content>
</md-dialog>
