<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="Programa Água Para Todos">
                <div id="tabs">
                    <p>O Programa Água para Todos foi instituído pelo Decreto nº 7.535, de 26 de julho de 2011, mantendo-se em consonância, no que for cabível, com as diretrizes e objetivos do Plano Brasil sem Miséria (BSM, criado pelo Decreto nº 7.492, de 2 de junho de 2011), que o precedeu. No Plano Plurianual 2012-2015, os objetivos e metas do Água para Todos estão associados ao Programa 2069 - Segurança Alimentar e Nutricional. </p>

                    <p>São diretrizes do BSM: a garantia dos direitos sociais e a garantia de acesso aos serviços públicos e às oportunidades de ocupação e renda, bem como a atuação transparente, democrática e integrada dos órgãos da administração pública federal com os governos estaduais, distrital e municipais e com a sociedade, e ainda, a articulação de ações de garantia de renda com ações voltadas à melhoria das condições de vida da população extremamente pobre.</p>

                    <p>Estão entre os objetivos do referido Plano: elevação da renda familiar per capita da população em situação de extrema pobreza, e ampliação do acesso dessa população aos serviços públicos e a oportunidades de ocupação e renda, por meio de ações de inclusão produtiva.</p>

                    <p>Para dar cumprimento a essas diretrizes e objetivos, o BSM agrega três eixos de atuação que são: (I) a transferência de renda, (II) o acesso a serviços públicos e (III) a inclusão produtiva. Inserido no segundo eixo de atuação, encontra-se o Programa Nacional de Universalização do Acesso e Uso da Água - Água para Todos, destinado a promover a universalização do acesso à água em territórios rurais, tanto para consumo humano quanto para a produção agrícola e alimentar, com prioridade de atendimento as famílias que vivem em situação de pobrez e extrema pobreza, inscritas no Cadastro Social Único (CadÚnico) do governo federal do Ministério do Desenvolvimento Social e Combate à Fome, com renda per capita de até R$ 154,00 (cento cinquenta e quatro reais), ou não inscritas, mas que detenham tal perfil.</p>

                    <p>Embora seja de abrangência nacional, o Programa Água para Todos iniciou-se no Semiárido da Região Nordeste e do norte de Minas Gerais, e tem priorizado essas áreas, onde se concentra o maior número de famílias que vivem em situação de vulnerabilidade social. Essa população tem sido atendida, especialmente, com as seguintes tecnologias: cisternas de consumo, de placas ou de polietileno, à razão de uma por família; sistemas coletivos de abastecimento e barreiros (pequenas barragens), para atendimento a comunidades; e os kits de irrigação.</p>

                    <p>Com o advento do Programa Água para Todos, a partir da demanda do CadÚnico, foi fixada a meta de instalação de 750 mil cisternas, no período de julho de 2011 a dezembro de 2014, sendo 450.000 cisternas de placas e 300.000 cisternas de polietileno.</p>

                    <p>Com relação aos demais equipamentos de captação e abastecimento de água, ou tecnologias, no âmbito do Ministério da Integração Nacional, foi estabelecida a meta de implantação de 6.000 Sistemas Coletivos de Abastecimento de Água e 3.000 Barreiros (ou pequenas barragens).</p>

                    <p>Com respeito às cisternas de produção, a execução dessa tecnologia ficou sob a responsabilidade do MDS, Petrobrás e BNDES/FBB, para os quais foi fixada uma meta de implantação de 76.000 cisternas, no período de 2011 a 2014.</p>
                </div>
            </md-tab>
            <md-tab label="Cisternas de Placas - MDS">
                <div id="tabs">
                    <p>O Programa Nacional de Apoio à Captação de Água de Chuva e outras Tecnologias Sociais – Programa Cisternas, financiado pelo MDS desde 2003, instituído pela Lei Nº 12.873/2013 e regulamentado pelo Decreto N° 8.038/2013 , tem como objetivo a promoção do acesso à água para o consumo humano e para a produção de alimentos por meio da implementação de tecnologias sociais simples e de baixo custo.</p>

                    <p>O público alvo do Programa Cisternas são famílias rurais de baixa renda atingidas pela seca ou falta regular de água, com prioridade para povos e comunidades tradicionais.</p>

                    <p>Para participarem do Programa, as famílias devem necessariamente estar inscritas no Cadastro Único para Programas Sociais do Governo Federal.</p>

                    <p>O semiárido brasileiro é a região prioritária do Programa. Para essa região o Programa está voltado à estruturação das famílias para promover a convivência com a escassez de chuva, característica do clima na região, utilizando principalmente a tecnologia de cisternas de placas, reservatórios que armazenam água de chuva para utilização nos oito meses de período mais crítico de estiagem na região.</p>

                    
                    <p><b>As cisternas podem ser:</b></p>
                    <ul>
                        <li>Cisterna familiar de água para consumo, instaladas ao lado das casas e com capacidade de armazenar 16 mil litros de água potável.</li>
                        <li>Cisterna Escolar de água para consumo, instaladas em escolas do meio rural e com capacidade de armazenar 52 mil litros de água potável.</li>
                        <li>Cisterna de água para produção, com capacidade de 52 mil litros de água, de uso individual ou coletivo das famílias.</li>                        
                    </ul>
                    
                    <p>A metodologia de implementação empregada pelo Programa é o de Tecnologia Social, ou seja, é implementado em interação direta com a população diretamente beneficiada, envolvendo técnicas e metodologias apropriadas. Para isso a implementação prevê as seguintes etapas:</p>

                    <p><b>1) Mobilização social</b> - é o processo de escolha das comunidades envolvidas e mobilização das famílias que serão contempladas, realizado pela entidade executora com a participação de instituições representativas da localidade.</p>

                    <p><b>2) Capacitação</b> - é a fase do projeto que caracteriza as tecnologias implementadas pelo Programa Cisternas como “tecnologias sociais”, afinal, estimula-se o envolvimento dos beneficiários por meio da realização de capacitações específicas. Tais capacitações são realizadas valorizando a organização comunitária existente, com proposta pedagógica adequada, voltada à educação popular. Os materiais didáticos utilizados são produzidos com linguagem simples e ilustrações, favorecendo a compreensão dos processos envolvidos.</p>

                    <p><b>3) Implementação</b> - é a fase do projeto que se constrói ou implementa a tecnologia. A mão-de-obra é escolhida preferencialmente na própria comunidade, barateando, assim, custos, gerando oportunidades de trabalho e movimentando a economia local. As famílias beneficiadas e os pedreiros envolvidos são capacitados pelo próprio Programa. Assim o processo de construção e implementação das tecnologias é realizado em regime de cooperação, gerando sentimento de pertencimento, o que promove maior sustentabilidade ao equipamento instalado.</p>


                </div>
            </md-tab>
            <md-tab label="Cisternas de Polietileno - MI">
                <div id="tabs">
                    <p>No âmbito do Ministério da Integração Nacional, o Programa Água para Todos é gerenciado pela Secretaria de Desenvolvimento Regional - SDR, a quem cabe a formulação, implementação, monitoramento e avaliação de suas ações. Conta com um Comitê Gestor Nacional, composto pelo Ministério da Integração Nacional, que o coordena, pelos Ministérios do Desenvolvimento Social e Combate à Fome (MDS), das Cidades, do Meio Ambiente, da Saúde, pela Confederação Nacional dos Trabalhadores na Agricultura (CONTAG) e pela Federação Nacional dos Trabalhadores e Trabalhadoras na Agricultura Familiar (Fetraf-Brasil/CUT).  Também fazem parte do Comitê, como membros convidados, a Agência Nacional de Águas (ANA), a Fundação Banco do Brasil e a Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba (Codevasf).</p>

                    

                    <p>O <a target="_blank" href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Decreto/D7535.htm">Decreto 7.535 de 26.07.2011</a> estabeleceu como diretriz para o Programa Nacional de Universalização do Acesso e uso da Água, "Água para Todos", o fomento à ampliação da utilização de tecnologias, infraestrutura e equipamentos de captação e armazenamento de águas pluviais. Neste sentido, o Comitê Gestor Nacional do Programa Água para Todos,  integrante do Plano Brasil sem Miséria, sob a coordenação da Secretaria de Desenvolvimento Regional do Ministério da Integração Nacional, optou pela cisterna de polietileno por apresentar maior rapidez na instalação da cisterna e permitir total estanqueidade da água armazenada, considerando ainda as seguintes justificativas:</p>

                    <ul>
                        <li>A cisterna de polietileno vem sendo utilizada em vários países como Austrália, Malásia, Nova Zelândia, México, EUA, obtendo um resultado totalmente satisfatório;</li>
                        <li>A cisterna de polietileno permite o bombeamento para fins de abastecimento e irrigação;</li>
                        <li>O polietileno é uma tecnologia limpa e ecológica, é uma matéria prima de alta performance e durabilidade, não tóxico, inodoro e impermeável;</li>
                        <li>Trata-se de material de alta resistência;</li>
                        <li>Vem sendo aplicado em sistemas de adutoras, regido a níveis elevados de pressão, com excelente funcionalidade e também em sistemas de reservatórios de armazenamento de água comparando com outros materiais como PVC, fibra de vidro e placas de concreto;</li>
                        <li>Redução de despesas com a manutenção e operação do sistema, visto que a tampa de fechamento é com travamento, diminuindo significativamente a contaminação da água;</li>
                        <li>A escavação é rasa, com 80 cm de profundidade, sendo suficiente para enterrar o reservatório, bem menor que outros sistemas;</li>
                        <li>Rapidez de execução, proporcionando um benefício mais rápido às famílias carentes e sem acesso à água, bem como às condições de conservação da água;</li>
                        <li>O custo de instalação e montagem compatível com os benefícios auferidos com este sistema de reservatório de água potável;</li>
                        <li>Vida útil de no mínimo 20 anos, com um custo/beneficio bem significativo.</li>
                    </ul>

                </div>
            </md-tab>
        </md-tabs>
    </md-content>
	<md-dialog-actions layout="row" layout-align="space-between center">
		<md-button target="_blank" href="http://www.sda.ce.gov.br/index.php/programas-e-projetos-especiais" ng-click="">VER MAIS EM SDA</md-button>
		<md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
