<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-ptas">
    <div layout-align="start stretch" class="application-width avaliacao-anual" layout="column" ng-cloak>
        <md-card class="card-resumo" layout="row" layout-align="space-between">
            <div layout="column" layout-align="center start">
                <p><b>Cactus - {{pta.contrato.regiao.nome}}</b></p>
                <p>Contrato: {{pta.contrato.codigo}} - Número do Plano: {{pta.codigo}}</p>
                <p>Período Início: {{dataInicio}} - Período Fim: {{dataEncerramento}}</p>
                <p>Coordenador: {{pta.coordenador.pessoaFisica.pessoa.nome | capitalize}}</p>
            </div>
            <div layout="column" layout-align="start end">
                <div layout="row">
                    <h4 ng-if="pta.recusado"><span class="label" style="background-color: {{pta.status == '1'? '#EF5350' : '#3F51B5'}}; color: white; font-weight: normal; margin-right: 16px" ng-show="true">{{pta.status == "1"? 'Recusado' : 'Revisado'}}</span></h4>
                    <h4><span class="label" style="background-color: {{planoAnualConstants[pta.status].color}}; color: white; font-weight: normal;" ng-show="true">{{planoAnualConstants[pta.status].desc}}</span></h4>
                </div>
            </div>
        </md-card>

        <md-card layout="column" class="card-historico">
            <md-button class="button md-no-style" layout="row" ng-click="exibirHistorico = !exibirHistorico">
                <span flex>Histórico de Avaliação</span>
                <md-icon ng-class="{'expandir': exibirHistorico}" class="material-icons">expand_less</md-icon>
            </md-button>
            <md-list flex style="padding: 0" ng-show="exibirHistorico">
                <md-list-item ng-repeat="item in historico" ng-if="item.motivo == 'A' || item.motivo == 'R'">
                    <md-icon ng-show="item.motivo == 'A'" style="color:green; margin-right: 5px;"
                             class="material-icons">done
                    </md-icon>
                    <md-icon ng-show="item.motivo == 'R'" style="color:red; margin-right: 5px;" class="material-icons">
                        error_outline
                    </md-icon>
                    <p> {{item.motivo == 'A' ? 'Aceito' : item.motivo == 'R'? 'Recusado' : ''}} {{getAbreviacaoAutoridade(item.usuario.autoridades[0].nome)}} por
                        {{item.usuario.usuarioAvancado.pessoaFisica.pessoa.nome | capitalize}} em {{item.atualizacao | date:
                        'dd/MM/yyyy HH:mm'}} - Observação: {{item.avaliacao}}</p>
                </md-list-item>
            </md-list>
            <div ng-show="historico.length == 0 && exibirHistorico" class="historico-content" layout="row" layout-align="start center">
                Plano não possui histórico de avaliação.
            </div>

        </md-card>

        <md-card class="card-geral" layout="column">
            <div flex layout="row" layout-align="center center">
                <p><b>Municípios, Comunidades e Famílias</b></p>
            </div>
            <div layout="row" layout-align="center center" class="md-whiteframe-z1 totalizadores">
                <span flex="33">Total de Municípios: {{metasFamiliasPta.length}}</span>
                <span flex="33">Total de Comunidades: {{getTotalComunidadesAtendidas()}}</span>
                <span flex="33">Total de Famílias: {{getTotalFamiliasAtendidas()}}</span>
            </div>

            <md-list flex class="md-dense" style="padding: 0; margin: 16px" layout="column"
                     layout-align="start stretch">
                <div ng-repeat="meta in metasFamiliasPta" class="md-whiteframe-z1" layout="column" layout-align="start stretch" style="margin: 8px 0">
                    <md-button class="subcard-header md-no-style" layout="row" ng-click="expandirDetalhe($index);">
                        <div flex layout="row" layout-align="start center">
                            <span flex="30">{{meta[0].municipio.nome}}</span>
                            <span flex="40">Comunidades Atendidas: {{metasFamiliasPta[$index].length}}</span>
                            <span flex="30">Famílias Atendidas: 322</span>
                        </div>
                        <md-icon ng-class="{'expandir': exibirDetalhe[$index]}" class="material-icons">expand_less
                        </md-icon>
                    </md-button>
                    <div layout="row" ng-show="exibirDetalhe[$parent.$index]" flex layout-align="space-between center"
                         ng-repeat="metaComunidade in meta" class="subcard-body">
                        <span flex="90">{{metaComunidade.comunidade.nome}}</span>
                        <span flex="10">{{metaComunidade.quantidadeFamilias}}</span>
                    </div>
                </div>
            </md-list>

            <div style="margin-top: 10px;" flex layout="row" layout-align="center center">
                <p><b>Atividades do Plano de Trabalho Anual</b></p>
            </div>

            <div class="md-whiteframe-z1" layout="column" layout-align="start stretch" style="margin: 8px 0">
                <div flex layout="row" layout-align="start center" class="subcard-header">
                    <span flex="60">Atividade</span>
                    <span flex="30">Unidade</span>
                    <span flex="10">Meta</span>
                </div>
                <div flex layout="row" flex layout-align="space-between center" ng-repeat="atividade in pta.metasAtividadesPta" class="subcard-body">
                    <span flex="60">{{atividade.atividade.nome}}</span>
                    <span flex="30">{{atividade.atividade.unidade}}</span>
                    <span flex="10">{{atividade.quantidadeMeta}}</span>
                </div>
            </div>
        </md-card>
    </div>
</div>
