<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-entidades">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <md-tabs flex md-dynamic-height md-center-tabs="true">
            <md-tab ng-click="mostraInput = 'parceira'" label="PARCEIRA DE ATER"></md-tab>
            <md-tab ng-click="mostraInput = 'regiao'" label="REGIÃO"></md-tab>
            <md-tab ng-click="mostraInput = 'municipio'" label="MUNICÍPIO"></md-tab>

        </md-tabs>

        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: regiaoSelecionada.id, nome: regiaoSelecionada.nome, titulo: 'Região', tipo: 'regiao', objeto: regiaoSelecionada})" name="regiaoForm" ng-show="mostraInput == 'regiao'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-regiao"
                    md-input-name="autoCompleteRegiao"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="regiaoSelecionada"
                    md-search-text="regiao"
                    md-items="item in buscarAutoCompletePorFiltro(regiao, 'api/regiao/')"
                    md-item-text="item.nome"
                    md-require-match
                    placeholder="Buscar por Região">
                    <md-item-template>
                        <span md-highlight-text="regiao">{{item.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="regiaoForm.autoCompleteRegiao.$error" ng-if="regiaoForm.autoCompleteRegiao.$touched && regiaoForm.autoCompleteRegiao.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher uma região para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma região existente.</div>
            </div>
        </form>

        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: municipioSelecionado.id, nome: municipioSelecionado.nome, titulo: 'Municipio', tipo: 'municipio', objeto: municipioSelecionado})" name="municipioForm" ng-show="mostraInput == 'municipio'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-municipio"
                    md-input-name="autoCompleteMunicipio"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="municipioSelecionado"
                    md-search-text="municipio"
                    md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                    md-item-text="item.nome"
                    md-require-match
                    placeholder="Buscar por Município">
                    <md-item-template>
                        <span md-highlight-text="organizacao">{{item.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="municipioForm.autoCompleteMunicipio.$error" ng-if="municipioForm.autoCompleteMunicipio.$touched && municipioForm.autoCompleteMunicipio.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um município para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma município existente.</div>
            </div>
        </form>

        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: parceiraSelecionada, nome: parceiraSelecionada, titulo: 'Parceira', tipo: 'empresa', objeto: parceiraSelecionada})" name="parceiraForm" ng-show="mostraInput == 'parceira'" layout="column">

            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nomeParceira" flex type="text" class="input-filtro" ng-model="parceiraSelecionada" placeholder="Buscar por Parceira">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="parceiraForm.nomeParceira.$error" ng-if="parceiraForm.nomeParceira.$touched && parceiraForm.nomeParceira.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um parceira para adicionar esse filtro.</div>
            </div>
        </form>

        <div layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome}} <strong><em>({{$chip.titulo}})</em></strong></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div class="list" layout="column">
            <div class="mensagem" ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                <img alt="" src="assets/images/buscasemresultado.svg">
                <h1>Nenhum resultado encontrado para sua busca.</h1>
                <span>Tente usar os filtros para obter melhor resultado.</span>
            </div>

            <md-list class="md-dense" ng-show="entidades.length > 0" flex md-whiteframe="2"  layout="column" layout-align="center">
                <md-list-item ng-click="carregarEntidade(item)" class="md-3-line" ng-repeat="item in entidades">
                    <avatar class="md-avatar" name="{{item.nome}}" size="40px" font-size="24px"></avatar>
                    <div class="md-list-item-text" layout="column">
                        <h3 style="padding-bottom: 5px">{{item.nome | capitalize}}</h3>
                        <p style="margin-bottom: 5px;">{{item.nomeFantasia | capitalize}}</p>
                        <p>{{getRegioesContrato(item.contratoRegioes).join(', ')}}</p>
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-list>
            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
            </div>
        </div>
    </div>
</div>
