<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="COMO PARTICIPAR">
                <div id="tabs">
                    <p>Para participar do Projeto o(a) agricultor(a) deve apresentar os seguintes documentos: CPF, RG, DAP e Comprovante de endereço. O processo consiste nas seguintes etapas:</p>

                    <p>1 – Preenchimento de ficha Cadastral de Agricultores habilitados para o Projeto, junto Escritórios da EMATERCE (Empresa de Assistência Técnica e Extensão rural);</p>

                    <p>2 – Assinatura de contrato do Agricultor com a Petrobrás Biocombustível – Pbio, para garantia da comercialização das oleaginosas do Projeto;</p>

                    <p>3 – Contrato em 4 vias, preenchido e assinado enviado para a direção da PBIO para a devida aprovação, com prazo de vigência de 5 anos;</p>

                    <p>4 – Registro dos Agricultores no Sistema HPNet, software da SDA, que controla e monitora o Projeto;</p>

                    <p>5 - Agricultores registrados procuram a EMATERCE para o recebimento das Sementes de Oleaginosas e culturas alimentares;</p>

                    <p>6 – A SDA adquire através do Projeto Hora de Plantar, as Sementes de Oleaginosas e culturas alimentares, e a EMATERCE fará a devida entrega destas sementes aos agricultores familiares cadastrados;</p>

                    <p>7 – Agricultores efetuam o plantio segundo orientação da EMATERCE;</p>

                    <p>8 – Os campos de oleaginosas, são vistoriados pela EMATERCE, a qual emite laudos, informando a área planta e estimativas de produção e produtividade; </p>

                    <p>9 - Agricultores comercializam a produção com a Pbio.</p>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button target="_blank" href="http://www.sda.ce.gov.br" ng-click="">VER MAIS EM SDA</md-button>
        <md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
