<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-localidades">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <md-tabs flex md-dynamic-height md-center-tabs="true">
            <md-tab ng-click="mostraInput = 'atividade'" label="ATIVIDADE"></md-tab>
            <md-tab ng-click="mostraInput = 'acao'" label="AÇÃO"></md-tab>
        </md-tabs>

        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: atividadeSelecionada, nome: atividadeSelecionada, titulo: 'Atividade', tipo: 'atividade', objeto: atividadeSelecionada})" name="atividadeForm" ng-show="mostraInput == 'atividade'" layout="column">
            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nomeAtividade" flex type="text" class="input-filtro" ng-model="atividadeSelecionada" placeholder="Buscar por Atividade">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="atividadeForm.nomeAtividade.$error" ng-if="atividadeForm.nomeAtividade.$touched && atividadeForm.nomeAtividade.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher uma atividade para adicionar esse filtro.</div>
            </div>
        </form>

        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: acaoSelecionada.id, nome: acaoSelecionada.nome, titulo: 'Ação', tipo: 'acao', objeto: acaoSelecionada})" name="acaoForm" ng-show="mostraInput == 'acao'" layout="row" layout-align="start center">
                <md-select class="input-filtro-acao" ng-model="acaoSelecionada" placeholder="Buscar por Ação" class="md-no-underline flex">
                    <md-option ng-value="acao" ng-repeat="acao in acoes">{{ acao.nome }}</md-option>
                </md-select>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            <div layout="row" class="message-error-autocomplete" ng-messages="acaoForm.autoCompleteAcao.$error" ng-if="acaoForm.autoCompleteAcao.$touched && acaoForm.autoCompleteAcao.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher uma ação para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma ação existente.</div>
            </div>
        </form>

        <div layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome | capitalize}} <strong><em>({{$chip.titulo}})</em></strong></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div class="list" layout="column">
            <div class="mensagem" ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                <img alt="" src="assets/images/buscasemresultado.svg">
                <h1>Nenhum resultado encontrado para sua busca.</h1>
                <span>Tente usar os filtros para obter melhor resultado.</span>
            </div>

            <md-list class="md-dense" ng-show="atividade.length > 0" flex md-whiteframe="2"  layout="column" layout-align="center">
                <md-list-item ng-click="carregarAtividade(item)" class="md-2-line" ng-repeat="item in atividade">
                    <div class="md-list-item-text" layout="column" layout-align="center">
                        <h3>{{item.nome | capitalize}}</h3>
                        <p>Ação: {{item.acao.nome | capitalize}}</p>
                        <p>Atualizado em {{item.atualizacao | date:"dd/MM/yyyy"}} por {{item.usuario.usuarioAvancado.pessoaFisica.pessoa.nome | capitalize}}</p>
                    </div>
                    <div class="div-detalhes-localidade" ng-show="podeEditar()">
                        <md-icon class="material-icons" ng-click="carregarAtividade(item)">
                            mode_edit
                            <md-tooltip md-direction="bottom">
                                Editar Atividade
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div class="div-delete-localidade" ng-show="podeExcluir()">
                        <md-icon class="material-icons" ng-click="deletarAtividade($index,item)">
                            delete
                            <md-tooltip md-direction="bottom">
                                Deletar Atividade
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-list>
            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
            </div>
        </div>
    </div>
</div>
