<meta charset="UTF-8">
<md-card md-theme="themeAWhite" style="min-height: 185px" layout="row" layout-align="center center" class="card-foto-usuario" ng-class="!account.agricultor.pessoaFisica.pessoa.foto ? 'true' : 'false'">
	<div ng-controller="CardAgricultorFotoController" layout="column" layout-align="center center">
 		<avatar image="{{account.agricultor.pessoaFisica.pessoa.foto}}" name="{{account.agricultor.pessoaFisica.pessoa.nome}}" size="96px" font-size="60px" color-index="{{corFoto}}"></avatar>
 		<span id="nome">{{account.agricultor.pessoaFisica.pessoa.nome | capitalize}}</span>
        <div  id="etnia" layout="row" layout-align="center center">
            <img ng-show="account.agricultor.etnia.id != null" src="assets/images/etnia/{{account.agricultor.etnia.codigo}}.svg"  alt="">
            <!--a ng-show="$root.isAgricultor" ng-click="showDialogApelido()" href="">{{account.agricultor.etnia.descricao | capitalize}}</a>
            <span ng-hide="$root.isAgricultor">{{account.agricultor.etnia.descricao | capitalize}}</span> -->
        </div>
	    <div ng-if="!account.agricultor.pessoaFisica.pessoa.foto">
			    <md-card-actions layout="row" layout-align="center center">
			    	<md-button ng-click="showDialogCrop()" class="md-raised md-primary btn-upload">Inserir foto</md-button>
			    </md-card-actions>
	    </div>
	</div>
</md-card>
