<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit" ng-intro-onbeforechange="introOnBeforeChange">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak >
        <div layout-align="center" flex  layout="column" layout-gt-xs="row">
            <div layout="column" flex="50">
                <div id="step1" ui-view="cardagricultorfoto"></div>
                <div id="step2" ui-view="cardagricultortemperatura"></div>
            </div>
            <div layout="column" flex="50">
                <div id="step3" ui-view="cardagricultordados"></div>
            </div>
        </div>
        <div flex id="step4" ui-view="cardagricultormapa"></div>
        <div layout-align="center" flex  layout="column" layout-gt-xs="row">
            <div layout="column" flex="50">
                <div id="step5" ui-view="cardagricultorprojeto"></div>
            </div>
            <div layout="column" flex="50">
                <div id="step6" ui-view="cardagricultorater"></div>
            </div>
        </div>
    </div>
</div>
