<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="relatorio-cadastro">
    <div flex="70" layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <form flex ng-submit="gerarRelatorio()" name="filtrosRelatorioForm" md-theme="themeUAWhite" layout-fill>
            <md-content flex md-theme="themeUA" class="conteudo-filtro">
                <div flex layout="row" layout-gt-xs="row" layout-wrap layout-fill>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Plano Anual</label>
                        <md-select name="pta" ng-model="filtro.pta" md-on-close="aposSelecionarPta(filtro.pta)" ng-disabled="disablePta" ng-required="!disablePta">
                            <md-option ng-repeat="item in ptas" ng-value="item" >{{item.codigo}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Plano Trimestral</label>
                        <md-select name="pt" ng-model="filtro.pt" ng-disabled="!filtro.pta" ng-required="filtro.pta">
                            <md-option ng-repeat="item in filtro.pta.planosTrimestrais" ng-value="item" >{{item.trimestre}}º Trimestre -
                                ({{item.primeiroMes | date: 'MMM/yyyy' | capitalize}} -
                                {{item.terceiroMes | date: 'MMM/yyyy' | capitalize}})</md-option>
                        </md-select>
                        <div ng-messages="filtrosRelatorioForm.pt.$error">
                            <div ng-message="required">Opa! O campo Plano Trimestral é obrigatorio</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="30" flex-xs="100">
                        <label>Região</label>
                        <md-select name="regiao" ng-model="filtro.regiao"  multiple="true" md-on-close="aposSelecionarRegiao(filtro.regiao)"  md-on-open="aposAbrirRegiao(filtro.regiao)" ng-disabled="disableRegiao" ng-required="!disableRegiao">
                            <md-option ng-repeat="item in regiaoList" ng-value="item.id" >{{item.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>ATC</label>
                        <md-select ng-if="parceiraATC == null" name="atc" ng-model="filtro.atc" multiple="true" md-on-close="aposSelecionarATC(filtro.atc)" md-on-open="aposAbrirAtc(filtro.atc)" ng-disabled="disableAtc" ng-required="!disableAtc">
                            <md-option ng-repeat="item in atcList" ng-value="item.id" >{{item.nomeFantasia}}</md-option>
                        </md-select>
                        <input ng-if="parceiraATC != null" name="parceiraATC" ng-model="parceiraATC" maxlength="10" ng-disabled="true">
                        <div ng-messages="filtrosRelatorioForm.atc.$error">
                            <div ng-message="required">Opa! O campo ATC é obrigatorio</div>
                        </div>
                    </md-input-container>
                    <!--div class="md-block" flex="33" flex-xs="100">
                        <p style="font-size: 14px; opacity: 0.5"   >Tipo</p>
                        <md-radio-group ng-model="filtro.tipo" layout="row">
                            <md-radio-button value="analitico">Analítico</md-radio-button>
                            <md-radio-button value="sintetico">Sintético</md-radio-button>
                        </md-radio-group>
                    </div-->
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="limparFiltros()">Limpar Filtros</md-button>
                    <md-button class="md-raised md-accent" type="submit">Gerar Relatório</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>
