<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="relatorio-cadastro">
    <div flex="70" layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <form flex ng-submit="gerarRelatorio()" name="filtrosRelatorioForm" md-theme="themeUAWhite" layout-fill>
            <md-content flex md-theme="themeUA" class="conteudo-filtro">
                <div flex layout="row" layout-gt-xs="row" layout-wrap layout-fill>
                    <md-input-container class="md-block input-date" flex="33" flex-xs="100">
                        <label>Data Início</label>
                        <input name="dataInicio" ng-model="dataInicio"  maxlength="10" date-mask>
                        <div ng-messages="filtrosRelatorioForm.dataInicio.$error">
                            <div ng-message="formatoInvalido">Formato inválido de data</div>
                            <div ng-message="minimo">Tamanho inválido de data Ex: DD/MM/AAAA</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block input-date" flex="33" flex-xs="100">
                        <label>Data Fim</label>
                        <input name="dataFim" ng-model="dataFim" date-mask maxlength="10">
                        <div ng-messages="filtrosRelatorioForm.dataFim.$error">
                            <div ng-message="formatoInvalido">Formato inválido de data</div>
                            <div ng-message="minimo">Tamanho inválido de data Ex: DD/MM/AAAA</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Linha de Base</label>
                        <md-select name="linha" ng-model="filtro.linhaBase"  multiple="false" ng-required="true">
                            <md-option ng-repeat="item in linhaBase" ng-value="item" >{{item}}</md-option>
                        </md-select>
                        <div ng-messages="filtrosRelatorioForm.linha.$error">
                            <div ng-message="required">Opa! O campo Linha Base é obrigatorio</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Região</label>
                        <md-select name="regiao" ng-model="filtro.regiao"  multiple="true" md-on-close="aposSelecionarRegiao(filtro.regiao)"  md-on-open="aposAbrirRegiao(filtro.regiao)" ng-disabled="disableRegiao">
                            <md-option ng-repeat="item in regiaoList" ng-value="item.id" >{{item.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Município</label>
                        <md-select name="municipio" ng-model="filtro.municipio" multiple="true" md-on-close="aposSelecionarMunicipio(filtro.municipio)" md-on-open="aposAbrirMunicipio(filtro.municipio)" ng-disabled="disableMunicipio">
                            <md-option ng-repeat="item in municipioList" ng-value="item.id" >{{item.nome}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Comunidade</label>
                        <md-select name="comunidade" ng-model="filtro.comunidade" multiple="true" md-on-close="aposSelecionarComunidade(filtro.comunidade)" ng-disabled="disableComunidade">
                            <md-option ng-repeat="item in comunidadeList" ng-value="item.id" >{{item.nome | capitalize}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Tipo de Comunidade</label>
                        <md-select name="comunidade" ng-model="filtro.tipoComunidade" multiple="true" md-on-close="aposSelecionarTipoComunidade(filtro.tipoComunidade)">
                            <md-option ng-repeat="item in tiposComunidade" ng-value="item.id" >{{item.desc | capitalize}}</md-option>
                        </md-select>
                    </md-input-container>
<!--                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <p style="font-size: 14px; opacity: 0.5"   >Formato</p>
                        <md-radio-group ng-model="formato" layout="row">
                            <md-radio-button value="pdf">PDF</md-radio-button>
                            <md-radio-button value="xls">XLS</md-radio-button>
                        </md-radio-group>
                    </md-input-container>-->
                    <div class="md-block" flex="33" flex-xs="100">
                        <p style="font-size: 14px; opacity: 0.5" >Visualização</p>
                        <md-radio-group ng-model="visualizacao" layout="row">
                            <md-radio-button value="tabela">Tabela</md-radio-button>
                            <md-radio-button value="grafico">Gráfico</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div class="md-block" flex="33" flex-xs="100">
                        <p style="font-size: 14px; opacity: 0.5" >Visualização dos cadastros</p>
                        <md-radio-group ng-model="visualizacaoCadastros" layout="row">
                            <md-radio-button value="naoavaliados">Todos</md-radio-button>
                            <md-radio-button value="aprovados">Aprovados</md-radio-button>
                        </md-radio-group>
                    </div>
                    <md-input-container class="md-block" flex="33" flex-xs="100">
                        <label>Opções de Relatórios</label>
                        <md-select name="opcoes" ng-model="filtro.opcoes" multiple="false" ng-required="true">
                            <md-option ng-repeat="item in opcoesDeRelatorio" ng-value="item.id" >{{item.nome | capitalize}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div flex layout="row" layout-align="end center">
                    <md-button class="md-accent" ng-click="limparFiltros()">Limpar Filtros</md-button>
                    <md-button class="md-raised md-accent" type="submit">Gerar Relatório</md-button>
                </div>

            </md-content>
        </form>
    </div>
</div>
