<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-temas">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <md-tabs flex md-dynamic-height md-center-tabs="true" md-swipe-content>
            <md-tab ng-click="mostraInput = 'tema'" label="TEMA"></md-tab>
            <md-tab ng-click="mostraInput = 'eixo-tematico'" label="EIXO TEMÁTICO"></md-tab>
        </md-tabs>
        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: temaSelecionado, nome: temaSelecionado, titulo: 'Tema', tipo: 'nome', objeto: temaSelecionado})"
              ng-show="mostraInput == 'tema'" name="temaForm" layout="column">
            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nomeTema" flex type="text" class="input-filtro" ng-model="temaSelecionado"
                       placeholder="Buscar por Tema">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="temaForm.nomeTema.$error"
                 ng-if="temaForm.nomeTema.$touched && temaForm.nomeTema.$dirty">
                <div ng-message="required">Você <b>deve</b> digitar um tema para adicionar esse filtro.</div>
            </div>
        </form>
        <form class="tabs-content"
              ng-submit="adicioarFiltroChip({id: eixoTematicoSelecionado.id, nome: eixoTematicoSelecionado.nome, titulo: 'Eixo Temático', tipo: 'eixoTematico', objeto: eixoTematicoSelecionado})"
              name="eixoTematicoForm" ng-show="mostraInput == 'eixo-tematico'" layout="row" layout-align="start center">
            <md-select class="input-filtro-eixo-tematico" ng-model="eixoTematicoSelecionado"
                       placeholder="Buscar por Eixo Temático" class="md-no-underline flex">
                <md-option ng-value="item" ng-repeat="item in eixos">{{ item.nome }}</md-option>
            </md-select>

            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
        </form>
        <div layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome | capitalize}} <strong><em>({{$chip.titulo}})</em></strong></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">
                clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div class="list" layout="column">
            <div class="mensagem" ng-show="filtros.length > 0 && semResultado" layout="column"
                 layout-align="start center">
                <img alt="" src="assets/images/buscasemresultado.svg">
                <h1>Nenhum resultado encontrado para sua busca.</h1>
                <span>Tente usar os filtros para obter melhor resultado.</span>
            </div>

            <md-list class="md-dense" ng-show="tema.length > 0" flex md-whiteframe="2" layout="column"
                     layout-align="center">
                <md-list-item ng-click="carregarTema(item)" class="md-2-line" ng-repeat="item in tema">
                    <div class="md-list-item-text" layout="column" layout-align="center">
                        <h3>{{item.nome | capitalize}} - {{item.eixoTematico.nome | capitalize}}</h3>
                        <p>Atualizado em {{item.atualizacao | date:"dd/MM/yyyy"}}</p>
                        <p>Técnico(a): {{item.usuario.usuarioAvancado.pessoaFisica.pessoa.nome}}</p>
                    </div>
                    <div class="div-detalhes-temas" ng-show="podeEditar()">
                        <md-icon class="material-icons" ng-click="carregarTema(item)">
                            mode_edit
                            <md-tooltip md-direction="bottom">
                                Editar Tema
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div class="div-delete-temas" ng-show="podeExcluir()">
                        <md-icon class="material-icons" ng-click="deletarEixo($index,item)">
                            delete
                            <md-tooltip md-direction="bottom">
                                Deletar Tema
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
            </div>
        </div>
    </div>
</div>
