<meta charset="UTF-8">

<md-content md-theme="themeUA" layout="row" flex layout-align="center center" id="reset-request">

    <div layout="column" flex layout-align="center center" class="application-width">

            <img id="recuperar-senha" src="assets/images/recuperaSenha.svg">

            <span class="messagem-sucesso" ng-show="success" ng-repeat="message in sucessMessages">
        		{{message}}
    		</span>

    		<span class="messagem-erro" ng-show="error" ng-repeat="message in errorMessages">
	       		{{message}}
	   		</span>

            <form layout="column" flex layout-align="center center" name="resetForm" ng-submit="resetForm.$valid && requestReset($event, resetForm)" ng-show="!success" >

                <span id="label-esqueceu-senha">Esqueceu sua senha?</span>
                <span id="digite-endereco">Digite o endereço de e-mail usado no seu registro.</span>

                <md-input-container id="input-container" class="md-block">
                    <label>E-mail</label>
                    <md-icon class="material-icons">email</md-icon>
                    <input type="email" ng-required name="email" ng-model="email" focus="true" >
                    <div ng-messages="resetForm.email.$error">
                        <div ng-message="requerido">Opa! O campo E-mail é obrigatorio</div>
                    </div>
                </md-input-container>

                <md-button type="submit" ng-disabled="!email ||resetForm.$invalid" class="md-raised md-primary">Enviar</md-button>
            </form>

            <div layout="row" layout-align="space-between start" flex id="checkboxs">
                <a id="links" ng-href="#/login">Voltar para login</a>
            </div>

        <div layout="row" flex layout-align="center center" id="div-logo">
            <a ng-href="/" layout="row" flex>
                <img id="logo-sistema" src="assets/images/logoCompleta.svg">
            </a>
            <a ng-href="http://www.sda.ce.gov.br/">
                <img id="logo-secretaria" src="assets/images/logoSecretaria.svg" alt="" />
            </a>
        </div>

    </div>


</md-content>
