<meta charset="UTF-8">
<md-dialog flex="70" layout="column" class="dialogs95">
    <header flex="noshrink" layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Meu Perfil
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
  	<md-content flex md-theme="themeUA">
		<md-tabs md-border-bottom md-dynamic-height>
			<md-tab label="Dados Pessoais">
				<div flex layout="row" layout-align="center stretch" class="form-dados-usuario-avancado">
					<div flex layout-align="center center" layout="column" ng-cloak>
						<form flex  name="usuarioAvancadoDadosPessoaisForm" layout-fill >
							<md-content flex  layout-gt-xs="row" layout-wrap layout-padding id="content-dialog-usuario-avancado" layout-fill>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Nome</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.nome" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>CPF</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.cpf" cpf-mask disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Sexo</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.sexo" sexo-mask disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Data de Nascimento</label>
									<input ng-model="dataNascimento" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Estado Civil</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.estadoCivil.descricao" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Naturalidade Municipio</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.naturalidade.nome" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Naturalidade UF</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.naturalidade.uf.descricao" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>RG</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.rg" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Orgão de Expedição</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.orgaoExpedidorRg" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Local de Expedição</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.localExpedicaoRg.descricao" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Data da Expedição</label>
									<input ng-model="dataExpedicaoRg" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Empresa</label>
									<input ng-model="$root.account.usuarioAvancado.empresa.pessoaJuridica.pessoa.nome" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Cargo</label>
									<input ng-model="$root.account.usuarioAvancado.cargo.descricao" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Escolaridade</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.escolaridade.descricao" capitalize disabled>
								</md-input-container>
									<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Formação</label>
									<input ng-model="$root.account.usuarioAvancado.formacao.descricao" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Nacionalidade</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.nacionalidade.nacionalidade" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Nome da Mãe</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.nomeMae" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Nome do Pai</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.nomePai" capitalize disabled>
								</md-input-container>
							</md-content>
						</form>
					</div>
				</div>
			</md-tab>
			<md-tab label="Endereço">
		    	<div flex layout="row" layout-align="center stretch" class="form-dados-usuario-avancado">
					<div flex layout-align="center center" layout="column"  ng-cloak>
			         	<form flex name="usuarioAvancadoEnderecoForm" layout-fill>
							<md-content flex layout-gt-xs="row" layout-wrap layout-padding id="content-dialog-usuario-avancado" layout-fill>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Endereço</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.logradouro" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Nº</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.numero" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>CEP</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.cep" cep-mask disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Complemento</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.complemento" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Bairro</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.bairro" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Município</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.municipio.nome" capitalize disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>UF</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.municipio.uf.sigla" capitalize disabled>
								</md-input-container>
							</md-content>
						</form>
			        </div>
		    	</div>
			</md-tab>
			<md-tab label="Contato">
		    	<div flex layout="row" layout-align="center stretch" class="form-dados-usuario-avancado">
				    <div flex layout-align="center center" layout="column"  ng-cloak>
			          	<form flex name="agricultorContatoForm"  layout-fill>
							<md-content layout-gt-xs="row" layout-wrap layout-padding id="content-dialog-usuario-avancado" layout-fill>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>E-mail Pessoal</label>
									<input ng-model="$root.account.usuarioAvancado.pessoaFisica.pessoa.email" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>E-mail Institucional</label>
									<input ng-model="$root.account.usuarioAvancado.emailInstitucional" disabled>
								</md-input-container>
								<!-- md-input-container class="md-block" flex="25" flex-xs="100">//TODO celular lista
									<label>Telefone Residencial</label>
									<input ng-model="$root.account.usuarioAvancado.pessoa.telefone" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Telefone Trabalho</label>
									<input ng-model="$root.account.usuarioAvancado.telefoneTrabalho" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Celular 1</label>
									<input ng-model="$root.account.usuarioAvancado.pessoa.celular1" disabled>
								</md-input-container>
								<md-input-container class="md-block" flex="25" flex-xs="100">
									<label>Celular 2</label>
									<input ng-model="$root.account.usuarioAvancado.pessoa.celular2" disabled>
								</md-input-container> -->
								<md-input-container class="md-block" flex="50" flex-xs="100">
									<label>Setor</label>
									<input ng-model="$root.account.usuarioAvancado.setor.descricao" disabled>
								</md-input-container>
							</md-content>
						</form>
			    	</div>
			    </div>
	    	</md-tab>
		</md-tabs>
	</md-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <span></span>
        <md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
