<meta charset="UTF-8" xmlns="http://www.w3.org/1999/html">
<md-tabs md-border-bottom md-center-tabs="true" md-dynamic-height>
    <md-tab label="Dados Pessoais">
        <div flex layout="row" layout-align="center stretch" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
            <div layout-align="start stretch" layout="column" class="dados-tabs">
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-2-3': !dispMovel}" flex>
                        <label>Nome</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.nome" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Apelido</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.apelido" capitalize disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>CPF</label>
                        <input ng-model="account.agricultor.pessoaFisica.cpf" cpf-mask disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Data de Nascimento</label>
                        <input ng-model="dataNascimento" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>RG</label>
                        <input ng-model="account.agricultor.pessoaFisica.rg" disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Orgão de Expedição</label>
                        <input ng-model="account.agricultor.pessoaFisica.orgaoExpedidorRg" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Local de Expedição</label>
                        <input ng-model="account.agricultor.pessoaFisica.localExpedicaoRg.sigla" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>DAP Atual</label>
                        <input ng-model="account.agricultor.daps[0].numero" disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>NIS</label>
                        <input ng-model="account.agricultor.pessoaFisica.nis" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>NIT</label>
                        <input ng-model="account.agricultor.pessoaFisica.nit" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Escolaridade</label>
                        <input ng-model="account.agricultor.pessoaFisica.escolaridade.descricao" capitalize disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Sexo</label>
                        <input ng-model="account.agricultor.pessoaFisica.sexo" sexo-mask disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Estado Civil</label>
                        <input ng-model="account.agricultor.pessoaFisica.estadoCivil.descricao" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Nome da Mãe</label>
                        <input ng-model="account.agricultor.pessoaFisica.nomeMae" capitalize disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Naturalidade UF</label>
                        <input ng-model="account.agricultor.pessoaFisica.naturalidade.uf.sigla" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Naturalidade Municipio</label>
                        <input ng-model="account.agricultor.pessoaFisica.naturalidade.nome" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Nome do Pai</label>
                        <input ng-model="account.agricultor.pessoaFisica.nomePai" capitalize disabled>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Endereço">
        <div flex layout="row" layout-align="center stretch">
            <div layout-align="start stretch" layout="column" class="dados-tabs">
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-2-3': !dispMovel}" flex>
                        <label>Endereço</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.logradouro" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Nº</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.numero" disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-2-3': !dispMovel}" flex>
                        <label>Complemento</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.complemento" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>CEP</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.cep" cep-mask disabled>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Município</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.municipio.nome" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Distrito</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.distrito.nome" capitalize disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Localidade</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.localidade.nome" capitalize disabled>
                    </md-input-container>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Contato">
        <div flex layout="row" layout-align="center stretch">
            <div layout-align="start stretch" layout="column" class="dados-tabs">
                <div layout="column" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-2-3': !dispMovel}" flex>
                        <label>E-mail</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.email" disabled>
                    </md-input-container>
                    <md-card flex ng-show="account.agricultor.pessoaFisica.pessoa.telefones.length > 0">
                        <div flex layout="row" layout-align="start center" class="md-dense div-card">
                            <label class="dados-label" flex="50">Telefone</label>
                            <label class="dados-label" flex="50">Tipo</label>
                        </div>
                        <md-list class="md-dense">
                            <md-list-item flex ng-repeat="telefone in account.agricultor.pessoaFisica.pessoa.telefones">
                                <label class="dados-label" flex="50">{{telefone.numero | capitalize}}</label>
                                <label class="dados-label" flex="25">{{telefone.tipo}}</label>
                                <md-divider ></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card>
                    <span hide-xs></span>
                    <!--  md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Telefone</label>
                        <input ng-model="account.agricultor.pessoaFisica.pessoa.telefone" disabled>
                    </md-input-container>-->
                </div>
                <!-- div layout="row" layout-xs="column" flex>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Celular 1</label>
                        <input ng-model="account.agricultor.pessoa.celular1" disabled>
                    </md-input-container>
                    <span hide-xs></span>
                    <md-input-container class="md-block" ng-class="{'col-1-3': !dispMovel}" flex>
                        <label>Celular 2</label>
                        <input ng-model="account.agricultor.pessoa.celular2" disabled>
                    </md-input-container>
                </div> -->
            </div>
        </div>
    </md-tab>
    <md-tab label="Membro da Família" >
        <div flex layout="row" layout-align="center stretch">
            <div layout-align="start stretch" layout="column" class="dados-tabs">
                <div layout="row" layout-xs="column" flex>
                    <md-card flex ng-show="account.agricultor.familia.parentes.length > 0">
                        <div flex layout="row" layout-align="start center" class="md-dense div-card">
                            <label class="dados-label" flex="50">Nome</label>
                            <label class="dados-label" flex="25">CPF</label>
                            <label class="dados-label" flex="25">Parentesco</label>
                        </div>
                        <md-list class="md-dense">
                            <md-list-item flex ng-repeat="parente in account.agricultor.familia.parentes" >
                                    <label class="dados-label" flex="50">{{parente.agricultor.pessoaFisica.pessoa.nome | capitalize}}</label>
                                    <label class="dados-label" flex="25">{{parente.agricultor.pessoaFisica.cpf}}</label>
                                    <label class="dados-label" flex="25">{{parente.parentesco}}</label>
                            <md-divider ></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-card>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Dados Financeiros">
        <div flex layout="row" layout-align="center stretch">
            <div layout-align="start stretch" layout="column" class="dados-tabs">
                <div layout="row" flex ng-repeat="dado in dadosBancarios" ng-if="dadosBancarios.length !== 0">
                    <img ng-src="assets/images/bancos/Banco{{dado.banco.codigo}}{{dado.ativo}}.svg">
                    <span></span>
                    <div layout-xs="column" layout="row" flex>
                        <md-input-container class="md-block" ng-class="{'col-2-5': !dispMovel}" flex>
                            <label ng-class="{inativo: dado.ativo ==='Inativa'}">Banco</label>
                            <input ng-class="{inativo: dado.ativo ==='Inativa'}" ng-model="dado.banco.descricao" disabled>
                        </md-input-container>
                        <span hide-xs></span>
                        <md-input-container class="md-block" ng-class="{'col-1-5': !dispMovel}" flex>
                            <label ng-class="{inativo: dado.ativo ==='Inativa'}">Agência</label>
                            <input ng-class="{inativo: dado.ativo ==='Inativa'}" ng-model="dado.agencia" disabled>
                        </md-input-container>
                        <span hide-xs></span>
                        <md-input-container class="md-block" ng-class="{'col-1-5': !dispMovel}" flex>
                            <label ng-class="{inativo: dado.ativo ==='Inativa'}">Conta Corrente</label>
                            <input ng-class="{inativo: dado.ativo ==='Inativa'}" ng-model="dado.conta" disabled>
                        </md-input-container>
                        <span hide-xs></span>
                        <md-input-container class="md-block" ng-class="{'col-1-5': !dispMovel}" flex>
                            <label ng-class="{inativo: dado.ativo ==='Inativa'}">Situação</label>
                            <input ng-class="{inativo: dado.ativo ==='Inativa'}" ng-model="dado.ativo" disabled>
                        </md-input-container>
                    </div>
                </div>
                <div id="div" ng-if="dadosBancarios.length === 0">
                    <h3>Não há conta bancária cadastrada na SDA</h3>
                    <p>Para mais informações acesse: <a target="_blank" href="http://www.sda.ce.gov.br/">www.sda.ce.gov.br</a></p>
                </div>
            </div>
        </div>
    </md-tab>
</md-tabs>

