<meta charset="UTF-8">
<md-dialog flex="60" class="cadastrar-localidade">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{title}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <form class="content" md-theme="themeButtonUA"  ng-submit="cadastrarForm.$valid && salvar()" name="cadastrarForm" novalidate>
            <div layout="column" layout-xs="column">
                <fieldset ng-disabled="!podeEditar()">
                    <md-input-container flex="100" class="md-block">
                        <label>Nome do Eixo Temático</label>
                        <input name="nome" ng-model="eixo.nome" maxlength="120" required>
                        <div ng-messages="cadastrarForm.nome.$error">
                            <div ng-message="required">Opa! O campo Nome do  Eixo Temático é obrigatorio</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Descrição do Eixo Temático</label>
                        <textarea name="descricao" ng-model="eixo.descricao" rows="1" md-select-on-focus required></textarea>
                        <div ng-messages="cadastrarForm.descricao.$error">
                            <div ng-message="required">Opa! O campo Descrição do  Eixo Temático é obrigatório.</div>
                        </div>
                    </md-input-container>
                </fieldset>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="cancel()" >Cancelar</md-button>
                <md-button ng-show="podeEditar()" class="md-primary" type="submit">Salvar</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
