<meta charset="UTF-8">
<md-dialog flex="45" layout="column" md-theme="themeUAWhite">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{titleDialog}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content flex>
        <form flex class="tecnico-pta" name="associarTecnicoForm">
            <div flex layout="row">
                <div flex="70" layout="column" ng-hide="modoEdicao" class="autocomplete-tecnico">
                    <md-autocomplete ng-required="true"
                         md-input-name="autoCompleteTecnico"
                         md-min-length="3"
                         md-no-cache="true"
                         md-selected-item="tecnicoSelecionado.tecnico"
                         md-search-text="tecnico"
                         md-items="item in buscarAutoCompletePorFiltro(tecnico, 'api/usuarioavancado/empresa/', pta.contrato.empresa.id)"
                         md-item-text="item.pessoaFisica.pessoa.nome"
                         md-floating-label="Buscar Técnico"
                         md-menu-class="autocomplete-custom-tecnico-pta">
                        <md-item-template>
                            <div layout="row" layout-align="start center">
                                <avatar image="{{item.pessoaFisica.pessoa.foto}}" name="{{item.pessoaFisica.pessoa.nome}}" size="40px" font-size="20px" color-index="{{corFoto}}"></avatar>
                                <div layout="column" layout-align="start start">
                                    <span class="item-title">
                                        <span>
                                            <strong>{{item.pessoaFisica.pessoa.nome}}</strong>
                                        </span>
                                    </span>
                                    <span class="item-metadata">
                                        <span>
                                            {{item.emailInstitucional}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </md-item-template>
                        <md-not-found>
                            "{{tecnico}}" não encontrado. <a ng-click="cadastrarUsuario()">Cadastre agora.</a>
                        </md-not-found>
                    </md-autocomplete>
                </div>

                <div flex="25" layout="column" layout-align="start start">
                    <label>Perfil do Técnico</label>

                    <md-radio-group ng-model="perfilSelecionado" md-theme="themeUA" ng-disabled="tecnicoSelecionado.tecnico == null">
                        <md-radio-button class="radio-button" value="{{perfilTecnicoEnum.P.id}}">Assessor Produtivo</md-radio-button>
                        <md-radio-button class="radio-button" value="{{perfilTecnicoEnum.S.id}}">Assessor Social</md-radio-button>
                        <md-radio-button class="radio-button" value="{{perfilTecnicoEnum.C.id}}">Técnico de Campo</md-radio-button>
                    </md-radio-group>
                </div>
            </div>

            <label ng-show="perfilSelecionado=='C'">Área de trabalho do técnico</label>

            <md-chips ng-model="comunidadeSelecionada" md-autocomplete-snap
                      md-require-match="true"
                      name="areaTrabalho"
                      md-removable="true"
                      ng-show="perfilSelecionado=='C'">
                <md-autocomplete flex
                                 md-selected-item="itemSelecionado"
                                 md-min-length="1"
                                 md-search-text="comunidade"
                                 md-items="item in buscaArrayComunidade(comunidade)"
                                 md-item-text="item.nome"
                                 placeholder="Buscar por comunidade"
                                 md-selected-item-change="validarAdicaoComunidade(itemSelecionado)">
                    <span md-highlight-text="comunidade">{{item.nome | capitalize}}, {{item.municipio.nome | capitalize}}</span>
                </md-autocomplete>
                <md-chip-template>
                            <span>
                              {{$chip.nome | capitalize}},&nbsp;{{$chip.municipio.nome | capitalize}}
                            </span>
                </md-chip-template>
            </md-chips>
        </form>
    </md-dialog-content>

    <md-dialog-actions md-theme="themeUA" layout="row">
        <md-button class="md-accent" ng-click="cancel()">Cancelar</md-button>
        <md-button class="md-accent" ng-disabled="!associarTecnicoForm.$valid || perfilSelecionado == null || (perfilSelecionado == perfilTecnicoEnum.C.id && comunidadeSelecionada.length == 0)" ng-click="salvar()">Salvar</md-button>
    </md-dialog-actions>
</md-dialog>
