<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout="column" layout-align="start center" class="application-width" ng-cloak>
        <img ng-src="assets/images/loading.gif" style="margin-top: 80px;">
        <h4 style="color: #333333; size: 21px;">Carregando. Aguarde...</h4>
    </div>
</div>
