<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="listagem-localidades">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <form class="tabs-content" ng-submit="adicioarFiltroChip({id: eixoSelecionado, nome: eixoSelecionado, titulo: 'Eixo Temático', tipo: 'nome', objeto: eixoSelecionado})" name="eixoTematicoForm" layout="column">
            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nomeEixo" flex type="text" class="input-filtro" ng-model="eixoSelecionado" placeholder="Buscar por Eixo Temático">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="acaoForm.nomeEixo.$error" ng-if="eixoTematicoForm.nomeEixo.$touched && eixoTematicoForm.nomeEixo.$dirty">
                <div ng-message="required">Você <b>deve</b> digitar um eixo temático para adicionar esse filtro.</div>
            </div>
        </form>
        <div layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome | capitalize}} <strong><em>({{$chip.titulo}})</em></strong></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div class="list" layout="column">
            <div class="mensagem" ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                <img alt="" src="assets/images/buscasemresultado.svg">
                <h1>Nenhum resultado encontrado para sua busca.</h1>
                <span>Tente usar os filtros para obter melhor resultado.</span>
            </div>

            <md-list class="md-dense" ng-show="eixo.length > 0" flex md-whiteframe="2"  layout="column" layout-align="center">
                <md-list-item ng-click="carregarEixo(item)" class="md-2-line" ng-repeat="item in eixo">
                    <div class="md-list-item-text" layout="column" layout-align="center">
                        <h3>{{item.nome | capitalize}}</h3>
                        <p>Atualizado em {{item.atualizacao | date:"dd/MM/yyyy"}}</p>
                        <p>Técnico(a): {{item.usuario.usuarioAvancado.pessoaFisica.pessoa.nome}}</p>

                    </div>
                    <div class="div-detalhes-localidade" ng-show="podeEditar()">
                        <md-icon class="material-icons" ng-click="carregarEixo(item)">
                            mode_edit
                            <md-tooltip md-direction="bottom">
                                Editar Eixo Temático
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <div class="div-delete-localidade" ng-show="podeExcluir()">
                        <md-icon class="material-icons" ng-click="deletarEixo($index,item)">
                            delete
                            <md-tooltip md-direction="bottom">
                                Deletar Eixo Temático
                            </md-tooltip>
                        </md-icon>
                    </div>
                    <md-divider ></md-divider>
                </md-list-item>
            </md-list>
            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
            </div>
        </div>
    </div>
</div>
