<meta charset="UTF-8">
<md-dialog flex="40" flex-xs="95">
    <header id="dialog-header-tecnico-ater" layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        <span id="nome-tecnico-ater">Informações de {{resultado.tecnico.pessoa.nome | capitalize}}</span>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <div id="ater-dialog-div">
            <md-input-container class="md-block">
                <label>Enviar Mensagem</label>
                <textarea ng-model="textAreaMsg" rows="4" disabled></textarea>
            </md-input-container>
            <div layout="row" layout-align="end center">
                <md-button ng-disabled="true" style="margin: 0px;">ENVIAR</md-button>
            </div>
            <div id="ater-dialog-div-infos">
                <md-icon class="material-icons">supervisor_account
                    <md-tooltip md-direction="bottom">
                        Escrit&oacute;rio
                    </md-tooltip>
                </md-icon>
                <label>{{resultado.tipoATER}} {{resultado.tecnico != null ? '- ' +resultado.tecnico.escritorio.nome : ''}}</label>
            </div>
            <div id="ater-dialog-div-infos" layout-wrap>
                <md-icon class="material-icons">room
                    <md-tooltip md-direction="bottom">
                        Endere&ccedil;o
                    </md-tooltip>
                </md-icon>

                <label>{{(resultado.tecnico.pessoa.logradouro | capitalize) || "Não informado"}}  {{resultado.tecnico.pessoa.municipio ? "- "+(resultado.tecnico.pessoa.municipio.nome | capitalize) : ""}} {{resultado.tecnico.pessoa.complemento ? "- "+(resultado.tecnico.pessoa.complemento | capitalize) : ""}}</label>
            </div>
            <div id="ater-dialog-div-infos-mail" layout="row" layout-xs="column">
                <div flex-xs="100">
                    <md-icon class="material-icons">call
                        <md-tooltip md-direction="bottom">
                            Telefone
                        </md-tooltip>
                    </md-icon>
                    <label id="ater-dialog-label" >{{resultado.tecnico.pessoa.telefone || "Não informado"}}</label>
                </div>
                <div flex-xs="100">
                    <md-icon class="material-icons">mail
                        <md-tooltip md-direction="bottom">
                            E-mail
                        </md-tooltip>
                    </md-icon>
                    <label >{{resultado.tecnico.pessoa.email  || "Não informado"}}</label>
                </div>
            </div>
        </div>
    </md-dialog-content>

</md-dialog>
