<md-toolbar id="indexToolbar" class="md-whiteframe-z2" >
    <div class="md-toolbar-tools">
        <md-button ng-click="travarMenu()" class="md-icon-button" >
            <md-icon id="font-black" aria-label="Menu" class="material-icons">menu</md-icon>
        </md-button>
        <h3>{{$state.current.data.pageTitle}}</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="fecharJanela()" ng-if="!isAgricultor">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
        <md-menu-bar ng-if="isAgricultor" layout="row" layout-align="center center">
            <md-menu ng-show="false">
                <div ng-click="$mdOpenMenu()" id="toolbarMenuMensagem">
                    <i class="material-icons">notifications</i>
                </div>
                <md-menu-content layout="column" id="menuContentMensagem">
                    <div id="divContentMensagem" layout="row" layout-align="start center">
                        <label>Mensagens</label>
                    </div>
                    <md-menu-item id="menuItemMensagem" ng-repeat="i in ultimasMensagens" ng-click="null">
                        <md-button id="buttonMensagem" flex>
                            <div flex layout="row">
                                <div flex="80" layout="row" layout-align="start center">
                                    <avatar image="" name="{{i.nome}}" size="30px" font-size="16px"></avatar>
                                    <span id="spanNomeMensagem">{{i.nome}} enviou uma mensagem</span>
                                </div>
                                <div flex="20" layout="row" layout-align="end center">
                                    <span id="spanTempoMensagem">{{i.tempo}}</span>
                                </div>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-content layout="row" layout-align="center center" id="menuContentButtons">
                        <a id="menuContentLink" href="">Ver todas as mensagens</a>
                    </md-content>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <div ng-click="$mdOpenMenu()" id="toolbarMenu">
                    <span hide-xs>{{($root.account.agricultor.pessoaFisica.pessoa.apelido || $root.account.agricultor.pessoaFisica.pessoa.nome.split(" ")[0])| capitalize}}</span>
                    <avatar image="{{$root.account.agricultor.pessoaFisica.pessoa.foto}}" name="{{$root.account.agricultor.pessoaFisica.pessoa.nome}}" size="40px" font-size="24px" color-index="{{corFoto}}"></avatar>
                </div>

                <md-menu-content layout="column" id="menuContent">
                	<div>
	                    <div id="menuContentInfos">
	                        <span ng-click="showDialogCrop()" id="menuContentInfosHyperlink">
	                            <img id="menuContentInfosCover" src="assets/images/cover.png">
	                            <avatar image="{{$root.account.agricultor.pessoaFisica.pessoa.foto}}" name="{{$root.account.agricultor.pessoaFisica.pessoa.nome}}" size="80px" font-size="40px" color-index="{{corFoto}}" style="position: absolute;"></avatar>
	                        </span>
	                        <div layout="column">
	                            <span flex id="menuContentInfosNome" >{{($root.account.agricultor.pessoaFisica.pessoa.nome | capitalize) || "Agricultor"}}</span>
	                            <!--span flex id="menuContentInfosEtnia" >{{$root.account.agricultor.etnia.descricao | capitalize}}</span-->
	                            <md-button ng-click="showDialogApelido()" id="menuContentButtonPerfilAgricultor" class="md-raised md-primary">Meu Perfil</md-button>
	                        </div>
	                    </div>
	                    <md-content layout="row" layout-align="end center" id="menuContentButtons">
	                        <md-button ng-click="logout()"> sair</md-button>
	                    </md-content>
                	</div>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</md-toolbar>
