<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" id="user-company">

    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <div id="user-company-div-tabs">
            <md-tabs flex md-dynamic-height md-center-tabs="true">
                <md-tab ng-click="mostraInput = 'usuario'" label="NOME"></md-tab>
                <md-tab ng-click="mostraInput = 'cpf'" label="CPF"></md-tab>
                <md-tab ng-click="mostraInput = 'organizacao'" label="ENTIDADE de ATER"></md-tab>
                <md-tab ng-click="mostraInput = 'funcao'" label="FUNÇÃO"></md-tab>
                <md-tab ng-click="mostraInput = 'status'" label="Status"></md-tab>
            </md-tabs>
        </div>

        <form class="user-company-tabs-tab" ng-submit="adicioarFiltroChip({id: usuarioSelecionado, nome: usuarioSelecionado, titulo: 'Nome' , tipo: 'nome', objeto: usuarioSelecionado})" name="usuarioForm" ng-show="mostraInput == 'usuario'" layout="column">

            <div layout="row" layout-align="start center">
                <input id="buscarNome" name="nome" flex type="text" class="input-filtro" ng-model="usuarioSelecionado" placeholder="Buscar por Nome">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="usuarioForm.nome.$error" ng-show="usuarioForm.nome.$dirty">
                <div ng-message="required">Você <b>deve</b> informar um nome válido.</div>
            </div>
        </form>

        <form class="user-company-tabs-tab" ng-submit="adicioarFiltroChip({id: cpfInformado, nome: cpfInformado, titulo: 'CPF', tipo: 'cpf', objeto: cpfInformado})" name="cpfForm" ng-show="mostraInput == 'cpf'" layout="column">

            <div layout="row" layout-align="start center">
                <input flex required class="input-filtro" cpf-mask placeholder="Buscar por CPF" ng-model="cpfInformado">

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="cpfForm.cpfInformado.$error" ng-show="cpfForm.cpfInformado.$dirty">
                <div ng-message="required">Você <b>deve</b> informar um CPF válido.</div>
            </div>
        </form>

        <form class="user-company-tabs-tab" ng-submit="adicioarFiltroChip({id: organizacaoSelecionada.id, nome: organizacaoSelecionada.pessoaJuridica.pessoa.nome, titulo: 'Organização', tipo: 'empresa', objeto: organizacaoSelecionada})" name="organizacaoForm" ng-show="mostraInput == 'organizacao'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-organizacao"
                    md-input-name="autoCompleteOrganizacao"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="organizacaoSelecionada"
                    md-search-text="organizacao"
                    md-items="item in buscarAutoCompletePorFiltro(organizacao, 'api/empresa/')"
                    md-item-text="item.pessoaJuridica.pessoa.nome"
                    md-require-match
                    placeholder="Buscar por Organização">
                    <md-item-template>
                        <span md-highlight-text="organizacao">{{item.pessoaJuridica.nomeFantasia}} - {{item.pessoaJuridica.pessoa.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="organizacaoForm.autoCompleteOrganizacao.$error" ng-if="organizacaoForm.autoCompleteOrganizacao.$touched && organizacaoForm.autoCompleteOrganizacao.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher um organização para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma organização existente.</div>
            </div>
        </form>

        <form class="user-company-tabs-tab" ng-submit="adicioarFiltroChip({id: funcaoSelecionada.id, nome: funcaoSelecionada.descricao, titulo: 'Função', tipo: 'cargo', objeto: funcaoSelecionada})" name="funcaoForm" ng-show="mostraInput == 'funcao'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-funcao"
                    md-input-name="autoCompleteComunidade"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="funcaoSelecionada"
                    md-search-text="funcao"
                    md-items="item in buscarAutoCompletePorFiltro(funcao, 'api/cargo/')"
                    md-item-text="item.descricao"
                    md-require-match
                    placeholder="Buscar por Função">
                    <md-item-template>
                        <span md-highlight-text="funcao">{{item.descricao}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="funcaoForm.autoCompleteComunidade.$error" ng-if="funcaoForm.autoCompleteComunidade.$touched && funcaoForm.autoCompleteComunidade.$dirty">
                <div ng-message="required">Você <b>deve</b> escolher uma função para adicionar esse filtro.</div>
                <div ng-message="md-require-match">Por favor, escolha uma função existente.</div>
            </div>
        </form>

        <form class="user-company-tabs-tab" ng-submit="adicioarFiltroChip({id: statusSelecionado.id, nome: statusSelecionado.nome, titulo: 'Status', tipo: 'status', objeto: statusSelecionado})" ng-show="mostraInput == 'status'" layout="row" layout-align="start center">

            <md-select id="select-filtro-status" ng-model="statusSelecionado" placeholder="Selecione um Status" class="md-no-underline flex">
                <md-option ng-value="status" ng-repeat="status in statusSelect">{{ status.nome }}</md-option>
            </md-select>

            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
        </form>

        <div id="user-company-div-chips" layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span><strong><em>{{$chip.nome}} ({{$chip.titulo}})</em></strong></span>
                </md-chip-template>

            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>
        <div id="user-company-div-list" >
            <div flex layout="column">

                <div id="user-company-msg-no-results" ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                    <img id="user-company-icon-no-results" alt="" src="assets/images/buscasemresultado.svg">
                    <p id="user-company-texto-sem-resultado-top">Nenhum resultado encontrado para sua busca.</p>
                    <p id="user-company-texto-sem-resultado-bottom">Tente usar os filtros para obter melhor resultado.</p>
                </div>

                <md-list id="user-company-div-rows" class="md-dense" ng-show="usuarios.length > 0" flex md-whiteframe="2"  layout="column" layout-align="center">

                    <md-list-item ng-click="carregarUsuario(item)" class="md-3-line" ng-repeat="item in usuarios">

                        <avatar image="{{item.foto}}" name="{{item.nome}}" size="40px" font-size="24px"></avatar>

                        <div id="user-company-list-item-text" class="md-list-item-text" layout="column">
                            <h3>{{item.nome | capitalize}}</h3>

                            <p>CPF: {{item.cpf | cpf }} &nbsp; {{item.cargo | capitalize }} </p>
                            <p>{{item.empresa | capitalize }} </p>
                        </div>

                        <div id="user-company-div-detalhes-cadastro">
                            <span class="label label-analise" ng-show="item.status == 'E'">Análise</span>

                            <span class="label label-ativo" ng-show="item.status == 'A'">Ativo</span>

                            <span class="label label-inativo" ng-show="item.status == 'I'">Inativo</span>
                        </div>

                        <md-divider ></md-divider>

                    </md-list-item>

                </md-list>

                <div flex layout="row" layout-align="center center">
                    <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
                </div>

            </div>
        </div>
    </div>
</div>
