<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="relatorio-cadastro">
    <embed style="width:100%; height:43.6vw" src="https://app.powerbi.com/view?r=eyJrIjoiMTE4YzYwZTMtNjdlMi00NTQ1LTg4OTctODY1YzA3NDMyYmE4IiwidCI6ImI1OTFhZTU0LTMzYzItNDU4OS1iZTY2LTkwMjFhNDE5NmM3YyJ9">
</div>
