<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch" class="relatorio-cadastro">
    <embed style="width:100%; height:43.6vw" src="https://app.powerbi.com/view?r=eyJrIjoiNzRjMzJlZGItMmJhNC00MWNhLWJhYTEtMjQ1MTczOTk4NjliIiwidCI6ImU5NjA3MzdjLTdhMjctNDc0MC1iZGYyLTJkOTk5MTg0ZTgxOSJ9">
</div>
