<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="SOBRE">
                <div id="tabs">
                    <p>O Programa Nacional de Alimentação Escolar (Pnae), implantado em 1955, contribui para o crescimento, o desenvolvimento, a aprendizagem, o rendimento escolar dos estudantes e a formação de hábitos alimentares saudáveis, por meio da oferta da alimentação escolar e de ações de educação alimentar e nutricional.</p>
                    <p>São atendidos pelo Programa os alunos de toda a educação básica (educação infantil, ensino fundamental, ensino médio e educação de jovens e adultos) matriculados em escolas públicas, filantrópicas e em entidades comunitárias (conveniadas com o poder público),  por meio da transferência de recursos financeiros.</p>
                    <p>O Pnae tem caráter suplementar, como prevê o artigo 208, incisos IV e VII, da Constituição Federal, quando determina que o dever do Estado (ou seja, das três esferas governamentais: União, estados e municípios) com a educação é efetivado mediante a garantia de "educação infantil, em creche e pré-escola, às crianças até cinco anos de idade" (inciso IV) e "atendimento ao educando, em todas as etapas da educação básica, por meio de programas suplementares de material didáticoescolar, transporte, alimentação e assistência à saúde" (inciso VII).</p>
                    <p>Atualmente, o valor repassado pela União a estados e municípios por dia letivo para cada aluno é definido de acordo com a etapa e modalidade de ensino:</p>

                    <ul>
                        <li>Creches: R$ 1,00</li>
                        <li>Pré-escola: R$ 0,50</li>
                        <li>Escolas indígenas e quilombolas: R$ 0,60</li>
                        <li>Ensino fundamental, médio e educação de jovens e adultos: R$ 0,30</li>
                        <li>Ensino integral: R$ 1,00</li>
                        <li>Alunos do Programa Mais Educação: R$ 0,90</li>
                        <li>Alunos que frequentam o Atendimento Educacional Especializado no contraturno: R$ 0,50</li>
                    </ul>
                    <p>
                        O repasse é feito diretamente aos estados e municípios, com base no Censo Escolar realizado no ano anterior ao do atendimento. O Programa é acompanhado e fiscalizado diretamente pela sociedade, por meio dos Conselhos de Alimentação Escolar (CAE), pelo FNDE, pelo Tribunal de Contas da União (TCU), pela Controladoria Geral da União (CGU) e pelo Ministério Público.
                    </p>
                </div>
            </md-tab>
            <md-tab label="AGRICULTURA FAMILIAR">
                <div id="tabs">
                    <p>A <a href="https://www.fnde.gov.br/fndelegis/action/UrlPublicasAction.php?acao=abrirAtoPublico&sgl_tipo=LEI&num_ato=00011947&seq_ato=000&vlr_ano=2009&sgl_orgao=NI">Lei nº 11.947, de 16 de junho de 2009</a>, determina que no mínimo 30% do valor repassado a estados, municípios e Distrito Federal pelo Fundo Nacional de Desenvolvimento da Educação (FNDE) para o Programa Nacional de Alimentação Escolar (PNAE) deve ser utilizado na compra de gêneros alimentícios diretamente da agricultura familiar e do empreendedor familiar rural ou de suas organizações, priorizando-se os assentamentos da reforma agrária, as comunidades tradicionais indígenas e as comunidades quilombolas. A aquisição dos produtos da Agricultura Familiar poderá ser realizada por meio da Chamada Pública, dispensando-se, nesse caso, o procedimento licitatório.</p>
                    <p> A conexão entre a agricultura familiar e a alimentação escolar fundamenta-se nas diretrizes estabelecidas pela <a href="https://www.fnde.gov.br/fndelegis/action/UrlPublicasAction.php?acao=abrirAtoPublico&sgl_tipo=LEI&num_ato=00011947&seq_ato=000&vlr_ano=2009&sgl_orgao=NI">Lei nº 11.947/2009</a>, que dispõe sobre o atendimento da AE, em especial no que tange:</p>
                    <ul>
                        <li>Ao emprego da alimentação saudável e adequada, compreendendo o uso de alimentos variados, seguros, que respeitem a cultura, as tradições e os hábitos alimentares saudáveis.</li>
                        <li>Ao apoio ao desenvolvimento sustentável, com incentivos para a aquisição de gêneros alimentícios diversificados, sazonais, produzidos em âmbito local e pela agricultura familiar.</li>
                    </ul>
                    <p>Este encontro – da alimentação escolar com a agricultura familiar – tem promovido uma importante transformação na alimentação escolar, ao permitir que alimentos saudáveis e com vínculo regional, produzidos diretamente pela agricultura familiar, possam ser consumidos diariamente pelos alunos da rede pública de todo o Brasil.</p>
                    <p> A aquisição da agricultura familiar para a alimentação escolar está regulamentada pela <a href="https://www.fnde.gov.br/fndelegis/action/UrlPublicasAction.php?acao=abrirAtoPublico&sgl_tipo=RES&num_ato=00000026&seq_ato=000&vlr_ano=2013&sgl_orgao=FNDE/MEC">Resolução CD/ FNDE nº 26, de 17 de junho de 2013</a>, que dispõe sobre o atendimento da alimentação escolar aos alunos da educação básica no âmbito do PNAE. Com base na Resolução supracitada, a Coordenação Geral do Programa Nacional de Alimentação Escolar – CGPAE/FNDE elaborou o Manual de Aquisição de Produtos da Agricultura Familiar para a Alimentação Escolar, que tem como objetivo apresentar o passo-a-passo do processo de aquisição da agricultura familiar.</p>
                </div>
            </md-tab>
            <md-tab label="EXECUÇÃO">
                <div id="tabs">
                    <p> Os recursos financeiros provêm do Tesouro Nacional e estão assegurados no Orçamento da União. O FNDE realiza transferência financeira às Entidades Executoras (EEx) em contas correntes específicas abertas pelo próprio FNDE, sem necessidade de celebração de convênio, ajuste, acordo, contrato ou qualquer outro instrumento.</p>
                    <p> As Entidades Executoras (estados, Distrito Federal e municípios) são responsáveis pela execução do Programa, inclusive pela utilização dos recursos financeiros transferidos pelo FNDE, que são complementares. É de responsabilidade das EEx garantir a oferta da alimentação escolar aos alunos matriculados na educação básica da rede pública de seu sistema de ensino.</p>
                    <p> A transferência é feita em dez parcelas mensais, a partir do mês de fevereiro, para a cobertura de 200 dias letivos. Cada parcela corresponde a vinte dias de aula. O valor a ser repassado para a EEx é calculado da seguinte forma: TR = Número de alunos x Número de dias x Valor per capita, onde TR é o total de recursos a serem recebidos.</p>
                    <p> A escola beneficiária precisa estar cadastrada no Censo Escolar realizado pelo Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep/MEC). As escolas filantrópicas, comunitárias e confessionais, sem fins lucrativos, que atendam aos critérios estabelecidos na <a href="https://www.fnde.gov.br/fndelegis/action/UrlPublicasAction.php?acao=abrirAtoPublico&sgl_tipo=RES&num_ato=00000026&seq_ato=000&vlr_ano=2013&sgl_orgao=FNDE/MEC">Resolução FNDE nº 26/2013</a> são consideradas como integrantes da rede pública de ensino.</p>
                    <p> O cardápio escolar deve ser elaborado por nutricionista, respeitando os hábitos alimentares locais e culturais, atendendo as necessidades nutricionais específicas, conforme percentuais mínimos estabelecidos no artigo 14 da <a href="https://www.fnde.gov.br/fndelegis/action/UrlPublicasAction.php?acao=abrirAtoPublico&sgl_tipo=RES&num_ato=00000026&seq_ato=000&vlr_ano=2013&sgl_orgao=FNDE/MEC">Resolução nº 26/2013.</a></p>
                    <p> Dos recursos financeiros repassados pelo FNDE às entidades executoras, no mínimo, 30% (trinta por cento) devem ser utilizados na aquisição de gêneros alimentícios produzidos pelo agricultor familiar e pelo empreendedor familiar rural.</p>
                    <p> O controle social do Programa é exercido por meio do Conselho de Alimentação Escolar (CAE). Sua constituição é condição para o recebimento dos recursos financeiros repassados pelo FNDE.</p>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button target="_blank" href="http://www.sda.ce.gov.br/index.php/coordenadoria-de-desenvolvimento-territorial-e-combate-a-pobreza-rural" ng-click="">VER MAIS EM SDA</md-button>
        <md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
