<form name="deleteForm" ng-submit="confirmDelete(user.login)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title">Confirma&ccedil;&atilde;o de exclus&atilde;o</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <p>Vo&ccedil;&ecirc; tem certeza que deseja excluir este usu&aacute;rio?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Excluir</span>
        </button>
    </div>
</form>
