<meta charset="UTF-8">
<!--
<div>
    <h2>Usuários</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" ui-sref="user-management.new">
                  <span class="glyphicon glyphicon-flash"></span> <span>Criar um novo usu&aacute;rio</span>
              </button>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Login</th>
                <th>Email</th>
                <th></th>

                <th>Perfil</th>
                <th>Data de Cria&ccedil;&atilde;o</th>
                <th>Modifica&ccedil;&atilde;o por</th>
                <th>&Uacute;ltima modifica&ccedil;&atilde;o</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users track by user.id">
                <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>
                    <span class="label label-danger" ng-click="setActive(user, true)" ng-show="!user.ativado"
                          style="cursor: pointer;">Desativado</span>
                    <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.ativado"
                          style="cursor: pointer;">Ativado</span>
                </td>

                <td>
                    <div ng-repeat="authority in user.authorities">
                        <span class="label label-info">{{ authority }}</span>
                    </div>
                </td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</td>
                <td class="text-right">
                    <button type="submit"
                            ui-sref="user-management-detail({login:user.login})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.edit({login:user.login})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="user-management.delete({login:user.login})"
                            class="btn btn-danger btn-sm"
                            ng-disabled="currentAccount.login==user.login">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
-->
<div flex layout="row" layout-align="center stretch">
    <div layout-align="start stretch" class="application-width administracao" layout="column" ng-cloak>
        <form layout="row" ng-submit="pesquisarNome(nome)" layout-align="end center" class="area-busca">
            <input type="text" class="form-control" ng-model="nome" placeholder="Pesquisar por Nome">
            <md-button type="submit" class="md-raised md-primary">Pesquisar</md-button>
        </form>
        <div layout="row" layout-align="space-between center" ng-hide="users.length == 0" >
            <div layout-align="start center">
                <md-button class="md-icon-button" aria-label="Cadastrar Usuário" ng-click="cadastrarUsuario()">
                    <md-tooltip md-direction="top">
                        Cadastrar Usuário
                    </md-tooltip>
                    <md-icon class="material-icons">person_add</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Reenviar Convite" ng-click="reenviarConvite()">
                    <md-tooltip md-direction="top">
                        Reenviar Convite
                    </md-tooltip>
                    <md-icon md-svg-icon="assets/images/iconReenviarConvite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Desativar Usuário" ng-click="desativarUsuario()">
                    <md-tooltip md-direction="top">
                        Desativar Usuário
                    </md-tooltip>
                    <md-icon md-svg-icon="assets/images/iconDesativarUsuario.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Aceitar Usuário" ng-click="aprovarUsuario()">
                    <md-tooltip md-direction="top">
                        Aceitar Usuário
                    </md-tooltip>
                    <md-icon md-svg-icon="assets/images/iconAceitarUsuario.svg"></md-icon>
                </md-button>
            </div>
            <div id="user-management-div-paginacao">
                <span ng-if="!dispMovel">Carregar: </span> <a href="" class="{{filtro.paginacao=='10' ? 'currentLink' : ''}}" ng-click="setPaginacao(10)">10</a> | <a href="" class="{{filtro.paginacao=='30' ? 'currentLink' : ''}}" ng-click="setPaginacao(30)">30</a> | <a href="" class="{{filtro.paginacao=='60' ? 'currentLink' : ''}}" ng-click="setPaginacao(60)">60</a>
            </div>
        </div>
        <div class="md-whiteframe-z2 lista-usuarios">
            <md-list ng-show="users.length > 0">
                <md-list-item class="noright" ng-click="{}">
                    <md-checkbox aria-label="checkbox" ng-checked="isAllChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()"></md-checkbox>
                    <div layout="row" layout-align="center stretch" flex class="titulo">
                        <div ng-click="ordenarLista('usuarioAvancado.pessoaFisica.pessoa.nome')" flex="30">
                            Nome
                            <i ng-show="(filtro.ordenarPor == 'usuarioAvancado.pessoaFisica.pessoa.nome')" ng-class="{'coluna-selecionada': (filtro.ordemAsc)}" class="material-icons">arrow_upward</i>
                        </div>
                        <div ng-click="ordenarLista('login')" flex="20">
                            Login
                            <i ng-show="(filtro.ordenarPor == 'login')" ng-class="{'coluna-selecionada': (filtro.ordemAsc)}" class="material-icons">arrow_upward</i>
                        </div>
                        <div ng-click="ordenarLista('usuarioAvancado.emailInstitucional')" flex="30">
                            Email
                            <i ng-show="(filtro.ordenarPor == 'usuarioAvancado.emailInstitucional')" ng-class="{'coluna-selecionada': (filtro.ordemAsc)}" class="material-icons">arrow_upward</i>
                        </div>
                        <div ng-click="ordenarLista('ativado')" flex="10">
                            Status
                            <i ng-show="(filtro.ordenarPor == 'ativado')" ng-class="{'coluna-selecionada': (filtro.ordemAsc)}" class="material-icons">arrow_upward</i>
                        </div>
                        <div ng-click="ordenarLista('createdDate')" flex="10">
                            Inclusão
                            <i ng-show="(filtro.ordenarPor == 'createdDate')" ng-class="{'coluna-selecionada': (filtro.ordemAsc)}" class="material-icons">arrow_upward</i>
                        </div>
                    </div>
                </md-list-item>
                <md-list-item class="noright" ng-click="listClick(user)" ng-repeat="user in users track by user.id">
                    <md-checkbox aria-label="checkbox" ng-checked="isChecked(user.id)" ng-click="toggle(user.id)" ></md-checkbox>
                    <div layout="row" layout-align="center stretch" flex class="lista" >
                        <span flex="30">{{user.usuarioAvancado.pessoaFisica.pessoa.nome | capitalize}}</span>
                        <span flex="20">{{user.login}}</span>
                        <span flex="30">{{user.usuarioAvancado.emailInstitucional}}</span>
                        <span flex="10" ng-class="user.status == 'N' ? 'label-analise' : user.status == 'A' ? 'label-ativo' : 'label-inativo'">
                            {{user.status == 'N' ? "Análise" : user.status == 'A' ? "Ativo" : "Inativo"}}</span>
                        <span flex="10">{{user.createdDate | date: 'dd/MM/yyyy' }}</span>
                    </div>
                </md-list-item>
            </md-list>
            <div flex layout="row" layout-align="center center" ng-show="users.length > 0">
                    <md-button ng-show="mostraBotao" ng-click="carregaMais()">Ver mais</md-button>
            </div>

        </div>
        <div ng-hide="users.length > 0" layout="column" layout-align="center center">
            <img id="user-management-icon" alt="" src="assets/images/buscasemresultado.svg">
            <p id="user-management-texto-sem-resultado">Nenhum resultado encontrado para sua busca.</p>
        </div>
    </div>
</div>
