<div>
    <h2><span>Usu&aacute;rio</span> "{{user.login}}"</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>valor</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Login</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.login}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Primeiro Nome</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.nome}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Sobrenome</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.sobrenome}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Email</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.email}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Ativado</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.ativado}}" readonly>
                </td>
            </tr>
            
            <tr>
                <td>
                    <span>Criado por</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.createdBy}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Cria&ccedil;&atilde;o</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.createdDate | date:'dd/MM/yy HH:mm' }}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Modificado por</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.lastModifiedBy}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Data</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Perfil(s)</span>
                </td>
                <td>
                    <ul class="list-unstyled">
                        <li ng-repeat="authority in user.authorities"><span>{{authority}}</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="user-management"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Voltar</span>
    </button>
</div>
