<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="ÁGUA PARA PRODUÇÃO">
                <div id="tabs">
                    <p>A SDA em parceria com o Programa Cisternas do MDS também apoia a implementação de tecnologias sociais de acesso à água para ampliar as condições das famílias agricultoras produzirem alimentos, seja para o autoconsumo seja para a comercialização de excedentes. No autoconsumo a alimentação fica mais diversificada e com maior qualidade nutricional e a comercialização de excedentes gera renda para as famílias.</p>
                    
                    <p>Estas tecnologias têm maior capacidade de armazenamento de água e permitem o desenvolvimento de quintais produtivos e a criação de pequenos animais. O  desenvolvimento desta ação envolve um contínuo processo de mobilização da comunidade, capacitações com princípios agroecológicos e estímulo a trocas de experiência entre os agricultores.</p>
                    
                    <p>Além da tecnologia implementada, a família recebe também um conjunto de materiais importantes para a produção, como sementes, mudas, carro de mão, enxada, arame e ração, entre outros, para formação de hortas, pomares, apriscos ou galinheiros, conforme sua preferencia e vocação produtiva. As famílias recebem as seguintes capacitações:</p>
                    
                    <ul>
                        <li>Gestão da água para produção de alimentos (GAPA): destinada aos beneficiários contemplados com as cisternas para a produção de alimentos, esta capacitação tem como objetivo levar as famílias a refletirem a respeito das estratégias de manuseio e uso das águas captadas.</li>
                        <li>Sistema Simplificado de Manejo de Água para a Produção (SISMA): destinada à disseminação de técnicas simples que possibilitam às famílias o uso racional da água para a produção. São disponibilizados materiais apropriados para irrigação e para a criação de pequenos animais.</li>
                        <li>Intercâmbios de experiências: atividade em que agricultores e agricultoras têm a oportunidade de conhecer experiências exitosas de uso das tecnologias sociais para a produção de alimentos desenvolvida por outras famílias de agricultores, possibilitando o resgate e a valorização de técnicas inovadoras.</li>
                    </ul>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
	<md-dialog-actions layout="row" layout-align="space-between center">
		<md-button target="_blank" href="http://www.sda.ce.gov.br/index.php/programas-e-projetos-especiais" ng-click="">VER MAIS EM SDA</md-button>
		<md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
