<meta charset="UTF-8">

<div flex layout="row" layout-align="center stretch">
    <div layout-align="start stretch" class="application-width auditoria-acessos" layout="column" ng-cloak>

        <form layout="row" layout-align="end center" class="filtro-datas">
            <h8>Filtro por data</h8>
            <md-datepicker name="start" ng-model="fromDate"  required></md-datepicker>
            <md-datepicker name="end" ng-model="toDate" required></md-datepicker>
        </form>

        <div class="md-whiteframe-z2 lista-acessos">
            <md-list>
                <md-list-item class="noright" ng-click="{}">
                    <div layout="row" layout-align="center stretch" flex class="titulo">
                        <div flex="40">Login</div>
                        <div flex="20">Data</div>
                        <div flex="20">Estado</div>
                        <div flex="20">IP</div>
                    </div>
                </md-list-item>

                <md-list-item class="noright" ng-click="listClick(user)" ng-repeat="audit in audits">
                    <div layout="row" layout-align="center stretch" flex class="lista">
                        <span flex="40">{{audit.principal}}</span>
                        <span flex="20">{{audit.timestamp | date: 'dd MMM, yyyy HH:mm'}}</span>
                        <span flex="20">
                            <span class="label label-danger" ng-show="audit.type == 'AUTHENTICATION_SUCCESS' ? false : true">Falha</span>

                            <span class="label label-success" ng-show="{{audit.type == 'AUTHENTICATION_SUCCESS' ? true : false}}">Sucesso</span>
                        </span>
                        <span flex="20">{{audit.data.message}} {{audit.data.remoteAddress}}</span>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>
