<meta charset="UTF-8">
<div md-theme="themeUA" layout="row" flex layout-align="center center" class="solicitar-convite">
    <div layout="column" flex layout-align="start stretch" class="conteudo">
        <img src="assets/images/recuperaSenha.svg">
        <div ng-show="mensagem" class="aviso">
            {{mensagem}}
        </div>
        <form layout="column" layout-align="center stretch" name="conviteForm" ng-submit="conviteForm.$valid && submitForm()">
            <h3 class="texto" ng-hide="mensagem"><b>Solicite o convite</b></h3>
            <h4 class="texto" ng-show="exibirTodos">Favor preencher os campos para concluir a solicitação</h4>
            <md-input-container class="md-block" ng-hide="mensagem">
                <label>CPF</label>
                <md-icon class="material-icons">payment</md-icon>
                <input name="cpf" ng-model="user.usuarioAvancado.pessoaFisica.cpf" focus="true" cpf-mask required ng-disabled="exibirTodos || disableAll">
                <div ng-messages="conviteForm.cpf.$error">
                    <div ng-message="required">Opa! O campo CPF é obrigatorio</div>
                    <div ng-message="minimo">Opa! O campo CPF deve possuir 11 números</div>
                    <div ng-message="cpfInvalid">Opa! O CPF informado é invalido</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-if="exibirTodos">
                <label>Nome</label>
                <md-icon class="material-icons">person</md-icon>
                <input name="nome" ng-model="user.usuarioAvancado.pessoaFisica.pessoa.nome" ng-disabled="disableAll" maxlength="120" required pattern="[A-Za-záàâãéèêíïóôõöúçÁÀÂÃÉÈÍÏÓÔÕÖÚÇ ]+">
                <div ng-messages="conviteForm.nome.$error">
                    <div ng-message="required">Opa! O campo Nome é obrigatorio</div>
                    <div ng-message="pattern">
                        Opa! O campo Nome deve conter somente letras
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex class="md-block" ng-if="exibirTodos">
                <label>Email</label>
                <md-icon class="material-icons">email</md-icon>
                <input name="email" ng-model="user.usuarioAvancado.emailInstitucional" required maxlength="60" ng-pattern="/^.+@.+\..+$/">
                <div ng-messages="conviteForm.email.$error">
                    <div ng-message="required">Opa! O campo Email é obrigatorio</div>
                    <div ng-message="pattern">
                        Opa! O campo email deve deve ter o nome@exemplo.com
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-xs="column" ng-if="exibirTodos">
                <md-input-container flex class="md-block">
                    <label>Data de Nascimento</label>
                    <md-icon class="material-icons">date_range</md-icon>
                    <input name="nascimento" ng-model="user.usuarioAvancado.pessoaFisica.dataNascimento" ng-disabled="disableAll" date-mask required>
                    <div ng-messages="conviteForm.nascimento.$error">
                        <div ng-message="required">Opa! O campo Data de Nascimento é obrigatorio</div>
                        <div ng-message="minimo">Opa! O campo Data de Nascimento deve ter o formato DD/MM/AAAA</div>
                    </div>
                </md-input-container>
                <span style="width: 16px;"></span>
                <md-input-container flex class="md-block">
                    <label>Sexo</label>
                    <md-icon class="material-icons">wc</md-icon>
                    <md-select name="sexo" ng-model="user.usuarioAvancado.pessoaFisica.sexo" ng-disabled="disableAll" required>
                        <md-option value='M'>Masculino</md-option>
                        <md-option value='F'>Feminino</md-option>
                    </md-select>
                    <div ng-messages="conviteForm.sexo.$error">
                        <div ng-message="required">Opa! O campo Sexo é obrigatorio</div>
                    </div>
                </md-input-container>
            </div>
            <md-button type="submit" ng-disabled="conviteForm.$invalid || desableButton"  class="md-raised md-primary botao">{{botao}}</md-button>
        </form>
        <a class="link" ng-href="#/login">Voltar para login</a>
        <div layout="row" layout-align="center center" >
            <a ng-href="/" layout="row">
                <img class="logo" src="assets/images/logoCompleta.svg">
            </a>
            <a ng-href="http://www.sda.ce.gov.br/">
                <img class="logo-secretaria" src="assets/images/logoSecretaria.svg" alt="" />
            </a>
        </div>
    </div>
</div>
