<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="SOBRE">
                <div id="tabs">
                    <p>O Programa de Aquisição de Alimentos (PAA), criado pelo <b>art. 19 da Lei nº 10.696</b>, de 02 de julho de 2003, possui duas finalidades básicas:</p>
                    <ul>
                        <li>Promover o acesso à alimentação;</li>
                        <li>Incentivar a agricultura familiar.</li>
                    </ul>

                    <p>Para o alcance desses dois objetivos, o programa compra alimentos produzidos pela agricultura familiar, com dispensa de licitação, e os destina às pessoas em situação de insegurança alimentar e nutricional e àquelas atendidas pela rede socioassistencial, pelos equipamentos públicos de segurança alimentar e nutricional e pela rede pública e filantrópica de ensino.</p>

                    <p>O PAA também contribui para a constituição de estoques públicos de alimentos produzidos por agricultores familiares e para a formação de estoques pelas organizações da agricultura familiar. Além disso, o programa promove o abastecimento alimentar por meio de compras governamentais de alimentos; fortalece circuitos locais e regionais e redes de comercialização; valoriza a biodiversidade e a produção orgânica e agroecológica de alimentos; incentiva hábitos alimentares saudáveis e estimula o cooperativismo e o associativismo.</p>

                    <p>O orçamento do PAA é composto por recursos do Ministério do Desenvolvimento Social e Combate à Fome (MDS) e do Ministério do Desenvolvimento Agrário (MDA).</p>

                    <p><b>A execução do programa pode ser feita por meio de seis modalidades:</b></p>
                    <ol>
                        <li>Compra com Doação Simultânea;</li>
                        <li>Compra Direta;</li>
                        <li>Apoio à Formação de Estoques;</li>
                        <li>Incentivo à Produção e ao Consumo de Leite;</li>
                        <li>Compra Institucional;</li>
                        <li>Aquisição de Sementes.</li>
                    </ol>
                    <p>O programa vem sendo executado por estados e municípios em parceria com o Ministério do Desenvolvimento Social e Combate à Fome (MDS) e pela Companhia Nacional de Abastecimento (Conab).</p>

                    <p>O PAA foi instituído pelo art. 19 da Lei nº 10.696, de 02 de julho de 2003, no âmbito do Programa Fome Zero. Esta Lei foi alterada pela Lei nº 12.512, de 14 de outubro de 2011 e regulamentada por diversos decretos, o que está em vigência é o Decreto nº 7.775, de 4 de julho de 2012.</p>

                    <p>Pelo seu papel estratégico no combate à pobreza, o PAA é uma das ações que compõem o Plano Brasil Sem Miséria (BSM), em seu eixo Inclusão Produtiva Rural.</p>
                </div>
            </md-tab>
            <md-tab label="OBJETIVOS">
                <div id="tabs">
                    <p>O PAA integra o Sistema Nacional de Segurança Alimentar e Nutricional - SISAN, instituído pela Lei nº 11.346, de 15 de setembro de 2006, e tem os seguintes objetivos:</p>
                    <ol type="I">
                        <li>incentivar a agricultura familiar, promovendo a sua inclusão econômica e social, com fomento à produção com sustentabilidade, incentivo ao processamento da produção e à geração de renda;</li>
                        <li>incentivar o consumo e a valorização dos alimentos produzidos pela agricultura familiar;</li>
                        <li>Ipromover o acesso à alimentação, em quantidade, qualidade e regularidade necessárias, às pessoas em situação de insegurança alimentar e nutricional, sob a perspectiva do direito humano à alimentação adequada e saudável;</li>
                        <li>promover o abastecimento alimentar por meio de compras governamentais, inclusive para prover a alimentação escolar, quando necessário, nos âmbitos municipal, estadual, distrital e federal, e nas áreas abrangidas por consórcios públicos;</li>
                        <li>constituir estoques públicos de alimentos produzidos por agricultores familiares;</li>
                        <li>apoiar a formação de estoques pelas cooperativas e demais organizações formais da agricultura familiar;</li>
                        <li>fortalecer circuitos locais e regionais e redes de comercialização;</li>
                        <li>promover e valorizar a biodiversidade e a produção orgânica e agroecológica de alimentos, incentivar hábitos alimentares saudáveis em nível local e regional;</li>
                        <li>estimular o cooperativismo e o associativismo.</li>
                    </ol>
                </div>
            </md-tab>
            <md-tab label="MODALIDADE SDA">
                <div id="tabs">
                    <p>A Modalidade Compra com Doação Simultânea promove a articulação entre a produção da agricultura familiar e as demandas locais de suplementação alimentar, além do desenvolvimento da economia local. Os produtos adquiridos dos agricultores familiares são doados às pessoas em insegurança alimentar, por meio da rede socioassistencial ou equipamentos públicos de segurança alimentar e da rede pública e filantrópica de ensino.</p>
                    <p>Esta Modalidade é executada com recursos do MDS, que pode utilizar dois tipos de instrumentos para sua implementação:</p>
                    <ul>
                        <li>Celebração de Termos de Adesão com órgãos ou entidades da administração pública estadual, distrital ou municipal, direta ou indireta, e consórcios públicos;</li>
                        <li>Formalização de Termo de Cooperação com a Conab</li>
                    </ul>

                    <p>A Compra com Doação Simultânea permite a aquisição de alimentos in natura ou processados, enriquecendo os cardápios dos beneficiários consumidores. O fornecimento de produtos orgânicos é privilegiado, sendo possível incluir até 30% a mais do que o valor pago para o alimento convencional. Para participar da modalidade, os agricultores devem possuir a Declaração de Aptidão ao Pronaf (DAP).</p>
                    <p>Para participar da <b>Compra com Doação Simultânea pelo Termo de Adesão</b>, o processo se inicia com a manifestação formal do ente (município ou estado) ou do consórcio, sobre seu interesse em aderir ao programa. A adesão é feita a partir do cadastramento de informações no sistema de gestão do programa SISPAA.</p>
                    <p>No Termo de Adesão, o pagamento é feito pelo MDS diretamente ao agricultor familiar, que o recebe por meio de um cartão bancário próprio para o recebimento dos recursos do PAA.</p>
                    <p>Apesar de o pagamento ser feito diretamente ao agricultor familiar, a inclusão de agricultores no PAA deve se dar por intermédio dos estados e municípios que firmarem Termo de Adesão com o MDS. As organizações da agricultura familiar não podem formalizar Termo de Adesão diretamente com o ministério.</p>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
	<md-dialog-actions layout="row" layout-align="space-between center">
		<md-button target="_blank" href="http://www.sda.ce.gov.br/index.php/coordenadoria-de-desenvolvimento-territorial-e-combate-a-pobreza-rural" ng-click="">VER MAIS EM SDA</md-button>
		<md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
