<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout-align="start stretch" class="md-whiteframe-2dp mensagem" layout="column" ng-cloak style="">

            <div layout="row" flex style="height: 60px;" class="toolbar">
                <div layout="row" layout-align="center stretch" class="pesquisa" flex="33">
                    <form layout="column" ng-submit="" layout-align="center center" flex>
                        <input type="text" class="form-control" ng-model="nome" placeholder="Buscar por Técnico">
                    </form>
                </div>
                <div class="status" flex>
                    <div ng-show="contatoSelecionado > -1" layout="row" layout-align="start center" flex>
                        <avatar name="{{contatos[contatoSelecionado].nome}}" size="40px" font-size="24px"></avatar>
                        <div layout="column" flex>
                            <h4>{{contatos[contatoSelecionado].nome}}</h4>
                            <p>{{contatos[contatoSelecionado].status}}</p>
                        </div>
                        <md-button class="md-icon-button launch">
                            <md-icon class="material-icons">attach_file</md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
            <div layout="row" flex>
                <div layout="column" flex="33" class="contatos">
                    <md-list class="md-dense" >
                        <md-list-item ng-click="selecionaContato($index)" ng-repeat="contato in contatos" layout="row" layout-align="center center">
                            <avatar name="{{contato.nome}}" size="35px" font-size="20px"></avatar>
                            <div layout="column" layout-align="start stretch" flex>
                                <div layout="row" layout-align="space-between center" flex>
                                    <h3 class="nome">{{contato.nome}}</h3>
                                    <h4 class="hora" ng-class="{'com-mensagem': (contato.mensagens > 0)}">{{contato.horaUltimaMsg}}</h4>
                                </div>
                                <div layout="row" layout-align="space-between center" flex>
                                    <h3 class="mensagem">Lorem ipsum dolor sit ame Lorem ipsum dolor sit ame</h3>
                                    <div ng-show="contato.mensagens>0" class="num-mensagens" layout="row" layout-align="center center">
                                        <p>{{contato.mensagens}}</p>
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
                <div flex="66" ng-show="contatoSelecionado > -1" layout="column" layout-align="space-between stretch">
                    <div class="area-mensagens" flex scroll-glue="glued">
                        <div ng-repeat="dia in dias" layout="column" layout-align="start stretch">
                            <p class="dia">{{dia}}</p>
                            <!-- <div ng-repeat="msgDia in mensagensPorDia[$index]" layout="row" layout-align="start stretch">
                                <span flex-order="{{msgDia.enviado?-1:1}}" flex></span>
                                <div flex-order="{{msgDia.enviado?1:-1}}" class="div-mensagem" ng-class="(msgDia.enviado?'enviado':'recebido')">
                                    {{msgDia.msg}}
                                    <p flex>
                                        {{msgDia.hora}}
                                    </p>
                                </div>
                            </div> -->
                            
                            <div ng-repeat="msgDia in mensagensDoContatoSelecionado" layout="row" layout-align="start stretch">
                                <span flex-order="{{msgDia.enviado?-1:1}}" flex></span>
                                <div flex-order="{{msgDia.enviado?1:-1}}" class="div-mensagem" ng-class="(msgDia.enviado?'enviado':'recebido')">
                                    {{msgDia.mensagem}}
                                    <p flex>
                                        {{msgDia.horaEnvio}}
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="area-input" layout="row" layout-align="start center">
                        <md-input-container flex md-no-float class="md-block" class="input">
                            <input ng-model="mensagem" placeholder="Escreva sua mensagem">
                        </md-input-container>
                        <md-button class="md-icon-button launch" ng-click="enviaMensagem()">
                            <md-icon class="material-icons">send</md-icon>
                        </md-button>
                    </div>
                </div>
                <div flex="66" class="area-sem-mensagem" ng-hide="contatoSelecionado > -1" layout="column" layout-align="center center">
                    <i class="material-icons">mail</i>
                    <span>Selecione um tecnico para enviar uma mensagem</span>
                </div>
            </div>

    </div>
</div>
