<meta charset="UTF-8">
<md-dialog flex="60" class="cadastrar-localidade">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{title}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <md-dialog-content>
        <form class="content" md-theme="themeButtonUA"  ng-submit="cadastrarForm.$valid && salvar()" name="cadastrarForm" novalidate>
            <div layout="column" layout-xs="column">
                <fieldset ng-disabled="!podeEditar()">
                    <md-input-container flex="100" class="md-block">
                        <label>Nome da Atividade</label>
                        <input name="nome" ng-model="atividade.nome" maxlength="120" required>
                        <div ng-messages="cadastrarForm.nome.$error">
                            <div ng-message="required">Opa! O campo Nome da Atividade é obrigatório</div>
                        </div>
                    </md-input-container>
                    <div flex layout="row" layout-xs="column">
                        <md-input-container flex="50" class="md-block" style="margin-right: 10px;">
                            <label>Unidade de Medida</label>
                            <input name="unidade" ng-model="atividade.unidade" maxlength="120" required>
                            <div ng-messages="cadastrarForm.unidade.$error">
                                <div ng-message="required">Opa! O campo Unidade de Medida é obrigatório</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50" flex-xs="100" style="margin-right: 10px;">
                            <label>Ação</label>
                            <md-select name="acao" ng-model="atividade.acao.id" required>
                                <md-option ng-repeat="item in acoes" ng-value="item.id" >{{item.nome}}</md-option>
                            </md-select>
                            <div ng-messages="cadastrarForm.acao.$error">
                                <div ng-message="required">Opa! O campo Ação é obrigatório</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex layout="row" layout-xs="column">
                        <md-input-container class="md-block" flex flex-xs="100">
                            <label>Descrição da Atividade</label>
                            <textarea name="descricao" ng-model="atividade.descricao" rows="1" md-select-on-focus required></textarea>
                            <div ng-messages="cadastrarForm.descricao.$error">
                                <div ng-message="required">Opa! O campo Descrição é obrigatório.</div>
                            </div>
                        </md-input-container>
                    </div>
                </fieldset>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-primary" ng-click="cancel()" >Cancelar</md-button>
                <md-button ng-show="podeEditar()" class="md-primary" type="submit">Salvar</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
