<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content  flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="SOBRE">
                <div id="tabs">
                    <p>A modalidade é executada no território da Superintendência do Desenvolvimento do Nordeste (Sudene), sendo <b>beneficiados todos os estados da região Nordeste e também o norte de Minas Gerais.</b> No momento, não há previsão de expansão do programa para outros estados. O PAA Leite adquire leite de vaca e também de cabra, que deve ser de produção própria dos agricultores familiares e deve cumprir os requisitos de controle de qualidade dispostos nas normas vigentes. Os estados que fazem parceria com o MDS para execução do PAA Leite contratam organizações da agricultura familiar e/ou laticínios que são responsáveis por recepcionar, coletar, pasteurizar, embalar e transportar o leite para os pontos de distribuição em locais pré-definidos e/ou diretamente às unidades recebedoras.  No caso da execução por meio das organizações, essas poderão realizar a pasteurização do leite de seus cooperados diretamente ou por meio de contrato com laticínios.</p>
                </div>
            </md-tab>
            <md-tab label="BENEFICIÁRIOS COSUMIDORES">
                <div id="tabs">
                    <p>São beneficiários consumidores do programa <b>famílias registradas no Cadastro Único</b> que possuam, entre seus membros, pessoa em alguma das seguintes condições:</p>
                    <ul>
                        <li>Gestantes, a partir da constatação da gestação pelas Unidades Básicas de Saúde e que façam exame pré-natal;</li>
                        <li>Crianças de dois a sete anos de idade, que possuam certidão de nascimento e estejam com o controle de vacinas em dia;</li>
                        <li>Nutrizes até seis meses após o parto e que amamentem, no mínimo, até o sexto mês de vida da criança;</li>
                        <li>Pessoas com sessenta anos ou mais;</li>
                        <li>Outros, desde que justificado e autorizado pelo Conselho de Segurança Alimentar e Nutricional e pela Secretaria Nacional de Segurança Alimentar e Nutricional (SESAN).</li>
                    </ul>
                    <p>Além disso, são beneficiários consumidores pessoas atendidas pelas unidades recebedoras, ou seja, por entidades da rede socioassistencial, equipamentos públicos de alimentação e nutrição e unidades da rede pública e filantrópica de ensino, dentre outras entidades públicas, que sirvam refeições regularmente. <b>As famílias beneficiárias do programa poderão receber até 7 (sete) litros de leite por semana ou 14 (quatorze) litros de leite</b>, caso a família possua dois ou mais membros cadastrados como beneficiários consumidores. Com relação às unidades recebedoras, o leite será distribuído de acordo com a pactuação firmada com a gestão do programa.</p>
                </div>
            </md-tab>
            <md-tab label="CONDIÇÕES DE PARTICIPAÇÃO">
                <div id="tabs">
                    <p>Para participar do PAA Leite, o agricultor familiar deve seguir as seguintes exigências: <b>possuir Declaração de Aptidão ao Pronaf</b> (DAP), <b>respeitar o limite de venda de 100 litros por dia por produtor</b> e <b>ter comprovante de vacinação dos animais.</b> Deverão ser priorizadas pessoas inscritas no Cadastro Único, mulheres, produtores orgânicos ou agroecológicos, povos e comunidades tradicionais e público beneficiário do Plano Brasil Sem Miséria. O produtor pode receber pela venda de seu produto até R$ 4.000,00 (quatro mil reais) por unidade familiar/semestre, diferente das demais modalidades nas quais o limite é anual. Caso este valor não seja utilizado totalmente no semestre, não poderá ser compensado no semestre seguinte. O valor do litro de leite é prefixado pelo Grupo Gestor do PAA, de acordo com a média dos preços praticados pelo mercado local. O valor a ser pago ao laticínio também é fixado em resolução. O laticínio contratado deverá coletar o leite diretamente na propriedade de cada agricultor familiar selecionado pelo gestor estadual ou em tanques de resfriamento, de onde será coletado pelo em caminhões adequados para o transporte.</p>
                    </ul>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
    <md-dialog-actions layout="row" layout-align="space-between center">
        <md-button target="_blank" href="http://www.sda.ce.gov.br/index.php/coordenadoria-de-desenvolvimento-territorial-e-combate-a-pobreza-rural" ng-click="">VER MAIS EM SDA</md-button>
        <md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
