<md-toolbar id="indexToolbar" class="md-whiteframe-z2" layout="column">
    <div class="md-toolbar-tools">
    	<md-button ng-click="travarMenu()" class="md-icon-button" >
            <md-icon id="font-black" aria-label="Menu" class="material-icons">menu</md-icon>
        </md-button>
        <h3>{{$state.current.data.pageTitle}}</h3>
        <span flex></span>
        <md-menu-bar>
            <md-menu>
                <span ng-click="$mdOpenMenu()" id="toolbarMenu">
                    <span hide-xs>{{$root.account.usuarioAvancado.pessoaFisica.pessoa.apelido || $root.account.usuarioAvancado.pessoaFisica.pessoa.nome.split(" ")[0] | capitalize}}</span>
                    <avatar image="{{$root.account.usuarioAvancado.pessoaFisica.pessoa.foto}}" name="{{$root.account.usuarioAvancado.pessoaFisica.pessoa.nome}}" size="40px" font-size="24px" color-index="{{corFoto}}"></avatar>
                </span>
                <md-menu-content layout="column" id="menuContent">
                	<div>
	                    <div id="menuContentInfos">
	                        <span ng-click="showDialogCrop()" id="menuContentInfosHyperlink">
	                            <img id="menuContentInfosCover" src="assets/images/cover.png">
	                            <avatar image="{{$root.account.usuarioAvancado.pessoaFisica.pessoa.foto}}" name="{{$root.account.usuarioAvancado.pessoaFisica.pessoa.nome}}" size="80px" font-size="40px" color-index="{{corFoto}}" style="position: absolute;"></avatar>
	                        </span>
	                        <span flex id="menuContentInfosText" >{{($root.account.usuarioAvancado.pessoaFisica.pessoa.nome | capitalize) || "Técnico"}}</span>
	                        <div layout="row" layout-align="start center" flex id="menuContentButton">
	                            <md-button ng-click="mostraDialogDadosUsuarioAvancado()" id="menuContentButtonPerfil" class="md-raised md-primary">Meu Perfil</md-button>
	                            <a href="" ng-click="showDialogAlterarSenha()">Alterar Senha</a>
	                        </div>
	                    </div>
	                    <md-content layout="row" layout-align="end center" id="menuContentButtonsUa">
	                        <md-button ng-click="logout()"> sair</md-button>
	                    </md-content>
                    </div>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
    <div class="sub-toolbar md-toolbar-tools" ng-if="$root.subToolbar" >
        <md-button ng-click="$root.subToolbar.backButton()" class="md-icon-button" ng-if="$root.subToolbar.backButton" >
            <md-icon class="back-icon" aria-label="Back button" class="material-icons">arrow_back</md-icon>
        </md-button>
        <h3 flex>{{$root.subToolbar.title}}</h3>
        <md-button class="md-warn" ng-click="$root.subToolbar.cancelButton()" ng-if="$root.subToolbar.cancelButton">
            Cancelar
        </md-button>
        <md-button class="md-warn" ng-click="$root.subToolbar.reopenButton()" ng-if="$root.subToolbar.reopenButton">
            Reabrir Plano
        </md-button>
        <md-button class="md-warn" ng-click="$root.subToolbar.saveButton()" ng-if="$root.subToolbar.saveButton">
            Salvar
        </md-button>
        <md-button class="md-warn" ng-click="$root.subToolbar.finalizeButton()" ng-if="$root.subToolbar.finalizeButton">
            Finalizar Plano
        </md-button>
        <md-button class="md-warn" ng-click="$root.subToolbar.evaluateButton()" ng-if="$root.subToolbar.evaluateButton">
            Avaliar
        </md-button>
        <md-button class="md-warn" ng-click="$root.subToolbar.viewButton()" ng-if="$root.subToolbar.viewButton">
            Visualizar
        </md-button>

        <md-menu ng-if="$root.subToolbar.moreButton">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$root.subToolbar.moreButton($mdOpenMenu, $event)">
                <md-icon class="material-icons" style="color:black;font:bold;" >more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$root.subToolbar.generateXLSX()">
                        <md-icon class="material-icons" md-menu-align-target="">file_download</md-icon>
                        XLS
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>


    </div>
</md-toolbar>
