<meta charset="UTF-8">
<div md-theme="dark" layout="row" layout-align="center center" id="login-agricultor-background" class="pic-wrapper" >

    <figure class="bd-image pic-1"></figure>
    <figure class="bd-image pic-2"></figure>
    <figure class="bd-image pic-3"></figure>
    <figure class="bd-image pic-4"></figure>

	<div layout="column" flex layout-align="center center" class="application-width" id="login-agricultor-content-bg">
		<img src="assets/images/logoCompletaBraco.svg">
		<span id="login-agricultor-div-error" ng-show="authenticationError">
        	A combinação de CPF e Data de Nascimento não é válida.
    	</span>
        <span id="login-agricultor-div-browser" ng-show="browserNaoSuportado">
        	O seu navegador atual não é suportado por nosso sistema, sugerimos a utilização do Google Chrome.
    	</span>
        <span id="login-agricultor-div-versao" ng-show="versaoNaoSuportada">
        	Você está utilizando um navegador com versão desatualizada. Para melhor utilização do portal recomendamos que faça a atualização do seu navegador.
    	</span>
        <form layout="column" flex layout-align="center center" name="loginForm" ng-submit="loginForm.$valid && login($event, loginForm)">
			<md-input-container class="md-block">
                <label>CPF</label>
        		<input ng-required name="username" ng-model="username" cpf-mask focus="true" >
        		<div ng-messages="loginForm.username.$error" md-auto-hide="false">
          			<div ng-message="requerido">Opa! O campo CPF é obrigatorio</div>
                    <div ng-message="minimo">Opa! O campo CPF deve possuir 11 números</div>
        		</div>
    		</md-input-container>
            <md-input-container class="md-block">
                <label>Data de Nascimento</label>
        		<input ng-required name="senha" ng-model="senha" type="text" date-mask>
        		<div ng-messages="loginForm.senha.$error" md-auto-hide="false">
          			<div ng-message="requerido">Opa! O campo Data de Nascimento é obrigatorio</div>
                    <div ng-message="minimo">Opa! O campo Data de Nascimento deve ter o formato DD/MM/AAAA</div>
        		</div>
    		</md-input-container>
            <md-button type="submit" style="color: white;" class="md-raised md-primary">Entrar</md-button>
		</form>
		<a ng-href="#/login">
	        Entrar como Técnico ou Gestor
	    </a>
	</div>
</div>
