<meta charset="UTF-8">
<md-dialog ng-cloak>
    <md-dialog-content>
        <div id="dialog-apelido">
            <p id="dialog-apelido-titulo">{{titulo}}</p>
            <form name="apelidoForm" ng-submit="setApelido()">
                <md-input-container id="dialog-apelido-input-content" md-no-float class="md-block" flex="80">
                    <input ng-model="apelido" name="apelido" placeholder="{{nome}}" ng-maxlength="30" required>
                    <div ng-messages="apelidoForm.apelido.$error">
                        <div ng-message="required">Opa! O preenchimento é obrigatorio</div>
                        <div ng-message="maxlength">Limite de 30 caracteres</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button type="submit" ng-disabled="apelidoForm.$invalid">
                        OK
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
