<meta charset="UTF-8">
<md-dialog>
    <header layout="row" layout-align="start center" class="md-toolbar-tools" ng-class="{'dialogs-header-agricultor': $root.isAgricultor, 'dialogs-header-usuario-avancado': !$root.isAgricultor}">
        Editar perfil
        <span flex></span>
    </header>
    <md-dialog-content>
        <div id="dialog-apelido">
          <p id="dialog-apelido-titulo">{{titulo}}</p>
          <form name="apelidoForm" ng-submit="setApelido()">
            <md-input-container id="dialog-apelido-input-content" md-no-float class="md-block" flex="80">
              <input ng-model="apelido" name="apelido" placeholder="{{nome}}" ng-maxlength="30" required>
              <div ng-messages="apelidoForm.apelido.$error">
                <div ng-message="required">Opa! O preenchimento é obrigatorio</div>
                <div ng-message="maxlength">Limite de 30 caracteres</div>
              </div>
            </md-input-container>
            <div ng-show="$root.isAgricultor">
              <p id="dialog-apelido-titulo">Como você se identifica?</p>
              <md-input-container>
                  <md-radio-group ng-model="etniaResposta">
                      <md-radio-button ng-repeat="d in etnia" ng-value="d.id">
                          {{d.nome | capitalize}}
                      </md-radio-button>
                  </md-radio-group>
              </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
              <md-button type="submit" ng-disabled="apelidoForm.$invalid">
                  OK
              </md-button>
          </div>
          </form>
        </div>
    </md-dialog-content>
</md-dialog>
