<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
	<div layout-align="center center" class="application-width" layout="column" ng-cloak ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
		<div ng-show="$root.account.agricultor.daps && $root.account.agricultor.daps.length > 0" id="daps">
			<div class="daps-extrato" flex style="">
				<a target="_blank" href="http://smap14.mda.gov.br/extratodap/PesquisarDAP" flex>
		        	Emitir extrato da DAP
		    	</a>
	    	</div>
			<md-card md-theme="themeAWhite" id="step1">
				<div id="atual">
					<div>
						<span>DAP Atual:</span>
						<span>{{account.agricultor.daps[0].numero}}</span>
					</div>
					<div>
						<span>Modelo da DAP:</span>
						<span>{{account.agricultor.daps[0].modelo}}</span>
					</div>
					<div>
						<span>Data de Emissão:</span>
						<span>{{account.agricultor.daps[0].dataEmissao | date : 'dd/MM/yyyy' }}</span>
					</div>
					<div>
						<span>Tempo de Validade:</span>
						<span>{{account.agricultor.daps[0].tempoValidade}}</span>
					</div>
				</div>
			</md-card>
			<md-card  ng-show="!screenIsSmall" id="step2">
                <header layout="row" id="titulo" layout-align="space-between center" class="md-toolbar-tools">
                    <span>Historico de DAPs</span>
                    <span>Data de Emissão</span>
                </header>
				<md-list class="accordion">
					<md-list-item id="list-texto" ng-repeat-start="d in account.agricultor.daps">
						<md-button ng-click="expansaoDaps($index)">
							<div layout="row" layout-fill layout-align="center center">
								<p flex="50">{{d.numero}}</p>
								<p flex="45">{{d.dataEmissao | date : 'dd/MM/yyyy' }}</p>
								<md-icon ng-class="{'expandir': exibir[$index]}" class="material-icons">expand_less</md-icon>
							</div>
						</md-button>
					</md-list-item>
					<md-list-item ng-repeat-end ng-class="exibir[$index] ? 'expandir' : 'encolher' ">
						<div  layout="column" id="list-expansao">
							<div>
								<span>Modelo da DAP:</span>
								<span>{{account.agricultor.daps[$index].modelo}}</span>
							</div>
							<div>
								<span>Tempo de Validade:</span>
								<span>{{account.agricultor.daps[$index].tempoValidade}}</span>
							</div>
						</div>
					</md-list-item>
	            </md-list>
			</md-card>
			<md-card md-theme="themeAWhite" ng-show="screenIsSmall" id="step3">
                <header layout="row" id="titulo" layout-align="space-between center" class="md-toolbar-tools">
					<span>Historico de DAPs</span>
				</header>
				<md-list class="accordion">
					<md-list-item id="list-texto" ng-repeat-start="d in account.agricultor.daps">
						<md-button ng-click="expansaoDaps($index)">
							<div layout="row" layout-fill layout-align="center center">
								<p flex="95">{{d.numero}}</p>
								<md-icon flex ng-class="{'expandir': exibir[$index]}" class="material-icons">expand_less</md-icon>
							</div>
						</md-button>
					</md-list-item>
					<md-list-item ng-repeat-end ng-class="exibir[$index] ? 'expandir' : 'encolher' ">
						<div  layout="column" id="list-expansao">
							<div>
								<span>Modelo da DAP:</span>
								<span>{{account.agricultor.daps[$index].modelo}}</span>
							</div>
							<div>
								<span>Data de Emissão:</span>
								<span>{{account.agricultor.daps[$index].dataEmissao | date : 'dd/MM/yyyy' }}</span>
							</div>
							<div>
								<span>Tempo de Validade:</span>
								<span>{{account.agricultor.daps[$index].tempoValidade}}</span>
							</div>
						</div>
					</md-list-item>
	            </md-list>
			</md-card>
		</div>
		<div id="daps-mensagem" ng-show="$root.account.agricultor.daps && $root.account.agricultor.daps.length == 0">
            <i id="dap-icon" class="material-icons">folder_shared</i>
            <p id="mensagem">Atualmente você não possui nenhuma DAP cadastrada.</p>
            <p id="informacoes">Para mais informações acesse: <a target="_blank" href="http://www.sda.ce.gov.br/">www.sda.ce.gov.br</a></p>
        </div>
	</div>
</div>
