<meta charset="UTF-8">
<md-dialog style="overflow: hidden;">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Galeria de Fotos
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <div layout-align="column" style="padding: 32px 8px;">
        <md-icon ng-click="mostraFoto(posicao - 1,escondeVoltar)"  aria-label="Anterior" class="material-icons">arrow_back_ios</md-icon>
        <img style=" width: 408px; height: 582px;" src="{{imgSelecionada}}">
        <md-icon ng-click="mostraFoto(posicao + 1,escondeProximo)"  aria-label="Próximo" class="material-icons">arrow_forward_ios</md-icon>
    </div>
</md-dialog>
