<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" id="avaliacao-tarefas">

    <div layout-align="start stretch" class="application-width application-width-listagem-tarefa" layout="column" ng-cloak>
        <div id="avaliacao-tarefas-div-tabs">
            <md-tabs flex md-dynamic-height md-center-tabs="true" md-swipe-content>
                <!--md-tab ng-click="mostraInput = 'plano-anual'" label="PLANO ANUAL"></md-tab>
                <md-tab ng-click="mostraInput = 'plano-trimestral'" label="PLANO TRISMESTRAL"></md-tab-->
                <md-tab ng-click="mostraInput = 'municipio'" label="MUNICÍPIO"></md-tab>
                <md-tab ng-click="mostraInput = 'comunidade'" label="COMUNIDADE"></md-tab>
                <md-tab ng-click="mostraInput = 'atividade'" label="ATIVIDADE"></md-tab>
                <md-tab ng-click="mostraInput = 'parceira'" label="PARCEIRA DE ATER"></md-tab>
                <md-tab ng-click="mostraInput = 'tecnico'" label="TÉCNICO"></md-tab>
                <md-tab ng-click="mostraInput = 'agricultor'" label="AGRICULTOR"></md-tab>
                <md-tab ng-click="mostraInput = 'status'" label="STATUS"></md-tab>
            </md-tabs>
        </div>

        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: atividadeSelecionada.id, nome: atividadeSelecionada.nome, titulo: 'Atividade' ,tipo: 'atividade', objeto: atividadeSelecionada})"
              name="atividadeForm" ng-show="mostraInput == 'atividade'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-atividade"
                                 md-input-name="autoCompleteAtividade"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="atividadeSelecionada"
                                 md-search-text="atividade"
                                 md-items="item in buscarAutoCompletePorFiltro(atividade, 'api/ater/atividade/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Atividade">
                    <md-item-template>
                        <span md-highlight-text="atividade">{{item.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete"
                 ng-messages="atividadeForm.autoCompleteAtividade.$error"
                 ng-if="atividadeForm.autoCompleteAtividade.$touched">
                <div ng-message="required">Você <b>deve</b> escolher uma Atividade.</div>
                <div ng-message="md-require-match">Por favor, escolha uma atividade existente.</div>
            </div>
        </form>


        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: parceiraSelecionada.id, nome: parceiraSelecionada.pessoaJuridica.pessoa.nome, titulo: 'Parceira de ATER', tipo: 'parceira', objeto: parceiraSelecionada})"
              ng-show="mostraInput == 'parceira'" layout="column" >
            <div layout="row" layout-align="start center">
                <md-autocomplete id="input-filtro-parceira" flex required
                                 md-input-name="autoCompleteParceira"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="parceiraSelecionada"
                                 md-search-text="parceira"
                                 md-items="item in buscarAutoCompletePorFiltro(parceira, 'api/empresa/')"
                                 md-item-text="item.pessoaJuridica.pessoa.nome"
                                 md-require-match
                                 placeholder="Buscar por Parceira">
                    <md-item-template>
                        <span md-highlight-text="parceira">{{item.pessoaJuridica.nomeFantasia}} - {{item.pessoaJuridica.pessoa.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="parceiraForm.autoCompleteMunicipio.$error" ng-if="parceiraForm.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um parceira.</div>
                <div ng-message="md-require-match">Por favor, escolha um parceira existente.</div>
            </div>
        </form>



        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: municipioSelecionado.id, nome: municipioSelecionado.nome, titulo: 'Município', tipo: 'municipio', objeto: municipioSelecionado})"
              name="municipioForm" ng-show="mostraInput == 'municipio'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-municipio"
                                 md-input-name="autoCompleteMunicipio"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="municipioSelecionado"
                                 md-search-text="municipio"
                                 md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Município">
                    <md-item-template>
                        <span md-highlight-text="municipio">{{item.nome}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete"
                 ng-messages="municipioForm.autoCompleteMunicipio.$error"
                 ng-if="municipioForm.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um município.</div>
                <div ng-message="md-require-match">Por favor, escolha um município existente.</div>
            </div>
        </form>

        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: comunidadeSelecionada.id, nome: comunidadeSelecionada.nome, titulo: 'Comunidade', tipo: 'comunidade', objeto: comunidadeSelecionada})"
              name="comunidadeForm" ng-show="mostraInput == 'comunidade'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-comunidade"
                                 md-input-name="autoCompleteComunidade"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="comunidadeSelecionada"
                                 md-search-text="comunidade"
                                 md-items="item in buscarAutoCompleteComunidadePorMunicipio(comunidade, 'api/comunidade/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Comunidade">
                    <md-item-template>
                        <span md-highlight-text="comunidade">{{item.nome | capitalize}}, {{item.municipio.nome | capitalize}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete"
                 ng-messages="comunidadeForm.autoCompleteComunidade.$error"
                 ng-if="comunidadeForm.autoCompleteComunidade.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um comunidade.</div>
                <div ng-message="md-require-match">Por favor, escolha um comunidade existente.</div>
            </div>
        </form>

        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: tecnicoSelecionado.id, nome: tecnicoSelecionado.pessoaFisica.pessoa.nome, titulo: 'Técnico' ,tipo: 'tecnico', objeto: tecnicoSelecionado})"
              name="tecnicoForm" ng-show="mostraInput == 'tecnico'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-tecnico"
                                 md-input-name="autoCompleteTecnico"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="tecnicoSelecionado"
                                 md-search-text="tecnico"
                                 md-items="item in buscarAutoCompletePorFiltro(tecnico, 'api/usuarioavancado/nome/')"
                                 md-item-text="item.pessoaFisica.pessoa.nome"
                                 md-require-match
                                 placeholder="Buscar por Técnico">
                    <md-item-template>
                        <span md-highlight-text="tecnico">{{item.pessoaFisica.pessoa.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="tecnicoForm.autoCompleteTecnico.$error"
                 ng-if="tecnicoForm.autoCompleteTecnico.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um técnico.</div>
                <div ng-message="md-require-match">Por favor, escolha um técnico existente.</div>
            </div>
        </form>

        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: agricultorSelecionado, nome: agricultorSelecionado, titulo: 'Agricultor', tipo: 'agricultor', objeto: agricultorSelecionado})"
              name="agricultorForm" ng-show="mostraInput == 'agricultor'" layout="column">
            <div layout="row" layout-align="start center">
                <input id="input-filtro-agricultor" name="nomeAgricultor" flex type="text"
                       class="input-text-filtro-padrao" ng-model="agricultorSelecionado"
                       placeholder="Buscar por Agricultor(a)">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="agricultorForm.nomeAgricultor.$error"
                 ng-if="agricultorForm.nomeAgricultor.$touched && agricultorForm.nomeAgricultor.$dirty">
                <div ng-message="required">Você <b>deve</b> informar um(a) agricultor(a) para adicionar esse filtro.
                </div>
            </div>
        </form>

        <form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: statusSelecionado.id, nome: statusSelecionado.nome, titulo: 'Status', tipo: 'status', objeto: statusSelecionado})"
              ng-show="mostraInput == 'status'" layout="row" layout-align="start center">
            <md-select ng-model="statusSelecionado" placeholder="Selecione um Status"
                       class="md-no-underline flex select-filtro">
                <md-option ng-value="status" ng-repeat="status in statusSelect">{{ status.nome }}</md-option>
            </md-select>

            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
        </form>

        <!--form class="avaliacao-tarefas-tabs-tab"
              ng-submit="adicionarFiltroChip({id: ptSelecionado.id, nome: ptSelecionado.trimestre, titulo: 'Plano Trimestral', tipo: 'planoTrimestral', objeto: ptSelecionado})"
              ng-show="mostraInput == 'plano-trimestral'" layout="row" layout-align="start center">
            <md-select ng-disabled="planoAnualSelecionado == null" ng-model="ptSelecionado"
                       placeholder="Selecione um Plano Trimestral" class="md-no-underline flex select-filtro">
                <md-option ng-value="item" ng-repeat="item in ptList">{{ item.trimestre }}º Trimestre ({{item.mesFormatado}})</md-option>
            </md-select>

            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
        </form-->

        <div id="avaliacao-tarefas-div-chips" layout-align="end end" layout="row">
            <md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome}} <strong>({{$chip.titulo}})</strong></span>
                </md-chip-template>

            </md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">
                clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
        </div>

        <div ng-show="tarefas.length > 0" layout="row" layout-align="end center" id="main-usuario-avancado-div-total">
            <span layout="row">
                Exibindo {{tarefas.length}} de {{total}}
            </span>
        </div>

        <div id="avaliacao-tarefas-div-list">
            <div flex layout="column">

                <div id="avaliacao-tarefas-msg-no-results" ng-show="filtros.length > 0 && semResultado" layout="column"
                     layout-align="start center">
                    <img id="avaliacao-tarefas-icon-no-results" alt="" src="assets/images/buscasemresultado.svg">
                    <p id="avaliacao-tarefas-texto-sem-resultado-top">Nenhum resultado encontrado para sua busca.</p>
                    <p id="avaliacao-tarefas-texto-sem-resultado-bottom">Tente usar os filtros para obter melhor
                        resultado.</p>
                </div>

                <md-list id="avaliacao-tarefas-div-rows" ng-show="tarefas.length > 0" flex md-whiteframe="2"
                         layout="column" layout-align="center">
                    <md-list-item ng-click="carregarTarefa(item)" class="md-3-line" ng-repeat="item in tarefas">
                        <avatar image="{{item.foto}}" name="{{item.agricultor}}" size="60px" font-size="24px"></avatar>
                        <div id="avaliacao-tarefas-list-item-text" class="md-list-item-text" layout="column">
                            <div layout="row" layout-align="start center">
                                <p class="tarefa-name" style="margin-top: 0">{{item.descricao | capitalize}}</p>
                                <p class="tarefa-type"> - {{getDescricaoTipo(item.tipo)}}</p>
                            </div>
                            <!--p ng-show="item.trimestre"><b>{{item.codigo}} | {{item.trimestre}}º Tri ({{item.mesFormatado}})</b></p-->
                            <p><b>{{item.codigo}} | {{item.trimestre}}º Tri ({{item.mesFormatado}})</b>
                                -&nbspRealizado em:&nbsp {{item.dataRealizacao | date: 'dd/MM/yyyy'}}
                            </p>
                            <div class="tarefa-info" layout="row" layout-align="start center">
                                <p class="tarefa-info-light">Técnico(a):&nbsp</p>
                                <p class="tarefa-info-heavy">{{item.tecnico | capitalize}} -&nbsp</p>
                                <p class="tarefa-info-light">Parceira de ATER:&nbsp</p>
                                <p class="tarefa-info-heavy">{{item.empresa}}</p>
                            </div>
                            <div class="tarefa-info" layout="row" layout-align="start center">
                                <p class="tarefa-info-light">Agricultor(a) | Comunidade:&nbsp</p>
                                <p class="tarefa-info-heavy">{{item.agricultor | capitalize}} | {{item.comunidadeAgricultor |
                                    capitalize}}</p>
                            </div>
                            <div class="tarefa-info" layout="row" layout-align="start center">
                                <p class="tarefa-info-light">Local:&nbsp</p>
                                <p class="tarefa-info-heavy">{{getLocalization(item) | capitalize}}&nbsp</p>
                                <p ng-hide="item.tipo == tarefaTipo.PA.id" class="tarefa-info-light">
                                    -&nbspAbrangência:&nbsp</p>
                                <p ng-hide="item.tipo == tarefaTipo.PA.id" class="tarefa-info-heavy">
                                    {{getDescricaoAbrangencia(item.abrangencia) | capitalize}}&nbsp</p>

                            </div>
                        </div>

                        <div layout="row" id="avaliacao-tarefas-div-pin-mapa">
                            <h5>
                                <span class="label label-revisado"
                                      ng-show="(item.status == tarefaStatus.T.id && item.recusado == true) ? true : false">Revisado</span>
                                <span ng-hide="item.recusado == true" class="label"
                                      style="background-color: {{tarefaStatus[item.status].background}}; color: {{tarefaStatus[item.status].color}}; font-weight: normal;">
                                    {{tarefaStatus[item.status].desc}}
                                </span>
                                <span ng-show="item.recusado" class="label"
                                      style="background-color: {{tarefaStatus[item.status].background}}; color: {{tarefaStatus[item.status].color}}; font-weight: normal;">
                                    {{tarefaStatus[item.status].desc}}
                                </span>
                            </h5>

                        </div>

                        <md-divider></md-divider>

                    </md-list-item>

                </md-list>

                <div flex layout="row" layout-align="center center">
                    <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
                </div>

            </div>
        </div>
    </div>
</div>
