<md-content class="sidebar" ng-class="sidebarClass()" ng-mouseover="mouseOver = true" ng-mouseleave="mouseOver = false" layout="column" layout-align="start stretch">
    <md-content md-scroll-y id="sidebar-content" layout="column" flex >
        <md-list id="sidebar-md-list">
            <header id="sidebar-header" layout="row" layout-align="start center" >
                <a ng-href="/" layout="row">
                    <img src="assets/images/logoParcial.svg" alt="" />
                    <img ng-show="isSidebarAberto() && !dispMovel" src="assets/images/logoParcialTextoBeta.svg" alt="" />
                    <img ng-show="isSidebarAberto() && dispMovel" src="assets/images/logoParcialTextoBetaCelular.svg" alt="" />
                </a>
                <img ng-show="dispMovel" ng-click="clickMenu({})" id="sidebar-close-button" src="assets/images/sidebarClose.svg"/>
            </header>
            <div ng-repeat="menu in menus" layout="column">
                <span ng-if="menu.divisorBefore" class="sidebar-divisor"></span>
                <md-menu-item layout="row" id="sidebar-menu" >
                    <span ng-if="isAuthenticated() && (isAgricultor || isNovaAba)" flex="none" class="sidebar-botao-div" ng-class="{selecionada: isSelected(menu)}"></span>
                    <span ng-if="isAuthenticated() && !isAgricultor && !isNovaAba" flex="none" class="sidebar-botao-div" ng-class="{selecionadaUA: isSelected(menu)}"></span>
                    <md-button class="sidebar-botao" ng-class="{'icone-selecionado': isSelected(menu)}" ng-click="clickMenu(menu)">
                        <div layout="row" flex>
                            <md-icon md-svg-icon="assets/images/icones/{{menu.icon}}.svg" class="sidebar-botao" ng-class="{'selecionado': isSelected(menu)}">{{menu.icon}}</md-icon>
                            <span flex>{{menu.name}}</span>
                            <md-icon ng-show="menu.submenus" class="material-icons sidebar-botao-arrow" ng-class="{'selecionado': menu.arrow}" >expand_less</md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <span ng-if="menu.divisorAfter" class="sidebar-divisor"></span>
                <md-menu-item ng-if="menu.arrow && isSidebarAberto()" id="sidebar-submenu" ng-repeat="submenu in menu.submenus" layout="row">
                    <span ng-if="isAuthenticated() && (isAgricultor || isNovaAba)" flex="none" class="sidebar-botao-div" ng-class="{selecionada: isSelected(submenu)}"></span>
                    <span ng-if="isAuthenticated() && !isAgricultor && !isNovaAba" flex="none" class="sidebar-botao-div" ng-class="{selecionadaUA: isSelected(submenu)}"></span>
                    <md-button class="sidebar-botao" ng-class="{'selecionado': isSelected(submenu)}" ng-click="clickMenu(submenu)">
                        <span id="sidebar-botao-text">{{submenu.name}}</span>
                    </md-button>
                </md-menu-item>
            </div>
        </md-list>
    </md-content>
</md-content>
