<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch">
    <div layout="column" layout-align="start stretch" class="application-width" ng-cloak id="layout-programas" ng-intro-options="introOptions" ng-intro-method="introStart" ng-intro-autostart="false" ng-intro-onexit="introOnExit" ng-intro-oncomplete="introOnExit">
        <div id="step1">
            <p id="sinopse">O Garantia-Safra (GS) é uma ação do Programa Nacional de Fortalecimento da Agricultura Familiar (Pronaf) inicialmente voltada para os agricultores e as agricultoras familiares localizados na região Nordeste, na área norte do Estado de Minas Gerais, Vale do Mucuri, Vale do Jequitinhonha e na área norte do Estado do Espírito Santo ― área de atuação da Superintendência do Desenvolvimento do Nordeste (SUDENE), majoritariamente semiárida ― que sofrem perda de safra por motivo de seca ou excesso de chuvas. <a href="" ng-click="showDialogSobre($event)">Ver mais...</a></p>
            <p ng-show="dispMovel"><a id="step2b" target="_blank" href="assets/pdf/garantia-safra-2016.pdf">Baixar Manual</a></p>
        </div>
        <div flex layout="row" layout-align="start start">
            <a id="step2a" ng-hide="dispMovel" target="_blank" href="assets/pdf/garantia-safra-2016.pdf">
                <img id="manual" ng-src="assets/images/garantia-safra-2016.png">
                <md-tooltip md-direction="bottom">
                    Visualizar ou baixar manual
                </md-tooltip>
            </a>
          <div layout="column" flex layout-align="start stretch">
                <div ng-show="projetoAno.length > 0" layout="row" layout-align="end center">
                    <div id="step3" layout="row" layout-align="end center">
                        <span>Decrescente</span>
                        <md-switch  id="main-usuario-avancado-switch" ng-model="inverte" class="md-primary" ng-change="onChangeSwitch()">
                            Crescente
                        </md-switch>
                    </div>
                </div>
                <div layout="row">
                    <linha-tempo flex eventos="projetoAno"></linha-tempo>
                    <span ng-hide="dispMovel" id="layout-programas-span"></span>
                </div>
            </div>
        </div>
    </div>
</div>
