<div ng-repeat="evento in eventos" layout="row" layout-align="center stretch" id="linha-tempo" flex>
    <div flex flex-order="{{$even?-1:1}}" layout="row" layout-align="{{$even?'end':'start'}} center" id="ano">
        {{evento.ano}}
    </div>
    <div layout="column" layout-align="center center" id="linha">
        <span flex></span>
        <img  ng-src="assets/images/pontoLinhaTempo.svg">
        <span flex></span>
    </div>
    <div flex flex-order="{{$even?1:-1}}" layout="row" layout-align="{{$odd?'end':'start'}} center" id="caixa">
        <div ng-click="clickEvento({ano: evento.ano})" ng-bind-html="evento.template"></div>
    </div>
</div>