<style>
    .avatar{
        border-radius: 50px;
        background-color: #FFF;
        height: 50px !important;
        width: 50px !important;
        font-size: 40px !important;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        font-weight: 200px;
        color: #FFF;
        line-height: 50px;
        margin: auto;
    }

    .avatar.square{
        border-radius: 0px;
    }
</style>

<div class="avatar" ng-show="!image && !logo" style="{{avatarStyle}}">
    {{initial}}
</div>

<img ng-src="{{image}}" ng-show="image" style="height: {{height}} !important; width: {{width}} !important;font-size:{{fontSize}} !important;" class="avatar {{type}}" />

<img src="assets/images/icone_Logo.svg" ng-show="logo && !image" style="height: {{height}} !important; width: {{width}} !important;font-size:{{fontSize}} !important;" class="avatar {{type}}" />
