<meta charset="UTF-8">
<md-dialog id="alterar-senha">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Alterar senha para {{account.login}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="alterarSenhaDialoghide()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <form id="form-alterarsenha" name="formAlterarSenha" role="form" novalidate ng-submit="changePassword()" show-validation>
        <div id="subtitulo">
            <span>Alterar a senha usada para efetuar o login</span>
        </div>
        <md-dialog-content md-theme="themeUA" layout="column" layout-align="center center">

            <md-input-container id="senha-container" class="md-block" flex-gt-sm>
                <label>Senha</label>
                <input ng-required="true" ng-model="senha" id="senha" name="senha" senha-messenge type="password">
                <div ng-messages="formAlterarSenha.senha.$error" md-auto-hide="false">
                    <div ng-message="requerido">Opa! O campo Nova senha é obrigatorio</div>
                    <div ng-message="minimo">Opa! O campo Nova senha deve possuir 5 números</div>
                    <div ng-message="maximo">Opa! O campo Nova senha deve possuir 50 números</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Confirmação de Senha</label>
                <input ng-required="true" ng-model="confirmPassword" id="confirmPassword" name="confirmPassword" senha-messenge type="password">
                <div ng-messages="formAlterarSenha.confirmPassword.$error" md-auto-hide="false">
                    <div ng-message="requerido">Opa! O campo Confirmação de Senha é obrigatorio.</div>
                    <div ng-message="minimo">Opa! O campo Confirmação de Senha deve possuir 5 números</div>
                    <div ng-message="maximo">Opa! O campo Confirmação de Senha deve possuir 50 números</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end" >
            <span></span>
            <md-button class="md-warn" ng-click="alterarSenhaDialoghide()">Cancelar</md-button>
            <span></span>
            <md-button class="md-warn" ng-disabled="formAlterarSenha.$invalid" type="submit">Salvar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
enha e Confirmacao de senha não conferem
