<meta charset="UTF-8">

<md-dialog id="dialog-cadastrar-user-completo" flex="70" layout="column" class="dialogs95 " md-theme="themeUAWhite">
    <header flex="noshrink" layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{titulo}}
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <form flex ng-submit="salvar(usuarioAvancadoDadosPessoaisCompletoForm)" name="usuarioAvancadoDadosPessoaisCompletoForm" md-theme="themeUAWhite" id="usuario-avancado-dados-pessoais-completo" layout-fill>
        <md-content flex md-theme="themeUA">
            <md-tabs md-border-bottom md-dynamic-height >
                <md-tab label="Dados Pessoais" ng-click="mostraDiv ='dadosPessoais'; verificaInputs(usuarioAvancadoDadosPessoaisCompletoForm)"></md-tab>
                <md-tab label="Endereço" ng-click="mostraDiv ='endereco'"></md-tab>
                <md-tab label="Contato" ng-click="mostraDiv ='contato'; verificaInputs(usuarioAvancadoDadosPessoaisCompletoForm)"></md-tab>
            </md-tabs>
            <div flex layout="row" layout-align="center stretch" class="content">
                <div flex layout-align="center center" layout="column" ng-cloak>
                    <div ng-show="mostraDiv =='dadosPessoais'" flex  layout-gt-xs="row" layout-wrap layout-fill>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>Nome</label>
                            <input id="input" name="nome" ng-model="user.usuarioAvancado.pessoaFisica.pessoa.nome" maxlength="120" ng-required="true" pattern="[A-Za-z ]+">
                            <div ng-messages="usuarioAvancadoDadosPessoaisCompletoForm.nome.$error">
                                <div ng-message="required">Opa! O campo Nome é obrigatorio</div>
                                <div ng-message="pattern">
                                    Opa! O campo Nome deve conter somente letras
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Apelido</label>
                            <input name="cpf" ng-model="user.usuarioAvancado.pessoaFisica.pessoa.apelido">
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>CPF</label>
                            <input name="cpf" ng-model="user.usuarioAvancado.pessoaFisica.cpf" cpf-mask ng-required="true">
                            <div ng-messages="usuarioAvancadoDadosPessoaisCompletoForm.cpf.$error">
                                <div ng-message="required">Opa! O campo CPF é obrigatorio</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100" required>
                            <label>Sexo</label>
                            <md-select name="sexo" ng-model="user.usuarioAvancado.pessoaFisica.sexo"  ng-required="true">
                                <md-option value='M'>Masculino</md-option>
                                <md-option value='F'>Feminino</md-option>
                            </md-select>
                            <div ng-messages="usuarioAvancadoDadosPessoaisCompletoForm.sexo.$error">
                                <div ng-message="required">Opa! O campo Sexo é obrigatorio</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Data de Nascimento</label>
                            <input name="dataNascimento" ng-model="user.usuarioAvancado.pessoaFisica.dataNascimento" date-mask ng-required="true">
                            <div ng-messages="usuarioAvancadoDadosPessoaisCompletoForm.dataNascimento.$error">
                                <div ng-message="required">Opa! O campo Data Nascimento é obrigatorio</div>
                                <div ng-message="formatoInvalido">Opa! Formato inválido </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Estado Civil</label>
                            <md-select name="estadoCivil" ng-model="user.usuarioAvancado.pessoaFisica.estadoCivil.id">
                                <md-option ng-repeat="item in estadoCivilList" ng-value="item.id" >{{item.descricao}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-autocomplete  flex="25" flex-xs="100"
                                          md-input-name="autoCompleteNaturalidadeMunicipio"
                                          md-min-length="3"
                                          md-no-cache="true"
                                          md-selected-item="user.usuarioAvancado.pessoaFisica.naturalidade"
                                          md-search-text="municipio"
                                          md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                                          md-item-text="item.nome"
                                          md-require-match
                                          md-floating-label="Município Naturalidade">
                            <md-item-template>
                                <span md-highlight-text="municipio">{{item.nome}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>RG</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.rg">
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Orgão de Expedição</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.orgaoExpedidorRg">
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Local de Expedição</label>
                            <md-select name="uf" ng-model="user.usuarioAvancado.pessoaFisica.localExpedicaoRg.id">
                                <md-option ng-repeat="item in ufList"  ng-value='item.id'>{{item.descricao}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Data da Expedição</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.dataExpedicaoRg" date-mask>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>Nome da Mãe</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.nomeMae">
                        </md-input-container>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>Nome do Pai</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.nomePai">
                        </md-input-container>
                        <md-autocomplete flex="25" flex-xs="100" ng-disabled="isDisabled"
                                         md-input-name="autoCompleteEmpresa"
                                         md-min-length="3"
                                         md-no-cache="true"
                                         md-selected-item="user.usuarioAvancado.empresa"
                                         md-search-text="empresa"
                                         md-items="itemEmpresa in buscarAutoCompletePorFiltro(empresa, 'api/empresa/')"
                                         md-item-text="itemEmpresa.pessoaJuridica.nomeFantasia"
                                         md-require-match
                                         md-floating-label="Empresa">
                            <md-item-template>
                                <span md-highlight-text="empresa">{{itemEmpresa.pessoaJuridica.nomeFantasia}} - {{itemEmpresa.pessoaJuridica.pessoa.nome | capitalize}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Cargo</label>
                            <md-select name="uf" ng-model="user.usuarioAvancado.cargo.id">
                                <md-option ng-repeat="item in cargoListc"  ng-value='item.id'>{{item.descricao}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Escolaridade</label>
                            <md-select name="escolaridade" ng-model="user.usuarioAvancado.pessoaFisica.escolaridade.id">
                                <md-option ng-repeat="item in escolaridadeList" ng-value='item.id'>{{item.descricao | capitalize}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-autocomplete  flex="25" flex-xs="100"
                                          md-input-name="autoCompleteFormacao"
                                          md-min-length="3"
                                          md-no-cache="true"
                                          md-selected-item="user.usuarioAvancado.formacao"
                                          md-search-text="formacao"
                                          md-items="itemFormacao in buscarAutoCompletePorFiltro(formacao, 'api/formacao/')"
                                          md-item-text="itemFormacao.descricao"
                                          md-require-match
                                          md-floating-label="Formação">
                            <md-item-template>
                                <span md-highlight-text="municipio">{{itemFormacao.descricao}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-autocomplete flex="25" flex-xs="100"
                                         md-input-name="autoCompleteEmpresa"
                                         md-min-length="3"
                                         md-no-cache="true"
                                         md-selected-item="user.usuarioAvancado.pessoaFisica.nacionalidade"
                                         md-search-text="nacionalidade"
                                         md-items="itemPais in buscarAutoCompletePorFiltro(nacionalidade, 'api/pais/')"
                                         md-item-text="itemPais.nacionalidade"
                                         md-require-match
                                         md-floating-label="Nacionalidade">
                            <md-item-template>
                                <span md-highlight-text="empresa">{{itemPais.nacionalidade}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-input-container class="md-block" flex="25" flex-xs="100" ng-show="canEditPerfil">
                            <label>Perfil</label>
                            <md-select name="autoridades" ng-model="autoridades" ng-required="canEditPerfil">
                                <md-option ng-show="$root.account.authorities[0] == 'ROLE_ADMIN'" value='ROLE_ADMIN'>Admin</md-option>
                                <md-option value='ROLE_RESPONSAVEL_ATER'>Responsável ATER</md-option>
                                <md-option value='ROLE_USUARIO_ATER'>Usuário ATER</md-option>
                                <md-option value='ROLE_USUARIO_ERP'>Usuário ERP</md-option>
                                <md-option value='ROLE_USUARIO_UGP'>Usuário UGP</md-option>
                                <md-option value='ROLE_USUARIO_UGP_1'>Usuário UGP Componente 1</md-option>
                                <md-option value='ROLE_OBSERVATORIO'>Observatório</md-option>
                            </md-select>
                            <div ng-messages="usuarioAvancadoDadosPessoaisCompletoForm.autoridades.$error">
                                <div ng-message="required">Opa! O campo Perfil é obrigatorio</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div ng-show="mostraDiv =='endereco'" flex layout-gt-xs="row" layout-wrap  layout-fill>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>Endereço</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.logradouro" >
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>Nº</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.numero" >
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>CEP</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.cep" cep-mask>
                        </md-input-container>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>Complemento</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.complemento" >
                        </md-input-container>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>Bairro</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.bairro" >
                        </md-input-container>
                        <md-input-container class="md-block" flex="25" flex-xs="100">
                            <label>UF</label>
                            <md-select name="uf" ng-model="user.usuarioAvancado.pessoaFisica.pessoa.uf.id" md-on-close="aposSelecionarEstado(user.usuarioAvancado.pessoaFisica.pessoa.uf.id)" md-on-open="aposAbrirEstado(user.usuarioAvancado.pessoaFisica.pessoa.uf.id)" >
                                <md-option ng-repeat="item in ufList" ng-value='item.id'>{{item.descricao}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-autocomplete flex="25" flex-xs="100" ng-disabled="user.usuarioAvancado.pessoaFisica.pessoa.uf.id == null"
                                         md-input-name="autoCompleteMunicipio"
                                         md-min-length="3"
                                         md-no-cache="true"
                                         md-selected-item="user.usuarioAvancado.pessoaFisica.pessoa.municipio"
                                         md-search-text="municipio"
                                         md-items="itemMunicipio in buscarAutoCompletePorFiltro(user.usuarioAvancado.pessoaFisica.pessoa.uf.id, 'api/municipioUf/',municipio)"
                                         md-item-text="itemMunicipio.nome"
                                         md-require-match
                                         md-floating-label="Município">
                            <md-item-template>
                                <span md-highlight-text="municipio">{{itemMunicipio.nome}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </div>
                    <div ng-show="mostraDiv =='contato'" layout-gt-xs="row" layout-wrap layout-fill>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>E-mail Pessoal</label>
                            <input ng-model="user.usuarioAvancado.pessoaFisica.pessoa.email" >
                        </md-input-container>
                        <md-input-container class="md-block" flex="50" flex-xs="100">
                            <label>E-mail Institucional</label>
                            <input name="emailInstitucional" ng-model="user.usuarioAvancado.emailInstitucional" ng-required="true" >
                            <div ng-messages="usuarioAvancadoDadosPessoaisCompletoForm.emailInstitucional.$error">
                                <div ng-message="required">Opa! O campo E-mail Institucional é obrigatorio</div>
                            </div>
                        </md-input-container>

                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="phone in user.usuarioAvancado.pessoaFisica.pessoa.telefones">
                                <md-icon class="material-icon">phone</md-icon>
                                <div class="md-list-item-text">
                                    <h4> {{ phone.numero | telefone }} </h4>
                                    <p> {{ telefoneEnum[phone.tipo].desc }} </p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-content>
        <md-dialog-actions md-theme="themeUA" layout="row">
            <md-button class="md-accent" ng-show="canEditPerfil" ng-hide="user.status == 'A'" ng-click="ativarUsuario()">Ativar</md-button>
            <md-button class="md-accent" ng-show="canEditPerfil" ng-hide="user.status == 'I'" ng-click="desativarUsuario()">Desativar</md-button>
            <span flex></span>
            <md-button class="md-accent" ng-click="cancel()">Cancelar</md-button>
            <md-button class="md-warn" type="submit">Salvar</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>
