<meta charset="UTF-8">
<md-tabs flex md-dynamic-height md-center-tabs="true">
    <md-tab label="PLANO ANUAL" ng-click="!podeIncluir() ? undefined : $root.fabAdd = undefined; buildToolbar(true)">
        <form flex layout="row" layout-align="center stretch" class="informacoes-gerais" ng-submit="salvar()"
              name="informacoesGeraisForm">
            <md-card layout-align="start stretch" class="application-width" layout="column" layout-gt-xs="row"
                     layout-wrap layout-fill ng-cloak>
                <md-autocomplete ng-disabled="modoEdicao || statusFinalizado" flex="50" flex-xs="100" ng-required="true"
                                 md-input-name="autoCompleteEmpresa"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="empresaSelecionada"
                                 md-search-text="empresa"
                                 md-items="item in buscarAutoCompletePorFiltro(empresa, 'api/empresa/')"
                                 md-item-text="item.pessoaJuridica.nomeFantasia"
                                 md-require-match
                                 md-floating-label="Parceira ATER">
                    <md-item-template>
                        <span md-highlight-text="empresa">{{item.pessoaJuridica.nomeFantasia}} - {{item.pessoaJuridica.pessoa.nome | capitalize}}</span>
                    </md-item-template>
                    <md-not-found>
                        Nenhum registro encontrado.
                    </md-not-found>
                    <div ng-messages="informacoesGeraisForm.autoCompleteEmpresa.$error">
                        <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                    </div>
                </md-autocomplete>

                <md-input-container class="md-block" flex="50" flex-xs="100">
                    <label>Contrato</label>
                    <md-select name="contrato" ng-model="pta.contrato.id" ng-required="true"
                               ng-disabled="modoEdicao || statusFinalizado">
                        <md-option ng-repeat="item in contratos" ng-value="item.id">{{item.codigo}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex="50" flex-xs="100">
                    <label>Região</label>
                    <input ng-model="pta.contrato.regiao.nome" maxlength="120" ng-disabled="true">
                </md-input-container>

                <md-input-container class="md-block" flex="25" flex-xs="100">
                    <label>Período Início</label>
                    <input ng-model="dataInicio" name="dataInicio" maxlength="120" ng-required="true" date-month-mask
                           ng-disabled="modoEdicao || statusFinalizado">
                    <div class="hint">MM/AAAA</div>
                    <div ng-messages="informacoesGeraisForm.dataInicio.$error">
                        <div ng-message="formatoMes">Formato do mês entre 01 e 12.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex="25" flex-xs="100">
                    <label>Período Fim</label>
                    <input ng-model="dataEncerramento" ng-disabled="true" maxlength="120" ng-required="true"
                           date-month-mask>
                </md-input-container>

                <div layout="row" flex="25" flex-xs="100">
                    <md-autocomplete flex ng-required="true"
                                     md-input-name="autoCompleteCoordenador"
                                     md-min-length="3"
                                     md-no-cache="true"
                                     md-selected-item="pta.coordenador"
                                     md-search-text="coordenador"
                                     md-items="item in buscarAutoCompletePorFiltro(coordenador, 'api/usuarioavancado/empresa/', empresaSelecionada.id)"
                                     md-item-text="item.pessoaFisica.pessoa.nome | capitalize"
                                     md-floating-label="Coordenador"
                                     md-menu-class="autocomplete-custom-tecnico-pta"
                                     ng-disabled="statusFinalizado">
                        <md-item-template>
                            <div layout="row" layout-align="start center">
                                <avatar image="{{item.pessoaFisica.pessoa.foto}}"
                                        name="{{item.pessoaFisica.pessoa.nome}}" size="40px" font-size="20px"
                                        color-index="{{corFoto}}"></avatar>
                                <div layout="column" layout-align="start start">
                                <span class="item-title">
                                    <span>
                                        <strong>{{item.pessoaFisica.pessoa.nome}}</strong>
                                    </span>
                                </span>
                                    <span class="item-metadata">
                                    <span>
                                        {{item.emailInstitucional}}
                                    </span>
                                </span>
                                </div>
                            </div>
                        </md-item-template>
                        <md-not-found>
                            "{{coordenador}}" não encontrado. <a ng-click="cadastrarUsuario()">Cadastre agora.</a>
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <div layout="row" flex="25">
                    <div flex="50" class="md-block radio-button" flex-xs="100">
                        <label>Situação do Plano</label>
                        <md-radio-group layout="row" ng-model="pta.situacao"
                                        ng-disabled="statusFinalizado">
                            <md-radio-button value="A">Ativo</md-radio-button>
                            <md-radio-button value="I">Inativo</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div flex="50" class="md-block status" flex-xs="100">
                        <label>Status</label>
                        <h5>
                            <span class="label"
                                  style="background-color: {{ptaConstants[pta.status].color}}; color: white; font-weight: normal;"
                                  ng-show="true">{{ptaConstants[pta.status].desc}}</span>
                            <span class="label"
                                  ng-if="pta.recusado"
                                  style="background-color: {{pta.status == '1'? '#EF5350' : '#3F51B5'}}; color: white; font-weight: normal; margin-right: 16px">{{pta.status == "1"? 'Recusado' : 'Revisado'}}</span>
                        </h5>
                    </div>
                </div>

                <div flex="50" class="md-block" flex-xs="100" layout="row" layout-align="center center">
                    <div flex="50" class="md-block">
                        <input class="ng-hide" id="fileInput" accept="application/pdf" type="file"
                               file-model="arquivoPlano">
                        <md-button class="md-accent" ng-click="selectFile();" ng-show="pta.id">
                            <md-icon class="back-icon" class="material-icons">attach_file</md-icon>
                            ANEXAR PLANO
                        </md-button>
                    </div>
                    <div flex="50" class="md-block">
                        <md-icon ng-show="arquivoPlano && arquivoPlano.name" class="material-icons;back-icon">
                            insert_drive_file
                        </md-icon>
                        <label ng-show="arquivoPlano && arquivoPlano.name" ng-click="downloadFile();">{{arquivoPlano.name}}</label>
                    </div>
                </div>

                <div flex="50" class="md-block" flex-xs="100" layout="row" layout-align="start center">
                    <md-button ng-show="pta.id" class="md-accent" ng-click="printPlanoAnual();">
                        <md-icon class="back-icon" class="material-icons">print</md-icon>
                        GERAR PDF
                    </md-button>
                </div>

                <div flex="50" class="md-block" flex-xs="100"></div>

                <div layout="row" layout-align="center center" class="titulo-acima-legenda" flex="100">
                    <p>Municípios, Comunidade e Famílias</p>
                </div>

                <div layout="row" layout-align="center center" class="md-whiteframe-z1 totalizadores" flex="100">
                    <span flex="33">Total de Municípios: {{metasFamiliasPta.length}}</span>
                    <span flex="33">Total de Comunidades: {{getTotalComunidadesAtendidas()}}</span>
                    <span flex="33">Total de Famílias: {{getTotalFamiliasAtendidas()}}</span>
                </div>

                <div class="metas-familias" layout-fill layout="column" layout-align="start stretch" ng-cloak>
                    <md-list flex class="accordion md-dense" layout="column" layout-align="start stretch">
                        <md-list-item class="md-2-line" ng-repeat-start="meta in metasFamiliasPta">
                            <div class="card md-whiteframe-z1" flex>
                                <md-button class="md-no-style md-button md-themeUA-theme md-ink-ripple">
                                    <div flex layout="row" class="cabecalho-metas">
                                        <header flex layout="row" layout-align="start center" layout-wrap>
                                            <span flex="40">
                                                <md-select
                                                    md-on-close="aposSelecionarMunicipio(meta[0].municipio, $index)"
                                                    md-on-open="aposAbrirMunicipios(meta[0].municipio.id, $index)"
                                                    ng-required="true" placeholder="Escolha o Município"
                                                    name="municipio" ng-model="meta[0].municipio.id"
                                                    ng-disabled="statusFinalizado">
                                                    <md-option ng-repeat="item in pta.contrato.abrangencia"
                                                               ng-value="item.id">{{item.nome}}</md-option>
                                                </md-select>
                                            </span>
                                            <span ng-click="expansaoMetasFamiliasPta($index);" flex="30">Comunidades Atendidas: {{metasFamiliasPta[$index].length}}</span>
                                            <span ng-click="expansaoMetasFamiliasPta($index);" flex="30">Famílias Atendidas: {{getContagemFamiliasAtendidas(meta)}}</span>
                                        </header>
                                        <md-icon ng-click="expansaoMetasFamiliasPta($index);"
                                                 ng-class="{'expandir': exibir[$index]}" class="material-icons">
                                            expand_less
                                        </md-icon>
                                        <md-icon
                                            ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR']) || statusFinalizado"
                                            ng-click="excluirMetasFamiliasPta($index, meta[0].municipio);"
                                            class="material-icons excluir">delete
                                        </md-icon>
                                    </div>
                                </md-button>
                            </div>
                        </md-list-item>

                        <md-list-item ng-repeat-end ng-class="exibir[$index] ? 'expandir' : 'encolher'">
                            <div flex class="expandir cabecalho-metas-sub-itens" layout="column">
                                <md-list-item ng-repeat="metaComunidade in meta" class="list-metas" layout-wrap
                                              layout-align="start center" layout="row">
                                    <md-input-container md-no-float class="md-block columns-atividades" flex="65">
                                        <md-select name="comunidadeMeta"
                                                   md-on-close="aposSelecionarComunidade(metaComunidade.comunidade.id, $index, $parent.$index, metaComunidade.municipio)"
                                                   ng-required="true" ng-model="metaComunidade.comunidade.id"
                                                   ng-click="buscarComunidadePorMunicipio(metaComunidade.municipio)"
                                                   placeholder="Selecione a Comunidade" ng-disabled="statusFinalizado">
                                            <md-option ng-repeat="item in metaComunidade.municipio.comunidades"
                                                       ng-value="item.id">{{item.nome}}
                                            </md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="informacoesGeraisForm.comunidadeMeta.$error">
                                            <div ng-message="required">Este campo é obrigatório!</div>
                                        </div>
                                    </md-input-container>

                                    <div flex="35" flex-xs="100" layout="row" layout-align="start center" layout-fill>
                                        <md-input-container md-no-float class="md-block columns-input-quantidade" flex>
                                            <input name="quantidadeMetaComunidade"
                                                   ng-model="metaComunidade.quantidadeFamilias" maxlength="14"
                                                   type="number" placeholder="Quantidade de famílias" ng-required="true"
                                                   ng-disabled="statusFinalizado">
                                            <div ng-messages="informacoesGeraisForm.quantidadeMetaComunidade.$error">
                                                <div ng-message="required">Este campo é obrigatório!</div>
                                                <div ng-message="maxlength">Valor muito longo!</div>
                                            </div>
                                        </md-input-container>
                                        <md-button
                                            ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR']) || statusFinalizado"
                                            class="md-icon-button action-buttons"
                                            ng-click="excluirMetaComunidade($index, $parent.$index);">
                                            <md-icon class="material-icons excluir">delete</md-icon>
                                        </md-button>
                                    </div>
                                </md-list-item>

                                <div class="buttons" layout="row" layout-align="end center">
                                    <md-button
                                        ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR']) || statusFinalizado"
                                        layout="row" layout-align="start start" class="md-accent"
                                        ng-click="adicionarMetaComunidade($index, meta[0].municipio)">
                                        <div layout="row" layout-align="start start" flex>
                                            <md-icon md-svg-icon="assets/images/icones/ic_add.svg"></md-icon>
                                            <span flex>Adicionar Comunidade</span>
                                        </div>
                                    </md-button>
                                </div>

                            </div>
                        </md-list-item>
                        <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
                            <md-button ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR']) || statusFinalizado"
                                       ng-click="adicionarMetasFamiliasPta()" class="md-raised md-primary">Novo Local
                            </md-button>
                        </section>
                    </md-list>
                </div>

                <div layout="row" layout-align="center center" class="titulo-acima-legenda" flex="100">
                    <p>Atividades do Plano de Trabalho Anual</p>
                </div>

                <div class="md-whiteframe-z1 atividades" flex="100">
                    <header layout-wrap layout-align="start center" layout="row">
                        <span flex="55">Atividade</span>
                        <span flex="25">Unidade</span>
                        <span flex="20">Meta</span>
                    </header>
                    <div layout-wrap layout-align="start stretch" layout="row" class="content"
                         ng-repeat="atividade in pta.metasAtividadesPta | orderBy:'atividade.atividade.nome' | filter: {naoPlanejada: null} ">
                        <md-input-container md-no-float class="md-block columns-atividades" flex="55" flex-xs="100">
                            <md-select md-on-close="aposSelecionarAtividade(atividade.atividade.id, $index)" flex="33"
                                       flex-xs="100" ng-required="true" name="atividade" class="columns-atividades"
                                       ng-model="atividade.atividade.id"
                                       ng-change="associarAtividade(atividade.atividade.id,$index)"
                                       placeholder="Atividade" ng-disabled="statusFinalizado">
                                <md-option ng-repeat="item in atividadeList | orderBy:'nome'" ng-value="item.id">
                                    {{item.nome}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="informacoesGeraisForm.atividade.$error">
                                <div ng-message="required">Este campo é obrigatório!</div>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block columns-atividades" flex="25" flex-xs="100">
                            <input ng-model="atividade.atividade.unidade" maxlength="120" ng-disabled="true"
                                   placeholder="Unidade">
                        </md-input-container>

                        <div flex="20" flex-xs="100" layout="row" layout-align="start center" layout-fill>
                            <md-input-container md-no-float class="md-block columns-input-quantidade" flex>
                                <input name="quantidadeMetaAtividade" ng-model="atividade.quantidadeMeta" maxlength="14"
                                       type="number" ng-required="true" placeholder="Meta"
                                       ng-disabled="statusFinalizado">
                                <div ng-messages="informacoesGeraisForm.quantidadeMetaAtividade.$error">
                                    <div ng-message="required">Este campo é obrigatório!</div>
                                    <div ng-message="maxlength">Valor muito longo!</div>
                                </div>
                            </md-input-container>
                            <md-button ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR']) || statusFinalizado"
                                       class="md-icon-button action-buttons" ng-click="removerAtividade(atividade)"
                                       layout-align="start center">
                                <md-icon class="material-icons icon">delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR']) || statusFinalizado" class="buttons"
                         layout="row" layout-align="end center">
                        <md-button layout="row" layout-align="start start" class="md-accent" ng-click="novaAtividade()">
                            <div layout="row" layout-align="start start" flex>
                                <md-icon md-svg-icon="assets/images/icones/ic_add.svg"></md-icon>
                                <span flex>adicionar atividade</span>
                            </div>
                        </md-button>
                    </div>
                </div>

                <div layout="row" layout-align="center center" class="titulo-acima-legenda" flex="100"
                     ng-show="pta.reaberto == true">
                    <p>Atividades Não Previstas</p>
                </div>

                <div class="md-whiteframe-z1 atividades" flex="100" ng-show="pta.reaberto == true">
                    <header layout-wrap layout-align="start center" layout="row">
                        <span flex="55">Atividade</span>
                        <span flex="25">Unidade</span>
                        <span flex="20">Meta</span>
                    </header>
                    <div layout-wrap layout-align="start stretch" layout="row" class="content"
                         ng-repeat="atividade in pta.metasAtividadesPta | filter: {naoPlanejada: true}">
                        <md-input-container md-no-float class="md-block columns-atividades" flex="55" flex-xs="100">
                            <md-select
                                md-on-close="aposSelecionarAtividade(atividade)" flex="33"
                                flex-xs="100" ng-required="true" name="atividade" class="columns-atividades"
                                ng-model="atividade.atividade.id"
                                ng-change="associarAtividade(atividade)"
                                placeholder="Atividade">
                                <md-option ng-repeat="item in atividadeList | orderBy:'nome' " ng-value="item.id">
                                    {{item.nome}}
                                </md-option>
                            </md-select>
                            <div class="errors" ng-messages="informacoesGeraisForm.atividade.$error">
                                <div ng-message="required">Este campo é obrigatório!</div>
                            </div>
                        </md-input-container>

                        <md-input-container md-no-float class="md-block columns-atividades" flex="25" flex-xs="100">
                            <input ng-model="atividade.atividade.unidade" maxlength="120" ng-disabled="true"
                                   ng-required="true" placeholder="Unidade">
                        </md-input-container>

                        <div flex="20" flex-xs="100" layout="row" layout-align="start center" layout-fill>
                            <md-input-container md-no-float class="md-block columns-input-quantidade" flex>
                                <input name="quantidadeMetaAtividade" ng-model="atividade.quantidadeMeta" maxlength="14"
                                       type="number" ng-required="true" placeholder="Meta">
                                <div ng-messages="informacoesGeraisForm.quantidadeMetaAtividade.$error">
                                    <div ng-message="required">Este campo é obrigatório!</div>
                                    <div ng-message="maxlength">Valor muito longo!</div>
                                </div>
                            </md-input-container>
                            <md-button ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR'])"
                                       class="md-icon-button action-buttons" ng-click="removerAtividade(atividade)"
                                       layout-align="start center">
                                <md-icon class="material-icons icon">delete</md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-hide="temAutoridade(['ROLE_USUARIO_ATER_ASSESSOR'])" class="buttons"
                         layout="row" layout-align="end center">
                        <md-button layout="row" layout-align="start start" class="md-accent"
                                   ng-click="novaAtividade()">
                            <div layout="row" layout-align="start start" flex>
                                <md-icon md-svg-icon="assets/images/icones/ic_add.svg"></md-icon>
                                <span flex>adicionar atividade</span>
                            </div>
                        </md-button>
                    </div>
                </div>


            </md-card>
        </form>
    </md-tab>

    <md-tab label="TÉCNICOS"
            ng-click="podeIncluirTecnicos() ? $root.fabAdd = addTecnico : $root.fabAdd = undefined; buildToolbar(false);"
            ng-disabled="!habilitaTecnicos || !podeVisualizarTecnicos()">

        <form flex layout="row" layout-align="center stretch" class="tecnicos" ng-submit="salvar()" name="tecnicosForm">
            <div ng-show="pta.tecnicos == null || pta.tecnicos.length == 0" class="mensagem div-vazio" layout="column"
                 layout-align="start center">
                <img alt="" src="assets/images/iconTecnicoVazio.svg">
                <h3>Nenhum técnico associado</h3>
                <h4>Adicione um técnico ao plano de trabalho anual</h4>
            </div>

            <md-card ng-hide="pta.tecnicos == null || pta.tecnicos.length == 0" layout-align="start stretch"
                     class="application-width tecnicos-associados" layout="column" layout-wrap layout-fill ng-cloak>
                <md-list class="md-dense list" ng-show="pta.tecnicos.length > 0" flex md-whiteframe="2" layout="column"
                         layout-align="center">
                    <header layout-wrap layout-align="start center" layout="row">
                        <span flex="30">Nome</span>
                        <span flex="20">Perfil</span>
                        <span flex="40">Área de Trabalho</span>
                        <span flex="10"></span>
                    </header>

                    <md-list-item ng-click="editarTecnico($index, item)" ng-repeat="item in pta.tecnicos" layout="row"
                                  class="md-3-line" flex>
                        <div flex="30" layout="row" class="nome" layout-align="start center">
                            <avatar image="{{item.tecnico.pessoaFisica.pessoa.foto}}"
                                    name="{{item.tecnico.pessoaFisica.pessoa.nome}}" size="40px"
                                    font-size="20px"></avatar>

                            <b>{{item.tecnico.pessoaFisica.pessoa.nome | capitalize}}</b>
                        </div>

                        <div flex="20" layout="row" class="nome" layout-align="start center">
                            {{perfilTecnicoEnum[item.perfil].desc}}
                        </div>

                        <div flex="40" layout="row" layout-wrap="" class="nome" layout-align="start center">
                            <span layout="row" class="list-last-item" ng-repeat="item2 in item.tecnico.areasAtuacao">
                                {{item2.comunidade.nome | capitalize}}&nbsp;({{item2.municipio.nome | capitalize}}) {{((item.tecnico.areasAtuacao.length - 1) > Number($index)) ? ", " : ""}}
                            </span>
                        </div>

                        <div flex="10" layout="row" class="nome" layout-align="start center">
                            <md-button ng-show="podeEditarTecnicos()" class="md-icon-button action-buttons"
                                       ng-click="editarTecnico($index, item)" layout-align="start center">
                                <md-icon class="material-icons icon">mode_edit</md-icon>
                            </md-button>
                            <md-button ng-show="podeExcluirTecnicos()" class="md-icon-button action-buttons"
                                       ng-click="removerTecnico($index, item)" layout-align="start center">
                                <md-icon class="material-icons icon">delete</md-icon>
                            </md-button>
                        </div>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-card>
        </form>
    </md-tab>

    <md-tab label="PLANOS TRIMESTRAIS"
            ng-click="(!podeIncluirPT() || pta.planosTrimestrais.length >= 4) ? undefined : ($root.fabAdd = addPlanoTrimestral); buildToolbar(false);"
            ng-disabled="habilitaPlanosTrimestrais || !podeVisualizarPT()">
        <div flex layout="row" layout-align="center stretch" class="plano-trimestral">
            <div layout-align="start stretch" class="application-width" layout="column" layout-wrap layout-fill
                 ng-cloak>
                <div class="mensagem" ng-show="pta.planosTrimestrais == undefined || pta.planosTrimestrais.length == 0"
                     layout="column" layout-align="start center">
                    <img alt="" src="assets/images/iconCalendar.svg">
                    <h3>Nenhum plano trimestral cadastrado</h3>
                    <h4>Adicione um plano trimestral ao plano de trabalho anual</h4>
                </div>

                <md-list class="md-dense list" ng-show="pta.planosTrimestrais.length > 0" flex md-whiteframe="2"
                         layout="column" layout-align="center">
                    <md-list-item ng-click="editarPlanoTrimestral(item)" class="md-3-line"
                                  ng-repeat="item in pta.planosTrimestrais">
                        <div layout="row" layout-align="space-between center" layout-fill class="md-list-item-text">
                            <div layout="column">
                                <h3 id="plano-trimestral-list-h3-title" class="plano-trimestral-list-h3-title">Plano
                                    Trimestral - {{item.trimestre}}º: Trimestre ({{item.primeiroMes | date: "MMM/yyyy" |
                                    uppercase}} - {{item.terceiroMes | date: "MMM/yyyy" | uppercase}})</h3>
                                <div layout="row">
                                    <h3 id="plano-trimestral-list-h3-status" class="plano-trimestral-list-h3-title">
                                        Status: </h3>
                                    <span style="background-color: {{planoTrimestralConstants[item.status].color}}"
                                          class="label">{{planoTrimestralConstants[item.status].desc}}</span>
                                    <span class="label"
                                          style="background-color: {{item.status == '1'? '#EF5350' : '#3F51B5'}}; color: white; font-weight: normal; margin-left: 16px"
                                          ng-show="item.recusado">{{item.status == "1"? 'Recusado' : 'Revisado'}}</span>
                                </div>
                            </div>
                            <div layout="row">
                                <md-button  class="md-icon-button action-buttons"
                                           ng-click="uploadOrOpenPTFile(item)" layout-align="start center">
                                    <md-icon class="material-icons icon"
                                             style="color: {{iconStatusFile[item.fileStatus].color}}">
                                        <md-tooltip md-direction="top">
                                            {{getTiooltipPTFileText(item)}}
                                        </md-tooltip>
                                        {{iconStatusFile[item.fileStatus].icon}}
                                    </md-icon>
                                </md-button>
                                <input type="file" accept="application/pdf" class="ng-hide" id="fileInputPT{{item.id}}"
                                       file-model="arquivoPlanoPT{{item.trimestre}}" name='{{item.id}}'
                                       onchange="angular.element(this).scope().changePTFile(this)" />

                                <md-button ng-show="podeEditarPT() && item.status != '6'" class="md-icon-button action-buttons"
                                           ng-click="editarPlanoTrimestral(item)" layout-align="start center">
                                    <md-icon class="material-icons icon">
                                        <md-tooltip md-direction="top">
                                            Editar
                                        </md-tooltip>
                                        mode_edit
                                    </md-icon>
                                </md-button>
                                <md-button ng-show="podeExcluirPT() && item.status != '6' && $index == pta.planosTrimestrais.length - 1"
                                           class="md-icon-button action-buttons"
                                           ng-click="excluirPlanoTrimestral(item, $index)" layout-align="start center">
                                    <md-icon class="material-icons icon">
                                        <md-tooltip md-direction="top">
                                            Excluir
                                        </md-tooltip>
                                        delete
                                    </md-icon>
                                </md-button>
                            </div>
                        </div>

                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-tab>
</md-tabs>

