<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" class="avaliacao-planos-trimestrais">

    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <div>
            <md-tabs flex md-dynamic-height md-center-tabs="true">
                <md-tab ng-click="mostraInput = 'status'" label="STATUS"></md-tab>
                <md-tab ng-click="mostraInput = 'regiao'" label="REGIÃO"></md-tab>
                <md-tab ng-click="mostraInput = 'entidade'" label="ENTIDADE"></md-tab>
                <md-tab ng-click="mostraInput = 'contrato'" label="CONTRATO"></md-tab>
            </md-tabs>
        </div>

        <form class="avaliacao-planos-trimestrais-tabs" ng-show="mostraInput == 'status'" layout="row" layout-align="start center"
            ng-submit="addFilterChip({id: statusSelected.id, nome: statusSelected.nome, titulo: 'Status', tipo: 'status', objeto: statusSelected})">
            <md-select class="select-filtro-status md-no-underline flex" ng-model="statusSelected" placeholder="Selecione um Status">
                <md-option ng-value="status" ng-repeat="status in statusSelect">{{ status.nome }}</md-option>
            </md-select>

            <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
        </form>

        <form class="avaliacao-planos-trimestrais-tabs" name="regiaoForm" ng-show="mostraInput == 'regiao'" layout="column"
              ng-submit="addFilterChip({id: regiaoSelecionado.id, nome: regiaoSelecionado.nome, titulo: 'Região', tipo: 'regiao'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-regiao"
                                 md-input-name="autoCompleteRegiao"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="regiaoSelecionado"
                                 md-search-text="regiao"
                                 md-items="item in searchAutoCompleteByFilter(regiao, 'api/regiao/')"
                                 md-item-text="item.nome"
                                 md-require-match
                                 placeholder="Buscar por Região">
                    <md-item-template>
                        <span md-highlight-text="regiao">{{item.nome}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" ng-messages="regiaoForm.autoCompleteRegiao.$error" ng-if="regiaoForm.autoCompleteRegiao.$touched">
                <div ng-message="required">Você <b>deve</b> escolher uma região.</div>
                <div ng-message="md-require-match">Por favor, escolha uma região existente.</div>
            </div>
        </form>

        <form class="avaliacao-planos-trimestrais-tabs" name="entidadeForm" ng-show="mostraInput == 'entidade'" layout="column"
              ng-submit="addFilterChip({id: entidadeSelecionado.id, nome: entidadeSelecionado.pessoaJuridica.nomeFantasia, titulo: 'Entidade', tipo: 'entidade'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-entidade"
                                 md-input-name="autoCompleteEntidade"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="entidadeSelecionado"
                                 md-search-text="entidade"
                                 md-items="item in searchAutoCompleteByFilter(entidade, 'api/empresa/')"
                                 md-item-text="item.pessoaJuridica.pessoa.nome"
                                 md-require-match
                                 placeholder="Buscar por Entidade">
                    <md-item-template>
                        <span md-highlight-text="entidade">{{item.pessoaJuridica.nomeFantasia}} - {{item.pessoaJuridica.pessoa.nome}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" ng-messages="entidadeForm.autoCompleteEntidade.$error" ng-if="entidadeForm.autoCompleteEntidade.$touched">
                <div ng-message="required">Você <b>deve</b> escolher uma entidade.</div>
                <div ng-message="md-require-match">Por favor, escolha uma entidade existente.</div>
            </div>
        </form>

        <form class="avaliacao-planos-trimestrais-tabs" name="contratoForm" ng-show="mostraInput == 'contrato'" layout="column"
              ng-submit="addFilterChip({id: contratoSelecionado.id, nome: contratoSelecionado.codigo, titulo: 'Contrato', tipo: 'contrato'})">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-contrato"
                                 md-input-name="autoCompleteContrato"
                                 md-min-length="3"
                                 md-no-cache="true"
                                 md-selected-item="contratoSelecionado"
                                 md-search-text="contrato"
                                 md-items="item in searchAutoCompleteByFilter(contrato, 'api/contratos/codigo/')"
                                 md-item-text="item.codigo"
                                 md-require-match
                                 placeholder="Buscar por Contrato">
                    <md-item-template>
                        <span md-highlight-text="contrato">{{item.codigo}}, {{item.titulo}}, {{item.objeto}}</span>
                    </md-item-template>
                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" ng-messages="contratoForm.autoCompleteContrato.$error" ng-if="contratoForm.autoCompleteContrato.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um contrato.</div>
                <div ng-message="md-require-match">Por favor, escolha um contrato existente.</div>
            </div>
        </form>

        <div layout-align="end end" layout="row">
            <md-chips md-on-remove="removeFilterChip()" flex ng-model="filters" readonly="isReadOnly">
                <md-chip-template>
                    <span>{{$chip.nome}} <strong>({{$chip.titulo}})</strong></span>
                </md-chip-template>
            </md-chips>

            <md-button ng-show="filters.length > 0" ng-click="clearFilter()">Limpar</md-button>
        </div>

        <div class="msg-no-results" ng-show="filters.length > 0 && semResultado" layout="column" layout-align="start center">
            <img src="assets/images/buscasemresultado.svg">
            <p class="text-no-results-top">Nenhum resultado encontrado para sua busca.</p>
            <p class="text-no-results-bottom">Tente usar os filtros para obter melhor resultado.</p>
        </div>

        <div flex layout="column">
            <md-list class="div-list-items" ng-show="planos.length > 0" flex md-whiteframe="3"  layout="column" layout-align="center">
                <md-list-item ng-click="loadPlanoTrimestral(plano)" class="md-3-line" ng-repeat="plano in planos | filter:{fileStatus: ''}">
                    <div class="md-list-item-text list-item-text" layout="column" layout-align="center start">
                        <p class="main-text">Relatório: {{plano.fileName}}</p>
                        <p class="secondary-text">Contrato - {{plano.codigoDoContrato}} -
                            PTA: {{plano.codigoDoPlanoDeTrabalho}} -
                            {{plano.trimestre}}º Trimestre
                            ({{plano.primeiroMes | date: 'MMM/yyyy' | capitalize}} -
                            {{plano.terceiroMes | date: 'MMM/yyyy' | capitalize}})</p>
                        <p class="secondary-text">Entidade parceira de ATER: {{plano.nomeFantasiaDaEmpresa}} - Região: {{plano.nomeRegiao}}</p>
                    </div>

                    <span class="label recusado" ng-show="isRecused(plano) && !isRevised(plano)">Recusado</span>
                    <span class="label revisado" ng-show="isRevised(plano)">Revisado</span>

                    <span style="background-color: {{relatorioPlanoTrimestralConstants[plano.fileStatus].color}}" class="label">
                        {{relatorioPlanoTrimestralConstants[plano.fileStatus].desc}}
                    </span>

                    <md-divider ></md-divider>
                </md-list-item>

            </md-list>

            <div flex layout="row" layout-align="center center">
                <md-button ng-show="exibeVerMais" ng-click="loadMore()">Ver mais</md-button>
            </div>

        </div>

    </div>

</div>
