<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" class="entidades">
    <div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
        <md-tabs flex md-dynamic-height md-center-tabs="true">
            <md-tab ng-click="$root.fabAdd = undefined; buildToolbar(true)" label="ENTIDADE">
                <form flex layout="row" ng-submit="entidadesForm.$valid" layout-align="center stretch" novalidate
                      name="entidadesForm" layout-margin="10">
                    <fieldset ng-disabled="!podeEditar()">
                        <md-card layout-align="start stretch" layout="column" class="entidade" layout-gt-xs="row"
                                 layout-wrap layout-fill ng-cloak>
                            <div flex="50" flex-xs="100" layout="row" layout-align="center center">
                                <avatar image="{{empresa.pessoaJuridica.pessoa.foto}}" logo="true"
                                        name="{{empresa.pessoaJuridica.pessoa.nome}}" size="96px" font-size="60px"
                                        color-index="{{corFoto}}"></avatar>
                                <md-button ng-click="showDialogCrop()" class="md-raised md-accent botao-logomarca">
                                    {{empresa.pessoaJuridica.pessoa.foto ? "Alterar Logomarca" : "Adicionar Logomarca"}}
                                </md-button>
                            </div>
                            <div flex="50" flex-xs="100">
                                <md-input-container class="md-block">
                                    <label>Razão Social</label>
                                    <input ng-model="empresa.pessoaJuridica.pessoa.nome" name="razaoSocial"
                                           ng-required="true">
                                    <div ng-messages="entidadesForm.razaoSocial.$error">
                                        <div ng-message="required">Campo razão social é obrigatório</div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Nome Fantasia</label>
                                    <input ng-model="empresa.pessoaJuridica.nomeFantasia" name="nomeFantasia"
                                           ng-required="true">
                                    <div ng-messages="entidadesForm.nomeFantasia.$error">
                                        <div ng-message="required">Campo nome fantasia é obrigatório</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block" flex="50" flex-xs="100">
                                <label>CNPJ</label>
                                <input ng-model="empresa.pessoaJuridica.cnpj" name="cnpj" maxlength="120"
                                       ng-required="true" cnpj-mask>
                                <div ng-messages="entidadesForm.cnpj.$error">
                                    <div ng-message="required">Campo CNPJ é obrigatório</div>
                                    <div ng-message="cnpjInvalido">Campo CNPJ inválido</div>
                                    <div ng-message="minimo">Campo CNPJ incompleto</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50" flex-xs="100">
                                <label>CEP</label>
                                <input ng-model="empresa.pessoaJuridica.pessoa.cep" maxlength="120" ng-required
                                       cep-mask>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50" flex-xs="100">
                                <label>Endereço</label>
                                <input ng-model="empresa.pessoaJuridica.pessoa.logradouro" maxlength="120" ng-required>
                            </md-input-container>
                            <md-input-container class="md-block" flex="25" flex-xs="100">
                                <label>Nº</label>
                                <input ng-model="empresa.pessoaJuridica.pessoa.numero" maxlength="120" ng-required>
                            </md-input-container>
                            <md-input-container class="md-block" flex="25" flex-xs="100">
                                <label>Bairro</label>
                                <input ng-model="empresa.pessoaJuridica.pessoa.bairro" maxlength="120" ng-required>
                            </md-input-container>
                            <md-input-container class="md-block input-entidade" flex-xs="100">
                                <label>Complemento</label>
                                <input ng-model="empresa.pessoaJuridica.pessoa.complemento" maxlength="120">
                            </md-input-container>
                            <md-autocomplete flex="25" flex-xs="100"
                                             md-input-name="autoCompleteUf"
                                             md-min-length="3"
                                             md-no-cache="true"
                                             md-selected-item="empresa.pessoaJuridica.pessoa.uf"
                                             md-search-text="uf"
                                             md-items="item in buscarAutoCompletePorFiltro(uf, 'api/uf/')"
                                             md-item-text="item.descricao"
                                             md-require-match
                                             md-floating-label="Uf">
                                <md-item-template>
                                    <span md-highlight-text="uf">{{item.descricao}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Nenhum registro encontrado.
                                </md-not-found>
                                <div ng-messages="entidadesForm.autoCompleteUf.$error">
                                    <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                                </div>
                            </md-autocomplete>
                            <md-autocomplete flex="25" flex-xs="100"
                                             md-input-name="autoCompleteMunicipio"
                                             md-min-length="3"
                                             md-no-cache="true"
                                             md-selected-item="empresa.pessoaJuridica.pessoa.municipio"
                                             md-search-text="municipio"
                                             md-items="itemMunicipio in buscarAutoCompletePorFiltro(municipio, 'api/municipioUf/',empresa.pessoaJuridica.pessoa.uf)"
                                             md-item-text="itemMunicipio.nome"
                                             md-require-match
                                             md-floating-label="Município">
                                <md-item-template>
                                    <span md-highlight-text="municipio">{{itemMunicipio.nome}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Nenhum registro encontrado.
                                </md-not-found>
                                <div ng-messages="entidadesForm.autoCompleteMunicipio.$error">
                                    <div ng-message="md-require-match">Por favor selecione um registro existente.
                                        Verifique a UF informada.
                                    </div>
                                </div>
                            </md-autocomplete>
                            <md-input-container class="md-block" flex="50" flex-xs="100">
                                <label>E-mail</label>
                                <input ng-model="empresa.pessoaJuridica.pessoa.email" name="email"
                                       ng-pattern="/^.+@.+\..+$/" maxlength="120" ng-required>
                                <div ng-messages="entidadesForm.email.$error">
                                    <div ng-message="pattern">Informar formado válido de e-mail. Ex: nome@email.com
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50" flex-xs="100">
                                <label>Tipo de Sociedade</label>
                                <md-select name="tipoSociedade" ng-model="empresa.tipoSociedade">
                                    <md-option ng-repeat="item in tipoSociedade" ng-value="item.id">{{item.desc}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="100">
                                <label>Observação</label>
                                <input ng-model="empresa.observacao" maxlength="120" ng-required>
                            </md-input-container>
                            <div class="md-whiteframe-z1 telefones" flex="100">
                                <header layout-wrap layout-align="start center" layout="row">
                                    <span flex="50">Telefone</span>
                                    <span flex="50">Tipo</span>
                                </header>
                                <div layout-wrap layout-align="start stretch" layout="row" class="content"
                                     ng-repeat="telefone in empresa.pessoaJuridica.pessoa.telefones">
                                    <md-input-container class="md-block" flex="50" flex-xs="100">
                                        <label>Telefone</label>
                                        <input ng-model="telefone.numero" name="telefone" maxlength="120" phone-mask
                                               ng-required="true">
                                        <div ng-messages="entidadesForm.telefone.$error">
                                            <div ng-message="required">Por favor informe um telefone</div>
                                        </div>
                                    </md-input-container>
                                    <div flex="50" flex-xs="100" layout="row" layout-align="start center" layout-fill>
                                        <md-input-container class="md-block" flex>
                                            <label>Tipo</label>
                                            <md-select name="tipo" ng-model="telefone.tipo" ng-required="true">
                                                <md-option ng-repeat="tel in telefoneTipo" ng-value="tel.tipo">
                                                    {{tel.descricao}}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="entidadesForm.tipo.$error">
                                                <div ng-message="required">Por favor selecione um tipo de telefone</div>
                                            </div>
                                        </md-input-container>
                                        <md-button class="md-icon-button" aria-label="remover telefone"
                                                   ng-click="removerTelefone($index)">
                                            <md-icon md-svg-icon="assets/images/icones/ic_close.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </div>
                                <div class="buttons" layout="row" layout-align="end center">
                                    <md-button layout="row" aria-label="" layout-align="start start" class="md-accent"
                                               ng-click="novoTelefone()">
                                        <div layout="row" layout-align="start start" flex>
                                            <md-icon md-svg-icon="assets/images/icones/ic_add.svg"></md-icon>
                                            <span flex>novo telefone</span>
                                        </div>
                                    </md-button>
                                </div>
                            </div>

                            <h5 flex="100">REPRESENTANTE LEGAL</h5>
                            <md-input-container class="md-block input-entidade" flex-xs="100">
                                <label>Nome Completo</label>
                                <input ng-model="empresa.nomeRepresentante" maxlength="120" ng-required>
                            </md-input-container>
                            <md-input-container class="md-block" flex="25" flex-xs="100">
                                <label>CPF</label>
                                <input ng-model="empresa.cpfRepresentante" maxlength="120" ng-required cpf-mask>
                            </md-input-container>
                            <md-autocomplete flex="25" flex-xs="100"
                                             md-input-name="autoCompleteNacionalidade"
                                             md-min-length="3"
                                             md-no-cache="true"
                                             md-selected-item="empresa.nacionalidadeRepresentante"
                                             md-search-text="nacionalidade"
                                             md-items="item in buscarAutoCompletePorFiltro(nacionalidade, 'api/pais/')"
                                             md-item-text="item.nacionalidade"
                                             md-require-match
                                             md-floating-label="Nacionalidade">
                                <md-item-template>
                                    <span md-highlight-text="nacionalidade">{{item.nacionalidade}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Nenhum registro encontrado.
                                </md-not-found>
                                <div ng-messages="entidadesForm.autoCompleteNacionalidade.$error">
                                    <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                                </div>
                            </md-autocomplete>
                            <md-input-container class="md-block" flex="25" flex-xs="100">
                                <label>Título</label>
                                <md-select name="titulo" ng-model="empresa.tituloRepresentante.id">
                                    <md-option ng-repeat="c in cargo" ng-value="c.id">{{c.descricao}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="25" flex-xs="100">
                                <label>Estado Civil</label>
                                <md-select name="estadoCivil" ng-model="empresa.estadoCivilRepresentante.id">
                                    <md-option ng-repeat="ec in estadoCivil" ng-value="ec.id">{{ec.descricao}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-autocomplete flex="50" flex-xs="100"
                                             md-input-name="autoCompleteProfissaoRepresentante"
                                             md-min-length="3"
                                             md-no-cache="true"
                                             md-selected-item="empresa.profissaoRepresentante"
                                             md-search-text="profissaoRepresentante"
                                             md-items="item in buscarAutoCompletePorFiltro(profissaoRepresentante, 'api/funcao/')"
                                             md-item-text="item.descricao"
                                             md-require-match
                                             md-floating-label="Profissão">
                                <md-item-template>
                                    <span md-highlight-text="profissaoRepresentante">{{item.descricao}}</span>
                                </md-item-template>
                                <md-not-found>
                                    Nenhum registro encontrado.
                                </md-not-found>
                                <div ng-messages="entidadesForm.autoCompleteProfissapRepresentante.$error">
                                    <div ng-message="md-require-match">Por favor selecione um registro existente.</div>
                                </div>
                            </md-autocomplete>
                        </md-card>
                    </fieldset>
                </form>
            </md-tab>
            <md-tab
                ng-click="!podeIncluirContrato() ? undefined : $root.fabAdd = showContratoDialog; buildToolbar(false)"
                label="CONTRATOS" ng-disabled="desativarContratos">
                <div class="contratos" layout="column">
                    <div class="mensagem" ng-show="empresa.contrato.length == 0" layout="column"
                         layout-align="start center">
                        <img alt="" src="assets/images/entidadeSemContrato.svg">
                        <h1>Nenhum contrato cadastrado</h1>
                    </div>

                    <md-list class="md-dense list" ng-show="empresa.contrato.length > 0" flex md-whiteframe="2"
                             layout="column" layout-align="center">
                        <md-list-item ng-click="showContratoDialog(item)" class="md-3-line"
                                      ng-repeat="item in empresa.contrato | orderBy:'dataAssinatura'">
                            <div layout="row" layout-align="start center" flex>
                                <div class="md-list-item-text" layout="column" flex>
                                    <h3>{{item.codigo}} - {{item.titulo}}</h3>
                                    <h4 class="municipio-abrangencia">{{getMunicipiosAbrangencia(item) |
                                        capitalize}}</h4>
                                    <p>{{item.dataAssinatura | date: 'dd/MM/yyyy'}} - {{item.dataEncerramento | date:
                                        'dd/MM/yyyy'}} &nbsp &nbsp {{item.valor | currency}}</p>
                                </div>
                                <md-button ng-show="podeEditarContrato()" class="md-icon-button" aria-label=""
                                           ng-click="showContratoDialog(item)">
                                    <md-icon class="material-icons">mode_edit</md-icon>
                                </md-button>
                                <md-button ng-show="podeExcluirContrato()" class="md-icon-button" aria-label=""
                                           ng-click="deleteContrato(item)">
                                    <md-icon class="material-icons">delete</md-icon>
                                </md-button>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                    <div flex layout="row" layout-align="center center">
                        <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
    </div>
</div>



