<meta charset="UTF-8">
<div flex layout="row" layout-align="center stretch" id="atividade-cadastro">

	<div layout-align="start stretch" class="application-width" layout="column" ng-cloak>
		<div id="atividade-cadastro-div-tabs">
			<md-tabs flex md-dynamic-height md-center-tabs="true">
                <md-tab ng-click="mostraInput = 'agricultor'" label="AGRICULTOR(A)"></md-tab>
                <md-tab ng-click="mostraInput = 'status'" label="STATUS"></md-tab>
				<md-tab ng-click="mostraInput = 'municipio'" label="MUNICÍPIO"></md-tab>
				<md-tab ng-click="mostraInput = 'comunidade'" label="COMUNIDADE"></md-tab>
				<md-tab ng-click="mostraInput = 'tecnico'" label="TÉCNICO"></md-tab>
			</md-tabs>
		</div>

        <form class="atividade-cadastro-tabs-tab" ng-submit="adicionarFiltroChip({id: agricultorSelecionado, nome: agricultorSelecionado, titulo: 'Agricultor', tipo: 'agricultor', objeto: agricultorSelecionado})" name="agricultorForm" ng-show="mostraInput == 'agricultor'" layout="column">
            <div layout="row" layout-align="start center">
                <input id="input-filtro-agricultor" name="nomeAgricultor" flex type="text" class="input-text-filtro-padrao" ng-model="agricultorSelecionado" placeholder="Buscar por Agricultor(a)">
                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>
            <div layout="row" class="message-error-autocomplete" ng-messages="agricultorForm.nomeAgricultor.$error" ng-if="agricultorForm.nomeAgricultor.$touched && agricultorForm.nomeAgricultor.$dirty">
                <div ng-message="required">Você <b>deve</b> informar um(a) agricultor(a) para adicionar esse filtro.</div>
            </div>
        </form>

		<form class="atividade-cadastro-tabs-tab" ng-submit="adicionarFiltroChip({id: statusSelecionado.id, nome: statusSelecionado.nome, titulo: 'Status', tipo: 'status', objeto: statusSelecionado})" ng-show="mostraInput == 'status'" layout="row" layout-align="start center">
            <md-select id="select-filtro-status" ng-model="statusSelecionado" placeholder="Selecione um Status" class="md-no-underline flex">
                <md-option ng-value="status" ng-repeat="status in statusSelect">{{ status.nome }}</md-option>
            </md-select>

			<md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
		</form>

		<form class="atividade-cadastro-tabs-tab" ng-submit="adicionarFiltroChip({id: municipioSelecionado.id, nome: municipioSelecionado.nome, titulo: 'Município', tipo: 'municipios', objeto: municipioSelecionado})" name="municipioForm" ng-show="mostraInput == 'municipio'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-municipio"
                    md-input-name="autoCompleteMunicipio"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="municipioSelecionado"
                    md-search-text="municipio"
                    md-items="item in buscarAutoCompletePorFiltro(municipio, 'api/municipio/')"
                    md-item-text="item.nome"
                    md-require-match
                    placeholder="Buscar por Município">
                    <md-item-template>
                        <span md-highlight-text="municipio">{{item.nome}}</span>
                    </md-item-template>
                </md-autocomplete>

    			<md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="municipioForm.autoCompleteMunicipio.$error" ng-if="municipioForm.autoCompleteMunicipio.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um município.</div>
                <div ng-message="md-require-match">Por favor, escolha um município existente.</div>
            </div>
		</form>

        <form class="atividade-cadastro-tabs-tab" ng-submit="adicionarFiltroChip({id: comunidadeSelecionada.id, nome: comunidadeSelecionada.nome, titulo: 'Comunidade', tipo: 'comunidades', objeto: comunidadeSelecionada})" name="comunidadeForm" ng-show="mostraInput == 'comunidade'" layout="column">

            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-comunidade"
                    md-input-name="autoCompleteComunidade"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="comunidadeSelecionada"
                    md-search-text="comunidade"
                    md-items="item in buscarAutoCompletePorFiltro(comunidade, 'api/ater/comunidade/')"
                    md-item-text="item.nome"
                    md-require-match
                    placeholder="Buscar por Comunidade">
                    <md-item-template>
                        <span md-highlight-text="comunidade">{{item.nome}}, {{item.municipio.nome | capitalize}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="comunidadeForm.autoCompleteComunidade.$error" ng-if="comunidadeForm.autoCompleteComunidade.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um comunidade.</div>
                <div ng-message="md-require-match">Por favor, escolha um comunidade existente.</div>
            </div>
        </form>

        <form class="atividade-cadastro-tabs-tab" ng-submit="adicionarFiltroChip({id: tecnicoSelecionado.id, nome: tecnicoSelecionado.pessoaFisica.pessoa.nome, titulo: 'Técnico' ,tipo: 'tecnico', objeto: tecnicoSelecionado})" name="tecnicoForm" ng-show="mostraInput == 'tecnico'" layout="column">
            <div layout="row" layout-align="start center">
                <md-autocomplete flex required id="input-filtro-tecnico"
                    md-input-name="autoCompleteTecnico"
                    md-min-length="3"
                    md-no-cache="true"
                    md-selected-item="tecnicoSelecionado"
                    md-search-text="tecnico"
                    md-items="item in buscarAutoCompletePorFiltro(tecnico, 'api/usuarioavancado/nome/')"
                    md-item-text="item.pessoaFisica.pessoa.nome"
                    md-require-match
                    placeholder="Buscar por Técnico">
                    <md-item-template>
                        <span md-highlight-text="tecnico">{{item.pessoaFisica.pessoa.nome}}</span>
                    </md-item-template>

                </md-autocomplete>

                <md-button type="submit" class="md-raised md-primary">Adicionar</md-button>
            </div>

            <div layout="row" class="message-error-autocomplete" ng-messages="tecnicoForm.autoCompleteTecnico.$error" ng-if="tecnicoForm.autoCompleteTecnico.$touched">
                <div ng-message="required">Você <b>deve</b> escolher um técnico.</div>
                <div ng-message="md-require-match">Por favor, escolha um técnico existente.</div>
            </div>
        </form>

		<div id="atividade-cadastro-div-chips" layout-align="end end" layout="row">
			<md-chips md-on-remove="removerFiltroChip()" flex ng-model="filtros" readonly="isReadOnly">
				<md-chip-template>
					<span>{{$chip.nome}} <strong>({{$chip.titulo}})</strong></span>
				</md-chip-template>

			</md-chips>

            <md-button ng-if="!dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()">Limpar</md-button>

            <md-icon ng-if="dispMovel" ng-show="filtros.length > 0" ng-click="limparFiltros()" class="material-icons">clear
                <md-tooltip md-direction="top">
                    Limpar filtros
                </md-tooltip>
            </md-icon>
		</div>

        <div id="atividade-cadastro-div-list" >
            <div flex layout="column">

                <div id="atividade-cadastro-msg-no-results" ng-show="filtros.length > 0 && semResultado" layout="column" layout-align="start center">
                    <img id="atividade-cadastro-icon-no-results" alt="" src="assets/images/buscasemresultado.svg">
                    <p id="atividade-cadastro-texto-sem-resultado-top">Nenhum resultado encontrado para sua busca.</p>
                    <p id="atividade-cadastro-texto-sem-resultado-bottom">Tente usar os filtros para obter melhor resultado.</p>
                </div>

                <md-list id="atividade-cadastro-div-rows" ng-show="cadastros.length > 0" flex md-whiteframe="2"  layout="column" layout-align="center">

                    <md-list-item ng-click="carregarAtividadeCadastro(item)" class="md-3-line" ng-repeat="item in cadastros">

                        <avatar image="{{item.informacaoInicial.agricultor.pessoaFisica.pessoa.foto}}" name="{{item.informacaoInicial.agricultor.pessoaFisica.pessoa.nome}}" size="40px" font-size="24px"></avatar>

                        <div id="atividade-cadastro-list-item-text" class="md-list-item-text" layout="column">
                            <h3>{{item.informacaoInicial.agricultor.pessoaFisica.pessoa.nome | capitalize}}



                            </h3>

                            <p><h4>{{item.informacaoInicial.agricultor.pessoaFisica.pessoa.municipio.nome | capitalize}} -
                                        {{item.informacaoInicial.agricultor.pessoaFisica.pessoa.distrito.nome | capitalize}} -
                                        {{item.informacaoInicial.agricultor.pessoaFisica.pessoa.comunidade.nome | capitalize}}</h4></p>
                            <p>{{item.data | date:'dd/MM/yyyy HH:mm' }} - Técnico(a): {{item.tecnico.pessoaFisica.pessoa.nome | capitalize }}</p>
                        </div>

                        <div  layout="row" id="atividade-cadastro-div-pin-mapa">
                            <h5>
                                <span class="label label-revisado" ng-show="(item.status == atividadeCadastroStatus.T.id && item.recusado == true) ? true : false">{{atividadeCadastroStatus.R.desc}}</span>
                                <span class="label" style="background-color: {{atividadeCadastroStatus[item.status].background}}; color: {{atividadeCadastroStatus[item.status].color}}; font-weight: normal;">{{atividadeCadastroStatus[item.status].desc}}</span>
                            </h5>
                            <md-icon ng-show="item.informacaoInicial.agricultor.coordenada != null" class="material-icons" ng-click="visualizarCoordenada(item)">
                                place
                                <md-tooltip md-direction="bottom">
                                    Visualizar no Mapa
                                </md-tooltip>
                            </md-icon>
                        </div>

                        <md-divider ></md-divider>

                    </md-list-item>

                </md-list>

                <div flex layout="row" layout-align="center center">
                    <md-button ng-show="exibeVerMais" ng-click="carregaMais()">Ver mais</md-button>
                </div>

            </div>
        </div>
    </div>
</div>
