<meta charset="UTF-8">
<md-card md-theme="themeAWhite" id="card-ater">
	<header layout="row" layout-align="start center" class="md-toolbar-tools">
	    ATER
	</header>
	<div layout="row" id="conteudo" ng-repeat="p in resultado | limitTo:2">
		<div layout="column" layout-align="start center">
			<avatar image="{{p.tecnico.pessoa.foto}}" name="{{p.tecnico.pessoa.nome}}" size="40px" font-size="24px" color-index="{{corFoto}}"></avatar>
			<span flex id="linha"></span>
		</div>
		<div layout="column" flex id="dados">
			<span id="tecnico">{{ p.tecnico.pessoa.nome | capitalize}}</span>
			<span id="empresa">{{ p.tecnico.empresa.nome }}</span>
			<span id="produto">{{ p.atividadeEspecifica.nome }}</span>
		</div>
	</div>
    <div id="div" ng-if="resultado.length === 0" layout="column" layout-align="start center">
        <img src="assets/images/cardAter.svg" class="material-icons"/>
        <p id="text1">Opa!</p>
        <p id="text2">Atualmente você não tem nenhum atendimento cadastrado.</p>
    </div>
</md-card>
