<!doctype html>
<html class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portal da Agricultura Familiar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">


        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css assets/styles/vendor.css -->
	    <!-- bower:css -->
        <link rel="stylesheet" href="lib/angular-material/angular-material.css">
        <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.css">
        <link rel="stylesheet" href="lib/angucomplete-alt/angucomplete-alt.css">
        <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="lib/ng-img-crop/compile/minified/ng-img-crop.css">
        <link rel="stylesheet" href="lib/intro.js/introjs.css">
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
        <!-- endinject -->
	    <!-- endbuild -->

        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

        <!-- build:css assets/styles/main.css -->
        <link rel="stylesheet" href="lib/leaflet.markercluster/dist/MarkerCluster.css">
        <link rel="stylesheet" href="lib/leaflet.markercluster/dist/MarkerCluster.Default.css">
	    <link rel="stylesheet" href="lib/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="assets/styles/main.css">
        <!-- endbuild -->

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body ng-app="projetocartaoApp" layout="row" flex ng-cloak ng-controller="MenuController">
        <md-content id="index-application-content" flex ng-if="!isAuthenticated() || $state.current.name == 'loading'" ui-view="content"></md-content>

        <div ng-if="isAuthenticated() && $state.current.name != 'loading'" flex layout="row">
            <!-- Menu Agricultor -->
            <div ng-if="(isAgricultor || isNovaAba)" layout="row" layout-align="start stretch" flex ng-class="{'area-principal': $root.modoTutorial}">
                <div md-whiteframe="2" class="menu-view" ui-view="menu"></div>
                <div layout="column" flex>
                    <toolbar-agricultor></toolbar-agricultor>
                    <div ng-class="{'conteudo-principal': !$root.modoTutorial}" layout="column" flex>
                        <div flex="noshrink" ui-view="content"></div>
                        <div layout="row" layout-align="space-between center" id="footer" flex="noshrink" class="md-toolbar-tools"  >
                            <img src="assets/images/logoSecretaria.svg">
                            <span ng-hide="dispMovel">Versão {{VERSION}}</span>
                            <span ng-show="dispMovel">V. {{VERSION}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Menu Agricultor -->

            <!-- Menu Tecnico  -->
            <div ng-if="!isAgricultor && !isNovaAba" layout="row" layout-align="start stretch" flex ng-class="{'area-principal': $root.modoTutorial}" md-theme="themeUA">
                <div md-whiteframe="2" class="menu-view" ui-view="menu" md-theme=""></div>
                <div layout="column" flex>
                    <toolbar-u-a></toolbar-u-a>
                    <div ng-class="{'conteudo-principal': !$root.modoTutorial}" layout="column" flex>
                        <div flex="noshrink" id="contentUA" ui-view="content"></div>
                        <div layout="row" layout-align="space-between center" id="footer" flex="noshrink" class="md-toolbar-tools"  >
                            <img src="assets/images/logoSecretaria.svg">
                            <span ng-hide="dispMovel">Versão {{VERSION}}</span>
                            <span ng-show="dispMovel">V. {{VERSION}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Menu Tecnico -->

            <!-- Feedback -->
            <feedback></feedback>
            <md-button ng-click="$root.fabAdd()" ng-if="$root.fabAdd" class="md-fab" aria-label="" id="index-fab-button">
                <md-icon class="material-icons">add</md-icon>
            </md-button>
            <!-- END Feedback -->
        </div>

        <!-- build:js scripts/app/vendor.js -->
        <!-- bower:js -->
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular-aria/angular-aria.js"></script>
        <script src="lib/angular-messages/angular-messages.js"></script>
        <script src="lib/angular-animate/angular-animate.js"></script>
        <script src="lib/angular-cookies/angular-cookies.js"></script>
        <script src="lib/angular-resource/angular-resource.js"></script>
        <script src="lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="lib/angular-material/angular-material.js"></script>
        <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="lib/angular-cache-buster/angular-cache-buster.js"></script>
        <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="lib/angular-loading-bar/build/loading-bar.js"></script>
        <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="lib/jquery/dist/jquery.js"></script>
        <script src="lib/json3/lib/json3.js"></script>
        <script src="lib/ng-file-upload/ng-file-upload.js"></script>
        <script src="lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="lib/ng-file-upload-shim/ng-file-upload-shim.js"></script>
        <script src="lib/angucomplete-alt/angucomplete-alt.js"></script>
        <script src="lib/leaflet/dist/leaflet-src.js"></script>
        <script src="lib/leaflet-plugins/control/Distance.js"></script>
        <script src="lib/leaflet-plugins/control/Layers.Load.js"></script>
        <script src="lib/leaflet-plugins/control/Permalink.js"></script>
        <script src="lib/leaflet-plugins/control/Permalink.Layer.js"></script>
        <script src="lib/leaflet-plugins/control/Permalink.Line.js"></script>
        <script src="lib/leaflet-plugins/control/Permalink.Marker.js"></script>
        <script src="lib/leaflet-plugins/control/Permalink.Overlay.js"></script>
        <script src="lib/leaflet-plugins/layer/Icon.Canvas.js"></script>
        <script src="lib/leaflet-plugins/layer/Layer.Deferred.js"></script>
        <script src="lib/leaflet-plugins/layer/Marker.Rotate.js"></script>
        <script src="lib/leaflet-plugins/layer/Marker.Text.js"></script>
        <script src="lib/leaflet-plugins/layer/OpenStreetBugs.js"></script>
        <script src="lib/leaflet-plugins/layer/vector/GPX.js"></script>
        <script src="lib/leaflet-plugins/layer/vector/GPX.Speed.js"></script>
        <script src="lib/leaflet-plugins/layer/vector/KML.js"></script>
        <script src="lib/leaflet-plugins/layer/vector/OSM.js"></script>
        <script src="lib/leaflet-plugins/layer/vector/TOPOJSON.js"></script>
        <script src="lib/leaflet-plugins/layer/tile/Bing.js"></script>
        <script src="lib/leaflet-plugins/layer/tile/Google.js"></script>
        <script src="lib/leaflet-plugins/layer/tile/Yandex.js"></script>
        <script src="lib/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
        <script src="lib/ng-img-crop/compile/minified/ng-img-crop.js"></script>
        <script src="lib/intro.js/intro.js"></script>
        <script src="lib/angular-locale-pt-br/angular-locale_pt-br.js"></script>
        <script src="lib/js-marker-clusterer/src/markerclusterer.js"></script>
        <script src="lib/angular-intro.js/src/angular-intro.js"></script>
        <script src="lib/angular-google-chart/ng-google-chart.js"></script>
        <script src="lib/re-tree/re-tree.js"></script>
        <script src="lib/angular-scroll-glue/src/scrollglue.js"></script>
        <script src="lib/sockjs-client/dist/sockjs.js"></script>
        <script src="lib/blob-polyfill/Blob.js"></script>
        <script src="lib/file-saver.js/FileSaver.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="lib/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
        <script src="lib/ng-device-detector/ng-device-detector.js"></script>
        <script src="lib/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
        <script src="lib/powerbi-client/dist/powerbi.js"></script>
        <!-- endinject -->
    	<!-- endbuild -->

        <!-- lib externa -->
        <script src="assets/js/angular-leaflet-directive.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWinHGmiidf8Kqx2DzlxaQxrXXCMAI30I"></script>
        <!-- end lib externa -->

        <!-- build:js scripts/app/app.js  -->
    	<!-- inject:js -->
        <script src="scripts/app/app.js"></script>
        <script src="scripts/components/util/truncate.filter.js"></script>
        <script src="scripts/components/util/telefone.filter.js"></script>
        <script src="scripts/components/util/sum-by-key.filter.js"></script>
        <script src="scripts/components/util/src-error.directive.js"></script>
        <script src="scripts/components/util/sort.directive.js"></script>
        <script src="scripts/components/util/soma-valores.filter.js"></script>
        <script src="scripts/components/util/sexo-mask.directive.js"></script>
        <script src="scripts/components/util/senha-messenge.directive.js"></script>
        <script src="scripts/components/util/projetos-cores.service.js"></script>
        <script src="scripts/components/util/phone-mask.directive.js"></script>
        <script src="scripts/components/util/parse-links.service.js"></script>
        <script src="scripts/components/util/message-util.service.js"></script>
        <script src="scripts/components/util/login-messenge.directive.js"></script>
        <script src="scripts/components/util/img-initials.directive.js"></script>
        <script src="scripts/components/util/identificador-roles.service.js"></script>
        <script src="scripts/components/util/focus.directive.js"></script>
        <script src="scripts/components/util/date-util.service.js"></script>
        <script src="scripts/components/util/date-month-mask.directive.js"></script>
        <script src="scripts/components/util/date-mask.directive.js"></script>
        <script src="scripts/components/util/data-util.service.js"></script>
        <script src="scripts/components/util/currency-mask.directive.js"></script>
        <script src="scripts/components/util/cpf-mask.directive.js"></script>
        <script src="scripts/components/util/cpf.filter.js"></script>
        <script src="scripts/components/util/contrato-mask.directive.js"></script>
        <script src="scripts/components/util/cnpj-mask.directive.js"></script>
        <script src="scripts/components/util/cep-mask.directive.js"></script>
        <script src="scripts/components/util/cep.filter.js"></script>
        <script src="scripts/components/util/celular.filter.js"></script>
        <script src="scripts/components/util/capitalize.filter.js"></script>
        <script src="scripts/components/util/capitalize.directive.js"></script>
        <script src="scripts/components/util/base64.service.js"></script>
        <script src="scripts/components/util/long-to-hour.filter.js"></script>
        <script src="scripts/components/util/app.constant.js"></script>
        <script src="scripts/components/util/after-render.directive.js"></script>
        <script src="scripts/components/usuario-avancado/usuario-avancado.service.js"></script>
        <script src="scripts/components/usuario-avancado/tema.service.js"></script>
        <script src="scripts/components/usuario-avancado/tarefa.service.js"></script>
        <script src="scripts/components/usuario-avancado/power-bi.service.js"></script>
        <script src="scripts/components/usuario-avancado/plano-trimestral.service.js"></script>
        <script src="scripts/components/usuario-avancado/plano-anual.service.js"></script>
        <script src="scripts/components/usuario-avancado/municipios.service.js"></script>
        <script src="scripts/components/usuario-avancado/localidades.service.js"></script>
        <script src="scripts/components/usuario-avancado/historico-avaliacao.service.js"></script>
        <script src="scripts/components/usuario-avancado/entidades.service.js"></script>
        <script src="scripts/components/usuario-avancado/eixo-tematico.service.js"></script>
        <script src="scripts/components/usuario-avancado/contrato.service.js"></script>
        <script src="scripts/components/usuario-avancado/comunidades.service.js"></script>
        <script src="scripts/components/usuario-avancado/atividades.service.js"></script>
        <script src="scripts/components/usuario-avancado/atividade-cadastro.service.js"></script>
        <script src="scripts/components/usuario-avancado/atividade.service.js"></script>
        <script src="scripts/components/usuario-avancado/acoes.service.js"></script>
        <script src="scripts/components/user/user.service.js"></script>
        <script src="scripts/components/user/area-atuacao.service.js"></script>
        <script src="scripts/components/toolbars/usuario-avancado/toolbar-usuario-avancado.directive.js"></script>
        <script src="scripts/components/toolbars/usuario-avancado/toolbar-usuario-avancado.controller.js"></script>
        <script src="scripts/components/toolbars/agricultor/toolbar-agricultor.directive.js"></script>
        <script src="scripts/components/toolbars/agricultor/toolbar-agricultor.controller.js"></script>
        <script src="scripts/components/toast/toast.service.js"></script>
        <script src="scripts/components/template/template.service.js"></script>
        <script src="scripts/components/servicos/servicos.service.js"></script>
        <script src="scripts/components/pta/pta.service.js"></script>
        <script src="scripts/components/pessoa/pessoa.service.js"></script>
        <script src="scripts/components/navbar/navbar.directive.js"></script>
        <script src="scripts/components/navbar/navbar.controller.js"></script>
        <script src="scripts/components/multipartfile/multipartfile.service.js"></script>
        <script src="scripts/components/menu/menu.service.js"></script>
        <script src="scripts/components/menu/menu.controller.js"></script>
        <script src="scripts/components/mensagem/mensagem.service.js"></script>
        <script src="scripts/components/linha-tempo/linha-tempo.directive.js"></script>
        <script src="scripts/components/interceptor/notification.interceptor.js"></script>
        <script src="scripts/components/interceptor/errorhandler.interceptor.js"></script>
        <script src="scripts/components/generic/generic.service.js"></script>
        <script src="scripts/components/form/uib-pagination.config.js"></script>
        <script src="scripts/components/form/uib-pager.config.js"></script>
        <script src="scripts/components/form/minbytes.directive.js"></script>
        <script src="scripts/components/form/maxbytes.directive.js"></script>
        <script src="scripts/components/form/form.directive.js"></script>
        <script src="scripts/components/file/filemodel.directive.js"></script>
        <script src="scripts/components/feedback/star-rating.directive.js"></script>
        <script src="scripts/components/feedback/feedback.service.js"></script>
        <script src="scripts/components/feedback/feedback.directive.js"></script>
        <script src="scripts/components/feedback/feedback.controller.js"></script>
        <script src="scripts/components/entidade/entidade.service.js"></script>
        <script src="scripts/components/elemento/elemento.service.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/tecnico-pta/tecnico-pta.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/tarefa/detalhes-tarefa.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/plano-trimestral/plano-trimestral.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/confirmar-janela-agricultor/confirmar-janela-agricultor.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/cadastrar-user-completo/cadastrar-user-completo.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/cadastrar-editar-user/cadastrar-editar-user.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/avaliar-tarefa/avaliar-tarefa.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/avaliar-plano/avaliar-plano.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/avaliar-cadastro/avaliar-cadastro.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/atividade-cadastro/detalhes-atividade-cadastro.controller.js"></script>
        <script src="scripts/components/dialogs/usuario-avancado/area-atuacao/area-atuacao.controller.js"></script>
        <script src="scripts/components/dialogs/temas/cadastrar-tema.controller.js"></script>
        <script src="scripts/components/dialogs/programas/produtos/produtos.controller.js"></script>
        <script src="scripts/components/dialogs/mapa/mapa.controller.js"></script>
        <script src="scripts/components/dialogs/localidades/cadastrar-localidade.controller.js"></script>
        <script src="scripts/components/dialogs/eixo-tematico/cadastrar-eixo-tematico.controller.js"></script>
        <script src="scripts/components/dialogs/contrato/contrato.controller.js"></script>
        <script src="scripts/components/dialogs/comunidades/cadastrar-comunidade.controller.js"></script>
        <script src="scripts/components/dialogs/atividades/cadastrar-atividade.controller.js"></script>
        <script src="scripts/components/dialogs/ater/ater.controller.js"></script>
        <script src="scripts/components/dialogs/apelido/apelido.controller.js"></script>
        <script src="scripts/components/dialogs/alterar-senha/alterar-senha.js"></script>
        <script src="scripts/components/dialogs/acoes/cadastrar-acao.controller.js"></script>
        <script src="scripts/components/dialogs/galeria-fotos/galeria-fotos.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-temperatura/card-agricultor-temperatura.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-temperatura/card-agricultor-temperatura.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-projeto/card-agricultor-projeto.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-projeto/card-agricultor-projeto.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-mapa-cisternas/card-agricultor-mapa-cisternas.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-mapa-cisternas/card-agricultor-mapa-cisternas.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-mapa/card-agricultor-mapa.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-mapa/card-agricultor-mapa.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-foto/card-agricultor-foto.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-foto/card-agricultor-foto.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-dados/card-agricultor-dados.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-dados/card-agricultor-dados.controller.js"></script>
        <script src="scripts/components/cards/card-agricultor-ater/card-agricultor-ater.directive.js"></script>
        <script src="scripts/components/cards/card-agricultor-ater/card-agricultor-ater.controller.js"></script>
        <script src="scripts/components/avatar/avatar.directive.js"></script>
        <script src="scripts/components/auth/services/signup.service.js"></script>
        <script src="scripts/components/auth/services/register.service.js"></script>
        <script src="scripts/components/auth/services/password.service.js"></script>
        <script src="scripts/components/auth/services/activate.service.js"></script>
        <script src="scripts/components/auth/services/account.service.js"></script>
        <script src="scripts/components/auth/provider/auth.session.service.js"></script>
        <script src="scripts/components/auth/principal.service.js"></script>
        <script src="scripts/components/auth/authority.directive.js"></script>
        <script src="scripts/components/auth/auth.service.js"></script>
        <script src="scripts/components/auth/auth.oauth2.service.js"></script>
        <script src="scripts/components/auth/auth.interceptor.js"></script>
        <script src="scripts/components/auth/auth.powerbi.service.js"></script>
        <script src="scripts/components/alert/alert.service.js"></script>
        <script src="scripts/components/alert/alert.directive.js"></script>
        <script src="scripts/components/agricultor/ater.service.js"></script>
        <script src="scripts/components/agricultor/agricultor-temperatura.service.js"></script>
        <script src="scripts/components/agricultor/agricultor-ater.service.js"></script>
        <script src="scripts/components/agricultor/agricultor.service.js"></script>
        <script src="scripts/components/admin/configuration.service.js"></script>
        <script src="scripts/components/admin/audits.service.js"></script>
        <script src="scripts/app/usuario-avancado/usuario-avancado.js"></script>
        <script src="scripts/app/usuario-avancado/main/main-usuario-avancado.js"></script>
        <script src="scripts/app/usuario-avancado/main/main-usuario-avancado.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/user-company/user-company.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/user-company/user-company.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-atestes.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-cadastro-familia.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-investimento.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-metas.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-pesquisa-ppf.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-atestes-analitico.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-atestes-sintetico-atividades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-cadastro-familias.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-atestes-sintetico-geral.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-criancas-atendidas-analitico.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-criancas-atendidas-sintetico.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-politicas-publicas-analitico.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-politicas-publicas-sintetico.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-producao-agricola-sintetico.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-planos-investimentos.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi-contatos-telefonicos.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-bi/relatorio-bi.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-trimestral-atividades/relatorio-trimestral-atividades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-trimestral-atividades/relatorio-trimestral-atividades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-sintetico-resumido/relatorio-sintetico-resumido.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-sintetico-resumido/relatorio-sintetico-resumido.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-sintetico-atcs/relatorio-sintetico-atcs.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-sintetico-atcs/relatorio-sintetico-atcs.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-perfil-familias/relatorio-perfil-familias.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-perfil-familias/relatorio-perfil-familias.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-cadastro-agricultores/relatorio-cadastro-agricultores.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-cadastro-agricultores/relatorio-cadastro-agricultores.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-analitico-familias/relatorio-analitico-familias.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-analitico-familias/relatorio-analitico-familias.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-analitico-entidades/relatorio-analitico-entidades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/relatorios/relatorio-analitico-entidades/relatorio-analitico-entidades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/pta/pta.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/pta/pta.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-temas/listagem-temas.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-temas/listagem-temas.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-ptas/listagem-ptas.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-ptas/listagem-ptas.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-localidades/listagem-localidades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-localidades/listagem-localidades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-entidades/listagem-entidades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-entidades/listagem-entidades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-eixos/listagem-eixos.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-eixos/listagem-eixos.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-comunidades/listagem-comunidades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-comunidades/listagem-comunidades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-atividades/listagem-atividades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-atividades/listagem-atividades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-acoes/listagem-acoes.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/listagem-acoes/listagem-acoes.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/entidades/entidades.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/entidades/entidades.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-tarefa/listagem-avaliacao-tarefa/listagem-avaliacao-tarefa.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-tarefa/listagem-avaliacao-tarefa/listagem-avaliacao-tarefa.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-tarefa/avalicao-tarefa/avaliacao-tarefa.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-tarefa/avalicao-tarefa/avaliacao-tarefa.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pta/listagem-avaliacao-anual/listagem-avaliacao-anual.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pta/listagem-avaliacao-anual/listagem-avaliacao-anual.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pta/avaliacao-anual/avaliacao-anual.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pta/avaliacao-anual/avaliacao-anual.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pt/listagem-avaliacao-planos-trimestrais/listagem-avaliacao-planos-trimestrais.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pt/listagem-avaliacao-planos-trimestrais/listagem-avaliacao-planos-trimestrais.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-relatorio-pt/listagem-avaliacao-relatorio-planos-trimestrais/listagem-avaliacao-relatorio-planos-trimestrais.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-relatorio-pt/listagem-avaliacao-relatorio-planos-trimestrais/listagem-avaliacao-relatorio-planos-trimestrais.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-relatorio-pt/avaliacao-relatorio-plano-trimestral/avaliacao-relatorio-plano-trimestral.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-relatorio-pt/avaliacao-relatorio-plano-trimestral/avaliacao-relatorio-plano-trimestral.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pt/avaliacao-plano-trimestral/avaliacao-plano-trimestral.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/avaliacoes-pt/avaliacao-plano-trimestral/avaliacao-plano-trimestral.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/atividade-cadastro/visualizacao-atividade-cadastro/visualizacao-atividade-cadastro.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/atividade-cadastro/visualizacao-atividade-cadastro/visualizacao-atividade-cadastro.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/atividade-cadastro/atividade-cadastro.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/atividade-cadastro/atividade-cadastro.controller.js"></script>
        <script src="scripts/app/usuario-avancado/ATER/ATER.js"></script>
        <script src="scripts/app/comum/loading/loading.js"></script>
        <script src="scripts/app/comum/error/error.js"></script>
        <script src="scripts/app/comum/comum.js"></script>
        <script src="scripts/app/app.constants.js"></script>
        <script src="scripts/app/agricultor/servicos/servicos.js"></script>
        <script src="scripts/app/agricultor/servicos/servicos.controller.js"></script>
        <script src="scripts/app/agricultor/programas/segunda-agua/segunda-agua.js"></script>
        <script src="scripts/app/agricultor/programas/segunda-agua/segunda-agua.controller.js"></script>
        <script src="scripts/app/agricultor/programas/programas.js"></script>
        <script src="scripts/app/agricultor/programas/pnae/pnae.js"></script>
        <script src="scripts/app/agricultor/programas/pnae/pnae.controller.js"></script>
        <script src="scripts/app/agricultor/programas/paa-leite/paa-leite.js"></script>
        <script src="scripts/app/agricultor/programas/paa-leite/paa-leite.controller.js"></script>
        <script src="scripts/app/agricultor/programas/paa-alimentos/paa-alimentos.js"></script>
        <script src="scripts/app/agricultor/programas/paa-alimentos/paa-alimentos.controller.js"></script>
        <script src="scripts/app/agricultor/programas/meus-programas/meus-programas.js"></script>
        <script src="scripts/app/agricultor/programas/meus-programas/meus-programas.controller.js"></script>
        <script src="scripts/app/agricultor/programas/hora-plantar/hora-plantar.js"></script>
        <script src="scripts/app/agricultor/programas/hora-plantar/hora-plantar.controller.js"></script>
        <script src="scripts/app/agricultor/programas/garantia-safra/garantia-safra.js"></script>
        <script src="scripts/app/agricultor/programas/garantia-safra/garantia-safra.controller.js"></script>
        <script src="scripts/app/agricultor/programas/cisternas/cisternas.js"></script>
        <script src="scripts/app/agricultor/programas/cisternas/cisternas.controller.js"></script>
        <script src="scripts/app/agricultor/programas/caju/caju.js"></script>
        <script src="scripts/app/agricultor/programas/caju/caju.controller.js"></script>
        <script src="scripts/app/agricultor/programas/biodiesel/biodiesel.js"></script>
        <script src="scripts/app/agricultor/programas/biodiesel/biodiesel.controller.js"></script>
        <script src="scripts/app/agricultor/mensagem/mensagem.js"></script>
        <script src="scripts/app/agricultor/mensagem/mensagem.controller.js"></script>
        <script src="scripts/app/agricultor/main/main-agricultor.js"></script>
        <script src="scripts/app/agricultor/main/main-agricultor.controller.js"></script>
        <script src="scripts/app/agricultor/daps/daps-agricultor.js"></script>
        <script src="scripts/app/agricultor/daps/daps-agricultor.controller.js"></script>
        <script src="scripts/app/agricultor/dados/dados-agricultor.js"></script>
        <script src="scripts/app/agricultor/dados/dados-agricultor.controller.js"></script>
        <script src="scripts/app/agricultor/dados/dados-agricultor.constant.js"></script>
        <script src="scripts/app/agricultor/ater/tecnicos/ater-tecnicos.js"></script>
        <script src="scripts/app/agricultor/ater/tecnicos/ater-tecnicos.controller.js"></script>
        <script src="scripts/app/agricultor/ater/ater.js"></script>
        <script src="scripts/app/agricultor/ater/atendimentos/ater-atendimentos.js"></script>
        <script src="scripts/app/agricultor/ater/atendimentos/ater-atendimentos.controller.js"></script>
        <script src="scripts/app/agricultor/agricultor.js"></script>
        <script src="scripts/app/admin/user-management/user-management-dialog.controller.js"></script>
        <script src="scripts/app/admin/user-management/user-management-detail.controller.js"></script>
        <script src="scripts/app/admin/user-management/user-management-delete-dialog.controller.js"></script>
        <script src="scripts/app/admin/user-management/user-management.js"></script>
        <script src="scripts/app/admin/user-management/user-management.controller.js"></script>
        <script src="scripts/app/admin/audits/audits.js"></script>
        <script src="scripts/app/admin/audits/audits.controller.js"></script>
        <script src="scripts/app/admin/admin.js"></script>
        <script src="scripts/app/account/solicitar-convite/solicitar-convite.js"></script>
        <script src="scripts/app/account/solicitar-convite/solicitar-convite.controller.js"></script>
        <script src="scripts/app/account/signup/signup.js"></script>
        <script src="scripts/app/account/signup/signup.controller.js"></script>
        <script src="scripts/app/account/settings/settings.js"></script>
        <script src="scripts/app/account/settings/settings.controller.js"></script>
        <script src="scripts/app/account/reset/request/reset.request.js"></script>
        <script src="scripts/app/account/reset/request/reset.request.controller.js"></script>
        <script src="scripts/app/account/reset/finish/reset.finish.js"></script>
        <script src="scripts/app/account/reset/finish/reset.finish.controller.js"></script>
        <script src="scripts/app/account/register/register.js"></script>
        <script src="scripts/app/account/register/register.controller.js"></script>
        <script src="scripts/app/account/password/password.js"></script>
        <script src="scripts/app/account/password/password.directive.js"></script>
        <script src="scripts/app/account/password/password.controller.js"></script>
        <script src="scripts/app/account/login-agricultor/login-agricultor.js"></script>
        <script src="scripts/app/account/login-agricultor/login-agricultor.controller.js"></script>
        <script src="scripts/app/account/login/login.js"></script>
        <script src="scripts/app/account/login/login.controller.js"></script>
        <script src="scripts/app/account/activate/activate.js"></script>
        <script src="scripts/app/account/activate/activate.controller.js"></script>
        <script src="scripts/app/account/account.js"></script>
        <script src="scripts/app.constants.js"></script>
        <!-- endinject -->
    	<!-- endbuild -->

    </body>

</html>
