<meta charset="UTF-8">
<md-dialog class="dialog-avaliar-plano">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        {{dialogTitle}}
        <span flex></span>
        <md-button ng-disabled="disableButtons" class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <form flex ng-submit="save()" name="avaliacaoForm" novalidate>
        <md-content flex md-theme="themeUA">
            <div class="content">
                <md-input-container class="md-block">
                    <label>Comentário da Avaliação</label>
                    <textarea name="avaliacao" ng-model="historico.avaliacao" rows="1" md-select-on-focus ng-required="historico.motivo == 'R'"></textarea>
                    <div ng-messages="avaliacaoForm.avaliacao.$error">
                        <div ng-message="required">Este campo é obrigatório para o status recusado.</div>
                    </div>
                </md-input-container>

                <label id="label-status">Status</label>
                <md-radio-group class="radio-group" ng-model="historico.motivo" layout="row">
                    <md-radio-button value="A">Aceito</md-radio-button>
                    <md-radio-button ng-click="avaliacaoForm.avaliacao.$setTouched()" value="R">Recusado</md-radio-button>
                    <md-radio-button value="E">Em avaliação</md-radio-button>
                </md-radio-group>
            </div>

        </md-content>
        <md-dialog-actions layout="row" layout-align="end center" >
            <span></span>
            <md-button ng-disabled="disableButtons" class="md-warn" ng-click="cancel()">Cancelar</md-button>
            <span></span>
            <md-button ng-disabled="disableButtons || avaliacaoForm.$invalid" class="md-warn" type="submit">Salvar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
