<meta charset="UTF-8">
<md-content md-theme="themeUA" layout="row" flex layout-align="center center" id="login">
	<div layout="column" flex layout-align="center center" class="application-width">
		<img id="logo-sistema" src="assets/images/logoCompleta.svg">
		<span id="label-ua">USUÁRIO AVANÇADO</span>
		<span id="error" ng-show="authenticationError">
			A combinação de login e senha não é válida ou seu login está inativo.
		</span>
        <span id="login-agricultor-div-browser" ng-show="browserNaoSuportado">
        	O seu navegador atual não é suportado por nosso sistema, sugerimos a utilização do Google Chrome.
    	</span>
        <span id="login-agricultor-div-versao" ng-show="versaoNaoSuportada">
        	Você está utilizando um navegador com versão desatualizada. Para melhor utilização do portal recomendamos que faça a atualização do seu navegador.
    	</span>
		<form layout="column" flex layout-align="center center" name="loginForm" ng-submit="loginForm.$valid && login($event, loginForm)">
			<md-input-container class="md-block">
				<label>Login</label>
				<input ng-required name="username" ng-model="username" login-messenge focus="true" >
				<div ng-messages="loginForm.username.$error">
					<div ng-message="requerido">Opa! O campo Login é obrigatorio</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Senha</label>
				<input ng-required name="senha" ng-model="senha" type="password" login-messenge>
				<div ng-messages="loginForm.senha.$error">
					<div ng-message="requerido">Opa! O campo Senha é obrigatorio</div>
				</div>
			</md-input-container>
			<md-button type="submit" class="md-raised md-primary">Entrar</md-button>
		</form>
		<div layout="row" layout-align="space-between start" flex id="checkboxs">
			<md-checkbox id="links" ng-model="rememberMe" ng-init="rememberMe=true">
				Mantenha-me conectado
			</md-checkbox>
			<a id="links" ng-href="#/reset/request">Esqueceu sua senha?</a>
		</div>
		<a id="login-agricultor" ng-href="#/login-agricultor">
	        Entrar como Agricultor
	    </a>
        <span id="solicitar-acesso" >Não possui acesso? <a ng-href="#/solicitar-convite">Solicite o convite</a></span>
	    <a ng-href="http://www.sda.ce.gov.br/">
			<img id="logo-secretaria" src="assets/images/logoSecretaria.svg" alt="" />
        </a>
	</div>
</md-content>
