<md-dialog flex="60" class="dialogs95">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-agricultor">
        Mais Informações
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
	<md-content flex>
        <md-tabs md-border-bottom md-dynamic-height id="dialog-hora-plantar">
            <md-tab label="COMO PARTICIPAR">
                <div id="tabs">
                    <ol>
                        <li>O produtor se dirige ao Escritório da EMATERCE de seu município para solicitar o serviço e fazer o cadastramento pessoal, informando o número de plantas de cajueiro improdutivos que deseja recuperar, através da tecnologia de substituição de copa;</li>
                        <li>A EMATERCE analisa a solicitação, quanto à área do pomar, potencial da produção da cultura e quantitativo de plantas improdutivas a serem recuperadas;</li>
                        <li>É feita uma visita de avaliação pelo Técnico, ao pomar do cadastrado, para confirmação da atividade cadastrada no Sistema Cajunet;</li>
                        <li>O produtor realiza o serviço de corte das plantas conforme orientação da EMATERCE;</li>
                        <li>O produtor da agricultura familiar, cadastrado no Sistema Cajunet, faz abertura da conta Pronaf junto ao Banco do Brasil;</li>
                    </ol>
                    <p>Para o cadastramento o interessado deverá apresentar os seguintes documentos: Identidade; CPF; Declaração de aptidão ao PRONAF – DAP; Imposto Territorial Rural – ITR; Comprovante de endereço; Número da conta corrente PRONAF em agencia do Banco do Brasil.  O cadastramento e aprovação do cadastro levam no máximo 30 dias, o recebimento do incentivo da primeira fase (corte) é realizado no período de Maio à Agosto, e o incentivo da segunda fase ( enxertia ) é realizado no período de Agosto a Dezembro.</p>
                    <p>Para maiores informações entrar em contato com:  SECRETARIA DO DESENVOLVIMENTO AGRÁRIO - SDA COORDENADORIA DO DESENVOLVIMENTO DA AGRICULTURA FAMILIAR - CODAF AVENIDA BEZERRA DE MENEZES No 1820 - BAIRRO SÃO GERARDO CEP 60325-002 FORTALEZA – CE - Telefone : 3101-8063 ou 3101-8097</p>
                </div>
            </md-tab>
            <md-tab label="SUBSÍDIO FINANCEIRO">
                <div id="tabs">
                    <p>O subsídio financeiro por planta cortada e enxerto pego é:</p>
                    <p>R$ 12,00 (doze reais) para planta que tenha o perímetro maior que 70 centímetros até 1 metro</p>
                    <p>R$ 7,00 (sete reais) para planta com perímetro inferior a 70 centímetros.</p>
                    <p>A atividade é desenvolvida em duas fases:</p>
                    <p>Primeira fase - corte das plantas de cajueiro improdutivos, que deve ocorrer no período de abril á 31 de Agosto;</p>
                    <p>Segunda fase- enxertia das rebrotações, as enxertias serão feitas no período de junho á novembro.</p>
                    <p>Repasse do Subsídio Financeiro:</p>
                    <p>Primeira parcela (fase corte) é repassada ao produtor, após o corte das plantas, desde que tenha sido feito o tratamento com pulverizações dos troncos suportes das rebrotações, retirada da madeira (lenha) e a incorporação da madeira fina e folhas no solo e a limpeza geral da área. É feita uma visita técnica para a avaliação e contagem do número de plantas cortadas e a elaboração de relatório para o sistema Cajunet fazer o repasse do subsídio, referente à parcela;</p>
                    <p>Segunda parcela (enxertia) é repassada ao produtor, após a realização da visita técnica de avaliação do desenvolvimento vegetativo e fitossanitário e a contagem do número de enxertos pegos e em desenvolvimento, para confirmação do serviço e consequente autorização do repasse da parcela junto ao Sistema Cajunet;</p>
                    <p>Forma de Pagamento:</p>
                    <p>Primeira parcela, o repasse do subsídio é de 50% do valor da planta cortada, em conformidade com perímetro;</p>
                    <p>Segunda parcela, o repasse do restante de 50%, é feito de forma proporcional ao número de enxertos pegos e em desenvolvimento, e o estado vegetativo e as condições fitossanitárias das plantas recuperadas.</p>
                </div>
            </md-tab>
        </md-tabs>
    </md-content>
	<md-dialog-actions layout="row" layout-align="space-between center">
		<md-button target="_blank" href="http://www.sda.ce.gov.br/" ng-click="">VER MAIS EM SDA</md-button>
		<md-button ng-click="cancel()">OK</md-button>
    </md-dialog-actions>
</md-dialog>
