
<div id="card-mapa">
    <header layout="row" layout-align="space-between center" class="md-toolbar-tools card-agricultor-mapa-titulo">
		Mapa
        <div>
            <md-button ng-class="(mostraMapa === 'leaflet')?'botao-map-selecionado': 'botao-map'" ng-click="mostraMapa = 'leaflet'; atualizarImagensMapa(100);" class="md-icon-button material-icons">map
                <md-tooltip md-direction="top">
                  Mapa
                </md-tooltip>
            </md-button>
            <md-button ng-class="(mostraMapa === 'googlemaps')?'botao-map-selecionado': 'botao-map'" ng-click="iniciaGoogleMaps()" class="md-icon-button material-icons">streetview
                <md-tooltip md-direction="top">
                  Google Street View
                </md-tooltip>
            </md-button>
        </div>
	</header>
    <leaflet ng-show="mostraMapa == 'leaflet'" md-theme="themeAWhite" id="card-mapa-leaflet" lf-center="center" layers="layers" markers="markers" url-hash-center="yes" width="100%" height="100%"></leaflet>
    <div ng-show="mostraMapa == 'googlemaps'" id="map"></div>
</div>



