<meta charset="UTF-8">
<md-dialog flex="60" class="area-atuacao" md-theme="themeUAWhite">
    <header layout="row" layout-align="start center" class="md-toolbar-tools dialogs-header-usuario-avancado">
        Área de Atuação
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Clear" class="material-icons">clear</md-icon>
        </md-button>
    </header>
    <div id="div-dialog" flex layout="row" layout-padding>
        <div id="div-disponiveis" flex="50">
            <label id="label-titulo" style="">Municípios disponíveis para associação</label>
            <md-list>
                <md-list-item flex ng-repeat="item in municipiosDisponiveis | orderBy: 'nome'">
                    <label id="label-associados"  flex="95" >{{item.nome}}</label>
                    <md-icon  id="icon-adicionar" class="material-icons" ng-click="associarMunicipio(item)" flex="5" layout="row" layout-align="end">
                        add_circle
                        <md-tooltip md-direction="bottom">
                            Adicionar Município
                        </md-tooltip>
                    </md-icon>
                </md-list-item>
            </md-list>
        </div>
        <div flex="50">
            <label id="label-titulo">Municípios associados ao técnico</label>
            <md-list>
                <md-list-item flex ng-repeat="item in municipiosAssociados ">
                    <label id="label-associados" flex="95">{{item.nome | capitalize}}</label>
                    <md-icon  id="icon-remover"  class="material-icons" ng-click="removerMunicipio(item)" flex="5" layout="row" layout-align="end">
                       remove_circle
                        <md-tooltip md-direction="bottom">
                            Remover Município
                        </md-tooltip>
                    </md-icon>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div layout="column" layout-align="center end">
        <span class="espaco-vertical"></span>
        <md-button class="md-raised md-primary" type="submit" ng-click="salvar()">Salvar</md-button>
    </div>
</md-dialog>
