<meta charset="UTF-8">
<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Registro</h1>

            <div class="alert alert-success" ng-show="success">
                <strong>Registro salvo!</strong> Por favor, verifique seu e-mail de confirmação.
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>Falha no registro!</strong> Por favor, tente novamente mais tarde.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists">
                <strong>Nome de login já registrado!</strong> Por favor, escolha outro.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>O e-mail já está sendo usado!</strong> Por favor, escolha outro.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                A senha e sua confirmação não coincidem!
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="login">Usuário</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Usuário"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required focus="true">
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required">
							Seu nome de usuário é necessário.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength">
                            Seu nome de usuário é obrigado a ter pelo menos 1 caractere.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength">
                            Seu nome de usuário não pode ter mais de 50 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.pattern">
                            Seu nome de usuário pode conter apenas letras minúsculas e dígitos.
                    </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required">
                            Seu e-mail é necessário.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email">
                            Seu e-mail é inválido.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength">
							Seu e-mail é necessário ter pelo menos 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength">
                            Seu e-mail não podem ter mais de 100 caracteres.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="senha">Nova senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Nova senha"
                           ng-model="registerAccount.senha" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.senha.$dirty && form.senha.$invalid">
                        <p class="help-block"
                               ng-show="form.senha.$error.required">
                            Sua senha é necessária.
                        </p>
                        <p class="help-block"
                               ng-show="form.senha.$error.minlength">
                           &Eacute; necessária sua senha ter pelo menos 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.senha.$error.maxlength">
                           Sua senha não pode ser maior do que 50 caracteres.
                        </p>
                    </div>
                    <!--<password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>-->
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmação de nova senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirmação de nova senha"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                            &Eacute; necessária a confirmação de sua senha.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                            &Eacute; necessária a confirmação de sua senha ter pelo menos 5 caracteres.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                            Sua senha de confirmação não pode ser maior que 50 caracteres.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Registrar</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                Se você quiser <a class="alert-link" href="#/login">entrar</a>, você pode tentar a conta padrão:<br/>- Administrador (login="admin" e senha="admin") <br/>- Usuário (login="user" e senha="user").
            </div>
        </div>
    </div>
</div>
